[2022-01-15 13:56] Jaifroid commented on #789
I've tried adding the `sandbox` attribute to the manifest:
[code]
Unfortunately, the result is that all access to the iframe is blocked (see screenshot below) as Cross Origin. To overcome this, we would need to install a service in `article.html` that would communicate with the back end via messaging and insert the contents requested in a further iframe embedded in article.html. And it's doubtful

[2022-01-15 15:50] Jaifroid commented on #789
I've tried to produce a base64-encoded SHA256 of the contents of the main script block on the landing page of a Gutenberg English ZIM. This calculation gave me:

`    "content_security_policy": "script-src 'self' 'unsafe-eval' 'unsafe-inline' 'unsafe-hashes' 'sha256-UUkU0O5trcDPjwjddycRyyaAUG790u7rAC3zAR6j/tE='; object-src 'self'",
`
However, this has no effect on the error messages in Console. In

[2022-01-15 16:09] Jaifroid commented on #789
The given SHA256 above is supposed to represent the SHA256 (base64-encoded) of this, which is the content of the major inline script:

`{"default_locale": "en", "locales": {"en": {"isocode": {"textContent": "en"}, "autonym": {"textContent": "English"}, "homepage": {"alt": "Homepage", "title": "Homepage"}, "choose-language": {"placeholder": "Choose a language..."}, "ui-language-switcher": {"title":

[2022-01-15 16:16] Jaifroid commented on #789
So I've now added the SHA256 of the `body onload="..."` inline attribute which. The original script is `init();   showBooks();   ` (including whitespace), and the online calculator gave me `sha256-zZyBtdCWppHUHL/OIOwo8kQ05mpMFDoD6usm8BFm/ig=`. Unfortunately, this makes no difference either.

[2022-01-15 17:28] mossroy commented on #788
If I understood correctly, the performance impact is "only" when opening the ZIM file (or, more generally, when opening an article that uses an asset for the first time of the session)?
Afterwards, according to the dev tools of Chromium, it keeps the assets in its memory cache, to avoid reading them again from the ZIM file.

I doubt Manifest v3 will help us on that, but I might be wrong.

It's cle

[2022-01-15 17:39] Jaifroid commented on #788
Yes, we have a memory cache for assets, and Chrome implements some caching of its own, but neither seem to persist across sessions like Cache API does. I agree it's not high priority. Let's see how we get along with the PWA in Firefox once it's released.

[2022-01-15 18:17] mossroy commented on #784
Now that kiwix/overview#62 has been merged, I think we can manually copy the files CODE_OF_CONDUCT.md and REPORT_BUG.md here (and maybe mention them in README.md, along with CONTRIBUTING.md too? Maybe after #792 is merged)

[2022-01-15 18:20] mossroy commented on #802
I fixed the version numbers in the tick boxes.

I agree we're close to have enough changes to release a 3.3

[2022-01-15 18:26] mossroy commented on #789
For some reason, the SHA256 is not always displayed as a hint in Chromium dev console.
To help understanding what's wrong, you could try with another ZIM file. For example, when using https://download.kiwix.org/zim/phet/phet_fr_2021-08.zim , Chromium gives me the SHA256 :

[2022-01-15 18:53] #799 closed

[2022-01-16 12:38] MuhammadBilalBinAtique commented on #778
I think so every app should be screen-reader accessible. Should I work to make search results accessible for screen readers?

[2022-01-16 12:47] #794 closed

[2022-01-16 13:26] Jaifroid commented on #778
@MuhammadBilalBinAtique Do you have experience with screen readers, and also with HTML/JS development? If so, we welcome help, and please read [CONTRIBUTING.md](https://github.com/kiwix/kiwix-js/blob/master/CONTRIBUTING.md).

[2022-01-16 13:53] MuhammadBilalBinAtique commented on #778
Yes, I have vast experience with HTML/JS development, but not with much with screen readers. If you feel ok, then you can assign it to me.

[2022-01-16 13:55] Jaifroid commented on #778
Thank you! That's fine -- thanks for the offer. I've assigned you.

[2022-01-16 13:55] MuhammadBilalBinAtique commented on #778
Thanks

[2022-01-16 21:04] #784 closed

[2022-01-17 14:23] ankur12-1610 commented on #790
@Jaifroid is there a source where I can get the zim file of the book present in the screenshot, I did visit all the websites and used also `openzim/gutenberg` which isn't working properly in my case. Could you tell me the source from which you downloaded it?:sweat_smile:

[2022-01-17 16:37] Jaifroid commented on #790
@ankur12-1610 Any of the recent Gutenberg ZIMs seem to have this issue: see http://download.kiwix.org/zim/gutenberg/ . I've just downloaded and tested http://download.kiwix.org/zim/gutenberg/gutenberg_it_all_2022-01.zim. You'll only see the issue in JQuery mode. The font-based icons work in Service Worker mode. If these are in fact the same font files and scripts that we use for our Bootstrap inst

[2022-01-17 17:13] mossroy commented on #790
To me, it's not the same situation as with the WebP polyfill.
For WebP, the polyfill might not be present inside the ZIM file. Providing ours was a good way to make sure it would work in all cases.
For the fonts, they are in the ZIM, and might be different in each ZIM file : I think we should always read them in the ZIM, just like we do for images and CSS

[2022-01-17 17:17] Jaifroid commented on #790
@mossroy OK! I was thinking it might involve extracting a whole Bootstrap version from the ZIM and running its JavaScript, which might be tricky, but to be hones I haven't actually investigated how the fonts work in the newer Gutenberg archives. If it's pure CSS, it would be doable.

[2022-01-17 17:23] mossroy commented on #790
I did not check for Gutenberg but, usually, fonts are another type of file (not CSS) : .ttf, .woff and maybe other ones.

In this case, what would be needed is to do roughly the same as what we do for images and CSS : parse the DOM for references of font files, read them in the ZIM file, and inject the blobs in the DOM

Hopefully this change would be accepted by the browsers after the page is load

[2022-01-17 17:53] Jaifroid commented on #790
It's definitely font-awesome -- see screenshot below. I only mentioned Bootstrap, because font-awesome is included in Bootstrap, but I've just checked and the Gutenberg pages don't seem to be using Bootstrap. It's done in CSS. The CSS has embedded font data, but they don't seem to be rendering. The CSS looks like:
[code]
![image](https://user-images.githubusercontent.com/4304337/149815967-d100f481

[2022-01-17 17:58] mossroy commented on #790
OK I now understand why you were mentioning CSS. You're right.
But the first screenshot of the issue also shows missing .ttf and .woff files (maybe it's a different issue)

[2022-01-17 18:10] Jaifroid commented on #790
Looking closer at it, it's not a separate issue. I'm definitely getting missing downloadable fonts relating to font-awesome appearing when I run it in the Chromium extension, in the same ZIM as above, in JQuery mode (see screenshot below) so clearly it isn't only pure CSS, or it isn't always pure CSS embedded. I wonder if downloading them is a fallback? Needs investigating...

![image](https://use

[2022-01-20 20:48] Jaifroid commented on #802
See #805 for initial changelog.

[2022-01-22 20:49] Jaifroid opened #806 "Title with question mark not handled correctly in Service Worker mode"
Using the ZIM `gutenberg_it_all_2022-01.zim`, if I search for the title `Che cosa è l'amore?` in jQuery mode, I can open the pages corresponding to the book and the cover with no problem.

If I switch to SW mode and search for the same title, either from our search field, or by searching for the author Panzoni in the custom UI and then click on the title, I get an error in console: `Title A/Che co

[2022-01-22 21:02] Jaifroid commented on #806
It should be noted that the click on the title from our own UI is failing to find the dirEntry in SW mode, even though the dirEntry has already been found in order to display the found items (and a correct `direntryid` has been composed). The search entry looks like this in the html:

`<a href="#" direntryid="479987692|15|A|112|10|Che cosa è l'amore?.38140.html|Che cosa è l'amore?|false|undefined"

[2022-01-22 22:05] Jaifroid commented on #806
I've determined that the issue is with the question mark in the title, not the quotation marks or apostrophe. The problem is that in the Service Worker we remove any potential URL parameters, like  '?cgi=true'. To do that we detect a question mark or a # in the title, and assume that anything after it is a query string.

We decode the title before checking for the URI component, which clearly we s

[2022-01-23 16:38] Jaifroid commented on #701
To be clear, this issue refers to links from one of the app's pages to another inside the app. It does not refer to jumping to sections within an article.

[2022-01-24 16:45] mossroy commented on #806
Nice finding.
And you're certainly right about the origin (encoding issues)

[2022-01-27 10:52] aritroCoder commented on #729
Is the issue still open? Can I work on this?

[2022-01-27 10:54] Jaifroid commented on #729
@aritroCoder There is an open PR already for this, which is in the process of being tested (I think), so you should probably choose another issue.

[2022-01-29 10:46] Jaifroid opened #808 "Make Service Worker the default if the app is being accessed as a PWA"
This would be a step towards #196. It would be a very short PR (probably one-liner). It makes no sense that accessing the app as a PWA -- which requires Service Worker by definition -- opens the app in JQuery mode. So, the idea here is that if the app is being accessed from http(s): and Service Worker is available, it should open in SW mode by default (the user can still change back to JQuery).

T

[2022-01-29 11:34] Jaifroid commented on #790
I'm a bit stunned to see this when testing #807 in Internet Explorer mode:

![image](https://user-images.githubusercontent.com/4304337/151659343-9321cee8-8739-4fa8-8a50-92979954bfd5.png)

How come the icons are displaying correctly in IE, but not in other browsers? 😕

[2022-01-29 12:11] Jaifroid commented on #790
Something very wrong with the CSS extracted here (this is in Chromium-Edge):

![image](https://user-images.githubusercontent.com/4304337/151660488-4f1a48c6-3454-4ece-a3e5-4e0074a3dfc6.png)

[2022-01-29 12:52] ankur12-1610 commented on #790
Wow😲

[2022-01-29 12:53] ankur12-1610 commented on #790
@Jaifroid I'm stuck at a certain point ig, what changes should I do in the code 🤔?

[2022-01-29 16:30] Jaifroid commented on #790
@ankur12-1610 Without knowing what you've tried, it's hard to know how to help!

[2022-01-29 18:25] Jaifroid commented on #790
This is a completely different issue. We accidentally extract `<link rel="shortcut icon" href=".../favicon.ico">` as if it were a stylesheet. I'll create separate issue.

[2022-01-29 18:27] Jaifroid opened #810 "Deal correctly with favicon link"
We accidentally extract `<link rel="shortcut icon" href=".../favicon.ico">` as if it were a stylesheet and transform the contents into inline style tags. We need to add logic to treat the icon as an image instead.

See https://github.com/kiwix/kiwix-js/issues/790#issuecomment-1024900020 for a screenshot of the issue in console log.

[2022-01-31 09:40] #810 closed

[2022-01-31 11:22] #808 closed

[2022-01-31 21:16] #806 closed

[2022-01-31 21:50] #801 closed

[2022-01-31 21:53] Jaifroid commented on #293
I think this issue can be closed. It would be superseded by #523 .

[2022-01-31 21:53] #293 closed

[2022-01-31 21:57] Jaifroid commented on #673
I haven't seen this issue in a long time, so I would say it's confirmed fixed.

[2022-01-31 21:57] #673 closed

[2022-01-31 21:59] Jaifroid commented on #120
This would be superseded by #523.

[2022-01-31 21:59] #120 closed

[2022-01-31 22:01] Jaifroid commented on #678
I think we abandoned the PR which might have implemented this. So closing for now.

[2022-01-31 22:01] #678 closed

[2022-01-31 22:02] Jaifroid commented on #412
I think this is no longer relevant.

[2022-01-31 22:02] #412 closed

[2022-01-31 22:09] Jaifroid commented on #152
I don't think we're going to provide even any rudimentary JS support in jQuery mode any more due to #727. While I did try to rebase the JS Support branch a couple of months ago, there are now so many inline scripts in the average ZIM (see #789 for a consequence of this), that things do not work well. We are also close to making Service Worker the default, which does not need these workarounds.

[2022-01-31 22:09] #152 closed

[2022-01-31 22:12] Jaifroid commented on #60
I think this would be superseded by #523, which uses a more compact design, and we wouldn't need to implement special scrolling. I'm closing but feel free to re-open if this is still wanted.

[2022-01-31 22:12] #60 closed

[2022-01-31 22:35] Jaifroid commented on #790
This is related to #338 and #747.

[2022-01-31 22:41] Jaifroid commented on #737
I have to restart tests almost every other time. I wonder if we need to start looking for another solution? I don't have experience, but there must be something that runs natively on GitHub? Maybe we could start to build up new tests with a newer ZIM, while having the old ones still running until the new ones are as feature-complete...

[2022-02-01 03:28] ankur12-1610 commented on #790
@Jaifroid really sorry for the late reply was off for 2 days due to illness 😢

[2022-02-01 03:28] ankur12-1610 commented on #790
Got it :+1:

[2022-02-01 09:17] Jaifroid opened #812 "Function switchHomeKeyToFocusSearchBar blocks dialogue which gives advice to user on how to run app"
If a user attempts to run Kiwix JS from the file system in any browser except IE11 and Edge Legacy, then the app should show a dialogue box or info that explains the problem. However, this is blocked since we introduced `switchHomeKeyToFocusSearchBar`, as that function attempts to access the iframe too early in the load process, producing the CORS error and leaving us with an unresponsive app.

Th

[2022-02-02 10:48] mossroy commented on #802
I suggest that we try to do this release this week-end, if possible.
If the current open PRs are not merged, they will be for next release, never mind

[2022-02-02 19:52] mossroy opened #813 "Remove the dependencies on the UI of js backend files"
In zimArchive and zimArchiveLoader files, there are error cases where we display an error message to the user.
It was initially done using `window.alert`, and is now done using `uiUtil.systemAlert`.

In all cases, a backend js file should not depend on the UI: it breaks the software layers.
For example, this code might one day run inside a Worker, where it would not have access to the UI at all, a

[2022-02-02 19:56] mossroy commented on #43
Almost all of this is now obsolete.
I've created #813 for what's remaining.

[2022-02-02 19:56] #43 closed

[2022-02-02 20:14] mossroy commented on #813
It should be possible to do that by adding an error callback to the functions (just like we have callbacks to return the results)

Another option would be to change the code to use Promises instead: we had thought about it in #67, but I don't think it's worth it. It would be a much more significant change for a code that will (hopefully) become deprecated when we manage to use wasm lbzim instead.

[2022-02-02 20:26] Jaifroid commented on #813
I see the issue, especially with regard to a WASM/ASM backend which does indeed run in a worker and is isolated from UI completely. Thanks for the explanation.

[2022-02-03 22:45] mossroy opened #814 "On some devices that do not support ServiceWorkers, a warning is displayed on every run"
At least it's the case on my Firefox OS device.
Each time I start it, it says "The ServiceWorker API is not available on your device. Falling back to jQuery mode". It's true, but I don't see why it's trying to switch to SW mode.

window.location is "app://kiwix.org/www/index.html" on this device, and it's using Local Storage.

[2022-02-04 00:20] Jaifroid commented on #814
Oh, how strange. It must be that `isServiceWorkerAvailable()` is returning true, as it's not supposed to attempt SW mode without that returning true...

I long since lost the portable Firefox that could run the simulator. Can you remind me which one still works, and I'll try to debug before 3.3. Or we can revert that PR for now if I can't find the cause (but seems unlikely it's anything complicate

[2022-02-04 00:22] Jaifroid commented on #814
(It's also strange that it would run with a protocol of `app`, as I explicitly selected only `^https?`....).

[2022-02-04 07:53] mossroy commented on #814
I'll try to investigate today

[2022-02-04 07:55] Jaifroid commented on #814
OK, I was wondering if this is happening on the branch with the asynchronous systemAlert, or on master as well. If on the latter branch, it could be because of the alert system not being fully nailed down yet...

[2022-02-04 07:57] mossroy commented on #814
I was on the branch. I'll test again on master

[2022-02-04 12:56] mossroy commented on #814
Same issue on master.
After some debugging, I found the problem.
It's line 98 of app.js, where you set the injectionMode, and handle a default value if not already in settingsStore.
There are missing parenthesis that change the behavior.
I create a PR

[2022-02-04 13:01] mossroy commented on #814
It reminds me that it's still valuable that I test on this very old device.
Not because it's crucial to support it, but because it helps discover some bugs or issues (like performance ones)

[2022-02-04 13:24] mossroy commented on #802
I've done some tests on my Firefox OS device, with various ZIM files.
Apart from #814 , I did not find any issue.

[2022-02-05 07:11] gaurav7019 commented on #813
Since my current PR is almost complete, I would like to take this up.

[2022-02-05 08:27] #814 closed

[2022-02-05 09:10] Jaifroid opened #816 "Decode WebP data: URI images properly in browsers that do not support WebP"
[This would be for v3.4. I'm just putting down a marker now before I forget. I'm not proposing for v3.3 because a) it's too late, and b) I want to find an example in a recent ZIM as a test case.]

**The issue:** We are claiming to support data: URI images in #805, but there is a small category of browsers that cannot deal with WebP for which this claim is not true if an image is WebP-encoded. IE11

[2022-02-05 11:22] Jaifroid commented on #802
@mossroy I've just updated the implementation at moz-extension.kiwix.org to be inline with current master. This will facilitate testing. I'd like to do a bit more testing of the switch between JQuery and SW in Firefox extension, as this is the headline feature of this release... I propose to complete these tests today, so we can create the tag tomorrow.

What should we do about the Ubuntu phone re

[2022-02-05 11:22] mossroy commented on #816
All right, why not

[2022-02-05 11:46] mossroy commented on #802
Thanks.
Yes, I agree, I'm currently testing too.

Regarding Ubuntu phones, I think we can not do anything more than "cross fingers", until we have another tester.
But I think we should still release and deploy for this device. Unless they changed the underlying browser engine (which seemed to be a not-so-old Chromium), I think it's unlikely that a regression would happen on this platform, and we n

[2022-02-05 13:47] cibersheep commented on #802
Hello, just passing by :)
I can test for Ubuntu Touch. If you need more testers, the [forum of the community](https://forums.ubports.com/category/35/app-development) is a great place to announce

Now that I'm here, I cannot seem to find any click. Do you have a link or do I have to build  the project?

[2022-02-05 13:57] Jaifroid commented on #802
@cibersheep Thank you, amazing you saw this!

There's a click here: http://download.kiwix.org/nightly/2022-02-05/ . The only thing is that there was a merge this morning, so it might be good to test also after tonight's is generated. If you're able to test, that would be great.

[2022-02-05 14:02] cibersheep commented on #802
Ah! Awesome. Thanks. I can do that ;)

[2022-02-05 14:30] cibersheep commented on #802
I'm testing on Pixel 3a latest dev:
- Install click: ok
- API warning: ServiceWorker API available but not registered
- API error: Error loading ZSTD descompressor
- Load a zim file
- Search finds results
- Tapping on a result shows loading icon

log: https://dpaste.com/6HZUX2QED

[2022-02-05 14:35] Jaifroid commented on #802
@cibersheep Thank you. So you get the spinner but it never stops, and doesn't show an actual article?
For comparison, I wonder if you could check the same ZIM archive by visiting the test implementation here in the device's browser:

https://kiwix.github.io/kiwix-js/

[2022-02-05 14:44] Jaifroid commented on #802
So according to the log, the required decoder (ZSTD) is not loading, as we get `Could not instantiate any ZSTD decoder! TypeError: Failed to fetch file:///usr/share/morph-browser/ContentPickerDialog.qml:118: ReferenceError: acceptTypes is not defined`.

I haven't seen a need for `acceptTypes` before. Could this be a framework-specific error? Maybe a packaging error as we probably haven't updated t

[2022-02-05 15:14] cibersheep opened #817 "[UT] App icon doesn't follow UT design guidelines"
The icon is black on black.
![imatge](https://user-images.githubusercontent.com/6640041/152647549-46426252-16f6-444f-9177-a67973784db4.png)

with no background
![imatge](https://user-images.githubusercontent.com/6640041/152647557-7b8ffaec-88b1-4441-8282-074564c0d01f.png)

(MR in the way)

[2022-02-05 15:17] cibersheep commented on #817
And the Splash screen
![imatge](https://user-images.githubusercontent.com/6640041/152647677-314e806a-1225-49d7-8b19-cc4a1f069e5d.png)

[2022-02-05 15:20] mossroy commented on #802
@cibersheep : great to have you here to test on Ubuntu Touch!
Could you install some older versions of kiwix-js, to see if they are better on your device/software? https://open-store.io/app/kiwix/versions

When we have more information, we should open a separate ticket for that.

[2022-02-05 15:25] cibersheep opened #819 "[UT] App ID needed?"
I need to verify if this parameter is still needed but it might make life easier :)

By memory, I think `--app-id=[appname.appdev]` is needed to handle .cache and .local files accordantly

https://docs.ubports.com/en/latest/appdev/webapp/guide.html#command-line-arguments

[2022-02-05 15:34] cibersheep commented on #819
Mhm, you have set up the app name as "ubports-little-webapp"

https://github.com/kiwix/kiwix-js/blob/master/ubuntu_touch/manifest.json#L10

Maybe this can be address in the future:
- the webapp is not from UBports (the foundation) so it shouldn't be in the app id
- more conventional app id should be something like `kiwix.kiwixteam` for example. Changing this will break compatibility from older app

[2022-02-05 15:52] cibersheep commented on #802
This was a lot faster! Nice.
- Loaded zim file
- It showed some articles
- Search worked as in the app
- Selecting an article showed it quite fast
log (Morph): https://dpaste.com/8J9WEX8SP

I think TypeError is an error for the toolkit. Nothing specific for Kiwix app

Is a known error. It shouldn't prevent the Picker to load the file. As I'm able to search for articles, I assume they are loaded co

[2022-02-05 16:29] Jaifroid commented on #802
@cibersheep Yes, the fact you can pick the ZIM and search for articles (and get a list of articles matching the search) shows that the file picker error is immaterial.

The issue is the way the decoder is failing to load. It's strange, because the decoder loads in IE11 when accessing from the file:// protocol, so it can't be an issue with the fact that the Ubuntu touch framework uses file://

The

[2022-02-05 16:40] Jaifroid commented on #802
OK, it's undoubtedly this change in v3.2.0:

* NEW: Use fast binary WASM decoders with fallback to ASM if necessary

I think loading WASM is failing, and the fallback option is not being detected. I don't know exactly why. It works in Chromium extensions which also use the file:// protocol and a Chromium browser, so there is no obvious reason why it's failing here.

As a quick fix (monkey wrench..

[2022-02-05 16:41] Jaifroid opened #820 "Fix loading of decoders for Ubuntu touch"
I'm testing on Pixel 3a latest dev:
Tested: kiwix-ubuntu-touch-3.3commit-b143e83.click
- Install click: ok
- API warning: ServiceWorker API available but not registered
- API error: Error loading ZSTD descompressor
- Load a zim file (~140 MB): ok
- Search finds results: ok
- Tapping on a result shows loading icon

log: https://dpaste.com/6HZUX2QED

_Originally posted by @cibersheep in https://gith

[2022-02-05 16:46] Jaifroid commented on #820
See discussion in #802, but continue here. I can't move individual comments -- GitHub doesn't seem to have that feature.

[2022-02-05 16:48] Jaifroid commented on #802
I've opened #820, so we can continue discussion there.

[2022-02-05 17:04] Jaifroid commented on #820
It looks like it's failing here:

https://github.com/kiwix/kiwix-js/blob/master/www/js/lib/zstddec_wrapper.js#L109
[code]
However, we don't do any browser sniffing or other such poor practice here, we simply attempt to load WASM, and if it fails, attempt to load ASM, and then if that fails, we report the error to the UI (the error that @cibersheep is seeing in the API panel). There is parallel cod

[2022-02-05 17:07] mossroy commented on #802
Thanks @Jaifroid
To come back to release 3.3.0, I've done a few tests (on master) in Firefox and Chromium extensions and did not see any issue (except the problems of inline scripts for Chromium extension when used in SW mode: #789 )
On Firefox, I managed to switch from/to PWA mode and it worked fine. But it's certainly worth more precise testing from you, @Jaifroid

[2022-02-05 17:15] Jaifroid commented on #802
OK, I've been testing. One nice thing is that when I loaded up the latest code as an unpacked extension in Firefox Developer edition, it went straight through to Service Worker mode (the last mode I had used with the extension some weeks ago), and the version loaded was clearly its old cached version (it didn't have the Reset button).

Because the version number has not changed, it didn't attempt

[2022-02-05 17:25] Jaifroid commented on #802
@mossroy Assuming #820 isn't a blocker for v3.3, would we release the extensions and the PWA, but delay releasing the Ubuntu click package until we have a solution for #820? It looks quite low-level (may require recompiling decoders with latest Emscripten).

[2022-02-05 17:40] Jaifroid commented on #820
@cibersheep, could you tell me if you are in, or able to switch to, Service Worker mode when you access https://kiwix.github.io/kiwix-js/ in the browser of your device?

If so, then rather than a monkey wrench solution (which isn't looking so easy....), maybe the best solution could be to change the click package so that it points to the forthcoming stable PWA (https://moz-extension.kiwix.org/curr

[2022-02-05 17:42] gaurav7019 commented on #813
I can't work on this before merging of #804, right? Or, should I branch out based on the branch for #804?

[2022-02-05 18:22] mossroy commented on #802
I agree. #820 should not be a blocker.
The 3.3.0 release will generate all packages, but we could avoid uploading the 3.3.0 click file, indeed.
3.2.0 was already broken on this device, but maybe uploading the 3.3.0 on open-store.io would annoy people who reverted to 3.1.0, I don't know.

[2022-02-05 22:11] cibersheep commented on #802
Just for the record, there's no support for PWA on Ubuntu Touch, but webapps (sort of a contained tabs pointing to a website). But, yes, I get what you mean ;)

[2022-02-05 22:24] cibersheep commented on #820
For reference I was testing [with this file](https://download.kiwix.org/zim/wikipedia_ca_top_mini.zim)

Confirmed, it's selected by default

I'm not an expert but a webapps could do it. Just pointing to the online website, they get cached and so on. I don't think real (or full) PWA are supported yet?

https://t.me/c/1358111548/21509
https://docs.ubports.com/en/latest/appdev/webapp/guide.html

Othe

[2022-02-06 07:30] Jaifroid commented on #802
Tests:

- [ ] Internet Exploerer 11 from http localhost
- [ ] Internet Exploerer 11 from file system
- [ ] Firefox unpacked extension JQuery mode
- [ ] Firefox unpacked extension SW mode
- [ ] Firefox zipped unsigned extension from http://download.kiwix.org/nightly/2022-02-06/
- [ ] Edge (Chromium) extension package from http://download.kiwix.org/nightly/2022-02-06/

[2022-02-06 09:03] Jaifroid commented on #820
If Service Worker is selected by default, then I'm pretty sure it will fully follow the Service Worker specification and will cache its own code (we designed it like this), and offer new updates automatically (after restart of app). It should also work fully offline (after first visit), but only if user hasn't cleared all their browsing data in the meantime. However, if user has cleared all data a

[2022-02-06 09:33] Jaifroid commented on #813
@gaurav7019 It would be easier to work on this after merging #804, though you can always start it and then rebase on master later if you're comfortable doing that. If you work on things not touched by #804 at first, then rebase would be easier.

[2022-02-06 09:39] gaurav7019 commented on #813
I'll maybe wait for #804 to merge, meanwhile will work on #804 and create another issue that I've in mind.

[2022-02-06 09:48] gaurav7019 opened #821 "Shuffling without loading a ZIM file keeps on loading without any message"
# Bug Report
Clicking on the shuffle button without loading a ZIM file keeps on loading without any error message to the user.

## Current Behavior
Infinite Loading

![127 0 0 1_5500_www_index html (4)](https://user-images.githubusercontent.com/45741026/152675458-d077c082-2d3c-4506-81c4-a1c86a0fc46d.png)

## Expected Behavior
Should throw an alert popup like searching without loading a ZIM file

!

[2022-02-06 09:49] gaurav7019 commented on #821
Seems like a quick fix so would like to take this up if not a problem, will branch out based on #804 as it would require calling `systemAlert()` implemented in #804

[2022-02-06 09:51] Jaifroid commented on #802
@mossroy Once your tests are complete, please approve or edit #805 (feel free to squash/merge it if you're happy with it, or I can). Then I think we'll be ready to create the tag.

[2022-02-06 09:53] Jaifroid commented on #821
Thanks, I confirm this bug.

[2022-02-06 13:05] Jaifroid commented on #820
I've found an analogue for the error we're seeing here by attempting to run the app in Chromium (I'm using Edge) from the file system. We get exactly the same errors. The error with the decoder is caused by this:

![image](https://user-images.githubusercontent.com/4304337/152681648-d30a048c-fb3f-4ef4-8079-040f944d0ac4.png)

It's that fetch command. It's incompatible with the file protocol. I know

[2022-02-06 13:37] Jaifroid commented on #820
I've found a race condition between the two decoders: XZDEC and ZSTDDEC. One reports the error condition before the other, and that prevents fallback to ASM in ZSTDDEC, even though the fallback would work. Good news is we can fix it in our own code. I'll make a PR. Then we can see if it fixes loading the Ubuntu touch app.

However, if it does fix it, note the app will still be stuck with JQuery mo

[2022-02-06 13:52] mossroy commented on #802
Many thanks for all these tests and feedback @Jaifroid

I managed to install the .crx on my Chromium 98 (on Ubuntu). I did a drag-and-drop of the file inside chrome://extensions/ tab (with developer mode activated)

I agree with you that we'll have to be careful before switching to SW mode by default.
And if possible find a way to warn users if some inline scripts are blocked

[2022-02-06 14:02] mossroy commented on #821
Thanks for finding this issue. I had not noticed it.

[2022-02-06 14:20] mossroy commented on #820
Wow, you must be burning your keyboard @Jaifroid ;-)

Having kiwix-js working in jQuery mode on UT would already be great (the fix might be in a v3.3.1 if necessary)

To me, the PWA is a last-resort solution, because it needs a one-time Internet access

[2022-02-06 14:31] mossroy commented on #789
As discussed in https://github.com/kiwix/kiwix-js/issues/802#issuecomment-1030769247 , we might have no better solution than trying to detect the CSP violation and warn the user.
It should be possible with https://developer.mozilla.org/en-US/docs/Web/API/SecurityPolicyViolationEvent , that works on recent browsers: https://caniuse.com/mdn-api_securitypolicyviolationevent

[2022-02-06 14:48] mossroy commented on #802
Let me know when I can create the tag

[2022-02-06 14:51] Jaifroid commented on #802
Please do, I don't have any more to do for this release. (I'm just testing the likely fix for Ubuntu touch, but as you said, that can be a v3.3.1.)

[2022-02-06 15:01] mossroy commented on #802
Release/tag created: https://github.com/kiwix/kiwix-js/releases/tag/3.3.0
But publishing the PWA did not work: https://github.com/kiwix/kiwix-js/runs/5084057842?check_suite_focus=true
I also see that there are many test versions on docker hub: https://hub.docker.com/r/kiwix/kiwix-moz-extension/tags Shouldn't they be deleted?

[2022-02-06 15:22] Jaifroid commented on #820
So does accessing a vendor store... 😉

[2022-02-06 15:23] Jaifroid commented on #820
See #822 for a possible fix (needs testing).

[2022-02-06 15:27] Jaifroid commented on #802
Hmm. I'll update it manually. Clearly tag not being picked up. I wonder why... Grrr....

[2022-02-06 15:29] mossroy commented on #802
Thanks!

No worry: it's the first time we run it on a real tag, so it's no surprise everything is not perfect on first time

[2022-02-06 15:31] Jaifroid commented on #802
The version number is still 3.3-WIP, whereas we should set it to 3.3 for release, no?
Although I thought I included code to rewrite that...

[2022-02-06 15:35] Jaifroid commented on #802
Unless we update the number, no Service Worker will detect a change. Question is, should it be updated in master when we release (I think this was my assumption, but I should have checked), or should it be updated only in the implementation. I think we need to decide the workflow here. I know we will update master to 3.4-WIP soon.

Any thoughts on how to handle this? I can se the number in the imp

[2022-02-06 15:40] Jaifroid commented on #802
Updated manually now:

![image](https://user-images.githubusercontent.com/4304337/152688646-8c6f68d9-d907-4f7c-bccf-6c37fab65e11.png)

[2022-02-06 15:45] gaurav7019 commented on #821
@Jaifroid since this was a quick fix, I'm done working on this issue. I have a small doubt though. How should I open a PR in this case? Currently, I created a branch based out of the branch I was already working on (for #804 ). Now, should I rebase it with the master and then create a PR or wait for #804 to merge and then rebase again with the master?

[2022-02-06 15:53] mossroy commented on #802
The release version number is not committed on github. The release script updates it locally before generating the packages for various targets.
I'm not very satisfied by this logic but, until we improve that, you should change this number in your script before uploading the PWA

[2022-02-06 15:55] mossroy commented on #802
Does that mean that I can upload v3.3.0 to Mozilla store?

[2022-02-06 15:59] Jaifroid commented on #802
Yes, it's working fine in my Firefox Developer edition. Users who try SW mode should immediately pick up v3.3 (as they will never have accessed 3.3-WIP before). Testers who *have* accessed 3.3-WIP will see that version until they next launch the app. (This is the standard PWA self-updating flow, we can't change that, except that we could force a reload once we detect a new version, but there are p

[2022-02-06 16:03] Jaifroid commented on #802
OK. I actually have that capability in the script run by the GitHub action, but I must have assumed the versions in the files would match the tag if we are creating a release. I'll make an issue for that.

[2022-02-06 16:07] Jaifroid opened #823 "Add logging to the workflow job that updates version numbers and incorrect regular expression"
As title. When releasing v3.3, the workflow failed to update the version numbers (or else I assumed version numbers would already be updated) when it was triggered by the tag creation for that release.

[2022-02-06 16:14] mossroy opened #824 "Remove usage of innerHTML of our code"
It is currently the case in app.js and uiUtil.js, but it should be searched everywhere (excluding the third-party libraries like fontawesome or jquery).

`.innerHTML` can be unsafe in terms of security. Its usage triggers warnings (at least when we upload the package on Mozilla store).

It should be possible to replace them by `.textContent` when it's unformatted text.
When it's not simple text, i

[2022-02-06 16:16] #812 closed

[2022-02-06 16:18] Jaifroid commented on #820
Was automatically closed, but we need to confirm first, after nightly is produced to tonight.

[2022-02-06 16:26] mossroy commented on #802
Uploaded on Mozilla Store, and available for Firefox users.

[2022-02-06 16:27] Jaifroid commented on #824
Where it's not too complicated, I agree. The safety issues are minimal given that we only inject html from ZIM archives. But I guess it's possible a ZIM could unintentionally have malicious code.

[2022-02-06 16:33] Jaifroid commented on #802
Nice! I was holding my breath, because I half expected some automatic error to be triggered "Apps submitted to the Extension store may not navigate programmatically...". Phew! It all seems to be working as intended, fingers crossed.

[2022-02-06 17:18] Jaifroid commented on #821
@gaurav7019 Since the fix depends on #804, it can't be merged before that one (clearly). I think you would end up with a lot of potentially confusing rebasing if you rebase on master now, and then rebase again after #804. I think it might be easiest to review if based clearly on #804, though I'm not 100% certain how GitHub will present the code.

[2022-02-06 17:19] mossroy commented on #824
It's true that the usage we do of `.innerHTML` is probably not risky.
But the automatic tools can not know that. Plus using `.textContent` is probably a bit faster (as the browser does not have to convert HTML to/from the DOM)
In any case, this is not high priority.

[2022-02-06 17:27] Jaifroid commented on #802
You may have noticed the PWA is set to 3.3 instead of 3.3.0. This was my mistake doing it manually (I'm so used to seeing 3.3-WIP, I just took the -WIP off). I guess it's not too important. Should I correct, or maybe we can use the 3.3.1 version as a way of testing the script (when I've done it) even if we don't update the browser extensions in the stores, just Ubuntu and the PWA?

[2022-02-06 17:44] Jaifroid commented on #802
Uploaded to Edge extension store, but they don't seem to be in a hurry... 🙀

![image](https://user-images.githubusercontent.com/4304337/152693794-b6b9d7fa-9f2d-4167-87f6-35929d11f998.png)

[2022-02-06 18:54] prsndp commented on #824
@mossroy Hey, if it is a valid and possible issue then I would like to work on this. please let me know. Thanks:)

[2022-02-06 19:03] mossroy commented on #802
Yes, but it's probably not a big issue. Don't bother.

[2022-02-06 19:15] mossroy commented on #802
@kelson42 : can you upload https://download.kiwix.org/nightly/2022-02-06/kiwix-chrome-unsigned-extension-3.3.0.zip on Chrome store?

[2022-02-06 19:39] mossroy commented on #824
Thanks @prsndp
I've assigned it to you. Please read the CONTRIBUTING.md guidelines before creating a PR

[2022-02-06 19:48] mossroy commented on #737
I saw that too.
We could try increasing the timeout, as suggested in https://github.com/nightwatchjs/nightwatch/issues/1936#issuecomment-754203727

[2022-02-06 20:41] prsndp commented on #824
@mossroy  Yeah, Sure :)

[2022-02-06 20:44] kelson42 commented on #802
@mossroy Submitted to review, should be published until tomorrow.

[2022-02-06 21:20] Jaifroid commented on #802
OK, it looks like the failure to update the extension PWA wasn't a problem with my workflow scripting, but a failure on the docker side. Here is the workflow:

https://github.com/kiwix/kiwix-js/runs/5084057842?check_suite_focus=true

I'd forgotten that I had in fact written code to modify the version number in the source files, and the new number is indeed set by the tag.

![image](https://user-im

[2022-02-06 21:48] cibersheep commented on #819
I have updated the manisfest: https://github.com/kiwix/kiwix-js/pull/827

but I think the [name](https://github.com/kiwix/kiwix-js/blob/master/ubuntu_touch/manifest.json#L2) parameter needs to be updated to `name.organisation` format. This might be not needed and will make OpenStore force to create a "new app" due to the change of the name.

Do you want me to update or wait?

[2022-02-07 08:24] Jaifroid commented on #737
Maybe we could look into (slowly) trying out some new testing framework. Jest (Unit), possibly in combination with Puppeteer (UI), look like popular frameworks where a lot of help is available. See https://jestjs.io/ and https://jestjs.io/docs/puppeteer. Just based on quick search, no proper research. They could run alongside our existing Unit Tests (for non-regression), but we could eventually st

[2022-02-07 08:44] Jaifroid commented on #737
https://www.freecodecamp.org/news/continuous-integration-with-github-actions-and-puppeteer/

[2022-02-07 12:58] Jaifroid commented on #820
According to @cibersheep's tests, this appears to be fixed.

[2022-02-07 12:58] #820 closed

[2022-02-07 15:12] prsndp commented on #824
@mossroy Hey, please review this PR.

[2022-02-08 07:02] mossroy commented on #819
The problem of a "new app" is that previous users will not automatically be upgraded.
As we currently have a regression that needs to be fixed, I would hold this update for now, and discuss it later

[2022-02-08 12:33] mossroy commented on #802
I'm wondering if it could not come from the fact that our tags are named "3.3.0", and not "v3.3.0" (which is more common).
Maybe a script removes the first character of the tag (assuming it's always the leading "v")

[2022-02-08 12:56] mossroy commented on #802
If we want to release a fix-only version 3.3.1, we might merge #818 and #827, then release a 3.3.1, before merging any other PR

[2022-02-08 19:17] cibersheep commented on #819
Perfect. Thank you

[2022-02-08 20:56] #817 closed

[2022-02-08 21:04] Jaifroid commented on #823
Actually, this is already being done. I'm changing the title to reflect the need to add some logging.

[2022-02-08 21:07] Jaifroid commented on #802
@mossroy Will 3.3.1 need a changelog with the two Ubuntu Touch updates?

[2022-02-08 21:21] Jaifroid commented on #823
@mossroy I've discovered the error that caused the workflow to fail with the tag-pattern. You were right that it is related to the fact that we had to edit the standard tag-pattern, but I hadn't understood the importance of the group (parenthesis) in the pattern matching regex for this particular Action. To explain:

* Standard/default tag pattern is: `/^v*([0-9.]+)$/`
* The tag-pattern I had defi

[2022-02-08 21:22] mossroy commented on #802
We should indeed add this version 3.3.1 to the changelog file

[2022-02-08 21:23] mossroy commented on #823
Excellent, you rock!

[2022-02-08 23:55] #819 closed

[2022-02-09 15:07] mossroy commented on #802
When #829 will be merged, we could merge #830 and release version 3.3.1 for all targets (not only for Ubuntu Touch)

[2022-02-10 00:02] #823 closed

[2022-02-10 07:58] Jaifroid commented on #741
This blog could be useful if we ever want to run tests on Internet Exploerer via GitHub actions in a Windows-latest instance:. This uses IE Mode in Edge:

https://blogs.windows.com/msedgedev/2022/02/01/test-ie-mode-in-microsoft-edge-internet-explorer-driver/

The examples use Selenium, but it's not required, and other frameworks can be used.

[2022-02-10 08:40] Jaifroid opened #835 "Images are not displayed loading ZIMs with WebP format images in icecat 60.7"
Issue reported by a user via email. I have been able to reproduce it in icecat running in WSL-Ubuntu (Windows 11). The images are being inserted as data URIs rather than as BLOBs, which indicates that this version is using the polyfill to read WebP.

![image](https://user-images.githubusercontent.com/4304337/153369236-312451b0-1ba4-48a7-bbf3-abf41d0a1e30.png)

[2022-02-11 12:34] mossroy commented on #835
I tested with IceCat 91.5.0esr (on windows 10, using an unofficial build from https://github.com/muslayev/icecat-win64) and I don't reproduce the problem (using https://download.kiwix.org/zim/wikipedia/wikipedia_en_ray_charles_maxi_2022-01.zim), using kiwix-js extension 3.3.0.
Of course, this version of IceCat supports webp. But I also tested with webp disabled (it's possible to do that: in `about

[2022-02-11 12:37] mossroy commented on #835
IceCat 60.7 does not seem to block all dataURIs: the image is properly displayed on https://dopiaza.org/tools/datauri/examples/index.php

[2022-02-11 13:02] Jaifroid commented on #835
Hmm. So maybe it just can't cope with data URIs inserted after first paint? Yet we do know it can cope with BLOBs inserted at the same point, because that is how it works with ZIMs prior to WebP. This is where we insert the data URI:

https://github.com/kiwix/kiwix-js/blob/master/www/js/lib/uiUtil.js#L55

It would be a case of adding a step to convert the data URI to a Uint8Array, and then continu

[2022-02-11 13:13] mossroy commented on #835
It does not come from when the image is painted: I could reproduce with a local copy of one of our dataURI image, copied from devtools of IceCat 60.7 into a single HTML file.
What is more surprising is that opening the same HTML file on Firefox 97 fails too.
So there might be something wrong in the base64 encoded png?

If I disable webp on Firefox 97, and copies the same HTML tag, the content look

[2022-02-11 13:25] Jaifroid commented on #835
Interesting. The only other browsers I have to test the WebP conversion on are IE11 and Edge Legacy (testing on Windows Mobile, as it can no longer be installed on any Windows desktop). Also IE mode in Edge Chromium. In IE11 the dataURIs (which are very very long) are inserted and the images show fine. But there is an error logged in the WebP machine. I didn't see the error (or maybe I wasn't look

[2022-02-11 16:54] mossroy commented on #835
I do not see any error message on IceCat 60.7 (with latest Ray Charles archive)
I tested on Firefox 60.7 ESR (which should have the same gecko version as IceCat 60.7): I don't have the issue on images. And it's much faster (maybe because of the many extensions bundled in IceCat?)

On IceCat 60.7, if I put a breakpoint in uiUtil where it decodes webp images, the uri is:
`uri: "data:image/png;base64

[2022-02-11 17:08] Jaifroid commented on #835
Excellent sleuthing! So, converting to a BLOB would not work, clearly. Very curious. I guess the repeated pattern is `EDIchAwHIc`.

[2022-02-11 17:14] mossroy commented on #835
It would be good to test the webp-hero demo with IceCat 60.7, but it's no longer on https://chasemoskal.com/webp-hero/
It should be possible to reproduce it locally with a checkout of the source code https://github.com/chase-moskal/webp-hero and a `npm start`, then browse http://localhost:5000/ with IceCat.
It would be a way to prove (or not) that it's an issue between IceCat and webpHero

[2022-02-12 12:11] mossroy commented on #802
I've done some basic tests on Firefox and Chromium (including as extensions), and on Firefox OS. Found no regression (risk is very low based on what has changed from 3.3.0)
I'm about to create the 3.3.1 tag.

In my opinion, we should deploy this version 3.3.1 for all platforms. The race condition might have affected some other devices we did not hear about.
The packages will be automatically gener

[2022-02-12 12:23] Jaifroid commented on #802
OK, fine by me! I tested on IE11 in case that's useful, and saw no regression. On IE11 it now shows the decompressors as uninitialized in the API panel, until a ZIM is loaded, at which point it populates the panel. This is simply to do with the fallback to ASM, as the WASMs get initialized (loaded) by the script, whereas ASM is just plain JS (albeit optimized). Everything works well on IE11.

[2022-02-12 12:27] Jaifroid commented on #802
This is what I mean:
IE11:
![image](https://user-images.githubusercontent.com/4304337/153711261-76192166-3cc6-4bac-ba65-f6a6d57cf548.png)

Edge:
![image](https://user-images.githubusercontent.com/4304337/153711304-f4de0eb5-6ee1-461b-abbe-0b256da967db.png)

[2022-02-12 12:46] mossroy commented on #802
OK that's fine.
I've just created tag 3.3.1, and it generated the packages in https://download.kiwix.org/nightly/2022-02-12/
I'll upload for Firefox and Ubuntu Touch

[2022-02-12 12:52] Jaifroid commented on #802
Yay, and the workflow correctly updated the PWA. Phew!

![image](https://user-images.githubusercontent.com/4304337/153712101-3777b106-3613-4993-9c67-6d935c830df2.png)

![image](https://user-images.githubusercontent.com/4304337/153712061-65cc616a-06e2-4ea8-a00d-a02777443494.png)

[2022-02-12 13:00] mossroy commented on #802
Cool for the PWA! Nice job
The 3.3.1 version is uploaded for Ubuntu Touch. @cibersheep could you check that it works well? https://open-store.io/app/kiwix
It's also available on Firefox, and its PWA has been properly updated to 3.3.1 on mine. Cool!
@kelson42 , could you upload https://download.kiwix.org/nightly/2022-02-12/kiwix-chrome-unsigned-extension-3.3.1.zip for Chrome?

[2022-02-12 13:02] mossroy commented on #802
I've unchecked what needs to be done again for 3.3.1 in the checklist of this ticket

[2022-02-12 13:48] Jaifroid commented on #802
3.3.1 uploaded to Edge store.

[2022-02-12 13:57] mossroy commented on #835
I can confirm that the demo of webp-hero does not work on IceCat 60.7 (with no error in console log)
![image](https://user-images.githubusercontent.com/890923/153713811-04ff1875-2564-4aef-ba3a-b213031de4de.png)
even after disabling all addons:
![image](https://user-images.githubusercontent.com/890923/153714112-26b64553-e005-4555-845e-012592c56aed.png)

where it properly works on Firefox 60.7 (that

[2022-02-12 14:21] mossroy commented on #835
I've opened https://github.com/chase-moskal/webp-hero/issues/43 for that

[2022-02-12 14:56] kelson42 commented on #802
3.3.1 uploaded to Chrome store.

[2022-02-12 15:41] kelson42 commented on #802
Download.kiwix.org updated with the 3 versions

[2022-02-12 16:07] cibersheep commented on #802
I'm afraid not: `qml: [JS] (file:///opt/click.ubuntu.com/kiwix/3.3.1/www/js/lib/zstddec_wrapper.js:115) WASM failed to load, falling back to ASM... TypeError: Failed to fetch
*** Error in `webapp-container': corrupted double-linked list: 0x000000001daaa6d0 ***`

I send you a couple of logs (they might be a bit useless):

Update from test app to 3.3.1 and tried to open local zim
https://dpaste.com/

[2022-02-12 17:02] Jaifroid commented on #802
@cibersheep  The failure to load WASM is expected: it is supposed to fall back gracefully to ASM, and that is what was happening with the nightly, right? However, it shouldn't then error out and fail to load/display a ZIM (if I've understood correctly what is happening). Could you kindly check the last nightly that works? From http://download.kiwix.org/nightly/ . I don't see what can have changed

[2022-02-12 17:08] Jaifroid commented on #802
I wonder if these lines are significant errors caused by AppArmor policies? I'm trying to figure out if it's anything to do with APIs that are disallowed by the store... (but that run in a non-store click package)?

![image](https://user-images.githubusercontent.com/4304337/153720829-0e9f5d82-62d4-4f7b-a4ad-0bf6339fa331.png)

[2022-02-12 17:19] cibersheep commented on #802
The apparmor polices are how the app works on the phone itself. That have been caught but the test app as well. I'm prety sure you can ignore them

[2022-02-12 17:42] cibersheep commented on #802
Ok. I've been doing some tests. I have bad and good news:
- Non of the last versions works on my main device
- 3.3.1 works on my tablet (I had no previous versions installed before)

I'm guessing is a change in the OS of my phone?
I will ask more testers

[2022-02-12 17:47] chase-moskal commented on #835
if you need to decode directly, i've exposed the function `webpMachine.decodeToCanvas(canvas, webpData)`

https://github.com/chase-moskal/webp-hero/blob/master/source/webp-machine.ts#L43

[2022-02-12 18:08] Jaifroid opened #839 "Errors loading and reading ZIM in Ubuntu touch app"
Opening this thread to continue discussion of latest errors with Ubuntu touch app begun in https://github.com/kiwix/kiwix-js/issues/802#issuecomment-1037272078 .

[2022-02-12 18:09] Jaifroid commented on #839
@cibersheep wrote:

[2022-02-12 18:09] Jaifroid commented on #802
I've created #839 to work on this. Let's continue discussion there.

[2022-02-12 18:10] Jaifroid commented on #802
We can probably close this thread. @kelson42 will you be able to do some publicity for v3.3.1?

[2022-02-12 18:10] #802 closed

[2022-02-12 18:13] Jaifroid commented on #839
Thanks for the detailed logs. I'll try to compare the working ones with those not working. A bit of a puzzle if it's failing randomly on different devices. The OS should abstract the hardware...

[2022-02-12 18:33] mossroy commented on #835
Many thanks @chase-moskal for investigating and releasing a new version so quickly!
An anti-fingerprinting feature of IceCat could likely be the root cause. I suppose they have improved this feature in more recent versions of IceCat.

I've upraded to dev.28, but it was not enough.

The reason is that we don't run `.polyfillDocument()`, but instead convert the images ourself.
If I remember well, it

[2022-02-12 18:47] cibersheep commented on #839
Weeeell, this device in particular is a moving ground... very active development right now. Let's see what other users says

[2022-02-12 19:12] Jaifroid commented on #835
Just to clarify, we can't use `polyfillDocument` becasue we have to extract each image from a compressed archive. The URLs have to be processed by us first. Once we have each image's content as a `Uint8Array`, we use `webpMachine.decode()`. We then insert the resulting dataURI into the node ourselves:

[code]

[2022-02-13 10:35] chase-moskal commented on #835
@Jaifroid @mossroy

in the fresh release `webp-hero@0.0.1`:
- static functions for are now available
  - `WebpMachine.replaceImageWithCanvas`
  - `WebpMachine.cloneCanvas`
- after some fidgeting, i think i've managed a solution that seems to work well:
  - [replaceImageWithCanvas](https://github.com/chase-moskal/webp-hero/blob/e4bd83c5f1c35490b1d9575b59200d89227d95b0/source/webp-machine.ts#L43)
[c

[2022-02-13 10:40] Jaifroid commented on #835
@chase-moskal Excellent, thank you! We'll try out new release!

[2022-02-13 11:13] kelson42 opened #846 "Have a fancy library"
Now that we have a nice looking https://library.kiwix.org with and OPDS API. I would propose that Kiwix JS provides a nicer solution to download ZIM files. Maybe just load https://library.kiwix.org for example?

[2022-02-14 03:42] chase-moskal commented on #835
@mossroy the static functions will be available on the constructor.

[code]

[2022-02-14 09:00] Jaifroid commented on #839
I noticed Kiwix retweeted this about testing the app. It says "kiwix-js app packaged for Ubuntu Touch" (in the image). Good to see people are testing...

![image](https://user-images.githubusercontent.com/4304337/153831754-25c0868d-e311-47cb-967f-4e391ce40912.png)

[2022-02-14 09:38] mossroy commented on #835
Thanks @chase-moskal , it's working fine through the constructor.

Our main concern now is to know when we should use `decodeToCanvas` instead of `decode`.
If we don't find a reliable way to detect that, we'll add a setting in the app. By default, it would use `decode`.

[2022-02-14 10:04] Jaifroid commented on #835
@mossroy Looking at the source code for WebpMachine, I think we should always use `decodeToCanvas()` because we can then extract a BLOB from the canvas in non-anti-fingerprinting browsers, instead of a dataURI. The reason this isn't any kind of degradation is that `decode()` actually calls `dcodeToCanvas()`, waits for its result and then does `canvas.toDataUri()`. In other words, `decodeToCanvas()

[2022-02-15 14:59] cibersheep commented on #839
Spreading the word :)

[2022-02-17 20:05] chase-moskal commented on #835
:tada: `webp-hero@0.0.2` now auto-detects a default value for `useCanvasElements`, allowing it to work out-of-the-box on icecat and other browsers

- this is detected by the [new `detectCanvasReadingSupport` function,](https://github.com/chase-moskal/webp-hero/blob/master/source/detect-canvas-reading-support.ts#L10) which i've made directly available since you folks aren't using this auto-detectio

[2022-02-17 20:49] Jaifroid commented on #835
Wow, you rock @chase-moskal! I'll try these out: it will simplify our code, and will also help with Service Worker mode where I think polyfillDocument() is used (your polyfill is included in the ZIM).

[2022-02-18 20:26] chase-moskal commented on #835
@Jaifroid

sorry about the confusion.

- if you're using the bundle, like from a script tag like this:
[code]
    then you'll find `detectCanvasReadingSupport` on the global object:
[code]
- if instead you're using common-js, you can `require` the function itself:
[code]
    - or even more directly:
[code]
- if you're using es modules, you can `import` the function:
[code]
    - or even more direc

[2022-02-19 11:38] Jaifroid commented on #835
Thanks @chase-moskal , I've now incorporated the new detection function into the PR:

Interestingly, when testing the new implementation, after having manually disabled it, when I turned it back on I got a the popup below appearing in IceCat. It seems the IceCat browser contains an option to disable the anti-fingerprinting on a per-domain basis. But it's clearly not well exposed, as this is the fi

[2022-02-19 11:51] Jaifroid commented on #835
And indeed, if I answer "Allow data access" to that question (though I unchecked Always remember my decision, so that I can continue testing), then the webpHero detect function returns true (i.e. workaround not needed), and images load OK...

[2022-02-19 12:04] Jaifroid commented on #835
OK, it turns out that IceCat provides a way to turn off the canvas blocking. User needs to click the little image icon (circled in screenshot below), and turn it off. I wish we'd known this earlier!

@mossroy Do you want to keep #838 ? I think we should definitely upgrade to use the latest WebpHero. An argument in favour is that the detection is generic, so it may apply to other browsers or browse

[2022-02-19 16:27] mossroy opened #841 "Rework the code on startup to prevent some alert/confirm popups overlaping"
In app.js, there is some code that is always run on startup. Some of these steps might trigger an alert/confirm:

1. restore parameters from settingsStore
2. apply parameters from queryString
3. apply theme
4. set home key behavior
5. set content injection mode
6. define behavior of HTML elements (event listeners)
7. handle and test DeviceStorage (this is Firefox OS specific)
8. else (if not on Fi

[2022-02-20 11:28] #798 closed

[2022-02-20 11:34] Jaifroid opened #843 "Remove unused functions from util.js (possibly also elsewhere)"
Quite a few functions exported in `util.js` are unused currently in the app. Some may be interesting techniques that we want to keep for reference, but then we shouldn't expose them. Others are obsolete and should be removed.

Any PR based on this issue should await merging of #838 because some functions are already being removed there.

[2022-02-20 11:39] gaurav7019 commented on #821
@Jaifroid Should I open a new PR for this from the latest fork to avoid complications?

[2022-02-20 11:42] Jaifroid commented on #821
Feel free to -- it's probably the easiest way. Base the new PR on master we've just merged. Thanks!

[2022-02-21 07:28] #821 closed

[2022-02-21 11:46] #729 closed

[2022-02-21 20:09] #835 closed

[2022-02-21 20:09] #816 closed

[2022-02-21 20:31] Jaifroid commented on #835
@chase-moskal A big thank you for your super-rapid response on this issue, adding all this support upstream in the Polyfill. It's been very good to collaborate with you across these projects!

[2022-02-21 20:46] mossroy commented on #813
Now that we have merged #804 (and several other ones), you can tackle this one and #841
The goal is to remove the requirejs dependencies on uiUtil from the following files:

- zimArchiveLoader.js
- settingsStore.js
- zimArchive.js

Ideally, we should remove them from xzdec_wrapper.js and zstddec_wrapper.js too. But it's certainly more complicated.
We can leave these 2 ones aside for now, and focus

[2022-02-21 20:56] mossroy commented on #813
Regarding *dec_wrapper.js, here is a possible solution:
We could store the *MachineType and error messages in variables of each *dec_wrapper.js. It's already the case for *MachineType: only the error message needs to be added. These 2 variables should also be exported (at the end of the file, like Decompressor)
When there is an error in one of these wrappers, the variables would be assigned values

[2022-02-21 21:00] Jaifroid commented on #813
Sounds good to me, though I had to look up "lambda function" (today I learnt...). I'd just add (I didn't check code) that where there is an error being reported inside the catch of a Promise, then the Promise will pass that error to the catch function of the calling function (which might need to be added if there isn't one). In such cases it should be easy, but I don't know from memory if there ar

[2022-02-21 21:45] Jaifroid commented on #813
That's maybe not necessary. We only need to show the decompressor type in the API panel when the user clicks on Config. And if it's not ready on startup when Config is first shown, then we can simply show "Decompressor not initialized" (which currently shows in a number of cases anyway). Thereafter, the object `params.decompressorAPI` (and its properties) can simply be used as the source for the d

[2022-02-22 10:26] gaurav7019 commented on #813
By this, do you mean an anonymous function? Because being on ES5 we can't use arrow functions I suppose.

[2022-02-22 10:41] gaurav7019 commented on #813
Also, the `ZIMArchive` function (which uses `uiUtil.systemAlert`) defined in `zimArchive.js` is not called by `app.js` directly (In fact `app.js` doesn't depend on `zimArchive.js` at all  ). It's being called by functions defined in `zimArchiveLoader.js` which are then called by `app.js`. So, will have to pass the callbacks at multiple levels.

Will that work fine?

[2022-02-22 16:33] mossroy commented on #813
You're probably right, and it would indeed be much simpler.

[2022-02-22 16:34] mossroy commented on #813
You're totally right. I meant an anonymous fonction. My bad

[2022-03-02 14:03] mossroy commented on #846
I don't see what you mean by that.

Is this a duplicate of #114 ?

So far, we did not implement anything to download ZIM files in kiwix-js, but @Jaifroid did in kiwix-js-windows. I suppose you mean his implementation could now be improved with OPDS?

[2022-03-02 18:14] kelson42 commented on #846
@mossroy I don't know how the final solution should look like... but AFAIK everything is there now to avoid using https://download.kiwix.org.

[2022-03-02 20:31] Jaifroid commented on #846
I think we should develop a modern version here in Kiwix JS using the new system, and then I could backport it to Kiwix JS Windows. The implementation I have in KJSW is currently very different. It's fast and gets the job done (offers mirrors and torrent files), but it is text-based, not so pretty.

[2022-03-04 09:09] mossroy commented on #839
@cibersheep : did you have more feedback about this issue, from other Ubuntu Touch users?

[2022-03-04 11:35] rgaudin commented on #789
That would be on the  [youtube](https://github.com/openzim/youtube) scraper.

This would be [openedx](https://github.com/openzim/openedx). Chances of fix are low for this one.

[2022-03-04 12:32] cibersheep commented on #839
No feedback yet
 @ernmander any news?

[2022-03-04 19:00] mossroy commented on #789
I've created the missing github issues (thanks for your help @rgaudin), and updated the check-list above.

I also add a link provided by @rgaudin for a list of scrapers: https://github.com/openzim/overview/wiki/Scrapers-list , in case we need it in the future.

[2022-03-27 12:46] mossroy commented on #813
I reopen this, because there are still the *dec_wrapper.js to handle

[2022-03-28 18:45] mossroy opened #850 "Release 3.4.0"
It seems to me that we have enough changes to release a 3.4.0

- [x] Update the changelog file
- [x] Further tests
- [x] Rename existing milestones (increment their names), create a new 3.5 milestone and move open issues to this new 3.5
- [x] Create a tag on git
- [x] Generate unsigned extensions (should be automatically triggered on GitHub Actions by the tag creation)
- [x] Check that the PWA ver

[2022-03-29 12:59] Jaifroid commented on #850
@mossroy Would you like me to tackle changelog? I now have more stable Internet access.

[2022-03-30 14:19] mossroy commented on #850
There's no rush.
I won't be available this weekend. And if you're on vacation, we can do that a bit later.

[2022-04-02 12:59] Jaifroid opened #851 "Nightly releases are failing on both Kiwix JS and Kiwix JS Windows"
This must be to do with the change of infrastructure, because I see several Kiwix builds of different flavours are missing from nightly. @kelson42 @rgaudin  do we need new credentials to upload to download.kiwix.org or is there some other issue? The logs are showing:
[code]

[2022-04-02 13:27] rgaudin commented on #851
Yes it changed. Don't touch credentials, I'll send a PR to fix it as I did for the other projects ; sorry for the delay

[2022-04-02 13:50] Jaifroid commented on #851
Thanks @rgaudin . Both KJS and KJSW also use local copies of the credentials because we run some local scripts too, not only on GitHub Actions. No rush at all, but in due course it would be great if you could send those credentials to @mossroy and me by Signal.

[2022-04-05 09:08] rgaudin commented on #851
Sent.

[2022-04-05 11:56] #851 closed

[2022-04-08 18:02] mossroy opened #853 "Read the ZIM file directly from the ServiceWorker"
So far, it was impossible for a ServiceWorker to read the ZIM file directly.
So we setup a MessageChannel with the main javascript thread, transfer the "request" to the main thread, which reads the ZIM file, and transfers the content back to the ServiceWorker.

When discussing in https://github.com/kiwix/libkiwix/issues/740, I discovered that recent browsers can now transfer a https://developer.mo

[2022-04-08 19:07] mossroy commented on #853
Regarding the webassembly backend, it might be possible to use it from the ServiceWorker, too: https://medium.com/@kennethrohde/on-the-fly-webp-decoding-using-wasm-and-a-service-worker-33e519d8c21e (needs to be tested)

[2022-04-09 13:43] mossroy commented on #850
I've tested various ZIM files on my Firefox OS device, Chrome and Firefox extension (except the PWA is still in version 3.3.1, which is normal).
I'll prepare the milestones

[2022-04-09 13:54] mossroy commented on #853
In fact, the old browsers (IE etc) I was mentioning above don't support ServiceWorkers anyway (except maybe Ubuntu Touch).

But, if we manage to use this technique, the MessageChannel would need to be kept for some browser versions anyway:

- Chrome 40 to 75
- Edge 17 to 78
- Firefox 44 to 68
- and same for other browsers

Except if we cleanly fallback to jQuery mode for them (but it would be a mo

[2022-04-10 12:32] Jaifroid commented on #850
Tests to be done:

- [ ] IE11 from file system
- [ ] IE11 from Web server
- [ ] Edge legacy from Web server
- [ ] Edge Chromium from Web server

[2022-04-10 13:39] Jaifroid commented on #850
All my tests completed. Icecat is showing the workaround, and it works. I updated the implementation at https://kiwix.github.io/kiwix-js/www/index.html in order to test Edge Legacy via Windows Mobile (it's no longer available in any Windows desktop OS). No issues detected. IE11 still works fine from the file system.

[2022-04-10 13:43] Jaifroid commented on #850
@mossroy Would you like me to create the tag, or shall I wait until you're free for any troubleshooting? I haven't tested any extensions (packed or unpacked) -- have you done that?

[2022-04-10 13:43] Jaifroid commented on #850
(of course I would squash the changelog PR first)

[2022-04-10 18:42] mossroy commented on #850
Sorry, I was busy.
I had tested unpacked extensions on Chrome, and on Firefox (even if the PWA is still in version 3.3.1, which is normal).
To me, it's enough for us to go on.

[2022-04-10 19:37] Jaifroid commented on #850
Miz-extension appears to have updated correctly

[2022-04-10 20:15] mossroy commented on #850
I've uploaded this version for Ubuntu Touch and Firefox.

@kelson42 and @Jaifroid: please upload https://download.kiwix.org/nightly/2022-04-10/kiwix-chrome-unsigned-extension-3.4.0.zip to Google and Microsoft stores

[2022-04-11 00:10] Jaifroid commented on #850
I've uploaded the Edge add-on.

[2022-04-13 12:02] mossroy commented on #850
@kelson42 did you upload to Google Chrome store?
Please also upload the new files to https://download.kiwix.org/release/browsers/

[2022-04-13 12:32] kelson42 commented on #850
@mossroy Sorry for slowing down your publishing process, I just have done it (it's in review).

[2022-04-13 12:55] Jaifroid commented on #850
I made a reddit post to publicize both this release and the most recent Kiwix JS Windows/Linux version (in the same post), here:

https://www.reddit.com/r/Kiwix/comments/u2pi4m/new_releases_of_kiwix_js_browser_extension_and/

@kelson42 or @Popolechien, can you do the Twitter publicity for this release?

[2022-04-14 05:35] kelson42 commented on #850
At the release page https://github.com/kiwix/kiwix-js/releases. I would recommend for the title of the release to just put the version number. This is IMO clearer (it's impossible in a few words to summarize a release... and the changelog is just below).

[2022-04-14 09:02] Popolechien opened #856 "Update logo on Firefox and Windows stores"
These two ([here](https://addons.mozilla.org/en-US/firefox/addon/kiwix-offline/) and [here](https://www.microsoft.com/fr-ch/p/kiwix-js/9p8slz4j979j?rtc=1&activetab=pivot:overviewtab)) are still using the old logo.

The updated one has been around for nearly two years now:
https://commons.wikimedia.org/wiki/File:Kiwix_logo_v3.svg

[2022-04-14 15:24] Jaifroid commented on #850
Thanks for the publicity!

[2022-04-14 15:26] Jaifroid commented on #850
I think we just need to prepare source code for 3.5 and then this issue is complete.

[2022-04-14 15:28] Jaifroid commented on #856
Oops, sorry! I have been meaning to update the Windows Store one, but other things always ended up having higher priority. I agree this is getting long in the tooth...

[2022-04-16 09:46] mossroy commented on #850
Done, thanks to everyone who contributed!

[2022-04-16 09:46] #850 closed

[2022-04-16 09:52] mossroy commented on #850
I agree, I've changed that on github

[2022-04-16 11:08] mossroy commented on #856
I've updated it on Firefox store: https://addons.mozilla.org/en-US/firefox/addon/kiwix-offline/

[2022-04-16 13:07] Jaifroid commented on #856
I'll update the Microsoft Store for the next release, early next month.

[2022-04-19 21:34] Jaifroid commented on #644
I've been investigating this a little more, since more and more people are using Zimit ZIMs, despite poor support amongst Kiwix clients.

Through some trickery, I can get the `sw.js` Service Worker to load, but because it loads with the scope (e.g.) `http://localhost:8080/kiwix-js-windows/fas-military-medicine_2022-03.zim/A/`, it then takes over Fetch intercepts for that scope.

Unfortunately, thi

[2022-04-19 22:15] Jaifroid commented on #644
Ironically, our JQuery mode can access files in a Zimit ZIM from the title index, and can load index.html, as well as extract the PDFs (in the case of the military medicine ZIM used here). Of course this completely bypasses the replay system, and stylesheets, etc., are not loaded because of the custom protocol for them.

![image](https://user-images.githubusercontent.com/4304337/164110489-1c2e36ff

[2022-04-21 07:19] Jaifroid commented on #644
@ikreymer It strikes me that one possibility for leveraging our existing Service Worker is to use the `self.importScripts('sw.js')` method within our SW (see https://developer.mozilla.org/en-US/docs/Web/API/WorkerGlobalScope/importScripts).

I've tried this with `sw.js` (including a copy of sw.js in our implementation). This works "too well" as in, it fully takes over our fetch event listener, but

[2022-04-21 16:52] Jaifroid commented on #644
Not related to above proposed fix, I've enabled limited support for Zimit ZIMs (primarily static content) in the experimental branch of Kiwix JS Windows "[Attempt WARC loading](https://github.com/kiwix/kiwix-js-windows/tree/Attempt-WARC-loading)". See screenshot. It does not even attempt to load the Replay system (in fact it has to block it, to prevent fatal errors), but instead loads as many asse

[2022-04-21 17:12] mossroy commented on #839
@cibersheep @ernmander we've released a version 3.4.0. It is on open-store.io.
Do you reproduce this issue?
I see the number of downloads decreasing on open-store.io, but don't know if it's because it does not work properly on this platform, or for another reason (less people using Ubuntu Touch?):
<label data-v-590efca0="" class="p-form__label" data-msgid="Download Stats" data-current-language="fr

[2022-04-22 12:58] ernmander commented on #839
I'll download it today. I must admit I've not really been using my Ubuntu touch device as I'm currently waiting on a newer one with more storage to play with.

[2022-04-24 08:21] Jaifroid commented on #644
The development PWA on Kiwix JS Windows can now be used for testing Zimit ZIM support, but see instructions [here](https://github.com/kiwix/kiwix-js-windows/issues/249#issuecomment-1107786782). It works in both jQuery and SW modes (but best experience is in SW mode).

@mossroy I began some work on enabling support for Zimit ZIMs in Kiwix JS, because it seems to me that this would be quite a big fe

[2022-04-24 08:29] Jaifroid commented on #644
PS, so far I've only tested:

* lowtechmagazine.com_en_all_2021-12.zim
* musictheory.net_en_all_2021-12.zim (audio not working)
* developer.mozilla.org_en_all_2022-03.zim (good support)
* fas-military-medicine_2022-03.zim

Note most content isn't available via library.kiwix.org, so use https://download.kiwix.org/zim/zimit/ instead.

[2022-04-24 17:47] mossroy commented on #644
Well, that would need a discussion with @kelson42 (and maybe other ones)
To understand the need, first of all.

We also need to know how this use of a ServiceWorker in a ZIM file is "standardized" or not.
It's no use trying to "run" after these changes if there is not a kind of "contract" we could rely on (a bit like the openzim format is a contract). Especially if we need to "merge" both ServiceW

[2022-04-24 20:25] Jaifroid commented on #644
Thank you @mossroy, that makes a lot of sense. We can discuss (probably virtually) with @kelson42.

Just to be clear, the proposed translation layer I suggest would work equally well for jQuery mode as for Service Worker. It wouldn't need special coding for one of the other. This is because it would simply be a way of converting the absolute hyperlinks on a Replay page into ZIM links. It's all tha

[2022-04-24 21:03] Jaifroid commented on #644
Here's an example of quite complex Zimit ZIM running in jQuery mode with no Service Worker either in the iframe or in the reader. Indeed, Javascript is completely disabled here. MSDN also works just as well in either mode, despite the warning box I put at the top.

![image](https://user-images.githubusercontent.com/4304337/164996439-a95ffe34-2c8f-46fb-afa9-00fa0dbc48f8.png)

ZIM is `bibnum_fr_all_

[2022-04-25 08:16] Jaifroid commented on #644
PS I should explain why translation of links cannot currently be done fully in our service worker. It's because many links in these ZIMs are absolute, of type https://some.random.site/some-content-link.html. We need to translate these to /fr_zimname_04_22/A/some.random.site/some-content-link.html before our SW will pick them up (the namespace could also be /C/, but we get it from the dirEntry). Fr

[2022-04-25 15:39] Jaifroid opened #858 "When downloading a PDF, check the mime type as well as the extension of the file"
We currently check for downloadable files by relying on the extension of the file. However, the Zimit port in Kiwix JS Windows has revealed a flaw (I think): we should also check the mimetype of the dirEntry. We can have PDF files that are just links to data, not apparently a file at all (at least this is revealed in the cheatography.com Zimit ZIM). Both SW mode and jQuery mode seem to fail in thi

[2022-04-25 16:44] mossroy commented on #858
It's true in jQuery mode.
I don't think we can have a reliable way to know if a file should be downloaded or displayed. Because it depends not only on the MIME-Type, but also on the browser/OS configuration. Deciding that PDF and epub files should always be downloaded (like it's done currently) is probably not a very bad decision, though.
It's certainly possible to use the MIME-Type instead of the

[2022-04-30 13:16] kelson42 commented on #858
Have you seen this ticket? https://github.com/kiwix/kiwix-android/issues/2793

Wonder if kiwix-js is impacted... but wathecer if it is, this is really important and meanwhile maybe urgent to face properly this challenge and stop to make assumptions.

[2022-04-30 13:51] Jaifroid commented on #858
I've just checked that we can open the Wikipedia article "node.js", as well as the archlinux ZIM's "node.js", just fine in Kiwix JS (and Windows).  So I don't think the assumptions there affect us.

[2022-04-30 14:00] Jaifroid commented on #858
I agree it's not a bad decision. The problem is if the PDF "file" is just a URL link like `A/pdf_documents/104` , then we would currently not treat it as a PDF and would try to display it, which would fail in jQuery mode at least because we wouldn't set the correct document MIME type. In SW mode it should work, as you say. Without a non-Zimit test case, it's a bit theoretical... Fix should just be

[2022-04-30 15:02] kelson42 commented on #858
Agree!

I don't know what is technicaly possible. But, to my opinion, the normal behaviour - if a content can not be rendered directly in the browser (and assumption can be made about which mime-types are always properly handled) - would be to open a dialog allowing to **either** open it via a third party software (short list to be handled by the OS/Browser **or** save it to a mass storage.

I hav

[2022-05-08 14:22] kelson42 commented on #531
@mossroy @Jaifroid Do we have checked that we still suffer of this bug?

[2022-05-08 14:23] kelson42 commented on #839
@ernmander Any feedback?

[2022-05-08 14:26] kelson42 commented on #756
We finally are refreshing all StackExchange ZIM files (180 of them) with version 2.0.0 of Sotoki. Therefore, from now, this bug will have more impact.

[2022-05-08 14:29] kelson42 commented on #196
#732 is in milestone 3.6 which makes it impossible to implement this ticket in 3.5 milestone.

[2022-05-08 14:30] kelson42 commented on #843
#838 has been merged, it should be easy (my guess) to implememt that one now.

[2022-05-08 15:06] mossroy commented on #531
It seems to me that I've seen it recently

[2022-05-09 08:00] Jaifroid commented on #756
I confirm this issue is still present (jQuery mode only) in Stack Exchange ZIMs produced this month (yesterday). I tested with `french_stackexchange_com_2022-05.zim`. The issue seems to come from the fact that the screen of the inner div does not in fact resize when the page as a whole is resized. The same issue affect KJSW (in jQuery mode only).

![image](https://user-images.githubusercontent.com

[2022-05-24 08:56] ernmander commented on #839
I don't have a device that has enough space to download the offline file needed to use the app.

[2022-05-24 11:04] Jaifroid commented on #839
@ernmander There are very tiny offline files. You could try this one (just 2.4 MB):
https://download.kiwix.org/zim/wikipedia/wikipedia_en_ray_charles_maxi_2022-04.zim
There are even tinier ones, but they don't have images, and it would be good to test image functionality if at all possible.

[2022-05-30 07:58] mossroy commented on #856
@Jaifroid : it seems to me that you updated the logo in the Microsoft Store, so I'm closing this issue.
Feel free to reopen it if necessary

[2022-05-30 07:58] #856 closed

[2022-05-30 08:00] Jaifroid commented on #856
Yes, thanks -- updated vis v2.0.0 release.

[2022-05-30 09:15] mossroy commented on #789
I've tried to allow some inline javascript through the use of hashes: if there's a specific javascript piece of code that you need to allow, you can set its hash in the manifest.json, and the browser accepts to execute it.
See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src#unsafe_inline_script

It might be useful punctually, but it won't help in most c

[2022-05-30 10:14] Jaifroid commented on #789
@mossroy Thanks for the tests. We'll have to weigh up whether the inability to run dynamic content in a number of modern ZIMs in the Chromium extension is enough of a disadvantage to merit using the Firefox solution of entering SW mode as an offline-first PWA, or, alternatively, of providing that as a third option.

It's untested as yet in a Chromium extension (it needs to be possible to communica

[2022-05-30 10:24] Jaifroid commented on #789
PS One advantage of using the PWA for SW mode in the Chormium extension is that it would allow us to implement #656 for the Chromium extension. AFAIK, this API would not work with the chorme-extension: protocol, as it requires a secure origin. Note that it is Chromium-specific, and Mozilla has declined to support this API.

[2022-05-30 10:34] mossroy commented on #789
Currently, when some inline javascript is blocked, it "only" displays an error in the console, with no user feedback.
I would find it useful to tell the user that something might not work as expected, and invite him/her to download a newer version of the ZIM file (where the problem would have hopefully been fixed). A bit like we currently warn the user when there is javascript in jQuery mode.

I'v

[2022-05-30 10:40] mossroy commented on #789
The PWA would avoid many problems, for sure. And it's certainly possible to use it for Chromium-based browsers, too.
But I would find it sad to "force" the users to have the one-time Internet access (which prevents some fully offline usages), just because we did not manage to remove inline javascript from our ZIM files.

[2022-05-30 10:43] Jaifroid commented on #789
Have you tried adding error catching to the iframe (an .onerror event)? Something like:
[code]
It might be necessary to add this event to the window of the document inside the iframe. Not sure if it's enough to add it to the iframe.

[2022-05-30 16:24] mossroy commented on #789
I've tried many combinations, trapping `error`, `securitypolicyviolation`, and even `readystatechange` on the iframe, but did not manage to trigger them on the iframe.

We use the same domain for the iframe, so I don't think it's a cross-domain issue.
But the `securitypolicyviolation` event is fired before the `load` event (because the javascript content is interpreted early), and I don't manage t

[2022-05-30 20:00] Jaifroid commented on #404
In relation to your comment above, last bullet point, it is possible to prevent all access to external content by the iframe, but ONLY by injecting a CSP into the incoming document, i.e. altering it. I do this in KJSW, and it works well. But more importantly, it is necessary for my current implementation of Zimit file reading. If we can be sure to convert ALL the external links, it might not be a

[2022-05-31 09:51] mossroy opened #863 "Bootstrap dialog boxes should handle a default action with Enter key"
Currently, when a bootstrap dialog box is displayed, hitting Enter key has no effect.

I think it should trigger the default action: OK when it's only an info, Confirm when it's a confirmation request.

[2022-06-01 10:08] #863 closed

[2022-06-02 14:22] mossroy commented on #531
I reproduced somewhat similar issues on https://download.kiwix.org/zim/videos/voa_learning_english-word-of-the-day_2021-12.zim , where every video stops after a few frames with an error message "The media playback was aborted due to a corruption problem or because the media used features your browser did not support."
It only happens inside a Chromium extension AND in SW mode

I could not reproduc

[2022-06-02 14:37] Jaifroid commented on #196
@kelson42 @mossroy I just saw the discussion of this on Slack. I don't think #732 is a blocker at all. It was more a desirable thing at some point. It can be removed from this list.

[2022-06-02 15:22] #404 closed

[2022-06-02 15:33] mossroy commented on #789
This ticket has become too cluttered.
To make things more clear, I'll close it and rename it to "Investigate on ...".
And create another one to follow the progress of removing inline javascript

[2022-06-02 15:33] #789 closed

[2022-06-02 15:52] mossroy opened #865 "Fix scrapers to remove inline javascript in ZIM files"
As discussed in #789, browser extensions now enforce some CSP that block inline javascript.
And it might happen in some other contexts, too.

Here is a list of affected scrapers that should be fixed (most critical first):

- [x] https://github.com/openzim/gutenberg/issues/145 : main page unusable, other pages seem to work well
- [x] https://github.com/openzim/nautilus/issues/34 : main mage unusabl

[2022-06-02 18:48] mossroy commented on #531
I could reproduce the issue also with https://download.kiwix.org/zim/videos/dirtybiology_fr_all_2022-01.zim
When using the Chromium extension in SW mode, seeking seems to always work when you go forward, but sometimes fails when you go backward. Sometimes with the error message "The media playback was aborted due to a corruption problem or because the media used features your browser did not suppo

[2022-06-02 19:38] mossroy commented on #531
From what I read in https://github.com/search?q=org%3Avideojs+MEDIA_ERR_DECODE&type=Issues and https://bugs.chromium.org/p/chromium/issues/detail?id=987951, it might depend on the OS, platform, and VideoJS version

It would be interesting that someone else tries to reproduce it.

VideoJS 7.8.1 is used by all these ZIM files (the ones where I reproduce the issue... but also the unaffected ones)

[2022-06-02 19:52] mossroy commented on #531
@rgaudin : as I saw you handled a few other video issues on youtube and ted scrapers, could you try to reproduce this issue on your machine?

Maybe I'm the only one to have the problem?

[2022-06-03 08:19] rgaudin commented on #531
@mossroy I just tested VOA's ZIM with 3.4.0 (Firefox) and it works fine 🤷‍♂️

[2022-06-03 08:25] mossroy commented on #531
Thanks, but can you try with a Chromium-based browser (Chrome or Edge), from the browser extension, and in ServiceWorker mode? It's the combination that triggers the issue for me

[2022-06-03 08:27] rgaudin commented on #531
Indeed it's not working with Chrome…

[2022-06-03 09:06] mossroy commented on #531
But it's working fine with the same Chrome when executed outside an extension.
The only difference I can think about for now is the CSP enforced by Chrome in extensions.
There might be some code in VideoJS 7.8.1 that would be blocked by the CSP in some circumstances?
I did not find any obvious mention of that in their changelog https://github.com/videojs/video.js/blob/main/CHANGELOG.md, but I'll t

[2022-06-03 12:11] mossroy commented on #531
I tested to force a VideoJS upgrade without modifying the ZIM file (branch https://github.com/kiwix/kiwix-js/tree/upgrade-videojs-quirk : I inject the new version through our ServiceWorker)
Unfortunately, upgrading VideoJS to 7.19.2 or 7.20.1 does not help

[2022-06-03 14:10] Jaifroid commented on #531
I'ts curious that it works in JQuery mode but not in SW mode in the extension only. What are the technical differences in how we extract the video? My understanding:

* In jQuery mode, we extract the whole Uint8Array of the video as a blob, so it's in memory before it starts playing. Jumping around within it probably has very low latency;
* In SW mode, are we actually streaming data from the archi

[2022-06-03 14:12] Jaifroid commented on #531
Would you support a pragmatic solution of detecting that we are in a Chromium extension in SW mode, and so we use the blob: technique of extracting the video? I realize it creates technical debt...

[2022-06-03 14:31] Jaifroid commented on #531
Another data point: I can reproduce this issue in the Kiwix JS Windows Electron app (https://download.kiwix.org/nightly/2022-06-03/). The Electron app runs as a Chromium extension internally. However, the Electron app hacks the extension capabilities and it does run inline JavaScript. The only thing it can't do, like the Chromium extension, is use the Cache API. Again, streaming the video works fi

[2022-06-03 14:37] Jaifroid commented on #531
Correction: the Electron app doesn't run as a Chromium extension (that's NWJS). The Electron app instead runs from the file:// protocol. This suggests the issue is possibly a Caching one?

[2022-06-03 17:17] mossroy commented on #513
I recompiled the test-case with latest emscripten (3.1.12) and ... the problem seems to be solved!
I suppose they somehow fixed it in emscripten, between versions 2.0.32 and 3.1.12

You can try by yourself, as I updated the online version of the test-case:

- https://mossroy.github.io/libzim_wasm/index-bigfile.html is the very simple test-case to check we can read bytes after 2GB
- https://mossroy

[2022-06-03 18:29] mossroy commented on #513
I'm quite happy to be able to finally close this issue

[2022-06-03 18:29] #513 closed

[2022-06-03 18:56] mossroy opened #866 "Publish the docker image used to compile libzim with emscripten"
In some docker registry.
So that it's ready-to-use for developers on kiwix-js, without forcing them to build the image

[2022-06-03 19:02] mossroy opened #867 "Move source code for libzim wasm in kiwix-js repository"
It's currently in https://github.com/mossroy/libzim_wasm
Now that #513 is solved, we don't need to keep it separated any more, IMHO.

It should be moved in this kiwix-js repo (probably in branch https://github.com/kiwix/kiwix-js/tree/libzim-experiments at the beginning), with the necessary information to build libzim.

[2022-06-03 19:16] mossroy commented on #867
The most important part is the C "glue" code that allows to call libzim from javascript (currently in file demo_file_api.cpp).
Note that, in the mid-term, compiling the libzim itself should become part of kiwix-build CI: https://github.com/kiwix/kiwix-build/issues/503
So that, in kiwix-js, we would take the already-compiled libzim binary files (in the version we choose), and only compile the glue

[2022-06-03 19:53] mossroy commented on #512
It's still the case.
I would probably need help from @mgautierfr to investigate with me.
There must be something wrong in how we do that

[2022-06-04 05:25] kelson42 commented on #866
@mossroy Not sure to understand the rationals behind this ticket? Why such a Docker image shoukd be necessary if https://github.com/kiwix/kiwix-build/issues/503 is inplemented?

[2022-06-04 07:33] mossroy commented on #866
That depends on how far we go on integrating the emscripten build(s) in kiwix-build.
The first step is libzim itself, with https://github.com/kiwix/kiwix-build/issues/503
If we only do this first step, there will still be a second emscripten compilation step to be done on the C "glue" code that allows to call libzim from javascript. In this case, it might be relevant to share one docker image for

[2022-06-04 08:16] mossroy commented on #531
Currently, our javascript backend does not support reading chunks of the video. So when the browser requests a chunk, we always send the whole video. That might change with upcoming libzim backend
But that works properly outside an extension, and the javascript code does not seem to be inline.
The CSP might block other things, though, like `eval` calls, but I did not find any of this in their sour

[2022-06-04 08:29] Jaifroid commented on #531
It's just one thing in common between the Chromium extension of Kiwix JS and the Electron app of Kiwix JS Windows: neither can use Cache API. However, we don't store a video in Cache in any case, only assets, so I'm not sure if it's relevant.

It would be interesting as an experiment to see whether temporarily caching the video file in a memory-based cache solves the issue so it's not called from

[2022-06-04 09:46] mossroy commented on #531
I've added some debug logs in the ServiceWorker, and tested with https://download.kiwix.org/zim/videos/voa_learning_english-word-of-the-day_2021-12.zim
It clearly shows that the error happens right after the browser requests the second chunk of data of the video. I suppose it doesn't like what it receives in the response.
But, for now, I don't see a difference on what the SW does between the exten

[2022-06-04 12:39] mossroy commented on #531
I'm making progress. I think it's related to range/byte-range/content-length headers and maybe the response HTTP code (200 or 206)
I'm modifying the ServiceWorker to send the actual requested range and HTTP code 206 (when a range is requested)

[2022-06-05 17:57] kelson42 commented on #866
@mossroy I will discuss this with @mgautierfr, but to me the goal is clearly that libzim is directly usable in Javascript.

[2022-06-06 13:50] mossroy opened #869 "Better stream audio/video content with libzim wasm"
Libzim supports reading only chunks of data of a DirEntry : https://libzim.readthedocs.io/en/stable/api/classzim_1_1Item.html#_CPPv4NK3zim4Item7getDataE11offset_type9size_type

This is something we are not able to do with our current custom javascript backend.

Making use of this in the ServiceWorker would avoid wasting resources reading the complete data when the browser only requests a chunk.
It

[2022-06-06 14:04] #531 closed

[2022-06-06 14:06] mossroy commented on #531
@rgaudin, a PR has been merged that should fix the issue. Could you test again tomorrow with the nightly build? (or today from source)

[2022-06-06 14:24] mossroy opened #870 "Add a setting to choose which backend to use (javascript or libzim wasm)"
It should be automatically set to libzim wasm by default.
There should be a warning displayed to the user if it's not supported, and fallback to our current javascript backend

For a first version, I'd recommend to use only the wasm binary generated by emscripten.
It should allow us to more quickly release a first version with libzim backend for recent browsers: https://caniuse.com/wasm

We'll hav

[2022-06-06 14:26] mossroy opened #871 "Add tests on libzim wasm"
The libzim already has its unit tests, the goal is not duplicate them.

We might add some unit tests (maybe the same as the ones we already have on our javascript backend)
But, if we're lucky, implementing #870 should allow our current UI tests to run on both backends: the javascript one on old browsers, and libzim on more recent ones

[2022-06-06 14:42] mossroy commented on #768
The bindings I used for the prototype are in https://github.com/mossroy/libzim_wasm/blob/master/demo_file_api.cpp (done with the help of @mgautierfr )
But we only did a few bindings for what was necessary for the prototype.
The goal would be to expose all the libzim APIs with these bindings (or the same ones exposed by the Python bindings)

Note that kiwx-js only needs the read APIs. But the write

[2022-06-06 14:51] Jaifroid commented on #870
Interesting. Do you see this option as a drop-in replacement for our current backend? Can we use it (initially) the way we use our current `readDirEntry(dirEntry).then(function readBinaryFile(fileDirEntry) { })` ......?

[2022-06-06 15:03] mossroy opened #872 "Memory leak when using libzim wasm"
If you watch the memory consumption of the browser (tested with Chromium) on branch https://github.com/kiwix/kiwix-js/tree/libzim-experiments, you see that it gradually raises when browsing.

It's more obvious when reading large contents, like ZIM files that have videos (I tested with dirtybiology ones)

After opening a few videos, it crashes with the following error message in the log:

So I susp

[2022-06-06 15:16] mossroy commented on #768
Note that I suspect there is a memory leak in the current version of these bindings: #872

[2022-06-06 15:30] mossroy commented on #870
I'm sure it won't be that easy.

But the prototype is encouraging: as you can see in https://github.com/kiwix/kiwix-js/pull/766/files#diff-484c9e8aa09e09b8eb1fafaf55e8eadcd0eaab230e38d02bb9440841bfa090a4R1579 , I could somewhat easily replace the backend. It can certainly be modified to support both backends.

Currently, this branch still uses our javascript backend for everything except browsing

[2022-06-06 15:59] Jaifroid commented on #872
I haven't looked closely at the glue you implemented, but when I did the ZSTD decoding glue, I ran into a similar issue because I thought I had to malloc and de-allocate memory between each call to the Emscripten VM. It turned out that de-allocation never entirely got rid of the memory structures, and so each new allocation made the memory grow until it crashed.

The solution I arrived at is summa

[2022-06-07 08:37] rgaudin commented on #531
@mossroy, it works great with `2022-06-07` nightly! 🎉 congrats

[2022-06-12 08:01] me-aashish commented on #843
Hello there! I want to resolve this issue. Can someone please guide me for that ?

[2022-06-12 08:03] me-aashish commented on #824
Hey, @mossroy  if this issue is still available, I would like to work upon it. Please do let me know if this is the case.

[2022-06-12 09:08] me-aashish commented on #824
@kelson42 can you tell me please how to get started ?

[2022-06-12 09:14] Jaifroid commented on #824
@me-aashish Thanks for the offer. Please see https://github.com/kiwix/kiwix-js/blob/master/CONTRIBUTING.md for information on how to get started. When you've set up and have looked around the code a little, come back here and let us know how you plan to tackle the issue.

[2022-06-12 09:17] me-aashish commented on #824
Sure. Thanks!

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Jaifroid ***@***.***>
Sent: Sunday, June 12, 2022 2:45:10 PM
To: kiwix/kiwix-js ***@***.***>
Cc: Aashish Kumar Jha ***@***.***>; Mention ***@***.***>
Subject: Re: [kiwix/kiwix-js] Remove usage of innerHTML of our code (Issue #824)

@me-aashish<https://github.com/me-aashish> Thanks for the offer.

[2022-06-12 09:30] Jaifroid commented on #846
JFYI I now offer a link to preview the chosen ZIM on library.kiwix.org in the download UI in KJSW. This is an interim measure.

A simple option to trial here would be to load download.kiwix.org in an iframe when the user requests opening the Archive Library in-app. That would "just work" I think. Would we want something more complex, i.e. using OPDS ourselves and and offering a slimmed-down UI?

I

[2022-06-12 09:32] Jaifroid commented on #846
PS Advantage of using browser to manage downloads is that downloads can continue in the background even if the app is closed.

[2022-06-12 10:19] me-aashish commented on #824
By looking at the codebase, I came to know that besides app.js and uiUtil.js, .innerHTML is used several times in node_modules file. So I have to replace .innerHTML from node_modules file too ?

[2022-06-12 10:21] Jaifroid commented on #824
@me-aashish No, these are NPM libraries that are only used during development. It's only in our own app's files that we need to find alternatives for .innerHTML.

[2022-06-12 10:22] me-aashish commented on #824
Got it! Thanks!

[2022-06-12 11:00] me-aashish commented on #824
I am having problem in setting up local web server. Can you please guide me once ?

[2022-06-12 11:03] Jaifroid commented on #824
Make sure you've set up node and npm on your system. Then run `npm install --global http-server`.

[2022-06-12 11:04] me-aashish commented on #824
ok!

[2022-06-12 11:48] me-aashish commented on #824
I have created a PR changing the contents of only app.js. Will also modify uiUtil.js once you verify if all the things are working well.
So, can you please review my PR?

[2022-06-12 12:20] kelson42 commented on #846
BTW you might be interested in this new feature to be developed this summer https://github.com/kiwix/libkiwix/issues/585

[2022-06-12 13:01] mossroy commented on #824
You have to test your changes first, by running the app on your branch (see https://github.com/kiwix/kiwix-js/blob/master/CONTRIBUTING.md ).
Did you already did that? Which tests did you do?

[2022-06-12 13:19] me-aashish commented on #824
Firstly, ServiceWorker API was working on my PC but not it is not working right now while testing. Can you tell the possible reasons for that ?

[2022-06-13 05:06] mossroy commented on #824
Check that you run the webserver from the root of the git repo (not from a subdir). That might be the reason.
ServiceWorker mode should always work on http://localhost URLs

[2022-06-13 05:16] me-aashish commented on #824
Ok! Got you!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Mossroy ***@***.***>
Sent: Monday, June 13, 2022 10:36:28 AM
To: kiwix/kiwix-js ***@***.***>
Cc: Aashish Kumar Jha ***@***.***>; Mention ***@***.***>
Subject: Re: [kiwix/kiwix-js] Remove usage of innerHTML of our code (Issue #824)

Check that you run the webserver from the root of the git repo (not

[2022-06-13 06:35] me-aashish commented on #824
Now, the server is working fine on http://localhost:8080/www/index.html but the changes I make in the code is not getting reflected back in http://localhost URL. Please can you tell some possibilities for that ?

[2022-06-13 06:39] mossroy commented on #824
Please re-read completely the CONTRIBUTING.md file, where you should find your answer, and other important directions.

[2022-06-13 07:45] Jaifroid commented on #824
And just a quick tip: once you select the "Bypass App Cache" setting (only available when you have turned on Service Worker mode), you can refresh everything by having Dev Tools open and pressing Ctrl-Shift-R (not just Ctrl-R) for a complete re-load of the app. Just do this after each significant code change.

[2022-06-13 09:48] me-aashish commented on #824
When I replace .innerHTML with .textContent, changes are visible only in ServiceWorker mode not in JQuery mode in localhost url. Why it is happening?

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Aashish Kumar Jha ***@***.***>
Sent: Monday, June 13, 2022 1:43:49 PM
To: kiwix/kiwix-js ***@***.***>
Subject: Re: [kiwix/kiwix-js] Remove usage of innerHTML of

[2022-06-13 09:57] Jaifroid commented on #824
@me-aashish The code for jQuery mode and the code for Service Worker mode are quite separate in lots of places. I.e., if you're in one mode, a lot of the code in the other mode is not running, and vice-versa. Code in the backend is common to both modes.

[2022-06-13 15:11] me-aashish commented on #824
I have performed all the tests which includes testing in both jQuery and Service Worker mode. Also tested the extension version as  stated in CONTRIBUTING.md and these two PRs are made after all the tests. Kindly review them. #874 #873 #

[2022-06-13 16:34] Jaifroid commented on #554
A document on how to convert a JavaScript project to TypeScript, and use TypeScript modules instead of RequireJS/AMD modules:

https://www.typescriptlang.org/docs/handbook/migrating-from-javascript.html

It might be possible not to have a bundler other than TypeScript itself, which can also transpile code down to ES5 natively. Obviously you then have to compile code in order to run it in a browser

[2022-06-14 12:16] Jaifroid commented on #554
@mossroy We have various possible strategies outlined above, and I'm happy to keep adding useful info to this thread as I find things, but I wonder if we're in a position to choose a path forwards. I quite like the idea of a combination of TypeScript for type checking, and babel for fine-grained control over transpiling, though on its own TrypeScript engines can do most transpiling to ES5, maybe e

[2022-06-15 12:33] mossroy commented on #554
I don't have much experience on this either, so don't have a strong opinion.
I had played a bit with webpack in the past, which would certainly do the job. But vitejs looks very cool (I watched your video), and might be simpler for our needs.
I'm wondering if one of these tools could also ease the generation of our different packages (which have some slight differences in their content), instead o

[2022-06-15 13:18] Jaifroid commented on #554
OK, maybe we can experiment a bit with Vite in a branch. There's a guide on converting an existing project here:

https://css-tricks.com/adding-vite-to-your-existing-web-app/

The guide is for people using webpack, but the concepts should be similar. It seems as if stripping out ReguireJS and changing our define statements to import statements using ES6 module syntax, and similar for export statem

[2022-06-15 19:20] mossroy commented on #554
This month is quite busy for me, but I follow you

[2022-06-15 19:25] Jaifroid commented on #554
I also probably can't do anything on this till end of month, but it's good to have a notional path to experiment with even if only mentally.

[2022-06-16 19:46] Jaifroid commented on #554
It looks like Vite has also developed a very fast testing framework called, wait for it..., https://vitest.dev/

[2022-06-19 11:36] Jaifroid commented on #787
Setting a background_color key in the manifest.json might help a bit with this issue. See https://developer.mozilla.org/en-US/docs/Web/Manifest/background_color.

[2022-06-26 11:27] kelson42 commented on #745
@mossroy @Jaifroid Does this ticket still makes sense considering that we are following the emscripten road?

[2022-06-26 11:29] kelson42 commented on #769
Seems clearly the path to follow, but for the moment blocked (at least by) https://github.com/kiwix/kiwix-build/issues/503

[2022-06-26 11:31] kelson42 commented on #744
I wonder if this ticket still makes sense considering that we will follow the emscripten compiled libzim path?

[2022-06-26 11:37] Jaifroid commented on #745
@kelson42 I would say this should be kept until we are sure that we can use the libzim version in most modern contexts. There are still some issues to resolve with that, albeit @mossroy has resolved the major blocker.

[2022-06-26 11:40] Jaifroid commented on #744
Same reply as in #745. Once we have a version of libzim acting as our backend, we'll be able to close this as unneeded.

[2022-06-26 11:50] Jaifroid commented on #769
It depends whether and how search results are returned from the backend. It's not a great experience currently when using Kiwix Serve. See https://github.com/kiwix/libkiwix/issues/769 and https://github.com/kiwix/libkiwix/issues/785. Progressive display of results makes a big difference to the sensation of responsiveness in the current app, especially for long searches (and especially given that t

[2022-06-26 12:47] kelson42 commented on #769
@Jaifroid Not sure I understand you properly. Both tickets reference libkiwix and features kiwix-js won't rely on: respectively kiwix-serve UI and Opensearch Multizim API. Or this ticket is about libkiwix, not libzim? Or you suspect underlying weaknesees?

[2022-06-26 12:54] Jaifroid commented on #769
@kelson42 I was thinking of this explanation from mgautierfr on one of those threads:

It seems this relates to the rate at which the backend returns results from Xapian. It remains to be seen how the balance is made between returning title search results quickly and returning slower Xapian searches, but I suspect we'll want some element of progression still.

[2022-06-26 14:19] kelson42 commented on #769
I feel myself uncomfortable to run a strategical discussion, the ticket topic, and ending about discussing a very detailed aspect, where we are now.

Not that the concern about this particular topic is not legitim, in particular because the devil can be in the detail. But we should no run the second in place of the first IMO.

I see no fundamental reason why we should/could not close https://githu

[2022-06-26 15:23] Jaifroid commented on #769
@kelson42 I think we're on topic. This issue is about replacing (or augmenting) our current title search with libzim Xapian search. You can test the libzim search here: https://mossroy.github.io/libzim_wasm/index.html . In full English Wikipedia it is a lot slower than current title search, but you get search from the full text index. The ideal situation would probably be to display any title sear

[2022-06-26 15:25] Jaifroid commented on #769
Also relevant to this issue: Xapian search doesn't support split-ZIM archives, if I understand correctly, whereas we currently support such archives. Either we have to turn off Xapian search if the archive is split, or else we have to deprecate split-ZIM support.

[2022-07-31 14:25] Jaifroid opened #875 "Directory Entries are wrongly assumed to be no larger than 2048 bytes"
In [zimfile.js#L174](https://github.com/kiwix/kiwix-js/blob/master/www/js/lib/zimfile.js#L174), our code makes an assumption about the size of a Directory Entry. The relevant code (snipped) is as follows -- notice the number **2048** in the `return this._readSlice` Promise, and then look at the `while (data[pos] !== 0)` code block below it:
[code]
The problem with this is that I have now found two

[2022-08-04 12:23] mossroy opened #877 "Firefox extension does not switch to the PWA any more since Firefox 103.0"
On several devices where I have kiwix-js 3.4.0 Firefox extension installed, it no longer switches to the PWA when trying to use the ServiceWorker mode.
It says "The ServiceWorker API is not available on your device. Falling back to JQuery mode".

I suspect that there has been a change in Firefox behavior, in version 103.0.
In previous version of Firefox, the ServiceWorker API was available in exte

[2022-08-04 12:28] mossroy commented on #877
I downloaded a few Firefox versions from https://ftp.mozilla.org/pub/firefox/releases/ (linux 64-bits versions), ran them in a VM, and tested to switch to SW mode in Kiwix extension on each:

- 100.0.2: works (proposes the PWA)
- 101.0.1: works (proposes the PWA)
- 102.0.1: works (proposes the PWA)
- 103.0: fails
- 103.0.1: fails

(if you try to reproduce, don't get fooled by the fact that these v

[2022-08-04 12:47] mossroy commented on #877
I probably found the relevant change in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1593931

[2022-08-04 13:24] mossroy commented on #877
The first solution I would think of would be to switch to the PWA if the protocol is `moz-extension` and the ServiceWorker API is unavailable.

It would work for recent versions of Firefox, but could be a problem for some old versions that really do not support ServiceWorkers (or have it disabled). In this case, the extension would suggest a switch to the PWA, that would not work either.

Based on

[2022-08-04 14:29] #875 closed

[2022-08-04 15:45] mossroy opened #879 "Test current kiwix-js with very old Firefox/Chrome browsers"
We claim to support Firefox >=45 and Chrome >=58, and our CI tests a scenario on these versions.

However, when working on #878, I did not always manage to run kiwix-js properly on old versions Firefox.
For example, on Firefox 45.0.2 (on Ubuntu 16.04), it does not manage to switch to the PWA for the ServiceWorker mode (maybe we use some unsupported syntax there).
I also see errors in the console r

[2022-08-04 15:52] #877 closed

[2022-08-04 15:59] mossroy commented on #877
Maybe we should quickly release a new kiwix-js version with this fix?

[2022-08-04 16:13] Jaifroid commented on #879
Interesting. I guess we didn't test enough on these early versions. Although I have a vague recollection of some remarks on a very early Firefox having non-stable support for Service Workers? Or was that when we were testing IceCat versions?

If there's a quick syntax fix, I'm all for doing that. Communication between PWA and the extension could indeed depend on it having been enabled by a specifi

[2022-08-04 16:14] Jaifroid commented on #877
Yes, I agree. We don't want people using the extension suddenly finding that they can't switch to SW mode, especially given the aggressive updating that all modern browsers do without giving users much control over it.

[2022-08-04 16:18] mossroy commented on #877
OK I'll create the ticket with the TODO-list

[2022-08-04 16:20] mossroy opened #880 "Release 3.5.0"
- [x] Update the changelog file
- [x] Further tests
- [x] Rename existing milestones (increment their names), create a new 3.6 milestone and move open issues to this new 3.6
- [x] Create a tag on git
- [x] Generate unsigned extensions (should be automatically triggered on GitHub Actions by the tag creation)
- [x] Check that the PWA version is correctly set in moz-extension.kiwix.org (should be aut

[2022-08-04 16:31] mossroy commented on #880
Oops, I directly updated the changelog on master, by mistake.
Feel free to review it anyway, it's still possible to update it

[2022-08-04 16:40] Jaifroid commented on #880
No problem. I saw some small typos, but am on my phone, will review later.

[2022-08-04 16:57] mossroy commented on #880
I tested on my Firefox OS device with various ZIM files, and also in Firefox (103) and Chromium extensions.
Did not see any regression.
I tested in particular in SW mode: the switch to PWA, external links and video seeking

[2022-08-04 19:48] Jaifroid commented on #880
[code]

@mossroy Just two slight rewordings for clarity and also typo `Siwtch`. I changed two spellings to British spelling, but US spelling is OK of course if you prefer it or if it is the standard for computing terminology:

1. FEATURE: The Enter key is now handled in Bootstrap dialogue boxes, triggering the default action
2. FIX: Switch to ServiceWorker mode via PWA workaround was broken due to

[2022-08-04 21:29] mossroy commented on #880
Thanks! I've updated the changelog.
Would you like to do some tests on Microsoft browsers before I create the tag? I don't think it's really necessary: as you wish/can

[2022-08-04 22:52] Jaifroid commented on #880
No, there's no need for me to do more tests because I did a few tests today for your PR and didn't find any issues.

[2022-08-05 08:26] mossroy commented on #880
I've created the release and uploaded it in Firefox and Ubuntu Touch stores.
Firefox store was the most important, as it's Firefox that had the regression. I confirm it's now fixed.

@Jaifroid can you upload it for Edge?
@kelson42 can you upload it for Chrome? and put the binaries in https://download.kiwix.org/release/browsers/?

[2022-08-05 08:54] Jaifroid commented on #880
Yes, will do.

[2022-08-06 07:30] Jaifroid commented on #880
Note I got a warning from the Edge Store:

`Warnings: It is recommended to upgrade your extension to manifest version 3. Code: manifest_version: 2 Line: 2 Column: 25`

I went ahead and published anyway without upgrading the manifest version. Are we ready for Chromium Extension manifest version 3?

@kelson42 Note that the file you need to upload to Chrome Store is https://download.kiwix.org/nightly

[2022-08-06 07:37] Jaifroid commented on #880
Edge Store says it might take up to 7 days to validate...

In the meantime, I thought you might like to see the analytics from the Edge Extensions Store:

![image](https://user-images.githubusercontent.com/4304337/183239360-c6a7a0db-b771-4e4a-b9c1-7a62e8aeac6c.png)

Slow but steady climb to ~800 **weekly** users is not too shabby. We first uploaded to the Edge Store July 19th 2020.

I'm sure analy

[2022-08-06 07:41] Jaifroid commented on #880
Interesting use case from a Chinese reviewer in Edge Store:

<img width="565" alt="image" src="https://user-images.githubusercontent.com/4304337/183239686-cbb70f3c-b072-448a-95dd-397be9878abf.png">

[2022-08-06 11:00] Jaifroid commented on #762
Instructions are now available on how to use this API. I believe I could create a GitHub Action that would update the extension. It would need to be triggered by the same code that creates the unsigned extension zip, or chained from it.

[2022-08-06 11:37] Jaifroid commented on #656
@mossroy I noticed that at least in an Edge Extension (and therefore with 99% probability also in a Chrome Extension), the File System Access APIs appear to be available even under the `(chrome-)extension:` protocol. I only tested by opening Dev Tools and testing for the availability of `window.showOpenFilePicker`.

This raises the possibility that we might support this API in the Chromium Extensi

[2022-08-06 13:51] mossroy commented on #656
I did not manage to test this feature using https://kiwix.github.io/kiwix-js-windows/ on Chromium 104 on Ubuntu 20.04 (with the official snap provided by Ubuntu). Even after installing it as a PWA.

When I click on "select folder", then choose the directory where all my ZIM files are (and confirm that to Chromium), nothing happens (ZIM files are not listed).

It triggers this error message in the

[2022-08-06 14:05] Jaifroid commented on #656
Thank you for testing on Linux! I'll try to reproduce the error you are seeing on WSL and get back to you. If you want to select only one File rather than a Directory, you should use the other button (Select File). For the Select Folder button, it will only let you select a Directory, not specific Files in the Directory. This is by design, because one button uses `window.showOpenFilePicker`, and t

[2022-08-06 14:53] kelson42 commented on #880
New release published (still in review) in Chrome store and all 3 packages uploaded to download.kiwix.org

[2022-08-06 15:53] Jaifroid commented on #656
Running Ubuntu 20.04.4 LTS in WSL, I wasn't able to install the snap version of Chromium, because the snapd environment is (apparently) very difficult to install on WSL. I tried with a script that was supposed to enable it, but it prevented GUI apps from running in WSL, so I had to uninstall and reinstall Ubuntu 😟 (luckily this is just a few clicks in WSL!).

So in the end I had to test in Chrome

[2022-08-06 15:58] Jaifroid commented on #656
I forgot to say that the exception you see in your first screenshot above is normal and to be expected. Because the user hasn't given permission, the API throws (it's what it's supposed to do). The second exception from your second screenshot is not one I've been able to reproduce yet.

[2022-08-06 16:10] kelson42 opened #881 "Kiwix Icon not really visible with Firefox Dark-mode"
See my screenshot
![image](https://user-images.githubusercontent.com/1029718/183257022-8bd42b2e-e205-4adc-afb6-1a17d2f33db4.png)

Probably a white background should be forced.

[2022-08-06 18:09] mossroy commented on #880
I think this can be closed.
The only remaining part is to publicize the new version

[2022-08-06 18:09] #880 closed

[2022-08-06 18:19] mossroy commented on #656
Thanks for your feedback.
I looked a bit into my error on Chromium. It seems to depend on the content of the directory.
If I move a few ZIM files in another directory, it works well
I'll try to investigate

[2022-08-06 18:29] mossroy commented on #656
It seems to come from the fact that the directory where my ZIM files are is in fact a symlink to a directory on another hard drive.
If I directly point to the other hard drive (without going through the symlink), it works properly.
So sorry for the noise here, I'll create a separate ticket on kiwix-js-windows for that

[2022-08-06 18:33] Jaifroid commented on #656
I don't consider it noise. Testing is always useful!

[2022-08-06 18:56] mossroy commented on #656
OK so I can test the API correctly now.
I think the UX is indeed a bit confusing. I understood the difference between "select file" and "select folder", but did not know what to choose between "select storage", "select folder" and the "reload" icon.
However, I like the fact that it "remembers" the last ZIM file (it's a very popular demand). I suppose we could save the click on "open" by automatica

[2022-08-06 19:02] mossroy commented on #196
I've started to work a bit on that. I've created a new branch "Switch-to-SW-mode-by-default", but it's still a work-in-progress

[2022-08-07 21:08] Jaifroid commented on #881
This version with a white silhouette around it works almost everywhere. On a completely white background it could look a little strange, but I don't know anyone who has a completely white taskbar...
<img width="400" alt="image" src="https://user-images.githubusercontent.com/4304337/183310997-76581585-c387-490b-bc79-d99a07dc29b0.png">

[2022-08-07 22:12] Jaifroid commented on #656
"Select Storage" is only visible after a user has selected a file or folder. It's just a way of tidying away the other two buttons when they're no longer needed and decluttering the UX. In custom app versions, clicking it has the additional function of resetting storage to the default location (the folder where the packaged archive is stores) - because this can't be selected with a file picker.

T

[2022-08-07 22:12] Jaifroid commented on #656
Regarding automatically choosing the last ZIM file, this is only possible in a framework like Firefox OS, Electron, NWJS or UWP, and it works that way in all those versions of Kiwix JS. Unfortunately, with the File System Access API, for security reasons the user permisison prompt can ONLY be triggered by a user gesture. It can't be triggered programmatically. So we have to have a minimum of two c

[2022-08-08 11:27] Jaifroid commented on #746
I-ve changed the title of this issue, because I see that the new mdwiki ZIMs also display the "active content" warning in jQuery mode. They don't show this warning on Kiwix JS Windows, so I must have massaged the regex that detects this content (though I only have a vague recollection of doing it...). I'll backport.

<img alt="image" src="https://user-images.githubusercontent.com/4304337/183407500

[2022-08-14 10:08] mossroy commented on #656
I'm not against using an API that is not supported by all browser engines, if there's a significant advantage of doing so.

"Remembering" the last ZIM file is a very popular demand, so might be a good reason to use this new API.

But I'm disappointed by the restrictions put on this API in the context of a browser extension, that make it much less interesting than I initially thought (It has nothin

[2022-08-14 14:32] Jaifroid commented on #656
@mossroy I understand your perspective. Personally, I don't think it's just about the number of clicks, it's also the fact that when you open the app, all the ZIM archives in your archive folder are listed right there in the app. The clicks needed are both in the same context. It feels less clunky as a result.

But I agree that the gain is only marginal currently, and there are other priorities th

[2022-08-15 07:27] Jaifroid opened #883 "Provide a warning if user tries to open Zimit-based archive"
Kiwix Desktop currently provides a warning if a user tries to open a Zimit-based archive, It occurred to me we should do something similar in this app (and also ensure the app doesn't just hang when trying to open such a file). I have experience in detecting a Zimit archive reliably.

[2022-08-15 07:48] mossroy commented on #883
If you can detect that reliably, that's a good idea

[2022-08-15 08:08] #746 closed

[2022-08-16 18:50] blakecooper commented on #881
Hi, I'd like to start contributing to this project. If this is still needed, could I be assigned to this? Thanks!

[2022-08-17 16:06] mossroy commented on #881
Sure, thanks.
Please read and follow the contributing guidelines in CONTRIBUTING.md file.

[2022-08-18 03:34] Jaifroid commented on #881
@blakecooper The icon illustrated in my comment above is this one: https://github.com/kiwix/kiwix-js-windows/blob/master/www/img/icons/kiwix-64.png and https://github.com/kiwix/kiwix-js-windows/blob/master/www/img/icons/kiwix-64.ico .

[2022-08-23 17:54] blakecooper commented on #881
I just submitted a pull request for this issue: https://github.com/kiwix/kiwix-js/pull/884

[2022-08-27 11:51] #883 closed

[2022-08-29 08:43] Bam92 commented on #843
Hello!

Just to let you know that I am working on this issue given that no PR has been submitted since January.

[2022-09-08 06:03] Jaifroid commented on #554
Some more useful Vite examples here: https://dev.to/stormkit/migrating-stormkit-from-webpack-to-vite-5429.

[2022-09-10 10:29] aritroCoder commented on #824
Hello, I have some experience with reactjs and javascript, so I want to work on this issue. Please guide me how to set up this project initially, and then assign this to me

[2022-09-10 11:16] Jaifroid commented on #824
@aritroCoder Please take a look at https://github.com/kiwix/kiwix-js/blob/master/CONTRIBUTING.md for getting started with this project. If you've been able to set things up and are ready to contribute, come back here and confirm, and we can then assign you. Also please read carefully the first post, because previous contributors who have attempted this issue simply tried to use `.textContent` ever

[2022-09-10 12:09] Jaifroid opened #886 "Add support for favicon extracted from ZIM metadata"
As explained in https://github.com/openzim/mwoffliner/issues/1658, some scrapers now produce ZIMs with new `illustration` metadata entries in the M namespace. See example below from `3dprinting.stackexchange.com_en_all_2022-08.zim`, showing the metadata entries and one of the extracted icons (the larger one).

This is now documented in the OpenZIM specification, and is currently only used by Kiwix

[2022-09-10 13:39] kelson42 opened #887 "Seems impossible to print an article"
I tried to print to a PDF file and this is what I get with FF:
![image](https://user-images.githubusercontent.com/1029718/189485950-86dc63ab-1c7e-4f1d-901b-8d529292f75f.png)

[2022-09-10 14:59] mossroy commented on #887
Please give more detail: which ZIM file, which mode (jQuery/ServiceWorker) etc

I manage to print a wikipedia article content (to printer or PDF), in SW mode, by choosing to print the iframe (and not the surrounding UI). You can do that through a right-click in the ifame (i.e. in the content), and choose "this frame" -> "print the frame"

[2022-09-10 15:59] kelson42 commented on #887
The ZIM file is `wikipedia_fr_all_maxi_2022-03.zim` and this is the defaul JQuery mode. I just made CTRL+P to trigger the print dialog.

[2022-09-10 17:30] mossroy opened #888 "Add a "print" feature"
If you just use ctrl-p in your browser, it will (badly) print the UI and only the beginning of the content (see #887)
It works well if you ask the browser to print the content of the iframe. On Firefox, you can right-click in the content, choose "this frame" -> "print the frame".

To avoid this issue, I don't see a better solution than to provide a "print" feature in the app, that would trigger th

[2022-09-10 17:40] mossroy commented on #887
I've created #888 to workaround this

[2022-09-10 17:40] #887 closed

[2022-09-11 12:42] aritroCoder commented on #824
Hello, I have been able to set up the project, and have already made changes in the `navbar` section and footer `Settings Storage API` section.  I think using `appendChild(document.createTextNode("text");` can be beneficial here, I was trying to use that

[2022-09-11 16:49] BBentleyDev commented on #888
Hi there, can I be assigned this issue?

[2022-09-11 21:28] Jaifroid commented on #888
This issue is a duplicate of #350. That issue has some more information. A feature implementing this was developed for Kiwix JS Windows, and can be tested by going to https://pwa.kiwix.org.

[2022-09-11 21:34] Jaifroid commented on #350
In #888 @mossroy comented:

[2022-09-11 21:35] Jaifroid commented on #888
I transferred comment above to #350.

[2022-09-11 21:35] #888 closed

[2022-09-11 21:42] Jaifroid commented on #350
@BBentleyDev Take a look at the implementation of print on https://pwa.kiwix.org . It intercepts key presses for Ctrl-P and also has a button in the task bar for printing. It includes a dialogue box that allows the user to choose what to print for Wikipedia articles, but this might need to be made more generic, as we now support many more ZIM types, and it is probably not a good idea to tie the fe

[2022-09-12 08:27] mossroy commented on #888
Thanks @Jaifroid , I had indeed forgotten this existing ticket

[2022-09-12 08:36] mossroy commented on #350
I confirm we should not do anything specific to a ZIM type here.
It probably means something much simpler: no printOptions, no settings in the UI.
But trapping ctrl-p is probably a good idea, I agree.

[2022-09-12 09:02] Jaifroid commented on #350
It might be worth checking whether overriding the `window.print()` function so that it runs code to print the contents of the iframe instead of the main window, could provide a very simple solution that would work with the browser-provided print options (i.e. Ctrl-P and any UI printing controls). This would only work if the browser uses JavaScript for its own implementation of these controls, and

[2022-09-12 09:42] mossroy commented on #350
I totally agree.
Except that I find questionable to re-use the About icon.
IIRC, it was to save space on devices with small screens?

If necessary, we could do that in two steps:

- add a "print" icon, next to the "random" one in this issue
- postpone to #523 the way to improve the UI

[2022-09-12 09:48] Jaifroid commented on #350
Yes, it was too save screen space. I agree with the suggestion of postponing UI-related issues to #523.

[2022-09-14 14:23] #881 closed

[2022-09-24 16:07] Jaifroid opened #890 "Update active content warning detection"
Because some of the scrapers have been / are being fixed in #865, the Active Content Warning we show to users of jQuery is not always reliably detecting active content. We actually relied on finding script tags with in-line JS for part of the detection. Now this is being removed, we need to detect specific scripts (and exempt those ZIMs which still run well in jQuery mode even though they might ha

[2022-09-25 11:56] Jaifroid commented on #890
Fixed via #889.

[2022-09-25 11:56] #890 closed

[2022-09-25 17:36] aritroCoder commented on #824
@Jaifroid just to be sure, there is only `innterHTML` in the app.js file, and I do not need to modify the libs

[2022-09-29 19:59] Jaifroid opened #891 "Add option to turn off external link warning in associated dialogue box like Kiwix Android"
[Originally posted in kiwix/kiwix-js-windows/issues/295, but best to work on here, upstream]
Kiwix Android has a little link that allows a user to turn off the dialogue box that warns about external link opening (see screenshot below). We could add something similar to KJS and KJSW. It would be a link that takes the user to the option in Configuration and highlights it (thus educating the user), a

[2022-10-02 08:32] aritroCoder commented on #824
@mossroy @Jaifroid I have removed all `innerHTML` files from app.js

[2022-10-02 13:46] mossroy commented on #824
@aritroCoder please test browsing ZIM files to check there is no regression, then create a PR if everything works properly

[2022-10-02 14:16] aritroCoder commented on #824
![image](https://user-images.githubusercontent.com/92646038/193458630-691c43ef-64f9-4fc1-a0bf-169f447d7839.png)

![Screenshot from 2022-10-02 19-45-07](https://user-images.githubusercontent.com/92646038/193458706-74073b18-5710-46b3-846f-2ad545359736.png)
Looks like thinks are working fine

[2022-10-02 14:26] Jaifroid commented on #824
Thanks!

Please be sure to test in jQuery mode as well. Also check the API panel in Configuration, as a lot of the info there is injected via innerHTML currently.

Please follow all the tests mentioned here: https://github.com/kiwix/kiwix-js/blob/master/CONTRIBUTING.md .

When you're happy everything is OK, please create a PR so we can review your work.

[2022-10-07 13:48] dalalvarun commented on #891
I am a beginner and i can try this

[2022-10-07 13:58] Jaifroid commented on #891
@dalalvarun Thank you for the offer. Please check https://github.com/kiwix/kiwix-js/blob/master/CONTRIBUTING.md and see if you are comfortable that you can do those things, and also that you have an idea of how you would tackle this PR. Then let us know if you want to be assigned this PR.

[2022-10-07 17:38] dalalvarun commented on #891
Yes i think i can do it over a period of few days. Please assign it to me

[2022-10-08 09:29] Jaifroid opened #894 "Unit Tests on SauceLabs consistently failing to launch one of the Firefox instances"
Something must have changed on the SauceLabs side, because every other browser test launches and complete correctly up to that point, including Firefox 45, but on running "Firefox", we get this error every time:

[code]

See for example https://github.com/kiwix/kiwix-js/actions/runs/3209884425/jobs/5246942344.

[2022-10-08 09:31] Jaifroid commented on #894
Maybe the problem is here: https://github.com/kiwix/kiwix-js/blob/master/tests/karma.conf.saucelabs.js#L18 . Do we maybe need to specify a version number for Firefox? Or maybe something like "latest"?

[2022-10-08 09:58] Jaifroid commented on #894
This issue on StackExchange seems to describe a similar situation, with suggested solution, but it is from some time ago, so I don't really trust that it's the same thing, or else our tests would have stopped working a couple of years back: https://stackoverflow.com/questions/61528952/webdriverio-test-on-saucelabs-is-not-working-for-firefox

[2022-10-09 02:55] dipenr06 commented on #843
@Bam92 hey there mate, I would like to confirm if you still working on this issue?

[2022-10-13 11:37] aritroCoder commented on #824
Sorry for the delay, I was out for few days. I have checked the jQuery mode and API panels, both are working fine

[2022-10-13 11:45] aritroCoder commented on #824
Sorry for the delay, I was out for the few days. The tests are passing so I think it is time to make a PR

[2022-10-15 13:04] Jaifroid commented on #196
@mossroy Can I (or you if you wish) rebase that branch "Switch-to-SW-mode-by-default" on master and then open a PR? I think it would be good to list the steps that need to be completed. In principle, I don't think it's complicated, as the PWA version ([moz-extension.kiwix.org](https://moz-extension.kiwix.org/)) already starts in SW mode by default, but maybe there are some complications we need to

[2022-10-15 13:06] Jaifroid commented on #196
PS I only ask because you started that work.

[2022-10-15 18:38] mossroy commented on #196
Sure, you can.
It was still a work-in-progress.

It should not be very complicated, but is not really straight-forward either.
There are indeed many different uses-cases to handle (and test). Here is what I thought about (open to discuss), and started to implement:

- new user/installation with SW supported: use SW (but warn about the switch to PWA for Firefox)
- new user/installation but SW unsup

[2022-10-16 06:34] mossroy commented on #196
Forgot to mention that all these use-cases are only relevant if we want to keep the very broad compatibility we kept since today

[2022-10-17 10:08] Jaifroid opened #904 "Normalize spelling of "ServiceWorker Mode" vs "Service Worker""
We are currently inconsistent in sometimes using "Service Worker Mode" and (mostly) "ServiceWorker Mode". In the files touched by #903 I have normalized this to "ServiceWorker Mode" (since it is what we mostly use), but when discussing "Service Workers" (not followed by "Mode", I retain the space. However, there are many other places in the app where this is inconsistent, and it would be good to n

[2022-10-17 11:24] Bam92 commented on #843
Hey @dipenr06,

Yes, I planned to work on in this hacktoberfest.

[2022-10-18 08:57] Jaifroid opened #905 "Extension no longer works in Firefox 45 ESR - seems to be CSP issue"
I was testing #903 in a portable version of Firefox 45 ESR (on Windows), and was puzzled that the extension version I was testing did not seem to have access to the iframe. Accessing the PWA directly works with no problem (in jQuery mode only), but in the extension, access to the iframe is blocked.

I thought it might be because I was testing an unsigned extension, so I installed the signed versio

[2022-10-18 09:06] mossroy commented on #905
I had seen this when working on #878 and had opened #879

[2022-10-18 09:21] mossroy commented on #905
Yes, we have to either fix this, or update our compatibility claim (which is also declared on the browser stores)

It might be the occasion to consider dropping compatibility with some of the oldest browser engines, if it might simplify maintenance in the mid/long-term.
I'm very proud we kept the broad compatibility we currently have. But, if the project will have less resources than before, it mi

[2022-10-18 09:37] Jaifroid commented on #905
I had forgotten about that. I think it's OK to have this separate issue specifically on the blocked access to the iframe, since it's fundamental.

Let's see if there is an "easy" fix first. I don't know if it ever worked on this version (in an extension -- it works from localhost or from https://...), or if we broke something at some point.

[2022-10-18 21:14] Jaifroid commented on #905
According to https://blog.mozilla.org/addons/2015/12/21/webextensions-in-firefox-45-2/, support for extensions was in an "alpha" state in Firefox 45. And in https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/permissions it is stated:

Given that we need host permission to be able to access resources on the same origin in an extension, it seems that our code would

[2022-10-18 21:27] Jaifroid commented on #905
I've now tested Firefox 52 ESR and it works fine in that version (JQuery mode only). I don't have intermediate releases to test, as I'm relying on portableapps, and they go straight from 45 to 52 (ESR versions).

[2022-10-19 07:18] mossroy commented on #905
Thanks for the tests.
In this case, you could update the README for that, and also the minimum required Firefox version in the Firefox extension store

[2022-10-22 09:49] Jaifroid commented on #894
@kelson42 This is the ticket for the failure with Sauce Labs that I mentioned in our meeting. But actually the issues are wider and ongoing: see #737. The problem with the alternative mentioned there, Puppeteer over GitHub Actions, is that it wouldn't test older browsers, as it would be limited to what is available on GitHub Actions. BrowserStack has an Open Source programme: https://www.browserst

[2022-10-24 15:22] #196 closed

[2022-10-26 12:31] #905 closed

[2022-10-27 10:14] Jaifroid commented on #894
@Krinkle As you very kindly helped us with the Sauce Labs configuration some time ago, I wondered if you might have any insight or hints as to the cuase of this persistent failure to run the latest version of Firefox? I have tried various things in #895, but none of them have worked so far. The error corresponds to this one: https://docs.saucelabs.com/dev/error-messages/index.html#the-sauce-labs-v

[2022-10-27 15:39] mossroy commented on #768
Yes, it's the git repo where we've compiled libzim with emscripten.
I can transfer it under the openzim umbrella, or wherever you want.
However, there is not a lot of code in it either. Feel free to copy it for kiwix.
Maybe it would be worth having a visio meeting to discuss this and its usage in kiwix-js. So that you have all the info

[2022-10-27 19:22] mossroy commented on #768
I currently don't have the right to create a git repo under openzim, so can't move it.

It would be needed to publish on gh-pages the same pages as currently: at least https://mossroy.github.io/libzim_wasm/ that is useful for testing. And maybe https://mossroy.github.io/libzim_wasm/index-bigfile.html (which is now less useful as the issue has been fixed in emscripten)
It should be possible to enab

[2022-10-30 14:09] kelson42 commented on #894
@julianharty Maybe you have an idea to help to fix this problem? Or you know someone who would know?

[2022-10-30 14:13] kelson42 commented on #768
@mossroy I have sent you an invitation to be owner, shoukd be possible then.

[2022-11-01 09:35] mossroy commented on #768
Done: repo transferred to https://github.com/openzim/javascript-libzim
I've enabled issues on it.
gh-pages are enabled, so the demo pages are available again at different URLs: https://openzim.github.io/javascript-libzim/ and https://openzim.github.io/javascript-libzim/index-bigfile.html
You should have the necessary rights on the repo. If not, feel free to ask me

[2022-11-01 13:19] kelson42 commented on #768
@mossroy Thank you, I will check.

[2022-11-03 20:04] Jaifroid commented on #894
@kelson42 @Popolechien I wonder if it's time to consider trying out BrowserStack as an alternative testing platform. They have an Open Source programme here: https://www.browserstack.com/open-source . We would need an institutional Kiwix account on it, ideally one I have full access to, but that is clearly identified with Kiwix Org.

I have access to emails sent to info@kiwix.org (via a login that

[2022-11-03 20:15] kelson42 commented on #894
@Jaifroid No problem on my side, I'm just not really confortable to move because there is a problem we don't understand... but I have no solution to propose to better understand the problem... so....

[2022-11-03 20:37] Jaifroid commented on #894
Well I could just disable the faulty Firefox test, because the basic tests we run do run on latest Firefox headless on GitHub actions, without needing Sauce Labs. And this might be an interim solution. I agree, it's not great to move just because there's a problem that maybe could be solved with a tweak, or with updating the way we access their API.

On the other hand, a BrowserStack account could

[2022-11-03 20:38] Popolechien commented on #894
@Jaifroid I have no opinion on this particular service (or switch to a new service) but would entirely support your using the `info` (or `contact@kiwix  org`, as the other one is a redirect) to access whatever service you need for your work. Just make sure you share the password with myself and @kelson42.

[2022-11-04 08:38] Jaifroid opened #907 "Add cross-browser end-to-end testing with BrowserStack"
As a result of #894 and #895, end-to-end tests with SauceLabs have been disabled. These need to be replaced with a more modern configuration. While the longer-term aims are outlined in https://github.com/kiwix/kiwix-js/pull/895#issuecomment-1303104400, in the short term I aim to add an Action to run our end-to-end tests on BrowserStack, given that they have very thorough documentation of how to se

[2022-11-04 12:33] Krinkle commented on #894
See my comment at https://github.com/karma-runner/karma-sauce-launcher/issues/236.

Can you reproduce this issue locally? To do so, you need to set the two environment variables with sauce credentials. These can be even for a (free open-source) personal account if it's just a handful of tests. Otherwise you may have to get a hold of the Kiwix ones.

[2022-11-04 12:36] Jaifroid commented on #894
@Krinkle I have the Kiwix credentials. Thanks for the link to a related issue. I'll look into this. It's not happening locally, but we're not running anything other than Chrome and Firefox headless locally, not the full range of cross-browser tests we run remotely.

[2022-11-04 12:37] Krinkle commented on #907
Fwiw, I'm quite happy with BrowserStack in several projects as well, numerically more often than Sauce even.

If you experience flakiness that seems specific to their hardware for some reason, that's worth considering I'd say. It's also possible that it's something else however. I'm not saying this to defend a vendor, but rather to potentially save you time.

I'll comment further at https://github

[2022-11-04 12:40] Krinkle commented on #737
Can you post a recent failing build and possible copy some of its output onto the issue here for later reference? (given GH Actions logs are quite ephemeral)

The question would be what specific socket this is about. Eg from which exact software package and version, and to which server.

[2022-11-04 13:45] Jaifroid commented on #737
Thanks @Krinkle. One that was typical was this one:

https://github.com/kiwix/kiwix-js/actions/runs/3335388590/jobs/5519308638

The salient errors are pasted below. The errors seem to correspond to this one: https://docs.saucelabs.com/dev/error-messages/index.html#the-sauce-labs-virtual-machine-failed-to-start-the-browser-or-device, and it is suggested there that it is either an incompatible versi

[2022-11-04 13:50] Jaifroid commented on #737
Second layer of errors emerged with end-to-end tests after I disabled the latest Firefox. Example here: https://github.com/kiwix/kiwix-js/actions/runs/3392039979/jobs/5637806528, with whole log pasted below.

I suspect that a dependabot upgrade changed something about the configuration, but at this stage I no longer know what. What I do know is that we're running a very old version of nightwatch w

[2022-11-04 14:03] Jaifroid commented on #737
Looking at our commit log, it's easy to see where the tests began to fail systematically: https://github.com/kiwix/kiwix-js/commits/master, specifically the last "good" commit was https://github.com/kiwix/kiwix-js/commit/9a6e6f7add641084860a5f12446b29c999475589. The next commit after that didn't touch the test configuration though, it seemed to fail on its own, making me suspect an temporary issue

[2022-11-04 16:57] Krinkle commented on #894
@Jaifroid Understood. The saucelabs variant _can_ be run locally however, it does not have dependencies that we install especially in CI afaik. Running it locally might help with understanding how/when it fails, having a quicker turnaround time and able to easily make changes rather than going through GitHub.

[2022-11-06 09:54] Jaifroid commented on #894
Ah, OK, thanks for the clarification. I'll try that.

[2022-11-06 13:38] Jaifroid opened #908 "Add DarkReader plugin as an optional dark theme"
I have been experimenting (successfully) in KJSW with the open-source DarkReader plugin: https://github.com/darkreader/darkreader. It is a simple JavaScript dependency (single file). It would work only in ServiceWorker Mode. All that is needed is to inject the script into the HTML document, and it analyses the document and generates specific CSS for a dark theme. The advantage of this is that main

[2022-11-06 13:40] Jaifroid commented on #130
This issue was addressed a long time ago. Closing.

[2022-11-06 13:40] #130 closed

[2022-11-06 13:43] Jaifroid commented on #51
I believe it is extremely unlikely this issue will ever be implemented. If someone wishes to, they may of course re-open.

[2022-11-06 13:43] #51 closed

[2022-11-06 13:45] Jaifroid commented on #76
We tried this, but I don't believe we found it useful.

[2022-11-06 13:45] #76 closed

[2022-11-06 13:46] Jaifroid commented on #149
Image loading performance has been thoroughly addressed.

[2022-11-06 13:46] #149 closed

[2022-11-06 13:48] Jaifroid commented on #288
A lot of this has been achieved.

[2022-11-06 13:48] #288 closed

[2022-11-06 13:49] Jaifroid commented on #292
This is working in Electron and NWJS in KJSWL. It is not currently possible in an extension.

[2022-11-06 13:49] #292 closed

[2022-11-06 13:52] Jaifroid commented on #437
Given the move towards much more dynamic content in ZIMs, this issue would be self-defeating now.

[2022-11-06 13:52] #437 closed

[2022-11-06 13:55] Jaifroid commented on #512
I believe libzim no longer supports split ZIM archives (*.zimaa, *.zimab, etc.). @mgautierfr or @kelson42, can you confirm that the code supporting this was removed?

[2022-11-06 13:56] Jaifroid commented on #521
I think this issue is unlikely to be implemented, and is probably undesirable.

[2022-11-06 13:56] #521 closed

[2022-11-06 13:58] Jaifroid commented on #545
For foreseeable future, any development of Electron and NWJS apps will happen on KJSWL.

[2022-11-06 13:58] #545 closed

[2022-11-06 13:59] Jaifroid commented on #549
Only relevant to KJSWL now.

[2022-11-06 13:59] #549 closed

[2022-11-06 14:00] Jaifroid commented on #618
While it's a nice library, there are higher priorities, and I'm very comfortable using native regular expressions.

[2022-11-06 14:00] #618 closed

[2022-11-06 14:09] Jaifroid commented on #659
@kelson42 Is it still worth keeping this issue open? You use Kiwix Serve with library.kiwix.org to enable preview, and that seems to work fine. Also, implementing this (if possible) in Kiwix JS would mean no preview for Zimit archives currently. I'm closing but feel free to re-open if this is still wanted/needed.

[2022-11-06 14:09] #659 closed

[2022-11-07 07:50] kelson42 commented on #512
libzim supports splitted zim files but they can not anymore be splitted randomly. See zim-split tool.

[2022-11-07 13:40] kelson42 commented on #768
Looks good to me. I guess this ticket should be closed now as everything will be handled in https://openzim.github.io/javascript-libzim/

[2022-11-07 14:08] mossroy commented on #908
It might indeed be better to use an existing tool.
However, I don't think injecting code in the HTML stream is a good idea in SW mode. It takes the risk to inject it in files that should not have it, or to break them.
I understand the flashing issue, and it might be complicated to avoid it.

However, I see there are different generation modes (maybe the less smart ones can be applied without havin

[2022-11-07 16:47] Jaifroid commented on #908
Thank you @mossroy, I agree, and from my experiments I think it should be possible to add the JS using DOM methods only before the page renders, and that this may be sufficient. Yes, there are various modes that require less (or more) processing power.

[2022-11-08 06:49] Jaifroid commented on #894
I tested locally using #909 (which simply enables the firefox latest environment). It fails with exactly the same errors as on GitHub. See screenshots.

![image](https://user-images.githubusercontent.com/4304337/200494208-f6356dcf-4ac6-4796-9d8c-25b6909c76b9.png)

![image](https://user-images.githubusercontent.com/4304337/200494279-813e83e8-733f-4662-a31f-b7d05fe19259.png)

[2022-11-09 15:29] Jaifroid opened #910 "Release 3.6.0"
The last release was in August. Since then, we have a major milestone: the switch to Service Worker mode by default. We could release this as version 3.6. It would also allow me to troubleshoot any issues with uploading to Firefox and Ubuntu stores.

- [x] Create PR to update the changelog file
- [x] Rename existing milestones (increment their names), create a new 3.7 milestone and move open issue

[2022-11-09 15:37] mossroy commented on #910
I agree it's time to do this release.
I can test on my Firefox OS device

[2022-11-10 08:07] mossroy commented on #910
I've tested the master branch with my Firefox OS device and did not find any obvious regression.

[2022-11-10 08:53] Jaifroid commented on #512
OK, thank you for responses. I'll keep this issue open in that case.

[2022-11-10 09:21] Jaifroid commented on #340
This issue is still not achievable in extensions other than by using the File System Access API in Chromium browsers, for which see #656.

[2022-11-10 09:21] #340 closed

[2022-11-12 10:50] Jaifroid commented on #910
Tested (manually in BrowserStack) using October 2022 version of Ray Charles maxi in:

- [ ] IE11 (JQuery only) - all fine
- [ ] Edge 16 (JQuery only) - all fine
- [ ] Edge 17 (SW mode supported) - some problems with images in SW mode due to lack of WebP support; this browser version would work better in JQuery mode, but it is not one we officially support -- extremely unlikely a user would be usin

[2022-11-12 11:58] Jaifroid opened #913 "Remove hard-coding of -WIP in the build script"
`create_all_packages.sh` only works properly if the source code contains a tag formated as x.x.x-WIP in several places (manifests and version numbers). It should not be too hard to make the substutions more agnostic, so that they write the passed version/tag in the right places without needing to find `-WIP`. This would be easier for future developers, and also allow for future changes in tag form

[2022-11-12 12:29] Jaifroid opened #914 "Handle setting a version number explicitly when building the app using Workflow Dispatch"
`Release.yml` currently allows the user to set the build type as "nightly" or "release" when dispatching the workflow from the GitHub online UI. But it doesn't allow the user to set a version number explicitly (equivalent to passing a tag to the build script). This would not be difficult to add to the workflow.

[2022-11-12 12:42] Jaifroid commented on #910
@kelson42 Would you be able to upload the unsigned Chrome extension to the Chrome Store? I've uploaded to Edge Store, and it was accepted (but under review). The package you need is here:

https://download.kiwix.org/nightly/2022-11-12/kiwix-chrome-unsigned-extension-3.6.0.zip

I'll attempt to do the Firefox and Ubuntu packages. @mossroy What do we do with the Firefox OS package -- should it merely

[2022-11-12 12:59] Jaifroid commented on #910
Firefox version 3.6 is now available at: https://addons.mozilla.org/en-US/firefox/addon/kiwix-offline/.
I've downloaded the xpi. I presume I copy this manually to releases and adapt the filename.
I'll do the Ubuntu one later.

[2022-11-12 14:29] Jaifroid commented on #910
Ubuntu touch app now available here: https://open-store.io/app/kiwix.

[2022-11-12 14:38] Jaifroid commented on #910
I realize I don't know where to store the Ubuntu touch .click file or the Firefox OS installation file. We don't seem to have a folder for them on download.kixix.org/release, unless I'm missing something.

[2022-11-12 14:54] mossroy commented on #910
So far, the Ubuntu Touch and Firefox OS packages have not been uploaded to https://download.kiwix.org/release/

For Ubuntu Touch, they are downloadable from https://open-store.io/app/kiwix/versions (but not the oldest versions).
It might be a good idea to upload them too on https://download.kiwix.org/release/ (in a dedicated directory), if @kelson42 agrees.

For Firefox OS, they used to be uploade

[2022-11-12 15:00] Jaifroid commented on #910
OK, thanks - @kelson42 please guide us whether these versions should be available in /release/. There are nightly versions of both packages built nightly and available on /nightly/, but they might not always be stable packages.

[2022-11-12 15:03] kelson42 commented on #910
Yes for the subdirectories for ffos and unbuntu touch

[2022-11-12 15:05] mossroy commented on #910
BTW, I see in https://addons.mozilla.org/fr/developers/addon/kiwix-offline/versions/5484960 that the minimum Firefox version required to install the extension is still 42: it should be updated to 52
![image](https://user-images.githubusercontent.com/890923/201480290-cba74580-0866-4acf-8363-54ec21411f55.png)

We have also always kept the line for Firefox on Android too, to be able to test on it at

[2022-11-12 15:15] mossroy commented on #910
I just uploaded them (up to version 3.5.0)

[2022-11-12 15:18] Jaifroid commented on #910
Thank you - I've just added the v3.6 files to ubuntu and ffos folders.

[2022-11-12 15:31] Jaifroid opened #915 "Add/amend script to publish some installation packages directly to release on download.kiwix.org"
So that we do not need to copy manually packages that are not Store-signed to the release folder, this could easily be done as part of the build/publish workflow. Currently only the Ubuntu touch and Firefox OS packages would be included. The Chrome/Edge and Firefox browser-extension packages need to be certified by the respective Stores first.

[2022-11-12 15:32] mossroy commented on #910
Regarding the review of Firefox extension by Mozilla, they sometimes ask where the "binary" content (in asm.js and wasm formats) come from.
Their intention is to check we're not doing anything harmful for the users.
We really have nothing to hide, and the source code is included in the repo. So I usually put the following text in the "tester notes" field of the store:

When you'll merge the emscri

[2022-11-12 15:38] Jaifroid commented on #910
Thank you @mossroy. I've updated the compatibility to v52 and have added that text.

[2022-11-13 12:38] Jaifroid commented on #755
There is now a timeline in Chrome for sunset of manifest v2: https://developer.chrome.com/docs/extensions/mv3/mv2-sunset/. To summarize, by June 2023 "All existing Manifest V2 items with visibility set to Public at that time will have their visibility changed to Unlisted", and by January 2024 "Chrome Web Store stops accepting updates to existing Manifest V2 extensions".

Mozilla is adopting manife

[2022-11-13 13:07] mossroy commented on #755
Providing a manifest v2 package for download on kiwix servers is probably a good approach, if it's not too complicated to support both v2 and v3

[2022-11-13 14:53] kelson42 commented on #910
This is usually handled within ghte application manifest, but anyway.

I have updated (with this point) the ticket check list in an attempt to secure this kind of "error" does not happen anymore in the future. This approach of making a check list for the release, inspired on what we do here, has been copied on almost all our projects meanwhile. This is a simple and efficient way to do things. I do

[2022-11-13 14:59] kelson42 commented on #910
Done, currently under review by Google

[2022-11-13 15:08] kelson42 commented on #872
Here a few comments about how other Kiwix readers deal with videos:
* Videos are not compressed within the ZIM because this is not necessary. Like for pictures, the native compression algorith, webp for example, is good enough.
* Considering that videos can be large files, their decompression - if they were compressed - would take anyway a large amount of CPU/Time and memory. This would be a probl

[2022-11-13 15:10] kelson42 commented on #871
Considering that the libzim wasm version will be published within the `openzim/libzim` project, I wonder if such unit tests should not better be at `openzim/libzim` level. Or in worse case, on the wrapper itself in `openzim/javascript-libzim`.

[2022-11-13 15:14] kelson42 commented on #867
Hmm, wonder if this ticket is not deprecated, or if this code in not already in `kiwix/kiwix-build` becaue of https://github.com/kiwix/kiwix-build/pull/548... or this is a ticket for `openzim/javascript-libzim`?

[2022-11-13 15:16] Jaifroid commented on #910
Thank you for the comment and for updating the checklist - yes, this is how we do it too, so checklist edits will persist.

[2022-11-13 15:21] kelson42 commented on #756
Bug is still there in `3.6.0` with [beer.stackexchange.com_en_all_2022-11.zim](https://download.kiwix.org/zim/stack_exchange/beer.stackexchange.com_en_all_2022-11.zim), but really wonder this is worth investigating considering that SW mode is default one and we priority is not anymore to fix bugs in JQuery mode.

[2022-11-13 15:23] kelson42 commented on #367
Is this ticket not deprecated?

[2022-11-13 15:24] kelson42 commented on #866
I guess this ticket should ne now mode to `openzim/javascript-libzim`?

[2022-11-13 15:24] Jaifroid commented on #872
That's interesting, so we need custom support in the reader for videos. We currently do this of course, but we would need to do it with the correct libzim API. I imagine there could be some difficulty with split ZIM archives, or rather, the reader would need to handle the offsets taking into account the split.

[2022-11-13 15:28] kelson42 commented on #747
Should we keep that ticket open or close it as won't fix?

[2022-11-13 15:36] Jaifroid commented on #756
I confirm. It's clearly not a problem with the ZIM, because it affects only jQuery mode. I agree it's not worth fixing for JQuery mode only. This is therefore very low priority. I'll close it as wontfix.

[2022-11-13 15:36] #756 closed

[2022-11-13 15:45] Jaifroid commented on #367
It's old but still relevant. JQuery has fallen very much out of favour in the JS dev community becasue there are better tools (e.g. TypeScript and/or compiling with babel) that deal with browser differences at compilation stage, and allow developers to write everything with modern native code.

The problem is that we have masses of JQuery, and removing it is laborious. A higher, but somewhat relat

[2022-11-13 15:49] Jaifroid commented on #747
Let me do the experiment I mention above, and if it's simple we can apply the fix. If complicated, wontfix.

[2022-11-13 16:01] kelson42 commented on #872
There is an API for that, but can not tell which one exactly, but browsing through the [API doc](https://libzim.readthedocs.io/en/latest/) should help to answer that question. There is no problem with split ZIM files, because this should never happen in the middle of a cluster.

[2022-11-13 17:55] mossroy commented on #872
From what I remember, this memory leak issue was not specifically related to videos.
The fact that videos take a lot of space simply made the problem more obvious.
I suspect the problem is in our C/emscripten glue code to call the libzim.

Regarding videos, I had opened #869 to extract them in small chunks. It's probably enough, and I currently don't see how to do something more in SW mode.

[2022-11-13 18:02] mossroy commented on #871
I don't know yet.
It's probably a bit early to decide.
I suppose the libzim already has its unit tests, there's no need to duplicate them.
I'd advise to wait and see where it seems the most appropriate.
It might be very easy to re-use the existing unit and UI test of kiwix-js with the libzim backend

[2022-11-13 18:07] mossroy commented on #867
I'm closing this issue, indeed.
The C glue code is now in `openzim/javascript-libzim` and kiwix-js should take the libzim binary from it (with the javascript bindings)
What will probably remain is to add clear explanations on how to check the source code and reproduce the build (at least for the Mozilla addons reviewers). Feel free to create a new ticket for that if you think it might be forgotten

[2022-11-13 18:07] #867 closed

[2022-11-13 18:07] mossroy commented on #756
I agree

[2022-11-13 18:09] mossroy commented on #866
Yes

[2022-11-13 18:11] kelson42 commented on #871
My opinion is that:
* If we test something in `openzim/libzim`, we would test the the compilation works and that the output is usable... so goal is not to test libzim code, but emscriten compilation
* Probably we should better and simply unit test properly the wrapper `openzim/javascript-libzim`.

[2022-11-13 18:13] #866 closed

[2022-11-13 18:13] kelson42 commented on #866
@mossroy done with Kamino https://github.com/gatewayapps/kamino

[2022-11-13 19:20] mossroy commented on #866
Well, it indeed copy/pasted the issue and its comments, but it also changed the order of comments, and lost the author/date of each comment.
It makes it really hard to understand without referring to the original ticket (here)

[2022-11-14 07:36] mossroy commented on #910
Congrats for this release!

[2022-11-14 09:31] Jaifroid commented on #367
This resource is useful: https://youmightnotneedjquery.com/ .

It might be worth breaking this issue down into more manageable sub-issue steps, I'll propose some as they occur to me.

[2022-11-14 10:01] Jaifroid opened #916 "Remove jQuery hide and show statements for elements selected by ID"
This is a sub-issue of #367. The vast majority of our usage of jQuery is in the form of simple hide/show statements based on DOM elements selected by ID.

There are two ways of doing this:

1. Simply substitute the jQuery #selector with `document.getElementById('selector').style.display = ''` or `'none'` respectively (this can be done with some carefully crafted regexes as a mass search and replac

[2022-11-14 10:02] Jaifroid commented on #367
List of sub-issues of this issue:

-[ ] #916

[2022-11-14 18:48] Jaifroid opened #918 "Convert jQuery `.on` event listeners to their native JS equivalents"
This is a sub-issue of #367.

[2022-11-14 20:39] Jaifroid opened #919 "Convert jQuery `.click()`, `.focus()`, `.attr()` and other homologous functions to their native equivalents"
Sub-issue of #367.

[2022-11-14 20:48] Jaifroid opened #920 "Convert jQuery statements that manipulate CSS to their native equivalents"
Sub-issue of #367. This will involve converting jQeury `$('.selector')` statements to `querySelector` or `querySelectorAll`, iterating over all selected nodes where necessary. Also deal with adding, removing or toggling CSS.

[2022-11-14 20:54] Jaifroid opened #921 "Remove as much jQuery as possible from Bootstrap modal invocations"
Sub-issue of #367. Some, possibly most, use of jQuery to invoke and close Bootstrap modals can be substituted with native JS, but the underlying Bootstrap code depends on jQuery, so some methods will have to remain until #705 (which removes jQuery from Bootstrap).

[2022-11-15 06:09] kelson42 commented on #435
@Jaifroid Might be time to refresh that one

[2022-11-15 08:15] Jaifroid commented on #435
I'm afraid this is still an issue in the latest PhET ZIMs I can find which are from 2021-08. Several controls are blocked by the bottom bar. It's also an issue in KJSWL, which uses the redesigned interface I aim to work on here in #523. We need to change the way the bottom bar works in relation to the iframe. It should appear below the iframe rather than using up space within it., or possibly we n

[2022-11-15 10:37] mossroy commented on #367
In terms of priority, I would have set this issue (and sub-issues) as low.
I don't say it's not worth doing it, but take care of not being overwhelmed by tickets to implement, especially in this transition period where you'll be alone to handle many things.

Or maybe prioritize the code that will be kept in the long term, and don't spend too much time on refactoring what is only used by the so-cal

[2022-11-15 10:44] Jaifroid commented on #367
I agree it's fairly low but I see it as "low-hanging fruit", and in a way important for completion of #554, which I think is now becoming pretty urgent. Almost every helper software now presumes npm / yarn and modern code that will be refactored by the compiler, and not having to deal with jQuery as a dependency would be one less thing to worry about.

I deliberately broke this into parts because

[2022-11-16 07:28] Jaifroid opened #922 "Equations in dark mode not inverted in artofproblemsolving ZIM"
We need to ensure these equations, with style class `.latex` are correctly inverted in the Wikimedia-tweaked dark mode. See screenshot.

<img alt="image" src="https://user-images.githubusercontent.com/4304337/202114369-9ba27ce1-8285-4519-9592-622a55d4ecba.png">

[2022-11-16 09:41] dheerajdlalwani commented on #919
This seems like a nice, low hanging fruit to start contributing. I'd like to take this one up, @Jaifroid

[2022-11-16 15:41] Jaifroid opened #924 "Downloading epubs from Gutenberg broken in IE11"
I think I fixed the same issue in KJSWL a couple of months ago, and I thought it was an issue with the code there, but it turns out to affect this code too. This has nothing to do with the removal of jQuery. I tested this both on that branch and on master, with the same effect.

[2022-11-16 15:53] Jaifroid commented on #916
Fixed in #917.

[2022-11-16 15:53] #916 closed

[2022-11-16 16:00] Jaifroid commented on #919
@dheerajdlalwani Thank you for the offer. Please note that for these issues about jQuery, it's mandatory to test on IE11, or in IE11 mode in Edge Chromium. This is because it is old browsers that are likely to be affected by removal of jQuery. Please also read the [CONTRIBUTING](https://github.com/kiwix/kiwix-js/blob/master/CONTRIBUTING.md) guidelines, and confirm you're happy to follow them and a

[2022-11-16 16:09] dheerajdlalwani commented on #919
Oh yes! I read the CONTRIBUTING guidelines and I am more than happy to do the required testing for IE 11.
And also, yes I am running Windows 11.

[2022-11-16 16:14] Jaifroid commented on #919
Great thanks. The easiest way to open IE11 in Win11 is to open Control Panel (win key -> type "control"), click on "Network and Internet", then "Internet Options". A dialogue box like below should open up. Then click on the question mark circled in red. IE11 should open up. You can open Dev Tools as usual with F12 key.

<img width="305" alt="image" src="https://user-images.githubusercontent.com/43

[2022-11-16 16:17] Jaifroid commented on #919
You should find https://youmightnotneedjquery.com/ helpful in finding alternatives and ensuring they are valid for at least IE11+. There's another resource listed towards top of #367 that allows you to view jQuery's own source code for its functions. That resource is archived on the Internet Archive.

[2022-11-18 09:05] #922 closed

[2022-11-18 09:33] Jaifroid commented on #910
I think this release is now complete other than publicity. I can do something on reddit (this weekend).

[2022-11-19 07:56] dheerajdlalwani commented on #919
While working on this, I realized many a times, jQuery `.on` event listeners and `.click()` are used in quite an intertwined fashion. I also noticed #918 is open. While I am working on this, do you mind if I also work on #918 ?

[2022-11-19 09:57] #910 closed

[2022-11-19 11:10] mossroy commented on #768
I've transferred what remains to be done in https://github.com/openzim/javascript-libzim/issues/11

[2022-11-19 11:10] #768 closed

[2022-11-19 11:11] mossroy commented on #872
Maybe this ticket should be transferred in https://github.com/openzim/javascript-libzim/
Because it's probable that it's where the problem is (but not 100% sure)

[2022-11-19 11:17] Jaifroid commented on #919
@dheerajdlalwani If you find cases that are intertwined, feel free to include some elements of #918 in any PR fixing this issue. But I think you may find that some of the changes required in #918 are a bit more complicated.

[2022-11-19 11:53] kelson42 commented on #872
I will try to do so without scrambling everything...

[2022-11-19 17:46] kelson42 commented on #705
IE11 being now deprecated (see readme), what stopps us to move quickly on this?

[2022-11-19 17:50] kelson42 commented on #460
@Jaifroid Do you still really want to see this feature implemented some time?

[2022-11-19 19:24] Jaifroid commented on #460
@kelson42 What would you recommend? It's only for jQuery which means IE11, Windows Mobile, Firefox OS and old Firefox such as IceCat (which keeps one rather well-known user happy). It wouldn't be difficult, probably 30-minute fix (including testing, if I can find a ZIM useing the format).

[2022-11-20 07:59] Jaifroid commented on #705
Two things:

* Deprecated doesn't mean we would consciously take steps that we know would prevent the app being used on a platform/browser. In this case, it would affect a wide range of browsers: Firefox < 60, Edge < 79 (hence the UWP app would stop working), as well as IE11. There is the possibility of using certain polyfills that might make it work on these platforms, but it needs investigation.

[2022-11-21 05:22] dheerajdlalwani commented on #920
Another not so difficult issue. Mind if I take this one up? @Jaifroid

[2022-11-21 07:57] Jaifroid commented on #920
Yes of course, please do.

[2022-11-21 08:03] Jaifroid commented on #920
Note that some of these will involve iterating over the collection of nodes selected by `querySelectorAll()` (which is what you'll want to use instead of jQuery class selectors. You have to be careful iterating collections of nodes in a way that is compatible with IE11. In many cases you will have to use something like:
[code]

[2022-11-21 08:04] dheerajdlalwani commented on #920
Awesome. I'll get started.

[2022-11-21 08:07] dheerajdlalwani commented on #920
Alright! Thank you for informing. I'll be careful.

Also if you don't mind me asking, why are we still supporting IE 11? And how long do we plan to do that? Just wanted to understand the thought process behind it.

[2022-11-21 08:21] Jaifroid commented on #920
Good question. There are a number of old browsers we still try to support, either due to a conservative user base (very old Firefox) or to frameworks that still rely on old browsers or web views, and IE11 is a kind of baseline that ensures very wide compatibility. The medium-term aim is to start using modern code (probably TypeScript too) and compile down to our target browsers -- see #554. We're

[2022-11-21 13:42] speaker73 commented on #910
How about the app work with mobile version of google chrome? When I open the last Kiwix PWA. It did not connect files from the android system.

[2022-11-22 13:48] #919 closed

[2022-11-23 17:50] dheerajdlalwani commented on #920
Okay, I am opening a PR for this, but I am not sure if I've been on the right track. Just take a look, @Jaifroid .
There weren't many jQuery statements which were manipulating CSS, although I did convert a bunch of other jQuery functions to native JS. Take a look at the PR, let me know if I am doing the right thing.

[2022-11-24 20:53] Jaifroid commented on #769
It seems to me that now that https://github.com/kiwix/libkiwix/issues/769 is closed, and we can reliably reproduce the Emscripten/wasm build of libzim with https://github.com/openzim/javascript-libzim/pull/14, it might be a good test of the libzim build to begin to augment our title search with results returned from the libzim worker in a progressive manner. The idea is that the algorithm should r

[2022-11-25 10:16] Jaifroid opened #928 "Add a Directory Listing object to the Zim Archive metadata for Xapian indices"
This is a sub-issue of #769. In order to detect whether we need to load libzim for Xapian search, we need to be aware of the existence of a Xapian listing. We currently have `titlePtrPos` and `articlePtrPos` as attributes of the ZIM file object for the Directory Listings that they point to. We should add an appropriate attribute pointing to the Xapian data, which could be simply the pathname, that

[2022-11-25 10:18] Jaifroid commented on #769
List of sub-issues of this issue (in progress):

- [ ] #928

[2022-11-25 10:25] Jaifroid opened #929 "Initialize the libzim worker if specific criteria are met"
This is a sub-issue of #769. The currently proposed criteria for initializing the libzim worker are:

* We are in ServiceWorker mode
* We are using WASM (not ASM)
* The ZIM archive has a Xapian full-text search index (#928)
* The archive is not split (this could be reviewed once split ZIM reading is working with the JS libzim port)

[2022-11-25 10:27] Jaifroid commented on #929
This issue should also update the API panel to show that libzim has been successfully initialized.

[2022-11-25 10:37] Jaifroid opened #930 "Launch full-text Xapian search when user undertakes a title search under certain conditions"
This is a sub-issue of #769. The main condition would be that the libzim worker has been initialized (#929). However, we could set other conditions, such as initiating the search only if title search has returned fewer than `params.maxSearchResultsSize` in x seconds (i.e. use a timeout and check how many results have been returned with title search).

[2022-11-25 10:48] Jaifroid opened #931 "Integrate array of paths returned by Xapian full-text search into the standard title search results"
This is a sub-issue of #769. Once Xapian search has been launched, we will need to deal with the returned array of paths. Currently, the implemented search in the JS port of libzim only returns paths of articles that contain the searched terms, not snippets or article titles. We already have an algorithm to take the paths, read the Directory Entries, and extract the article titles (which are not a

[2022-11-25 22:37] dheerajdlalwani commented on #918
Shall I take up this one too? Seems like the logical next step after closing #927.

[2022-11-25 22:54] dheerajdlalwani commented on #843
Don't mind if I do?

[2022-11-26 10:03] kelson42 commented on #769
@Jaifroid I would recommend to treat suggestions (title search) from (fulltext) search in different tickets. They are pretty different technically, differrent from a user perspective and current code Kiwix JS development is not at the same status (existing for suggestions, inexistant for search).

First thing first, using libkiwix for suggestions, seems a good next step. but I see:
* No reason to

[2022-11-26 12:54] #928 closed

[2022-11-26 13:02] Jaifroid commented on #769
@kelson42 OK, thanks for the advice. I'm at the stage of integrating the libzim worker for search, then I'll be in a position to test the relative performance of the title search vs full text search code. I can't throw away the old code because it only works in browsers that support WASM, but if the libzim is performant enough, I could switch over fully to using it for those browsers that support

[2022-11-27 06:10] Jaifroid commented on #929
In practice, support for WASM implies support for Service Worker. But it should not be necessary to turn off full text search if the user happens to switch to jQuery mode.

[2022-11-27 08:22] #920 closed

[2022-11-27 14:52] #929 closed