[2019-07-29 11:32] Jaifroid commented on #545
I had a bit of fun this weekend working out how to launch a ZIM file automatically without picking it in the Electron app. So, please find a demo of "Wikivoyage by Kiwix Electron Edition" here (I'm using Wikivoyage because it is smaller than Wikimed for testing purposes):

https://github.com/kiwix/kiwix-js-windows/releases/tag/v0.9.9.92-Wikivoyage-Electron

For full details, see the release notes

[2019-07-29 11:39] Jaifroid commented on #545
@mossroy Some technical details which may be interesting. I used Kiwix-JS-Windows because it has ready-made entry points for a packaged app, but I think the code can easily work with Kiwix JS. Main things are:

* Use Electron APIs for reading the file instead of `FileReader`. Fortunately we only use `FileReader` in one place, in `util.js`, and the main change is [here](https://github.com/kiwix/kiw

[2019-07-29 12:39] Popolechien commented on #545
@Jaifroid Thank you, am currently downloading and will report back, but here's a first obvious question: the zip file is named ``kiwix-js-windows-win32-ia32.zip``
Am I right to assume it should run on 32bit computers?

[2019-07-29 13:08] Jaifroid commented on #545
@Popolechien It runs on 64 bit for sure (my machine is 64), and I assume from the name that it runs on 32 bit, but haven't tested.

[2019-07-29 14:09] Popolechien commented on #545
Ok, I've asked for help, let's see if anyone has an old Windows XP machine lying around: the best use case for that would be African deployments, as a couple of people have been badgering us for "abandoning" 32bit-machines with Kiwix-desktop 2.0.

Other than that, the app looks like it's working fine!

[2019-07-29 14:48] Jaifroid commented on #545
@Popolechien Whether it runs on XP will depend entirely on whether the Electron framework supports XP (and perhaps whether Chromium webview has dependencies). We can probably find that out.

[2019-07-29 15:14] Jaifroid commented on #545
@Popolechien It supports Win7 32bit, but not XP according to https://electronjs.org/docs/tutorial/support#windows . But with XP now a security risk and Win7 reaching end-of-life soon, that's not too shabby. The best bet for the African deployments is probably to use Kiwix JS with Firefox or Chrome, assuming one or other browser in a decent version is still supported on XP.

[2019-07-29 15:54] Popolechien commented on #545
Yep, Windows XP SP3, doesn't work. Entrypoint procedure AcquireSRWLockExclusive cannot be found in dynamic linking library KERNEL32.dll.
![EAptVXqWwAAK_QU](https://user-images.githubusercontent.com/21675885/62062515-6cc89a00-b229-11e9-90a0-e739337f1ef5.png)
Well that's too bad. Also and more generally speaking, if anyone is still stuck with WinXP/Vista/7, security probably isn't their main concern

[2019-07-29 17:45] Jaifroid commented on #545
OK, thanks for the test. Yes, Kiwix JS in extension format would be best for such users, assuming the they have a supported version of Chrome or Firefox.

[2019-07-30 15:38] mossroy commented on #545
For Firefox, version 52.9 ESR is the last version that supports Windows XP. See https://support.mozilla.org/en-US/kb/end-support-windows-xp-and-vista
This version is still supported by Kiwix-JS. We have unit and UI tests running on Firefox 45 : even if they are unstable (see https://github.com/kiwix/kiwix-js/issues/536), I regularly test on Firefox OS (which relies on Gecko 44).

For Chrome, versi

[2019-08-01 04:41] kelson42 commented on #267
I think this quite old ticket should be updated and/or one ticket per problem - still there - should be open. Otherwise this ticket might be open for 5 additional years without much update.

[2019-08-01 04:45] kelson42 commented on #292
@mossroy It is not really the spec which is changing, it is the fact that we have reader/webrenderer accessing now directly the ZIM file content at the right file offset without passing through any ZIM library. This is the case for the Xapian index or for videos for example.

[2019-08-01 16:28] Jaifroid commented on #267
Yes @kelson42 , this can be closed because #523 is in progress and it will address some of these issues and change others. Closing.

[2019-08-01 16:28] #267 closed

[2019-08-01 16:49] Jaifroid commented on #112
@kelson42 I'm still interested in experimenting with the full text index in ZIM files, but there is a lack of information to go on. I understand from https://wiki.openzim.org/wiki/ZIM_file_format#Namespaces that the index is in namespace `X`, but that's all I've been able to find out. There is a broken link on that page to information about the full text index, with the address `ZIM_Index_Format`

[2019-08-02 17:53] Jaifroid commented on #545
I've improved the app considerably, and have presented it as a generic app packaged with `wikipedia_en_100.zim` (i.e., this version does not have Wikivoyage, so is a much lighter download):

https://github.com/kiwix/kiwix-js-windows/releases/tag/v0.9.9.92-Electron

Use case:

* The binary is 32-bit, so it will run on Win 7 32-bit and up (of course also on Win 64-bit), unlike Kiwix Desktop Beta whi

[2019-08-04 08:03] Jaifroid opened #548 "Question about / modification to privacy policy"
I find myself wondering whether, as a result of JavaScript running in Service Worker mode, we need a more explicit Privacy Policy. Currently we say:

While I think the above statements are true, scripts embedded in ZIM files could "collect [some] of your personal data" (e.g. browsing history), no? And they could contact a server (e.g. Google). Is this something we should warn against hypotheticall

[2019-08-04 15:53] Popolechien commented on #545
Nice, but when I earlier referred to a single file service I really meant having only Kiwix.exe on my desktop (I currently have a folder with 15 files and 4 sub-folders).

Nice!

[2019-08-04 16:55] Jaifroid commented on #545
Hmm. That would be a bit tough, as we'd need some kind of filesystem encapsulated inside an exe, with the code to read the encapsulated filesystem. And if we used an unpacking approach, then anything that unpacks the ZIM at runtime would have to contend with potentially unpacking several gigabytes of a ZIM file, which would make for very slow startup time.

Practically, I think the best we could d

[2019-08-06 11:25] Jaifroid commented on #545
@Popolechien , I've done a bit of investigation, and it turns out it is possible to build the app as a single standalone portable exe, using the electron-builder npm package. I've built an exe and can upload it if you're interested in testing, **but** IMHO it has disadvantages that outweigh the convenience of having everything in a single .exe:

* The app is much slower to launch. If it is just th

[2019-08-06 12:27] Popolechien commented on #545
@Jaifroid Ok, and then what if we take the archive out altogether (at least from the opening sequence)? What about opening time then?

[2019-08-06 13:49] Jaifroid commented on #545
@Popolechien , I've uploaded a version with no packaged archive at all, so you can test for yourself:

https://github.com/kiwix/kiwix-js-windows/releases/tag/v0.9.9.92-Electron-Standalone

Note that I've zipped it to prevent problems with downloading a bare exe. **Additionally, when you first launch the exe, Windows SmartScreen filter will flag it as unsafe (because this dev version is unsigned).*

[2019-08-06 15:42] mossroy commented on #548
You're right. And I think I noticed that some old PhEt files make some calls to Google Analytics (in SW mode, where javascript is enabled).
This might be discussed with @kelson42 because I think it's not desirable that ZIM files contain such external calls. It's probably easy to remove them when creating the ZIM file (and maybe it's already done in recent versions), but I'm wondering if this could

[2019-08-06 16:14] mossroy commented on #545
Thanks a lot for these investigations @Jaifroid : it looks very interesting.
It's great that the Electron APIs allow us to remember and automatically reopen the ZIM file : it's a popular demand that we unfortunately can not implement within a browser extension (at least with the APIs Firefox and Chrome currently provide)
Having the SW mode would also be a workaround for the fact that they are curr

[2019-08-06 16:30] Jaifroid commented on #548
Suggested rewrite below. I think it would be useful to implement #98, because it would simplify the statement below. We could then say that "by default" the app blocks any external Internet access unless the user explicitly allows it. Regarding external links (http hyperlinks), we could capture those in both SW and jQuery mode, and ask the user if they wish to visit an external server (yes/no). Mo

[2019-08-06 16:47] Jaifroid commented on #545
I've enabled SW mode (in the latest pre-release) and have compensated for lack of cookie support by patching our cookies script to use localStorage (when running under Electron). The API for localStorage is almost exactly the same as for the cookies script, so it's a very easy patch.

[2019-08-07 12:20] Jaifroid commented on #548
I think we need also to add this:

[2019-08-08 12:26] Jaifroid commented on #548
I guess a well-crafted CSP together with CORS should prevent scripts/fonts/assets accessing external sites? In browser context I believe this is already the case (I've seen console messages about fonts being blocked due to CORS), but not necessarily in other contexts unless the CSPs are watertight. However, I'm no expert, just going on observed behaviour.

[2019-08-08 17:22] Jaifroid commented on #545
I've made a new pre-release of the packaged app:

https://github.com/kiwix/kiwix-js-windows/releases/tag/v0.9.9.93-Electron

Service Worker mode is fully functional and has near feature-parity with jQuery mode. JQuery mode (the default) is still quite a lot faster because it does not extract or use scripts from the ZIM (and scripts are not cached, unlike CSS). When a ZIM needs SW mode because it h

[2019-08-09 06:39] Popolechien commented on #545
Ok FWIW someone tried it on Windows XP SP3 32-bits and unfortunately it does not work :-/
(but >= Vista does, apparently)

[2019-08-09 08:32] Jaifroid commented on #545
The only possibility I see for supporting Windows XP (other than as a browser extension) would be to use an old version of the NWJS framework: https://nwjs.io/downloads/ (see the "Legacy Release" link on that page). Otherwise, with Electron, we are limited to >Win7 32bit (though it would be good to get confirmation that it works with Vista, because the Electron info suggests minimum is Win7).

But

[2019-08-09 08:34] Popolechien commented on #545
I don't think Win 10 is much of an issue as Kiwix-desktop will do the job. But there's a ton of Vista/XP machines still out there. I'll ask for confirmation on Vista.

[2019-08-09 08:40] Jaifroid commented on #545
Granted, but will Kiwix Desktop run on [Win10 32bit](https://www.microsoft.com/en-gb/windows/windows-10-specifications#primaryR2)?

[2019-08-09 17:19] Jaifroid commented on #545
OK, because you asked nicely, @Popolechien ;-) , here is a version built with the legacy version of NWJS that is supposedly compatible with Windows XP 32bit and up:

https://github.com/kiwix/kiwix-js-windows/releases/tag/v0.9.9.93-NWJS

Because this is a bit old / legacy, please see the release notes on that page, and in particular note the following.

Witih those two caveats, the functionality sh

[2019-08-09 19:52] rhaamo commented on #545
Windows XP SP3 32bit seems to work @Jaifroid

I can view an article, and access the index with the space on search box trick.

![Capture d’écran 2019-08-09 à 21 48 45](https://user-images.githubusercontent.com/8625/62805256-b64d9a80-baef-11e9-93c4-f7acc4ff783f.png)

[2019-08-09 20:11] Jaifroid commented on #545
@rhaamo That's very good news, thank you for testing!

[2019-08-10 16:14] Jaifroid opened #549 "Electron vs NWJS notes"
Having spent some time playing and building with both frameworks (ElectronJS and NWJS), I thought I should summarize my findings before I forget, as they could influence which one Kiwix JS should adopt (if any). Here are pros and cons:

## Electron pros:
* It is by far the most popular framework, so there are many more packages and up-to-date build scripts;
* Zipped Kiwix Packages built with lates

[2019-08-17 15:34] mossroy commented on #549
Wouah, that's cool. Thanks for all these tests.
Based on your pros and cons, I'd say NWJS is more suited IF the framerate issue can be solved.

[2019-08-17 15:44] Jaifroid commented on #549
You can try the NWJS package for Win7/8/10 to see if it is smooth enough:

https://github.com/kiwix/kiwix-js-windows/releases/tag/v0.9.9.93-IA32

When running on battery, I notice the scroll-rate issue, but not when my machine is plugged in. Maybe I'm exaggerating. Possibly the scrolling issue wouldn't exist on Kiwix JS, because I use a setTimeout onscroll script (just one) to monitor various thin

[2019-08-17 15:48] Jaifroid commented on #549
PS If running both the XP and the IA32 versions, I once got an error about the Chromium profile on XP being incompatible because I'd used a later version of Chromium. I had to delete the Chromium profile on my machine to be able to run the XP versions. JFYI.

[2019-08-17 16:45] mossroy commented on #547
With a user point of view, I tend to agree with you. But I'm not in favor of doing this in kiwix-js.
We should report that on mwoffliner, instead of adding some ZIM-specific code.

It seems to me that there would be different proposals :
- revert the logic of showing/hiding the `details` tags, so that they all have the `open` attribute in the HTML string, and then use javascript (inside the ZIM fi

[2019-08-17 17:30] Jaifroid commented on #547
I agree it's best to deal with this in the ZIM in the medium term. But the issue as I see it is:

1. We currently have a workaround for opening sections that works for ZIMs without details-summary tags, so it would only be an addition/revision of our current workaround;
2. Right now there are ZIMs being produced (August 2019) that (I think?) are unusable with Kiwix JS because our current workaroun

[2019-08-18 09:40] Jaifroid commented on #547
So I've now checked this against the very recent `wikipedia_en_history_maxi_2019-08.zim`. The ZIMs are usable in jQuery mode in all browsers, but there is an issue in browsers that support the details-summary tag syntax. In browsers that do not support the syntax, all sections are open by default. In browsers that do support the syntax, all h3, h4 sections are open, but oddly h2 sections are close

[2019-08-18 11:06] Jaifroid commented on #547
I have made [this comment](https://github.com/openzim/mwoffliner/issues/838#issuecomment-522311757) on mwoffliner. If our issue turns out not to be related to that issue, I'll promote it to a separate issue, but it seemed to be related.

[2019-08-18 15:28] Jaifroid opened #550 "Fix 'Unnecessary escape character: \/.' issue in www\js\app.js"
As identified by Codefactor. Forward slashes do not need to be escaped inside regex character groups [/]. For example (there are several instances):

[CodeFactor](https://www.codefactor.io/repository/github/kiwix/kiwix-js/overview/master) found an issue: Unnecessary escape character: \/.

It's currently on:
[www\js\app.js:1109
](https://www.codefactor.io/repository/github/kiwix/kiwix-js/source/mas

[2019-08-18 15:30] Jaifroid commented on #550
More generally, it looks like most of the Codefactor issues identified in app.js, which is given a rating of "F" (!) would be easy to fix. But I don't know if I have the energy...

[2019-08-18 15:51] Jaifroid opened #552 "Incorrect rendering of landing page of recent ZIMs in jQuery mode"
At least in `wikipedia_en_history_maxi_2019-08.zim`, the landing page in jQuery mode looks like the top image (and no further images are displayed), whereas it should look something like the bottom image (and have many more images as you scroll down). It works fine in SW mode. So it's a stylesheet injection issue, I think. Tested in Edge 44 and Edge 78 (Chromium).

![image](https://user-images.git

[2019-08-20 07:41] #550 closed

[2019-08-20 07:52] Jaifroid opened #553 "Fix 'mimetype is assigned a value but never used.' issue in www\js\app.js"
[CodeFactor](https://www.codefactor.io/repository/github/kiwix/kiwix-js) found an issue: &#39;mimetype&#39; is assigned a value but never used.

It's currently on:
[www\js\app.js:1341
](https://www.codefactor.io/repository/github/kiwix/kiwix-js/source/master/www/js/app.js#L1341)Commit fd566188026dcbc27ac6d3e1d41b6a0df7d4d3d8

[2019-08-20 07:54] Jaifroid commented on #553
This looks like a real potential bug (as opposed to redundancy) identified by Codefactor, so I've opened this issue to investigate.

[2019-08-20 12:59] mossroy opened #554 "Introduce npm+webpack to build the app"
It would have some advantages. At least :
- ability to use recent javascript APIs (like ES6), and use a transpiler like https://babeljs.io/ to generate a javascript code compatible with all browsers. It can be handy in some cases, but won't magically add features like ServiceWorkers to browsers that don't support it
- ability to code with TypeScript (or some other language) instead of javascript
-

[2019-08-21 17:20] ernesst commented on #537
Hello,
Just to let know, that i'm working on it, So far I cannot idenfied the pattern anabling the app to work sometime ... (i'm testing with the last daily built)

[2019-08-22 18:58] #553 closed

[2019-08-25 08:55] Jaifroid opened #558 "Simplify article loading in SW mode"
In SW mode, when searching for an article or using the random button (but not when clicking on a hyperlink) we currently load `article.html`, wait for it to be loaded, then set the iframe content to the URL of the page we want to load, wait for that to be loaded, then turn off the spinner, etc.

This is convoluted and unnecessary. It can be simplified. From the outset, we simply set the iframe.src

[2019-08-27 15:10] rgaudin opened #560 "Use new tagging system"
In order to support the [new tagging system](https://wiki.openzim.org/wiki/Tags), please make sure your reader:

* is feeding itself from the OPDS stream (using a local cache/copy or not)
* is using the lastest libkiwix (not released ATM). It supports new options and includes the backward-ompatibility bits you'd need.
* is using the [centralized Categories List](https://github.com/kiwix/kiwix-tool

[2019-08-28 18:02] mossroy commented on #536
What I can see in Saucelabs (for example on https://app.saucelabs.com/tests/4d28dbb03b6b4d80acbd62b11bb70b23) is that, after typing "Ray" in the search field, the browser immediately displays the results, before we click on the search button.
For some reason, it makes the result list disappear, so it fails to find the article.
Maybe we should modify the script (or kiwix-js) to avoid this race-cond

[2019-08-28 18:32] mossroy commented on #513
I'll need to switch to another emscripten docker image : https://hub.docker.com/r/trzeci/emscripten
But the recent emscripten versions are not available, they're working on it : https://github.com/trzecieu/emscripten-docker/issues/46

[2019-08-28 20:54] Jaifroid opened #561 "Optionally reopen last visited page if user loads the same ZIM"
This arises from #556. This is particularly useful in packaged apps and frameworks where the user does not have to pick the ZIM file. But it can also work where the user must pick the ZIM, e.g. if they are frequently picking one specific ZIM. It can speed up the perception of archive access if users can effectively "resume" from where they left off.

[2019-08-29 08:08] Jaifroid commented on #536
It is by design that results show without clicking the search button. However, clicking search should not then hide the results. It could be since we introduced the code to hide results if the search field loses focus. We could probably fix this by adding code to check that the focus is not the search button (if my hunch here is correct).

[2019-08-29 08:15] Jaifroid commented on #536
I confirm that clicking the search button after typing "ray" causes the results to disappear briefly before being shown again. Moreover, if we do search by clicking the search button, it is no longer possible to dismiss the results by clicking elsewhere in the app, because the onlostfocus event of the search button does not have a listener attached to it. It seems we need to add code to deal with

[2019-08-29 08:18] Jaifroid opened #562 "Tapping search button causes any displayed results to disappear briefly"
Tapping or clicking the search button after typing a search causes the already displayed results to disappear briefly before being shown again. It seems this is the cause of #536.

Moreover, if we search by clicking the search button, it is no longer possible to dismiss the results by clicking elsewhere in the app, because the onlostfocus event of the search button does not have a listener attache

[2019-08-29 10:11] #558 closed

[2019-08-29 16:50] #562 closed

[2019-08-31 14:13] #526 closed

[2019-08-31 14:48] mossroy commented on #513
I created a new branch `emscripten-upgrade-for-large-file-support` (https://github.com/mossroy/libzim_wasm/tree/emscripten-upgrade-for-large-file-support) using this other emscripten docker image (version 1.38.43)
Our docker image can be built and used, but emscripten compilation of our code fails
with :
[code]

[2019-09-01 16:31] Jaifroid commented on #536
Since commit https://github.com/kiwix/kiwix-js/commit/b954b323b2f8ea77abf5839dd604cc3f47056b66 this issue is no longer occurring. So I'm closing for now (but we can re-open if the issue re-occurs).

[2019-09-01 16:31] #536 closed

[2019-09-02 20:52] mossroy opened #566 "There is a vertical scrollbar since bootstrap 4"
It did not show up in previous versions.

I'm not talking about a vertical scrollbar inside the iframe (which is normal), but one on the whole window.
It appears on both Firefox and Chromium.

[2019-09-03 05:13] kelson42 commented on #554
I strongly support this

[2019-09-03 05:14] kelson42 commented on #541
Should we keep that ticket open?

[2019-09-03 05:14] Jaifroid commented on #566
Interesting. It doesn't appear on Edge (classic). However, it's easy to fix.

[2019-09-03 06:55] Jaifroid commented on #554
This guide seems useful (much appreciated in the comments):

https://gist.github.com/xjamundx/b1c800e9282e16a6a18e

[2019-09-03 10:57] Jaifroid commented on #292
Purely for fun, I revisited loading a packaged file using XMLHttpRequest. To my surprise, in Chromium (at least in Edge Chromium), even the 1.2GB WikiMed file can be loaded using this technique and it runs fast. It's not loaded into RAM (the RAM usage for Chromium is the same as usual at about 300MB). It does take some time to copy a 1.2GB file into a browser BLOB, but clearly the copy is disk bas

[2019-09-05 07:58] Jaifroid commented on #520
Unfortunately I don't think this issue is fixed. In trying to deduplicate code between app.js and service-worker.js in #556, I came across this error, and it seems reproducible on master in Chromium. I cannot reproduce the error on Edge classic or on Firefox Quantum. Therefore I believe it's a timing issue / race condition due to the way Chromium loads the Service Worker. Steps to reproduce on Chr

[2019-09-05 08:07] Jaifroid commented on #520
@mossroy Maybe this error could be solved with code from https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerContainer/ready , e.g.

`navigator.serviceWorker.ready.then(function(serviceWorkerRegistration) { ... });
`

[2019-09-05 08:55] Jaifroid commented on #520
OK, on https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerContainer/controller I find this:

Doh! I guess this is to force reload of a Service Worker (?) when Devs are testing. Can we therefore ignore? It seems Chromium is the only browser written to spec here, or else I don't know how to issue a force refresh in the other browsers. I'll test a bit more to see if it's only on force refr

[2019-09-06 20:21] mossroy commented on #520
I think this is a different problem, as it's not the same variable that is null. You should open another github issue.

[2019-09-06 20:57] mossroy commented on #513
The error message above was certainly because I did not `make clean` before `make` : shame on me.
But it now fails on compiling curl :

    checking for sys/socket.h... (cached) yes
    checking for recv... no
    configure: error: Unable to link function recv
    Makefile:65: recipe for target 'curlbuild' failed
    make: *** [curlbuild] Error 1

[2019-09-06 21:48] mossroy commented on #513
It seems to depend on the version of emscripten.
I do not have this error with version 1.38.35 : curl can be compiled, but I have another issue later :

    em++ --bind demo_file_api.cpp libzimbuild/lib/libzim.so kiwixlibbuild/lib/libkiwix.so -Ilibzimbuild/include -Ikiwixlibbuild/include -Iicubuild/include -fdiagnostics-color=always -pipe -Wall -Winvalid-pch -Wnon-virtual-dtor -Werror -std=c++11 -

[2019-09-07 07:00] Jaifroid commented on #520
OK, but I think I found the cause of this error (as stated above) since it only occurs on force refresh and only in Chromium. Therefore I think it's an artefact, not a real error (or rather, it's "by design" in Chromium). If it appears in some meaningful way, I'll open an issue. For now, I'll just close this.

[2019-09-07 07:00] #520 closed

[2019-09-07 14:08] Jaifroid opened #568 "Add the promised return type to JSDoc Promised annotations"
I've found myself puzzling over how to document the returned value of a function when the function is a Promise for a specific value. Should we do

`@returns {Promise} A Promise for an array or an error object if the Promise throws`

or

`@returns {Array} A Promise for an array...`

There is little clear / official guidance, but conventions have been adopted. There is one sole example of a syntax

[2019-09-07 15:55] #414 closed

[2019-09-07 16:04] Jaifroid commented on #411
Could we close this issue as a result of #556? I realize Cache API caching is not the same as the browser standard cache., but Cache API is the Service Worker's "native" caching technology, so maybe this PR and branch are no longer needed (especially since Chromium has something equivalent for extensions).

[2019-09-09 18:44] mossroy commented on #411
I agree that this can be closed, and I would also close #415

[2019-09-09 18:44] #411 closed

[2019-09-09 18:56] mossroy commented on #196
Maybe it is time to implement this, now that #556 has been merged?
The only drawback I can see is #404 but maybe it's not a blocker.

[2019-09-10 05:44] Jaifroid commented on #196
I would be happy to see this implemented, assuming the device would silently fall back to jQuery mode if SW is not implemented on first startup. Thereafter, if a user attempts to switch to SW mode on a non-supported device, they would receive an explicit error message explaining why not. Regarding #404, I can fix it for you with one line of code, but you won't like the solution (!). I don't think

[2019-09-10 05:54] Jaifroid commented on #404
I would just repeat what I wrote above, that IMHO it is perfectly legitimate to think of the extraction engine as a traditional httpd server, which has server-side filtering and transformation options. There are only two solutions to this issue: use a regex on the html between extraction and sending to the Service Worker, or add an on-click event to every hyperlink in the onload event we have defi

[2019-09-10 06:00] Jaifroid commented on #415
I'd like to keep this issue open for one main reason: as mentioned, I need to implement (have already implemented in another branch) indexedDB caching for jQuery mode, to use in Kiwix JS Windows. I want to implement it in a way that fits fully with the Kiwix JS codebase, and that needs me to make it work on current master with #556. Once that is working properly in a Kiwix JS branch, I'll close th

[2019-09-10 10:26] MisraAnandita commented on #173
Hi I would like to contribute to this bug. If you could be kind enough to tell me where should I start.
Thank you. I am new to open source and a response would mean a lot to me.

[2019-09-10 11:01] mossroy commented on #196
I agree. The idea is to use SW mode (by default) on platforms that support it, and automatically fallback to jQuery mode (by default) where it's not.
And we should still let the user manually choose the mode (kept in a cookie).
I propose to use another cookie name, so that, when upgrading kiwix-js (only once), we ignore the previous choice of the user (from previous versions where the SW was not g

[2019-09-10 11:47] mossroy commented on #173
Hi @MisraAnandita , it's cool to see new people willing to contribute.

As you can see with all the comments above, there has been some discussions about how to implement that. And @Jaifroid already proposed an implementation in PR #504, but it was not merged, mainly because I'd prefer something more basic/simple (you can read our discussion in the PR).

Here is what I suggest to implement :
- add

[2019-09-20 08:39] slynobody opened #569 "add preference for automatic opening of predefined local file at extension-startup"
why always open your favorite file at startup?
could you please add a simple preference-option for automatic opening of a specific file at startup?

[2019-09-20 09:15] kelson42 commented on #569
Seems similar to https://github.com/kiwix/kiwix-js/issues/561

[2019-09-20 09:54] Jaifroid commented on #569
We can add an option to load the last-visited article for a specific archive (which is #561), but the problem is that in most contexts you would still have to pick the archive. This is a limitation of JavaScript: it does not have File System access to files that the user has not explicitly picked. However, in Electron or NWJS versions of the app, there is FS access, and the archive can be re-opene

[2019-09-20 09:54] #569 closed

[2019-09-29 16:33] mossroy commented on #404
@kelson42 : how is it handled in other kiwix implementations?
On Android, it detects external links and displays a warning message when you click on one.
On Desktop (v2.0), it opens them in an external brower.
How do they detect that?
Are they parsing and modifying the HTML string (first solution suggested by @Jaifroid)?
Do they add javascript events on hyperlinks when the page is loaded (second s

[2019-09-29 16:59] Jaifroid commented on #404
I've just seen https://developer.mozilla.org/en-US/docs/Web/API/Clients/openWindow , which might work to process this inside Service Worker (since it's a SW issue)?

[2019-09-29 17:56] mossroy commented on #404
Not sure this API is available in a SW, as it can not access the DOM.
Another complication is to be able to distinguish calls to a web page (which we would like to open in a new tab) and potential calls to external resources like fonts, images, css, js (for which we should decide what to do, but we would not open a new tab)

[2019-09-29 18:20] Jaifroid commented on #404
It does say that function is part of the Serviceworker API, though may not be available on all browsers (Edge just has a question mark, so I supposed it would need testing). I agree that testing the URL of the Fetch event to decide if it's an external request would not be 100% safe, but it'd probably be no different if we were to use one of the other methods.

[2019-09-29 19:06] mossroy commented on #404
Interesting!
If it works, using this openWindow API would be much better than the first 2 methods, IMHO.

[2019-09-30 05:47] Jaifroid commented on #548
Closing due to merging of #571.

[2019-09-30 05:47] #548 closed

[2019-10-04 15:56] Popolechien commented on #541
Sure why not.

[2019-10-04 15:58] kelson42 commented on #541
Because this ticket seems useless to me. It should be decided what comes in the milestone and then closed.

[2019-10-04 16:06] Jaifroid commented on #541
We did actually merge a performance optimization over the summer, which was to add native Service Worker caching, as that was sorely missing and holding up development of the more modern Service Worker code. That is done.

What is an immediate priority is for me to work on UI, as we've agreed I should port the toolbars used in Kiwix JS Windows (approximately, there will be differences due to the d

[2019-10-05 14:56] b16r05 commented on #304
I agree... having a sort of unified (similar) interface (an identity) would be good.

I have been using Firefox add-on called Stylus for a while to enhance Wikipedia. I was using Wikipedia Dark Material Design style, but I felt wanting after seeing WikiWand, however, I will never touch it with a 10 foot pole : )

Wikipedia Clean Dark style is the closest in terms of design to Wikiwand... looks stu

[2019-10-05 16:26] #541 closed

[2019-10-25 04:02] kazerthekeen commented on #304
A group of us at a University are looking at moving the search and shuffle button into the top bar which will also collapse into the hamburger bar on smaller screens. We believe the static search bar is unnecessary and takes up space that could be used for other content. The result should look something like this if we were to get approved for such a change (created from fiddling with HTML for a c

[2019-10-25 05:52] Jaifroid commented on #304
@kazerthekeen While your suggested layout would make more space for the article content, I'm not convinced it would be good UX on mobile, because Search is the most used interface and collapsing it would add extra tapping and make the experience more cumbersome. What we are looking to port to Kiwix JS is the interface used in [Kiwix JS Windows](https://kiwix.github.io/kiwix-js-windows/www/index.ht

[2019-10-25 08:07] kelson42 commented on #304
I really share the opinion that the top bar should be collabsable on small screens. We have done this on kiwix serve http://library.kiwix.org/wikipedia_fa_medicine_nopic_2019-10/A/%D9%88%DB%8C%DA%A9%DB%8C%E2%80%8C%D9%BE%D8%AF%DB%8C%D8%A7:%D9%88%DB%8C%DA%A9%DB%8C%E2%80%8C%D9%BE%D8%B1%D9%88%DA%98%D9%87_%D9%BE%D8%B2%D8%B4%DA%A9%DB%8C/%DA%A9%D8%AA%D8%A7%D8%A8%DA%86%D9%87_%D8%A2%D8%B2%D8%A7%D8%AF_%D9%B

[2019-10-28 22:45] kazerthekeen commented on #304
Sorry for the delay, I believe porting the interface should be manageable. It should be a fun project for us and we are looking forward to it.

[2019-10-29 21:30] Jaifroid commented on #304
@kazerthekeen That sounds good! Might I suggest you do it in stages, with a few smaller PRs rather than one large PR? This way we're more likely to catch issues like incompatibility with very small screens, etc., before they become blockers.

It might be worth planning the stages. Something like this comes to mind:

* PR 1: Change text to icons in top bar and move random icon
* PR 2: Move search b

[2019-10-30 12:30] ab1nash commented on #566
I think I have a simple fix for this.

[2019-11-03 10:59] Jaifroid opened #573 "Travis broken with "An error occurred while retrieving a new session""
@mossroy I wonder if you'd be able to cast your experienced eye over this very short Travis session:

https://travis-ci.org/kiwix/kiwix-js/builds/606027422?utm_source=github_status&utm_medium=notification

You'll see there that with all the browsers we're getting the error "An error occurred while retrieving a new session", suggesting something fundamental is broken in Travis. This has occurred co

[2019-11-03 11:39] mossroy commented on #573
It might be a limitation on PRs coming from a forked repository.
I remember that there was such a limitation in the way I plugged travis with Sauce and nightwatch (not 100% sure).
At that time, it seems to me that there was no better way to do it, but maybe things have improved in between

[2019-11-03 12:06] mossroy commented on #573
See #351

[2019-11-03 12:27] Jaifroid commented on #573
@mossroy OK, thanks for the explanation! In that case, I'll do a test submit of the same code (when we have an accepted solution) on a dummy branch to run auto tests before merging.

[2019-11-03 12:30] kelson42 commented on #573
@Jaifroid I strongly suspect @mossroy is right. It would be interesting to see if new Github actions would allow us to solve this strong inconvenient for external contributors https://github.com/features/actions

[2019-11-03 15:37] Jaifroid commented on #573
Thanks @kelson42 , I'll take a look at those Actions. They look interesting.

[2019-11-03 17:53] Jaifroid commented on #545
I've released a new version of the NWJS app which has a build that should run on XP and Vista, as well as a build that runs on 32bit Windows 7,8,10:

https://github.com/kiwix/kiwix-js-windows/releases/tag/v0.9.9.95N

I think this fills a gap not covered by Kiwix Desktop.

[2019-11-13 17:36] mossroy opened #575 "Broken display when search results have special characters"
Example below (on stackoverflow_eng_all_2017-05.zim, after typing "Why should")
![image](https://user-images.githubusercontent.com/890923/68788631-12224500-0644-11ea-80cc-3b0cc3bfd534.png)
In this example, the issue certainly comes from the < and > characters, that are interpreted as HTML.

We should probably apply some HTML encoding before doing some string concatenation

[2019-11-13 18:04] Jaifroid commented on #575
Ouch, that looks a bit nasty!

[2019-11-18 18:32] kelson42 commented on #537
Just have read https://medium.com/@probonopd/ubuntu-touch-reports-of-its-death-have-been-greatly-exaggerated-8517f8984b77 and was just about re-tweeting it and writing that "of course" Kiwix does support it... and then remember that ticket. @ernesst any news?

[2019-11-19 05:00] ernesst commented on #537
Yes and no,
No because I couldn't find the issue...
Yes because I had to move back from Edge to Devel ubuntu touch version thus getting less exotic version... which works with Kiwix 2.7  and looks greater than the previous version.
![image](https://user-images.githubusercontent.com/11337464/69117832-a599b280-0a56-11ea-86da-6ee8a798325b.png)
![image](https://user-images.githubusercontent.com/113374

[2019-11-21 17:37] Swayamsvk commented on #76
Exactly where should I add this option? Can you be more specific?

[2019-11-21 21:43] Jaifroid commented on #76
@Swayamsvk I think this would need some quite careful thought. It's a very old issue (2014) and we might not give it high priority at the moment given the interface changes that are ongoing. IMHO it would be better to consider it once the interface has settled into its new form. See #574 .

[2019-11-22 19:29] Swayamsvk commented on #74
Do you mean we should be able to switch between pages with a slide feature also?

[2019-11-23 16:13] kelson42 commented on #340
@mossroy In a total unrelated repo, we have tested PouchDB (a pure client side js db library) for Gutenberg scraper Good you remember me about this old user request. I have created a small README https://download.kiwix.org/zim/README. I wonder is this (with indexdb) could be used here to store local settings and library.

[2019-11-23 16:21] Jaifroid commented on #340
@kelson42 We don't have a problem storing local settings. Cookies work, and localStorage can be used in contexts that don't allow cookies (only Electron in some configurations). The problem that was raised in this issue was that the user must pick the ZIM file each time the app is started in browser and browser-extension contexts. This is a security limitation of all browsers. In app contexts, the

[2019-11-23 16:28] kelson42 commented on #340
@Jaifroid Thx, I have changed the title which is partly missleading. I will also hide our last comments as they are out of topic.

[2019-11-24 20:59] mossroy commented on #74
The idea would be to have some beautiful transition when the user switches between the different sections : main page (where the ZIM content is displayed), settings, and about.
We currently simply hide/show some divs to do that : some CSS transitions might be applied, so that the settings and about sections could look like they were sliding in/out.

[2019-11-24 21:09] mossroy commented on #76
It's true that the UI is currently a work-in-progress, and we don't know precisely where to add this option for now.
But if @Swayamsvk intends to work on it, I think he can simply put an extra button next to the search button, so that to be able to play with this speed-reading feature.

In my opinion, here is what could be a first simple approach : when the button is pressed, it displays the speed

[2019-12-02 11:16] ayushiitr2901 commented on #575
Hi, I am new contributing to Kiwix and this issue seems to be great headstart. Can you please help me with how I can start with it, I would like to solve this issue.

[2019-12-02 11:23] Jaifroid commented on #575
@ayushiitr2901 Thank you for offering to contribute!
First you will need to be able to reproduce the problem, which may need you to download the latest version of the Stackoverflow ZIM.
Once you are able to reproduce it, start debugging with
`function populateListOfArticles(dirEntryArray)`
in `app.js`.
Once you have tested a solution in your own clone of this repo, you can make a Pull Request, and

[2019-12-02 11:46] vasusharma7 commented on #575
Sir
I was also interested in solving the issue and I looked for the zim files of stackoverflow and even downloaded a few.But I was not a able to find the exact zim file with the issue.....
If it doesnt bother you, Can you please send me the name or the link of the exact file as some of the files are very large in size and downloading all of them may not be feasible....

With reagrds
Vasu Sharma

_

[2019-12-02 21:07] mossroy commented on #575
@vasusharma7 : I found another case in a (very) smaller zim file.
If you download https://download.kiwix.org/zim/stack_exchange/matheducators.stackexchange.com_en_all_2019-02.zim (81MB) and type "imp" in the search field, you'll see a broken search result on `Importance of "Calculus->Analysis Transition Books"?` :
![image](https://user-images.githubusercontent.com/890923/69994833-0cd35e80-154f-11e

[2019-12-02 21:12] vasusharma7 commented on #575
Thanks a lot sir for quick help...It would really help me in solving the issue...

________________________________
From: Mossroy <notifications@github.com>
Sent: Tuesday, 3 December, 2019, 02:37
To: kiwix/kiwix-js
Cc: vasusharma7; Mention
Subject: Re: [kiwix/kiwix-js] Broken display when search results have special characters (#575)

@vasusharma7<https://github.com/vasusharma7> : I found another

[2019-12-03 08:35] kelson42 opened #576 "Nightly builds are not published anymore"
See https://download.kiwix.org/nightly/2019-12-02/. I think this is a consequence of me moving the whole CI from travis-ci.org to travis-ci.com... but not sure... and not sure how to fix it :(

[2019-12-03 16:42] jsaenzes commented on #89
I'm not sure if this will be helpful or not but I attempted to recreate the issue (v 2.6). After a while of going back and forth in the history it would eventually have me on the same two articles (not random ones) rather than all the ones I had been on. I also tried testing on previous versions like 1.2 and 2.1 but was unable to see this issue appear in part because it was running very slowly and

[2019-12-04 14:20] mossroy commented on #89
Thanks @jsaenzes : your test confirms the issue is still there.

It's certainly a "race condition" : on each click on back or forward button, it starts a code flow in the background that reads the content of the article and displays it.
If an article takes a long time to be read, it may appear after another has been displayed.

I think we need a way to ensure the last article always has priority o

[2019-12-05 05:11] kelson42 commented on #576
Looks like pkill is not executed properly anymore: https://travis-ci.com/kiwix/kiwix-js

[2019-12-05 15:27] #576 closed

[2019-12-08 13:00] kelson42 commented on #575
It think this has been fixed by #578

[2019-12-08 13:00] #575 closed

[2019-12-08 13:03] kelson42 commented on #307
We will implement Zimit in 2020, see https://twitter.com/KiwixOffline/status/1202942929758806017.

[2019-12-12 20:01] vasusharma7 commented on #74
Yes I would like to work on this....This looks quite interesting.

[2019-12-30 13:25] vasusharma7 commented on #74
@mossroy I have implemented a transition effect between pages....Please see PR #579 [https://github.com/kiwix/kiwix-js/pull/579](579)..and guide further

[2020-01-01 11:17] Jaifroid commented on #415
Just to say that I have ported all changes in #556, and all latest changes to master to the branch [Persist-cache-in-localStorage](https://github.com/kiwix/kiwix-js/tree/Persist-cache-in-localStorage), and am therefore closing this issue. To be clear, this has been implemented as a basis for a Version 2.0 of Kiwix JS Windows (Version 1.0 is close, and will use the existing codebase). **I do not in

[2020-01-01 11:17] #415 closed

[2020-01-01 11:50] Jaifroid opened #581 "Extremely slow binary search in Chromium for Anroid"
Although this is not an official target of Kiwix JS, I think this might uncover a problem in the coding of binary search. If you open https://kiwix.github.io/kiwix-js/www/index.html on an Android phone in Chrome or Edge-Chromium with a reasonably large ZIM (e.g. WikiMed) on a microSD card, the binary search is **_ridiculously_ slow** and bugs out when backspacing in the search field (a race condit

[2020-01-04 12:58] mossroy commented on #581
I confirm that issue on my device. It's very slow on Firefox Mobile too.
On Firefox Preview, it looks much faster (except the first access, right after choosing the ZIM file, where the screen remains black for a very long time).
It appears to be Android-specific.
I suspect it might come from the way the file is "given" to the browser and/or how it is accessed by the browser itself.
On Android, the

[2020-01-05 10:16] Jaifroid commented on #265
And... one year further on (!), we have PR #582 for this issue. It is currently implemented using inversion filters. However, specific themes for Web sites such as https://github.com/StylishThemes/Wikipedia-Dark could be used.

[2020-01-05 13:16] Jaifroid commented on #581
Interesting. I tried that, and Firefox Preview is indeed much faster apart from bugging out on selecting the file (I actually had to restart the app a few times). I wonder if it is copying the ZIM to memory, which would then explain why file access is so fast.

I guess the solution to this is going to be a WASM version of libzim #514, if WASM has more direct file access. We could test that by comp

[2020-01-05 16:39] Jaifroid commented on #581
It actually works even better on Firefox (non-preview) on Android. There is still the long wait after picking the ZIM archive for it to be available to the system, but then it really flies: both binary search and extracting files. It also offers to install Kiwix JS Windows as a full-screen app to the Home Screen (PWA), which works well in both jQuery and SW modes.

I'm still suspecting that it's c

[2020-01-06 20:53] mossroy commented on #581
I doubt a WASM version of xzdec would make a significant change on this issue. xzdec does not access any file, it runs directly on memory strings.
This issue seems to be related to file access from browsers on Android platform.

[2020-01-06 22:37] Jaifroid commented on #581
What I'm really trying to say is that Web Assembly (the language, not our version of xzdec) may be optimized in such a way as to allow fast/direct low-level access to a ZIM file (once picked), just as C++ or C# clearly is once the standard Android app has been given access to a folder or file. You're right that producing a WASM version of xzdec wouldn't be a good test of that.

[2020-01-07 14:44] Jaifroid commented on #581
I think I can confirm that Firefox for Android attempts to copy the ZIM file to memory. I tested by attaching an OTG thumb drive to an Android phone, with several sizes of ZIM on it. Format is exFAT, and it is loaded by using the Paragon exFAT/NTFS tool. I used Kiwix JS Windows, [installed as a PWA](https://kiwix.github.io/kiwix-js-windows/www/) (Firefox recognizes and offers to install/pin it to

[2020-01-08 19:44] mossroy commented on #581
Interesting.
I suppose Chromium goes through some extra layers when we read the file in javascript, that explain the slowness.
And you're probably right about how Firefox handles that.
Unfortunately, I don't see an easy way to solve that on our side.

BTW Android does recognize microSD cards formatted as exFAT (at least not-too-old versions)

[2020-01-12 15:25] Jaifroid commented on #581
I think this issue is the same as that reported here:
https://stackoverflow.com/questions/48214601/readasarraybuffer-is-extremely-slow-on-mobile
We have in common that we are using `FileReader` and `readAsArrayBuffer` in util.js [`readFileSlice()`](https://github.com/kiwix/kiwix-js/blob/master/www/js/lib/util.js#L189). If we could read more data per instance of FileReader, instead of opening a new

[2020-01-12 21:13] #74 closed

[2020-01-23 20:51] lidel opened #584 "Firefox browser extension link locale"
Not sure if this is the right repo, but link to browser extension for Firefox forces page locale to be French: https://addons.mozilla.org/fr/firefox/addon/kiwix-offline/

This link is present under "Firefox" on https://www.kiwix.org/en/downloads/ and "Extension for Mozilla Firefox " on https://www.kiwix.org/en/downloads/kiwix-reader/

I believe it will be more inclusive if mentioned links are chan

[2020-01-23 23:11] kelson42 commented on #584
/move web

[2020-01-24 07:41] Popolechien commented on #584
@lidel fixed, thanks!

[2020-01-24 08:14] kelson42 commented on #584
/move web

[2020-01-24 08:16] kelson42 commented on #584
/move to kiwix/web

[2020-01-24 08:20] kelson42 commented on #584
/move to kiwix/web

[2020-01-25 11:26] Jaifroid opened #585 "Add clipboard functionality using clipboard API"
Information about this API is here:

https://developer.mozilla.org/en-US/docs/Web/API/Clipboard_API

This could be used to enable selection of text -> long press -> "search this text" link, for example.

[2020-01-25 13:22] Jaifroid opened #586 "Investigate adding Filesystem access with the File and Directory Entries API"
This API is relatively new, not yet standardized, but seems to have good asynchronous support for read-only, which is what we want. See:

https://developer.mozilla.org/en-US/docs/Web/API/File_and_Directory_Entries_API

[2020-01-25 15:21] Jaifroid commented on #586
There is a good introductory document on this API here:

https://developer.mozilla.org/en-US/docs/Web/API/File_and_Directory_Entries_API/Introduction

It includes amongst the use cases:

The mention of large files > 1GB sounds promising. This is also stated:

(It actually says "uploads" where I've put "file access", but this is in the context of a file-uploader example.)

[2020-01-26 20:00] Jaifroid commented on #388
Just an update on where I'm at with PWA versions of the app (I've been doing this on Kiwix JS Windows, as it is an easier testbed for me to try out experimental things, to see what works and what doesn't before considering porting here). Two main milestones are the following:

* I made it possible to install the app as a PWA in browsers that support this, simply by visiting https://kiwix.github.io

[2020-01-27 09:56] Bam92 commented on #554
This is very interesting. Moderne JS development requires at least these two technologies. What do you think?

[2020-01-27 10:01] Jaifroid commented on #554
@Bam92 Yes. Personally I think the time has come for this, not least because it would enable use of frameworks that now expect this structure, automatic updating of dependencies, and possibility of using supersets of JS such as TypeScript, compiling for all targeted browsers with Babel (which makes use of antiquated dependencies like jQuery unnecessary). We believe it is a huge amount of work, how

[2020-01-27 10:02] Bam92 commented on #528
Any help needed here?

[2020-01-27 11:10] Bam92 commented on #554
@Jaifroid Yes, it is a huge amount of work. But I'd suggest migrating little by little.

[2020-01-28 10:04] Jaifroid commented on #586
So, having looked into this, it seems there is no way to store a file handle between sessions using this API, even for read-only.

A better upcoming API for our purposes might be the Native File System API which is currently Chrome only and behind an experimental flag. There is an explanation here: https://web.dev/native-file-system/ . This includes the following statement:

So this technology wou

[2020-01-29 12:23] kelson42 commented on #537
@ernesst Thank you for having tested again. I’m not sure I fully understand your last comment... but it seems we could close this ticket? You confirm?

[2020-01-29 12:26] kelson42 commented on #573
@mossroy @jaiffroid We are moving our CI to github actions for better UX, faster CI and more supported platforms. Most of our repos have it done and devs are happy about it. Would you consider to do that move as well? This might help to fix that ticket!

[2020-01-29 12:27] kelson42 commented on #573
@mossroy @jaiffroid We are moving our CI to github actions for better UX, faster CI and more supported platforms. Most of our repos have it done and devs are happy about it. Would you consider to do that move as well? This might help to fix that ticket!

[2020-01-30 07:00] Jaifroid commented on #573
@kelson42 It sounds good to have an automation system directly inside GitHub. It seems it's a somewhat different syntax, just looking at, e.g., https://javalin.io/blog/moving-a-jvm-project-from-travis-to-github-actions but has a lot of advantages. But I have no experience, yet, of setting up CI, so I'll defer to @mossroy on the viability.

[2020-01-31 01:05] Jaifroid commented on #581
I've experimentally added @peter-x's least-recently-used cache implementation (https://github.com/kiwix/kiwix-js/pull/183/files) to the kiwix-js-windows environment found here: https://kiwix.github.io/kiwix-js-windows/ . Visiting that page in Chrome browser for Android allows testing this. (To test this, it may be necessary to reload the Service Worker's cached app files if the page has been visit

[2020-01-31 22:06] zengchu2 commented on #89
Let me check if I am understanding this problem correctly.
Here is my running environment: **Chrome 78.0,  Kiwix v2.6 **
I open pages  **x, y, z** in order, and then I quickly click the **Back** and **Forward** buttons at the bottom of the web app. When I stop, I am on page with link "http://localhost:3000/www/index.html?title=A/z" and I **expect to see page z, but then page x and y pops up (whih

[2020-02-01 11:58] Jaifroid opened #588 "Update deprecated Promise patterns and methods"
We have a number of non-spec-compliant deprecated Promise patterns and methods in the code. For example, `.fail()` is used instead of the ES6-compliant `.catch()` (no reason for this as the latter is fully supported by Q). We also have a few cases of the [`.defer` anti-pattern](https://github.com/petkaantonov/bluebird/wiki/Promise-anti-patterns#the-deferred-anti-pattern). Correcting/re-factoring t

[2020-02-02 13:17] kelson42 commented on #132
@mossroy This kind of tickets are really difficult to implement and close because it is impossible to secure that all cases are properly handled. I’m more in favor of closing it and if a problem is precisely identified, then open a dedicated ticket. My two cents...

[2020-02-02 13:20] kelson42 commented on #138
I would not recommend to handle cases which are not respecting the ZIM specification. That only makes the code more complicated.... for no added value. I strongly recommend to close this ticket as wont-fix.

[2020-02-02 13:24] kelson42 commented on #513
@mossroy @dattaz The upstream ticket has been fixed 4 months ago. Does that mean we could close that ticket?

[2020-02-03 13:48] mossroy commented on #586
The main issue with the "File and Directory Entries API" is that, as far as I understand, you can not read files in the actual filesystem of the device, but only in the sandboxed filesystem. And this sandboxed filesystem can not be accessed outside the app.
I suppose it implies that the ZIM file has to be downloaded by the app itself. i.e the ZIM file can not be side-loaded from an offline source.

[2020-02-03 14:10] mossroy commented on #554
This might be some work for an upcoming hackathon

[2020-02-03 14:12] mossroy commented on #528
@Bam92 : this seems complicated to implement and I'm not sure it is the highest priority.
Regarding the UI tests, I don't see an easy way to plug them on CodeCov. And they're probably the most interesting ones.
The unit tests might be plugged with CodeCov (IMHO, #554 should be implemented first, so that to make them run on nodeJS), but they "only" test the ZIM backend. I would prefer to work on re

[2020-02-03 14:34] mossroy opened #590 "Switch to GitHub Actions instead of Travis"
We had a few issues with Travis CI in the past (like #573) and GitHub seems to push GitHub Actions to replace it.
We would have to plug GitHub Actions with Sauce Connect, which seems to be possible (see https://www.linkedin.com/pulse/getting-started-github-actions-webdriverio-sauce-labs-moataz-nabil)

[2020-02-03 14:34] mossroy commented on #573
I've created #590 to evaluate switching from Travis to GitHub Actions

[2020-02-03 14:39] mossroy commented on #89
@zengchu2 : yes, you correctly understood the issue

[2020-02-03 15:48] mossroy commented on #588
Good idea, and I suppose it's not risky

[2020-02-03 16:08] mossroy commented on #132
I agree

[2020-02-03 16:08] #132 closed

[2020-02-03 16:31] mossroy commented on #138
No.
The goal here is not to handle faulty ZIM files, but to make the ServiceWorker only handle what it should handle.
Currently, it technically catches ALL the HTTP requests made by the browser, including the ones to load the resource of kiwix-js itself (like fetching www/js/app.js).

There is a regular expression at the beginning of the ServiceWorker that checks if the URL matches a ZIM URL. It i

[2020-02-03 16:37] mossroy commented on #513
As you could have read in the latest comments, I did not manage to compile with a recent version of emscripten, so I could not check that this was fixed for us.
It's certainly possible to recompile and test, but I did not have a lot of time to work on that.

In any case, I don't think we should close a ticket if we did not check the problem has been fixed.

It might be something to work on for an

[2020-02-03 17:39] mossroy commented on #585
There is such feature in the Android version of Kiwix. It would be cool to implement it in kiwix-js too, even if I don't think it's a high priority.
And it works for text selection in any other app.

Could you elaborate on the use-case you imagine?

For webextensions, we could probably do something similar, by adding a context menu (with https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/Web

[2020-02-03 18:42] Jaifroid commented on #586
Yes, I came tot he conclusion that the File and Directory Entries API, while a lot better supported recently than the old Chrome-only Filesystem API (basically because the other browsers were forced to implement parts of it or see their browsers fail on popular sites) is only useful for downloading a smallish (e.g. up to size of WikiMed) ZIM and storing it in the sandboxed File System. If this cou

[2020-02-03 20:39] #265 closed

[2020-02-03 20:59] Jaifroid opened #591 "Missing footer toolbar when switching themes using Show applied theme link"
This is a minor bug (regression) I've accidentally introduced with #582 . It can easily be corrected with a small PR. It only happens when switching themes and using the provided "[ Show article with applied theme ]" link. The issue is that the footer toolbar is not shown again (after it was hidden in Config/About pages). If the user presses Home instead, the bug is not present (footer is correctl

[2020-02-03 21:53] Jaifroid commented on #585
I haven't given it much thought, but I imagined being able to select an interesting word or name or phrase and the text would be copied to the clipboard, and this API could detect that event and then show a menu of options. However, the only option I can currently think of is "Search this text", which is something that is relatively easy to do with standard copy-paste right now. Maybe also "Read t

[2020-02-04 12:41] Bam92 commented on #554
Which hackathon do you mean here?

[2020-02-04 12:45] Bam92 commented on #528
@mossroy Good. I try to guess what you mean.

[2020-02-04 12:50] Bam92 commented on #166
@Jaifroid Any update about this issue?

[2020-02-05 08:50] mossroy commented on #554
I mean it's something I could work on in the following months

[2020-02-05 14:23] ciradu2204 commented on #76
can I work on this issue?

[2020-02-05 16:55] Jaifroid commented on #76
@ciradu2204 You are of course welcome to work on the issue if it is of interest to you. See my comment above to Swayamsvk, and @mossroy's also below that.

[2020-02-07 06:45] #591 closed

[2020-02-08 20:14] mossroy commented on #573
I close this issue because I think i can not be solved with Travis.
IMHO, the solution is to switch to another Continuous Integration solution (like GitHub Actions)

[2020-02-08 20:14] #573 closed

[2020-02-12 21:48] ciradu2204 commented on #76
Thank you, I will have a look at them

[2020-02-13 21:49] #89 closed

[2020-02-15 16:35] Jaifroid commented on #590
There's an interesting, detailed [blog post from the author of Zettlr](https://www.zettlr.com/post/continuous-cross-platform-deployment-github-actions) (an electron-based open source markdown word processor I use) on how he implemented Continuous Deployment with GitHub actions. I found it useful to understand how actions work, though it still seems like a mammoth task. I know we don't have much de

[2020-02-25 12:25] Jaifroid opened #594 "IE11 "freezes" (for several seconds) when loading large pages from latest WikiMed"
I thought this was a problem with #589 (Promise refactoring), but it turns out to occur on Master as well. When loading pages with a number of stylesheets from `wikipedia_en_medicine_maxi_2020-02.zim`, IE11 freezes for several seconds during the loading process. Even the UI spinner is frozen (it is a CSS spinner), which perhaps implies that at a very low level it is trawling through many styleshee

[2020-02-26 15:59] kelson42 commented on #594
@Jaifroid Not sure, this is still officially supported by Microsoft.

[2020-02-26 18:10] Jaifroid commented on #594
@kelson42  IE11 is still "supported" in the sense that it is still packaged with Windows 10 mainly because businesses still use it for old software that has Active X proprietary technology. We took a decision to continue testing with IE11 because it is the only browser guaranteed to be available without further download in a Windows XP/Vista/7 machine, and those users (I guess mainly in Global Sou

[2020-02-28 16:59] kelson42 opened #595 "Can Kiwix-JS deal with an online ZIM file available through HTTP?"
I know we have talked about that in the past... but it the outcome of the discussion is unclear to me.

[2020-02-28 17:05] Jaifroid commented on #595
Kiwix JS can load a ZIM file into memory over HTTP(S) and use it that way, which is not much good because you might as well be downloading it in that case. Sharun-s had developed a technique using XML Range Requests to access part of a ZIM file over http(s). It was slow.

[2020-02-28 18:39] Jaifroid commented on #595
I might add that the slowest element here would be binary search of the title list and url list, as we would be opening potentially hundreds of XMLHttpRequests to the server for very small bits of data. There is a caching module (developed by peter-x) that helps in that situation, but given #581 this could still be pretty slow on large files.

[2020-02-29 15:58] move[bot] opened #596 "Consider packaging ZIMs and offline reader as a Web Bundle"
*@Jaifroid commented on Dec 31, 2019, 9:59 AM UTC:*

Having come across [https://web.dev/web-bundles/](https://web.dev/web-bundles/) , Web Bundles look like an ideal technology for packaging ZIM files with a lightweight reader (such as Kiwix JS). Excerpt from the description:

*This issue was moved by [kelson42](https://github.com/kelson42) from [kiwix/overview#28](https://github.com/kiwix/overvie

[2020-02-29 20:19] kelson42 commented on #588
@Jaifroid Should we close this ticket?

[2020-02-29 20:23] Jaifroid commented on #588
Yes!

[2020-02-29 20:23] #588 closed

[2020-03-01 12:53] Jaifroid commented on #581
A further significant improvement in file access speeds on Android (and possibly other platforms) can be gained by testing for and using, if available, the new [Blob.arrayBuffer()](https://developer.mozilla.org/en-US/docs/Web/API/Blob/arrayBuffer) method of reading a file (instead of FileReader). This is supported in Chromium 79+ on Desktop and Android, and in Firefox Desktop (but not yet on Andro

[2020-03-02 10:30] Jaifroid commented on #581
A more widely supported alternative to the first if block above is:
[code]
This works in Chromium (desktop + mobile), Edge Legacy (+ mobile), Firefox Desktop (but not Firefox Android). See https://developer.mozilla.org/en-US/docs/Web/API/Body/arrayBuffer .

[2020-03-02 17:18] kelson42 commented on #595
@Jaifroid I mean without downloading the whole file. Just dealing like with a local filesystem file, just downloading the cluster and unpacking them?

[2020-03-03 03:16] vasusharma7 commented on #280
I would like to work on this issue

[2020-03-03 09:01] Jaifroid commented on #280
I think we need to give a bit of thought to what the effect of this in app context would be. In browser context, it might make sense, but are we sure it's what is required in app context, including extensions? Apps are often separate processes that run in a framework, with the title set by an app manifest, and the app's window title and icon should be stable. If, when running in browser context, w

[2020-03-04 08:52] Jaifroid commented on #308
I think this issue can be closed. We long ago fixed the crash caused by attempting to decompress too many SVG equations at once, and MathML equations now work in Service Worker mode for Stackexchange ZIMs (which do not have SVGs). In jQuery mode, equations don't work in Stackexchange ZIMs, but we throw up a banner asking users, if possible, to switch to Service Worker. Finally, Kiwix JS Windows ex

[2020-03-04 08:52] #308 closed

[2020-03-04 08:54] kelson42 commented on #308
@Jaifroid Sounds good.

[2020-03-04 10:56] Jaifroid commented on #107
The only place where binary search is really slow is on Android, for which I've opened #581 . Otherwise, in most other contexts this issue has been solved. So I'm closing for now.

[2020-03-04 10:56] #107 closed

[2020-03-04 10:57] Jaifroid commented on #109
I don't think we're ever going to implement this, especially given our aspiration to move towards something like webpack - see #554 . Closing.

[2020-03-04 10:57] #109 closed

[2020-03-04 11:29] Jaifroid commented on #230
I think we should close this and open a new issue relating to upcoming changes in https://github.com/openzim/libzim/issues/15 (removal of namespaces). I think we will need to address the general issue of arbitrary content being placed in a 'flat' structure, even though I don't currently understand the advantage of doing this...

[2020-03-04 12:16] mossroy commented on #230
I agree.
And, as far as I know, this bug only occurs in jQuery mode, and only on this specific ZIM file, for which the CSS style is not in the right namespace.

[2020-03-04 12:25] Jaifroid opened #597 "Support reading ZIM archives with no namespace"
See comment here: https://github.com/kiwix/kiwix-js/issues/230#issuecomment-301271039 (and that issue more broadly) and the issue for this on Libzim: https://github.com/openzim/libzim/issues/15. If we haven't achieved #514 by the time this becomes a reality, we will need to do a fair amount of adjustment to the back end. It should not be difficult, just a bit tedious... :-)

[2020-03-04 12:25] #230 closed

[2020-03-04 14:02] Jaifroid commented on #297
I think this issue has been superseded by the much faster extraction of SVGs we achieved when re-compiling xzdec, and although Kiwix JS cannot support MathML in Stackexchange ZIMs (where no SVG is provided) in jQuery mode, we provide a banner asking users to switch to SW mode. If they cannot, they can use Kiwix JS Windows, which has KaTeX integrated.

[2020-03-04 14:02] #297 closed

[2020-03-04 14:04] Jaifroid commented on #286
I don't think this issue is achievable. There is a flag in Chromium, and this is as far as we can get. Closing.

[2020-03-04 14:04] #286 closed

[2020-03-04 14:11] Jaifroid commented on #339
PhET is now supported in Service Worker mode, and a banner is thrown up in jQuery mode asking the user to switch (and showing how). I do have an experimental branch that injects JS in jQuery mode, and it can run PhET experiments, but it can't run the React-based UI. In any case, this issue is a specific case of #152 , and that issue would be the place to solve it if it's worthwhile merging my vers

[2020-03-04 14:11] #339 closed

[2020-03-04 14:16] Jaifroid commented on #470
This issue was fixed in #527. Closing.

[2020-03-04 14:16] #470 closed

[2020-03-04 14:24] Jaifroid commented on #486
Microsoft has now made Edge Chromium the default browser on Windows 10, and for users who do not know how to set a specific registry key, access to Edge Legacy (which remains available for webviews and UWP apps) has been disabled. We should maintain our Unite Tests for Edge Legacy because its engine is still used in UWP apps and I believe it is still the default browser in Windows 8.0 / 8.1. I don

[2020-03-04 14:24] #486 closed

[2020-03-04 14:53] Jaifroid commented on #545
The NWJS app (which runs on 32bit Windows XP, Vista, 7, 8, 10) has been updated to v0.9.9.97N:

https://github.com/kiwix/kiwix-js-windows/releases/tag/v0.9.9.97N

There is also a "packaged app" which comes bundled with the February 2020 version of WkiMed English. This one is only for Win7/8/10:

https://github.com/kiwix/kiwix-js-windows/releases/tag/v0.9.9.97N-WikiMed

[2020-03-04 15:08] Jaifroid opened #598 "Release version 2.7"
I think we could do this fairly easily, and we have some good improvements:

* Dark theme / night mode
* Added asset caching in Service Worker mode
* Fixed broken search with special characters
* Better user experience with search
* Added UI transitions between app pages
* Upgraded Bootstrap to v4.0 and Q to v1.5.1
* Code cleanup

Plus, we're overdue on 2.7 by five days!!

[2020-03-04 17:04] mossroy commented on #486
@Jaifroid many thanks for all this cleanup.
I was planning to do that : you've been faster than me.
I agree with all the issues you closed

[2020-03-04 17:39] mossroy commented on #537
@ernesst : I did not see a conclusion for this ticket.

Could you test a recent nightly (from https://download.kiwix.org/nightly/) on your Ubuntu Touch device?
And let us know if we can release version 2.7 on https://open-store.io ?
Based on the statistics on open-store, version 2.6 has been downloaded 199 times, but we don't have more feedback than that.

Regarding the "devel" and "edge" versions

[2020-03-04 17:41] mossroy commented on #598
Yes, I agree.
It would be good to do that release before the Hackathon (i.e. before the end of March).

I copy/paste the usual steps to do that :
- a few tests
- update the changelog file
- move open issues to 2.8
- create a tag on git : it should trigger the generation of unsigned extensions by Travis
- upload the unsigned extensions on Firefox and Chrome stores
- upload the application for ubunt

[2020-03-04 17:54] Jaifroid commented on #598
I'd forgotten about #566 (#572). I'll have a quick look. For a start, the PR's branch needs to be rebased.

[2020-03-05 02:57] vasusharma7 commented on #280
Yes, it won't be good to set the title in app manifest..that won't look good I guess but on browser it will provide readability and more convenience when more than two tabs are opened.
Just an example - Google Colab also provides with same feature - the tab name is updated with  the notebook name on which the user is working which is really helpful at times.

[2020-03-07 10:22] mossroy commented on #280
@Jaifroid : maybe we could let @vasusharma7 implement it, if it's not long/complicated.
It would let us all see what the implications would be in all contexts.

[2020-03-07 10:47] Jaifroid commented on #280
Yes, of course!

[2020-03-08 18:16] vasusharma7 commented on #280
Thanks for guiding.I will implement the changes and let you know  soon.

[2020-03-12 17:50] Hardik500 commented on #173
Can I work on this issue if it's still open?

[2020-03-12 20:21] Jaifroid commented on #173
@Hardik500 This issue has a complicated history. Please read all the above and look at the code I developed in a PR that was never merged. It is not easy to make this work in a way that is compliant with the Service Worker code. I made a complete solution, but the code added complexity that in the end wasn't felt to be justified given the use case. Maybe you can simplify my code in the way suggest

[2020-03-13 14:19] Hardik500 commented on #173
@Jaifroid  Ok I will try to simplify your code and will contact you if I get stuck anywhere, if you don't mind.

[2020-03-14 12:31] Jaifroid commented on #173
@Hardik500 It might be useful if I rebase the code first on current master (unless you've already started working on it).

[2020-03-15 10:01] Hardik500 commented on #173
No I haven't started working on it, was just checking the list of tasks that need to be done.

[2020-03-15 21:52] Jaifroid commented on #388
Very useful demo app showing what PWAs are capable of today:

https://whatpwacando.today/

[2020-03-16 05:09] ernesst commented on #537
Hello,
I've tested the 03-16 version, it works well.

What I've try to mean between devel and edge version is that edge has lot of unstable package and the issue that i've found previously might have come from that.

You can push this version to the store.

As you suggested once, currently we don't have serviceworker enable, I suggest you to make a detailed request to the browser repo : https://gi

[2020-03-16 10:37] mossroy commented on #537
Thanks, that's good news : kiwix-js still works fine on Ubuntu Touch (in jQuery mode for now), so I'll close this issue.

[2020-03-16 10:37] #537 closed

[2020-03-22 09:43] mossroy commented on #537
@ernesst : could you tell us which API status you get (with Ubuntu Touch) in the "configure" section about ServiceWorkers?
Do you have a "ServiceWorker API unavailable" or "ServiceWorker API available, but not registered"?
If it's "ServiceWorker API available, but not registered", could you give us the error message(s) you probably get in the browser console?

I need this information to make a pro

[2020-03-22 09:45] Popolechien opened #604 "Update application logo"
There is a new, slightly remodeled logo for Kiwix
https://commons.wikimedia.org/wiki/File:Kiwix_logo_v3.png
The app's icon needs to be updated accordingly

[2020-03-23 23:50] Hardik500 commented on #173
@Jaifroid sorry for a super late PR, I was busy with my exams. Could you check the PR and see what changes I could improve upon.

[2020-03-24 21:38] ykabusalah commented on #604
Can I try this?

[2020-03-24 21:39] ykabusalah commented on #508
Can I try tackling this issue?

[2020-03-24 21:40] ykabusalah commented on #173
Is this still open? Could I tackle this?

[2020-03-24 21:49] Jaifroid commented on #173
@ykabusalah At the moment @Hardik500 is working on a PR for this issue #605. Is there another issue that interests you?

[2020-03-24 21:53] Jaifroid commented on #508
@ykabusalah Do you have experience in compiling C++ with Emscripten? If you do, help would be welcome. If you don't have that experience, I would suggest tackling something easier.

[2020-03-24 21:54] Jaifroid commented on #604
@ykabusalah Yes, please do have a go.

[2020-03-24 22:19] ykabusalah commented on #507
Can I try refactoring this?

[2020-03-24 22:21] ykabusalah commented on #173
Do you have any other open good first issues that haven't been tackled? I'm currently about to complete one, and I would like another one.

[2020-03-24 22:21] ykabusalah commented on #173
@Jaifroid

[2020-03-24 22:23] ykabusalah commented on #508
@Jaifroid I do not have experience in that, and I will find something else. Thanks.

[2020-03-24 22:57] ykabusalah commented on #166
Can I tackle this issue?

[2020-03-25 01:52] ykabusalah commented on #76
Can I also try tackling this?

[2020-03-25 06:25] Jaifroid commented on #507
@ykabusalah Unless you're familiar with the codebase, I would suggest that this is quite a complex task and not a good first issue.

[2020-03-25 06:27] Jaifroid commented on #166
@ykabusalah Please look carefully at the discussion above. A PR was already made, but it was never completed. If you think you can complete the existing PR according to the requirements in the discussion above, please do try.

[2020-03-25 13:33] #566 closed

[2020-03-25 16:05] ykabusalah commented on #604
I have submitted a solution for this through #607 .

[2020-03-26 22:11] ernesst commented on #537
Just to let you know that I working on your request... trying to figure out how to get these information

[2020-03-28 10:48] FalakZ commented on #604
@Jaifroid Hello, I tried making a new logo for KIWIX .

![logo](https://user-images.githubusercontent.com/46991207/77821359-c0b8b500-710f-11ea-8306-a77d789a1a49.png)

[2020-03-28 10:58] mossroy commented on #537
@ernesst : to get the API status, you only need to start the app on your device, go to the "Configure" section and scroll down

[2020-03-28 11:13] FalakZ commented on #604
Hello @Jaifroid ,
I created a logo for kiwix. Can you check it out.

![ff37d763-33ca-46ed-a412-ab119debc5ac_200x200](https://user-images.githubusercontent.com/46991207/77821833-3b370400-7113-11ea-8342-0df9e987ab0c.png)

[2020-03-28 11:21] Jaifroid commented on #604
@FalakZ Nice! But I'm just a dev. I don't know if Kiwix Association is interested in a new logo, given that they have their own logos with wide recognition. Pinging @kelson42 in case Kiwix Association might be interested.

[2020-03-28 12:51] Popolechien commented on #604
@FalakZ Hi, thank you very much but we already have an updated version as indicated in the first issue comment - we are just making sure it's consistent across all apps (see [here ](https://github.com/kiwix/kiwix-android/issues/1943) and [here](https://github.com/kiwix/kiwix-desktop/issues/388)). Maybe I should have been a little clearer, sorry about that.

[2020-03-28 14:36] Jaifroid commented on #598
No rush, @mossroy , but I just thought I'd check if there's anything else you need me to do before release? E.g., any more tests?

[2020-03-28 14:56] Jaifroid commented on #388
With the optimizations, including peter-x's least-recently-used file cache, binary search is now acceptable on the Android PWA in ZIMs up to a few GB in size.

For `wikipedia_en_medicine_maxi_2020_03.zim`, in jQuery mode, the landing page opens within ~5s, and 15 search results are returned within ~3s. A search result that redirects to a differently titled page takes ~4s. A page load that also has

[2020-03-28 21:50] mossroy commented on #604
Implemented by #608

[2020-03-28 21:50] #604 closed

[2020-03-28 22:07] mossroy commented on #598
@Jaifroid I'll try to do a few tests on my Firefox OS device. Please test on Windows Mobile and other Edge-based platforms.
If you have some time to update the changelog, please do

[2020-03-29 07:31] Jaifroid commented on #598
Happy to do changelog this morning, and will do tests on Windows devices.

[2020-03-29 11:43] mossroy commented on #598
I tested on my Firefox OS device, it's all fine.
I also quickly tested as a Firefox extension (jQuery mode) and a Chromium extension (SW mode). No problem on both

[2020-03-29 13:30] Jaifroid commented on #598
Tested on IE11. Working, but dark theme does not work properly (as we already knew), so will add a note to changelog.

[2020-03-29 15:34] Jaifroid commented on #598
Tested and working on Edge Legacy and Edge Chromium in jQuery and SW modes, with Light Theme and Dark Themes, also with and without page transitions.

[2020-03-29 15:46] mossroy commented on #598
All right. I suppose I can now tag version 2.7?

[2020-03-29 15:50] Jaifroid commented on #598
We need to remove the WIP label, move open issues to 2.8?

[2020-03-29 15:51] Jaifroid commented on #598
But yes, I've completed testing on Windows.

[2020-03-29 16:12] mossroy commented on #598
The WIP label is automatically removed in the packages when the tag is created (I just did it).
I'll move the open issues

[2020-03-29 16:17] mossroy commented on #598
Instead of moving the open issues to 2.8, I suggest to rename the current 2.8 milestone to 2.9 (and same for following milestones). That's what I usually do else 2.8 would be overwhelmed by many issues

[2020-03-29 16:18] Jaifroid commented on #598
Fine!

[2020-03-29 16:21] mossroy commented on #598
Mmmh, Travis build has not been triggered by the tag creation. I have to check

[2020-03-29 17:08] mossroy commented on #598
I moved the remaining issues to a new 2.8 milestone, and prepared the source code for 2.8.
I've manually generated the packages (except the Ubuntu Touch one), and uploaded them to https://download.kiwix.org/nightly/2020-03-29/
I uploaded the package on the Firefox extension store. It has been accepted.

@kelson42 : could you upload https://download.kiwix.org/nightly/2020-03-29/kiwix-chrome-unsigne

[2020-03-30 12:04] mossroy commented on #598
@ernesst : I had to manually modify the .click package for this release, so I'm not 100% sure it's OK.
Could you please install https://download.kiwix.org/nightly/2020-03-29/kiwix-ubuntu-touch-2.7.0.click and check it's OK, before I upload it on https://open-store.io/ ?

[2020-03-30 14:30] ernesst commented on #598
It works fine,
the title say "Kiwix 2.8commit-b4224bb", is that expected ?

[2020-03-30 15:29] kelson42 commented on #598
New extensions published on https://download.kiwix.org/release/browsers/

[2020-03-30 19:08] mossroy commented on #598
Thanks @kelson42
Thanks @ernesst : no it was not expected, it should be 2.7.0. Could you try again with https://download.kiwix.org/nightly/2020-03-30/kiwix-ubuntu-touch-2.7.0.click ?

[2020-03-31 16:29] kelson42 opened #611 "Add support for zstd decompression"
We just about to add support of zstd compression in the libzim:
https://github.com/openzim/libzim/issues/84

The reason is that zst can decompress around x6 time faster than xz (all the other aspects are similar to xz).

This will be shipped in the next libzim release within a week.

I guess all libzim based ports (basically everything except Kiwix JS) will have it included before summer.

As a co

[2020-03-31 17:27] Jaifroid commented on #611
Hmm. This depends entirely on whether a decompressor has been written in JavaScript, or whether it can be compiled to webassembly. If not, and if we continue to be unable to compile libzim to webassembly, this would be one big breaking change that could make Kiwix JS obsolete overnight!

[2020-03-31 17:30] kelson42 commented on #611
@Jaifroid https://www.npmjs.com/package/zstd-codec

[2020-03-31 17:36] Jaifroid commented on #611
@kelson42 That looks like very good news! They specifically say it is an Emscripten version "for Node and the Web", which sounds like what we need.

[2020-04-01 14:17] ernesst commented on #598
Yes this one is fine.

[2020-04-01 17:03] mossroy commented on #598
Thanks @ernesst , I've uploaded this 2.7.0 package on https://open-store.io/
So we've finished this release

[2020-04-01 17:03] #598 closed

[2020-04-01 19:02] mossroy commented on #611
Maybe, but it might be not so easy.
I don't see in this library an API identical to the one we use for XZ format (see https://github.com/kiwix/kiwix-js/blob/master/www/js/lib/xzdec_wrapper.js#L59). But maybe it can be adapted.

I was supposed to work on #514 at the hackathon, that would supersede this issue. The fact that the hackathon has been canceled (for good covid-19 reasons) changed the plan

[2020-04-01 19:10] kelson42 commented on #611
I know it does not help, but I'm quite sorry to inform you so lately, but this is something I had in the back of my mind for quite a bit of time and the move is ad the end relatively easy for the C++ backed software... But, it is true, for JS, this is challenging.

[2020-04-04 08:42] alextooter opened #612 "Can Kiwix remember user settings of Dark theme?"
I like the Dark theme in v2.7,it's beautiful.After I close Kiwix page,then reopen it,Kiwix not remember my choose of Dark theme.

Can we store this option in somewhere,don't let me choose everytime?

[2020-04-04 08:43] Jaifroid commented on #612
Hi @alextooter, it should be able to. Which platform are you using, so I can trobuleshoot?

[2020-04-04 08:50] alextooter commented on #612
I am using macOS 10.15.4,Firefox 74.0.1,kiwix 2.7.0
My way of using kiwix:click the icon on toolbar,kiwix open with light theme,then I choose Dark+invert(wikimedia*),it turn to dark theme.Close this tab,open it,using Light theme again.

[2020-04-04 09:06] Jaifroid commented on #612
OK, thanks, @alextooter . I presume that's in the Firefox extension?

[2020-04-04 09:13] Jaifroid commented on #612
@alextooter I reproduce the bug in Firefox Extension on Windows 10. However, it is not just with this feature, it is with any feature that stores its settings in a cookie. Something must have been deprecated. Very sorry not to have picked this up in testing.

@mossroy can you reproduce? In the Firefox extension, try changing any setting in Config that should persist between tab sessions, and they

[2020-04-04 11:24] Jaifroid commented on #612
Proof that cookies are disabled in Firefox browser extension:

In the extension tab devtools type `document.cookie="username=John Doe"` and then `document.cookie` Result:

![image](https://user-images.githubusercontent.com/4304337/78437020-b433df80-766e-11ea-8ccd-dc844aab6ee2.png)

In a normal tab opening `file:///.../kiwix-js/www/index.html`:

![image](https://user-images.githubusercontent.com/43

[2020-04-04 12:45] Jaifroid commented on #612
Looking at https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Work_with_the_Cookies_API, I see we should have a `permissions` entry in our `manifest.json` to use the Cookies API in Firefox Extensions:

![image](https://user-images.githubusercontent.com/4304337/78450980-75a42200-767a-11ea-80b4-fb3be07f5c47.png)

We don't have this.

[2020-04-04 15:06] mossroy commented on #612
I reproduce this issue with Firefox 74 (on Ubuntu), not on Chromium 80. I also reproduce on Firefox 68.6 ESR (on Windows 8.1).
So this seems to be Firefox-specific.
Adding

    "permissions": [
        "tabs",
        "cookies",
        "<all_urls>"
    ],

in manifest.json does not help : it seems to be a permission to access cookies from other tabs/websites

[2020-04-04 15:23] kelson42 commented on #611
Here is a demo file with zstd coimpression http://tmp.kiwix.org/foo-zstd.zim

[2020-04-04 15:47] Jaifroid commented on #612
I suggest a possible solution to this in #613 .

[2020-04-04 16:03] Jaifroid commented on #611
Thank you! I've downloaded it. @kelson42 just to be clear, is it the case that the cluster information byte referenced in https://wiki.openzim.org/wiki/ZIM_file_format will now have a value of 5 if the cluster is compressed with the zstd codec, but that otherwise nothing else has changed with the file format?

[2020-04-04 16:09] kelson42 commented on #611
@Jaifroid abslutely

[2020-04-04 17:03] mossroy commented on #612
Based on https://bugzilla.mozilla.org/show_bug.cgi?id=1418961#c6 , it seems to be the expected behavior in Firefox extensions :

So we'll have to find another way to store the user preferences. I'll have a look at #613

[2020-04-04 17:06] Jaifroid commented on #612
OK. It seems this is since 55/56! I guess our users generally didn't change the defaults, then!

[2020-04-04 17:16] mossroy commented on #612
It's not that surprising : in Firefox extension, you can not use SW mode, so this setting can not be changed. And the theme and cache settings are recent. So the only setting that could be affected since a long time is the "Permanently hide active content warning"

[2020-04-07 11:21] kelson42 commented on #435
FYI The phets scraper has been rewritten an a version 2.0 has been published a few days ago. New ZIM files have been released. Phets related bugs should probably be re-confirmed.

[2020-04-07 13:21] Jaifroid commented on #435
Indeed, and actually we've rewritten the algorithm for calculating the visible area, so it *may* be fixed our end. Will check.

[2020-04-10 18:31] Jaifroid commented on #611
I spent a bit of time trying to integrate the zstd decompressor. I got as far as attaching a webpacked bundle produced with browserify, which runs and loads the decompressor into memory.

I very roughly attempted to add a new decompressor function to zimfile.js for when the `compressionType === 5`. It is **not** properly integrated in that I need to wrap the function the new zstd.Streaming() loade

[2020-04-11 07:36] kelson42 commented on #611
@Jaifroid At least you seem on a promising path :)

[2020-04-11 12:42] Jaifroid commented on #611
I've made a bit of progress, but am hitting a problem I'm not sure how to solve. As I understand it, I need to read the entire compressed cluster into memory as a Uint8Array and then decompress that Uint8Array, and after that we need to slice out the needed blobs.

So, I think I've managed to read the full cluster, though it's a bit difficult to know with this very small test file that only has nu

[2020-04-11 16:48] Jaifroid commented on #611
I've added the example app provided in https://github.com/yoshihitoh/zstd-codec (after compiling the bundle) to our repo as a proof of concept. It's in the directory `zstandard/dist/` .

To test in browser, switch to branch `Add-zstd-decompression-support` and open `zstandard/dist/index.html` in a broswer, either from the `file://` protocol if browser supports it (Edge Legacy or Firefox), or serve

[2020-04-11 18:44] Jaifroid commented on #554
Another good howto with webpack: https://github.com/petehunt/webpack-howto .

[2020-04-12 17:05] Jaifroid commented on #611
It looks like we can compile our own version from the latest zstd release. See this text on https://github.com/facebook/zstd/tree/v1.4.4/contrib/single_file_decoder:

[2020-04-13 09:47] mossroy commented on #611
Maybe we need to recompile the zstd-bundle.js library with different memory settings.
For xzdec, we used `-s TOTAL_MEMORY=83886080`. They seem to be compiling it inside Docker, but do not give instructions

[2020-04-14 15:42] Jaifroid commented on #612
@alextooter We are about to merge into master a fix for this issue that works in development testing on Firefox extension and that we very much hope will work in production. Please note that you will have to wait for a new release, which may take some time as we usually accumulate a number of features before making a new release.

[2020-04-14 15:45] #438 closed

[2020-04-14 15:45] #612 closed

[2020-04-14 15:55] Jaifroid opened #614 "Use const declarations instead of var wherever constants are declared"
We have established with #613 that `const` works with all the browsers we support, and it improves readability as well as (presumably) improving browser/app memory management (likely a very tiny effect).

[2020-04-14 20:50] yonis9 commented on #614
Hi, can I take it?

[2020-04-14 20:55] Jaifroid commented on #614
@yonis9 Yes, this would be an easy first PR. Just make sure that it is only constants that you define with `const`, i.e. nothing that can change values. Generally we indicate constants with capital letters. For example, you'll see three at the beginning of `app.js`.

[2020-04-15 18:10] kelson42 commented on #552
I confirm the bug is still there.

[2020-04-18 08:19] bhargeymehta commented on #76
Since there was no update on this for about a month, I though I could do it.

There's a speed read button which pops up a new window as shown in the video. The text is extracted from the articleContent element using the innerText property. It is then split on whitespaces. (Very rudimentary but I think it can improved by some good regex).

The core logic behind the display was not that hard so I bu

[2020-04-18 08:31] Jaifroid commented on #76
@bhargeymehta That looks very cool! Are you ready to post your code to this GitHub as a PR? When you are, you should go ahead and do so. Before you do, check that you have made this work both in jQuery mode and in Service Worker mode. To test in SW mode, you will need to run it from a webserver (localhost) rather than from file:// .

Also, thanks for reporting the isLandingPage bug. I found that a

[2020-04-18 09:43] bhargeymehta opened #615 "params.isLandingPage remains false when history is used to navigate"
To reproduce:
Open kiwix-js
Go to some article
Navigate to home page using back button (using history.back())

Issue:
Currently on landing page but params.isLandingPage remains 'false'

[2020-04-18 09:50] bhargeymehta commented on #76
@Jaifroid
Created an issue for the landingPage problem: (https://github.com/kiwix/kiwix-js/issues/615)
Also made a pull request for the speed read feature: (https://github.com/kiwix/kiwix-js/pull/616)

[2020-04-18 09:53] Jaifroid commented on #76
OK, great, thanks! Don't worry about the Travis failure: it's because you don't have write access to the repo. As part of testing, in due course, I'll push a cloned branch, which will allow the tests to run.

[2020-04-23 12:23] kelson42 commented on #179
@mossroy @Jaifroid I think this would be fixed in an acceptable manner by detecting the spaces instead of detecting the words. You could use \s for example and any other separator you judge appropriate. Would that be good for you?

[2020-04-25 08:42] Jaifroid commented on #179
@kelson42 Sorry for slow reply. Yes, I'll take a look at that regex. It's also possible that with widespread UTF8 support in JavaScript, the bug has gone away, i.e. the internal definition of a word boundary may no longer have that bug.

[2020-04-25 08:50] Jaifroid commented on #179
I confirm this bug still exists in Fiefox 75.0.

[2020-04-25 11:50] Jaifroid commented on #179
There is a broader issue with the current regex, which is that `\w` only matches `[a-zA-Z]` in JavaScript, i.e. only works with the ASCII alphabet. It's possibly this could be changed with the `/u` (Unicode) switch, but that is not supported in IE11.

I tested an initial solution to the bug, but still using `\w`, and the outcome can be seen in Regex Buddy here (note that I'm using a placeholder U

[2020-04-25 11:58] Jaifroid commented on #179
If instead we select *any* character (`.`) after the start of the string or after a space or any number of spaces, as @kelson42 suggested, then we would get what you see below. My only doubts are that this will pick up numbers and punctuation marks with spaces before them. However, I suspect that converting these to uppercase will just return the original value, but haven't tested yet.

![image](h

[2020-04-25 12:10] kelson42 commented on #179
@Jaifroid What about something like this? `([\s-–—_:]+|^).`

[2020-04-25 12:16] kelson42 commented on #179
@Jaifroid We can easily put the punctuations marks in this as well.

[2020-04-25 16:55] Jaifroid commented on #179
Thanks, that's a good idea, just in case someone writes punctuation in their search instead of a space.

[2020-04-25 17:33] kelson42 commented on #179
@Jaifroid Do we need anything else to finally be able to fix that ticket. Would you be able to make a PR?

[2020-04-25 19:45] Jaifroid commented on #179
@kelson42 No problem I'll make a PR tomorrow morning for testing.

[2020-04-26 09:22] Jaifroid commented on #179
I've been looking into the punctuation issue, and since we can't use a Unicode property escapes (due to [IE11 and Firefox not supporting them](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions#Browser_compatibility)), we can instead compile a regex that does the equivalent, as given on [this Stackexchange post](https://stackoverflow.com/a/21396529/9727685):

[code]

[2020-04-27 09:21] mossroy commented on #179
How is this handled in other Kiwix clients? (maybe it's handled in libzim or kiwix-lib)
When this was first implemented in kiwix-js, we tried to stick with this behavior.

If it can help, I tried to use XRegExp in another branch (3 years ago) : see https://github.com/kiwix/kiwix-js/compare/fix-international-ucEveryFirstLetter
I did not have the time to complete that work at that time.

In any case

[2020-04-27 09:53] Jaifroid commented on #179
I can certainly add XRegExp as a dependency, @mossroy, if you think it might be worth it for more than this one use-case. For this case, a dev on Stackexchange has extracted the underlying regex that XRegExp compiles when using `\p{P}` and has added a few more non-punctuation symbols which seem sensible to me (and they exist in Wikipedia searches). I have used this extracted version in #617 .

The

[2020-04-27 09:55] mossroy commented on #184
If someone wants to work on this, it would be worth starting with the work already done in #593

[2020-04-27 11:43] kelson42 commented on #179
We have a title index handled by Xapian. Xapian manages everything (even the search pattern string parsing AFAIK).

[2020-04-27 15:15] Jaifroid commented on #179
But I think there is still fallback parsing of the title index, no? I saw a comment about that on the Android app GitHub somewhere, as not all ZIMs have Xapian indices, plus that causes a problem with split ZIMs, since Xapian can't handle them. I may be wrong / out-of-date on that.

[2020-04-27 15:22] kelson42 commented on #179
@Jaifroid Yes, there is a fallback here: https://github.com/kiwix/kiwix-lib/blob/master/src/reader.cpp#L800

[2020-05-10 11:31] Jaifroid opened #618 "Add XRegExp dependency"
As a result of #179, and following the example of @mossroy's initial attempt to fix that in commit https://github.com/kiwix/kiwix-js/commit/25c34b6f0f3098d4aed5a4337d07dc2349df0703, we could add the [XRegExp library](https://github.com/slevithan/xregexp) as a dependency. For now, all this would do is to avoid having to maintain the Unicode punctuation regex in `util.js.`, but it could be useful mo

[2020-05-10 13:13] Jaifroid opened #619 "Consider adding dirEntry and block cache"
@mossroy As you know, @peter-x worked on (and completed) a [dirEntry and block cache](https://github.com/kiwix/kiwix-js/pull/183) feature for Kiwix JS.

When I was trying to optimize Kiwix JS for Android browsers (#581), in desperation I tried it out in Kiwix JS Windows, and found it to make a huge difference. Coincidentally for #617, where peter-x's code makes a really noticeable difference is in

[2020-05-11 07:46] Jaifroid commented on #595
@kelson42 Sorry, did not see your further query till now. Kiwix JS cannot currently download clusters over http, but sharun-s developed a prototype of that capability in his branch. He used XML range requests to read clusters from a file on localhost, but there was no reason why the exact same technique could not be used for a remote server. XML range requests ask the server only for a small part

[2020-05-11 09:56] Jaifroid commented on #595
PS the server would need to accept range requests: see https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests. I think most do (those that allow resumable download, or skipping through a streaming media file).

[2020-05-11 09:57] kelson42 commented on #595
@Jaifroid Thank you for your answer. My feelings about this approach are mitigated, I don't really believe in this for the future (but I might be wrong). But I wanted to get this documented properly for my own knowlege and for a few other reasons as well.

One of them is that @ikreymer, the lead developer of https://github.com/webrecorder, has interest on this approach and has built a similar feat

[2020-05-11 10:12] Jaifroid commented on #595
Yes, it seems quite specialized, as most users would prefer to access the original resource from which the ZIM was made. It could work as a kind of replacement for Kiwix Serve in local area networks not connected to the Internet, or as a static mirror for Wikipedia where articles can change very fast or get deleted. But it will never be so fast as Kiwix Serve, which could do the same job.

[2020-06-03 07:57] Jaifroid commented on #554
This tool could be useful in transforming codebase from ES5 to ES6 (including modules / import / export):

https://github.com/lebab/lebab

It is "the opposite of babel", hence its spelling ("lebab").

[2020-06-13 09:23] Jaifroid opened #621 "Kiwix JS (master) freezes for several seconds on loading latest WikiMed"
At least in Firefox and Edge with the file:// protocol, Kiwix JS freezes for several seconds after picking `wikipedia_en_medicine_maxi_2020-05.zim`. I noticed this behaviour previously only with IE11 with a previous WikiMed as reported in #594. Now it affects a modern browser too. Strange. It also affects Kiwix JS Windows, which is where I noticed it just now in looking to update the WikiMed app t

[2020-06-13 13:02] ritikkuril commented on #614
i new to this so just asking i just need to convert all var type in const type in all .js scripts

[2020-06-13 13:14] Jaifroid commented on #614
@ritikkuril No, as is written above, only values that are actually constants should be converted.

[2020-06-13 18:08] fabcoder547 commented on #614
@ritikkuril  have you done setup on your localpc? can you guide me in that ? how you did that?

[2020-06-14 10:20] fabcoder547 opened #622 "I want to contribute to kiwix butHow to set up this project on localhost in windows 10?"

[2020-06-14 11:57] Jaifroid commented on #622
Hi @fabcoder547 you need to have a local web server / development stack. You could try Express - http://expressjs.com/ . Note that we haven't built Kiwix JS with Node / Webpack etc. It really is just plain html5 and javascript, so just use what you would normally use to develop those. It is possible to run Kiwix JS from file:// in Firefox, IE11 and old Edge, but not any more in Chrome I think, but

[2020-06-14 12:55] ritikkuril commented on #614
@fabcoder547  i am also new bro

[2020-06-15 03:16] fabcoder547 commented on #622
@Jaifroid that means i just have to clone it and run index.htmk right?

[2020-06-15 04:01] xehroz opened #623 "Urdu rendering problem in Firefox Extension"
I have noticed a text rendering problem for Urdu language, i.e. besides the fact, that all necessary Fonts (Nastaliq & Naskh) were already installed in the OS, it was not possible/visible to see the text in proper font. May be this is the issue with CSS or something else.

FYI i have attached a screenshot, please note that this was on a 64-bit Fedora 32 and Firefox 77.0.1 without access to interne

[2020-06-15 05:54] Jaifroid commented on #623
@xehroz Thank you for this report. As I don't read Urdu, could you kindly pinpoint exactly what is wrong here? I am seeing some script in your first screenshot, but I have no idea what is correct and what is incorrect. Is it using the wrong font? Is it missing just some characters? Or is it the fact that the first screenshot is missing the warning/info boxes that are in the online version?

[2020-06-15 05:57] Jaifroid commented on #622
Yes, clone with git / github desktop or whatever you use, and then you can launch index.html from localhost (ideally) if you have a local Web server running, or else you can launch it from file:// protocol in the mentioned browsers (there may be an extra step required to unblock file access in Firefox).

[2020-06-15 06:14] xehroz commented on #623
The problem is with the font in the body of paragraph, this is using a wrong font to render. FYI it is an Asian RTL Arabic/Persian like font called Nasta' Liq which is used to properly display (or render) the text in the paragraph. (i.e. Nasta'Liq have proper ligatures & glyph to render the text correctly) But i guess Kiwix was not able to load this.

FYI i am attaching a modified screenshot to po

[2020-06-15 06:24] Jaifroid commented on #623
OK, yes that does look like a CSS issue. The problem may be upstream in mwoffliner (the scraping system), because Kiwix JS doesn't change any font info. I suspect mwoffliner is not picking up all the CSS from Wikipedia. It would be good to pinpoint the specific rule that makes the difference. Do you know how to check for that using dev tools? If not, don't worry, I can have a look mid-week.

[2020-06-17 03:36] ikreymer commented on #595
Apologies for delay! I've launched a project I've been working on, called: https://replayweb.page

It's a fully browser based replay system for web archives. I've focused on the WARC format initially, as that remains a core source of web archive data, but it would be great to support ZIM format as well.

The system is designed to replay archived web data in a service worker, loading everything on-

[2020-06-17 08:10] Jaifroid commented on #595
Fascinating @ikreymer. This looks excellent, congratulations!

For this to work with ZIM files, there are some options I can think of. You are absolutely right that binary search will be the greatest challenge, and I agree that it is necessary to download and cache the index to be searched, because of its nature binary search involves large hops within an index that become progressively smaller. I

[2020-06-23 11:09] kelson42 commented on #611
What is the status here? And maybe the timeline? This is still the plan to release the first Zstd encode ZIM filed during the summer and it would be really preferable to have releases of Kiwix-JS with its support before.

[2020-06-23 11:13] kelson42 opened #624 "Introduce KiwixJS in Microsoft Edge app store"
This is a follower of #486.

Cot an email earlier from Microsoft inviting us to to put an Entry for "KiwixJS" in Microsoft Edge app store:

[code]

@mossroy @Jaifroid Is that a topic you have already discussed? Does that sound a good idea? Woudl that be possible?

[2020-06-23 13:04] Jaifroid commented on #611
@kelson42 I've been really caught up with examining and planning for next academic year under social distancing conditions, and haven't been able to progress things. But it's a top priority once the frenzy dies down -- because lack of ZSTD is a cliff-edge for Kiwix JS if we're not careful. It looks possible, and shouldn't be a big job, as in principle it's just a case of substituting one decoder f

[2020-06-23 13:11] Jaifroid commented on #624
Yes, it should be very easy. It's exactly the same format as the Chrome extension, as I understand it, maybe just tweak some variables in the manifest, and indeed I've installed the Chrome extension in Edge Chromium from the Chrome store. I guess it should probably be Kiwix JS rather than Kiwix JS Windows because the new browser is not just Windows.

[2020-06-27 07:33] Jaifroid commented on #621
This freeze is also occurring with Kiwix JS Windows (Store app), on `wikipedia_es_all_mini_2020-06.zim`. The same ZIM does not prove problematic for Kiwix JS (master)  on Chromium. However, Kiwix JS on Chromium (Edge) running from https:// still freezes for a substantial amount of time on opening `wikipedia_en_medicine_maxi_2020-05.zim`. I still think this is an issue with the ZIMs. I haven't had

[2020-06-27 07:49] Jaifroid commented on #621
Freeze also occurs with Firefox on `wikipedia_en_medicine_maxi_2020-06.zim` both with file:// protocol and https://.
The same ZIM is much faster to load on Edge Chromium, though a very slight freeze is noticeable.
[Curiouser and curiouser](https://www.goodreads.com/quotes/714245-curiouser-and-curiouser-cried-alice-she-was-so-much-surprised).

[2020-06-27 08:14] Jaifroid opened #627 "Getting SameSite Cookie warnings in Firefox"
I am getting warnings in Kiwix JS with Firefox that our Cookies have an insecure `SameSite` attribute that will soon be rejected. There is a link to https://developer.mozilla.org/es/docs/Web/HTTP/Headers/Set-Cookie/SameSite . In fact we don't set the `SameSite` attribute, but this assumes `SameSite=None` (for now) and I believe this is what is causing the warning.

For almost all use cases, we hav

[2020-06-27 08:17] Jaifroid commented on #622
I assume this query is resolved, but if not please re-open and comment further.

[2020-06-27 08:17] #622 closed

[2020-06-27 08:29] Jaifroid opened #628 "ZIMs without media (text-based) throw an error on attempting to read the MIME type list"
On attempting to open a text-based ZIM such as ~~`wikipedia_en_medicine_maxi_2020-06.zim`~~ `wikipedia_es_all_mini_2020-06.zim`, I get the following error in `zimFile.js`:

![image](https://user-images.githubusercontent.com/4304337/85918174-3db31200-b858-11ea-996b-e394ddbcf454.png)

I guess we need explicitly to handle cases where there is no MIME type list because there are no media in the ZIM.

[2020-06-27 08:30] Jaifroid commented on #628
PS The error does not block using the app with the ZIM, but we should still handle it.

[2020-06-27 08:31] kelson42 commented on #628
I hardly see how this could be a valid ZIM file. You talk about https://wiki.openzim.org/wiki/ZIM_file_format#MIME_Type_List_.28mimeListPos.29?

[2020-06-27 08:34] Jaifroid commented on #628
@kelson42 Yes, that is the list the app reads into memory on first loading the ZIM file. Possibly the list is zero-length, and we simply don't handle it properly. The ZIM in question, `wikipedia_en_medicine_maxi_2020-06.zim`, is still perfectly readable in Kiwix JS.

[2020-06-27 08:36] Jaifroid commented on #628
@kelson42 Apologies, I mis-copied the ZIM. It's `wikipedia_es_all_mini_2020-06.zim`.

[2020-06-27 08:40] kelson42 commented on #628
@Jaifroid HTML pages having a mime-type as well, I don't understand how legitimly this list could be empty. The only use case would be a totally empty ZIM file (which is an edge case which I believe is not fully supported properly - but this is an other story).

[2020-06-27 08:43] Jaifroid commented on #628
Most likely an issue with the function we use to read the list. I'll debug and get back. I guess it *could* be a malformed ZIM file, but I wouldn't jump to that conclusion before debugging our custom function.

[2020-06-27 10:40] florian29 opened #629 "Firefox extension (and Chrome extension) doesn't show Latex based formulas in newer ZIM files any more"
Kiwix Firefox extension 2.7.0

Open the ZIM file wikipedia_de_all_maxi_2020-06.zim and go to the article "Satz des Pythagoras". You will notice that the mathematical formulas aren't shown:
![de 2020-06](https://user-images.githubusercontent.com/43439672/85920277-b9ba5380-b872-11ea-9d19-620cad38ec57.png)

With the older ZIM file wikipedia_de_all_maxi_2020-05.zim it worked properly:
![de 2020-05](ht

[2020-06-27 11:11] Jaifroid commented on #629
Hello @florian29, I am just downloading this ZIM to take a look.

[2020-06-27 13:08] Jaifroid commented on #629
@florian29 I confirm that this ZIM (or at least the article you've pointed us to) does not contain the SVG fallback images, but it does contain the MathML as you surmised. Kiwix JS cannot read MathML in a ZIM. However, the sister version Kiwix JS Windows can. You can test that for yourself here in Chromium or Firefox:

https://kiwix.github.io/kiwix-js-windows/

Make sure the setting to use MathML

[2020-06-27 13:14] Jaifroid commented on #629
If you are interested in that and are using a PC, you can get a portable version of the app here:

https://github.com/kiwix/kiwix-js-windows/releases/tag/v0.9.9.97N

Or if you are using Windows 10, then it's also optionally available in the Store:

https://www.microsoft.com/store/apps/9P8SLZ4J979J

or from GitHub if you're prepared to sideload:

https://github.com/kiwix/kiwix-js-windows/releases/t

[2020-06-27 17:16] florian29 commented on #629
@Jaifroid Thank you for caring about this issue. Are you sure you've loaded the newest ZIM file "wikipedia_de_all_maxi_2020-06.zim"? Or maybe you've loaded the older one "wikipedia_de_all_maxi_2020-05.zim"? Because I've tried what you've suggested, to open it with
https://kiwix.github.io/kiwix-js-windows/
and it was not possible to open the new ZIM file from 2020-06. Nothing happened when trying t

[2020-06-27 17:28] Jaifroid commented on #629
@florian29 I was using the correct ZIM file which I had just downloaded. But you are reporting an issue which I believe is to do with a bad encoding of these files. I am currently investigating, but my preliminary investigation is that there is something wrong with the [URL Pointer Position bytes](https://wiki.openzim.org/wiki/ZIM_file_format#URL_Pointer_List_.28urlPtrPos.29) in the ZIM file heade

[2020-06-27 18:08] Jaifroid commented on #628
After a lot of debugging, this issue appears in fact to be caused by the same thing that is causing the freeze on opening recent ZIM files in Kiwix JS (#621), and it is also causing (I believe) the issue reported in #629. **The problem appears to be that our code assumes that the URL Pointer List comes after the MIME Type List in the ZIM file.** This was always the case, but in the most recent fil

[2020-06-27 18:09] Jaifroid commented on #629
@florian29 If you're interested in a technical explanation of why that ZIM is failing both on Kiwix JS / Windows and on the desktop app, see my latest comment in #628.

[2020-06-28 06:37] Jaifroid commented on #629
@florian29 I think I have a fix for you (based on comment in #628). Please follow this procedure to test:

Visit https://kiwix.github.io/kiwix-js-windows/ , and open Dev Tools (press F12 or Ctrl-Shift-I in Chrome). Force reload by pressing Ctrl-Shift-R. You can now close Dev Tools.

Now pick your file `wikipedia_de_all_maxi_2020-06.zim` and load the Pythagoras page. It should now work. If not, ple

[2020-06-28 07:16] Jaifroid commented on #628
@kelson42 Based on my limited understanding of C++, I think the same issue is in the libZim codebase. Please take a look at:
https://github.com/openzim/libzim/blob/master/src/fileimpl.cpp#L130, and in particular these lines:
[code]
It looks very much to me like the size of the MIME type list is being calculated by subtracting the `mimeListPos` from `urlPtrPos`. This works fine **only** if the URL

[2020-06-28 09:12] florian29 commented on #629
@Jaifroid I reproduced all the steps exactly the way you described and it works (with some restrictions I will explain further). I can open the ZIM file and the formulas are shown for KaTeX as well as for SVG settings. I tested it also for the spanish ZIM file (wikipedia_es_all_maxi_2020-06.zim) and it works too.

Now the problem: When you open articles with bigger formulas (or formulas which need

[2020-06-28 10:15] Jaifroid commented on #629
Thank you for the full and helpful report @florian29 . I'm very pleased to hear the patch works for you and allows you to view the Spanish Maxi file too (I was actually in the process of downloading that one to test it for a different reason). I'm particularly pleased to hear the SVGs are showing quickly in Firefox: I don't know why I saw serious slowdown in my copy, but could have been a glitch.

[2020-06-29 11:13] Jaifroid commented on #628
@kelson42 Thanks for letting me know!

[2020-06-29 14:19] Jaifroid commented on #629
@florian29 Just to keep you informed there is now a PR to fix the issue with reading new ZIM files in Kiwix JS (the fix is already in Kiwix JS Windows master branch). It is #630. It doesn't make it possible to read TeX strings in Kiwix JS, but that's not really needed if the SVGs can be shown again. When that PR is merged this issue will close, but it will take a little while for the fix to work i

[2020-06-29 15:47] florian29 commented on #629
@Jaifroid Thank you! I've downloaded it yet and it works! Would be nice if someone could fix the Kiwix Desktop program for Win64 too, so we can perform a fulltext search. Maybe this is not your business but perhaps you can instruct the guys how to fix it. Thank you in advance!

[2020-06-29 16:10] Jaifroid commented on #629
@florian29 The desktop version should be fixed as soon as the patch already made to libZim makes its way through to a release. There is always some latency there, I'm afraid because it involves re-building the app. It's not my area, but the patch has been merged in the underlying library, so it will make its way through eventually.

[2020-07-01 15:53] #621 closed

[2020-07-01 15:53] #628 closed

[2020-07-01 15:53] #629 closed

[2020-07-01 16:24] mossroy commented on #624
I agree with publishing kiwix-js to the new Edge store. It's a good idea, and should be easy.

Based on https://docs.microsoft.com/en-us/microsoft-edge/extensions-chromium/developer-guide/port-chrome-extension , it should work out-of-the-box, with the same package.

@Jaifroid : if you feel like doing it, please do.

I suppose we should follow the same process as for Firefox and Chrome stores :

-

[2020-07-01 16:31] Jaifroid commented on #624
@mossroy OK, I'll see what I can do / find out. I think we should issue a new release as soon as I've had time to do the changes to #617. It would be worth issuing that release as a priority because of the bug that prevents correct loading of large ZIM files produced since May (#630 ). And the new release should be the one to go into the Edge extension store.

[2020-07-01 16:48] mossroy commented on #624
+1 for a release when #617 is fixed, especially to have #630.
To me, it's not necessary to wait for a 2.8 to publish a 2.7 on Edge store, but as you like

[2020-07-01 17:08] #614 closed

[2020-07-01 17:15] Jaifroid commented on #624
It seems there's a bit of account setup needed because the kiwixoffline MS account I have for publishing Kiwix JS Windows apps is not currently valid for registering for the Edge extension part of the same Dev Centre. I've written to @Popolechien separately about that, as he has the admin dev account.

The main reason for holding off on publishing 2.7 to the Store (apart from needing to set up the

[2020-07-02 09:45] xehroz commented on #623
Yes this is the issue with mwoffliner :-)

I've verified this, it has nothing to do with Kiwix

**Closing the issue now**

Thanks @Jaifroid for help +1:

[2020-07-02 09:52] kelson42 commented on #623
@xehroz We should handle that in MWoffliner. Moving the ticket.

[2020-07-02 09:52] kelson42 commented on #623
/move openzim/mwoffliner

[2020-07-02 09:52] #623 closed

[2020-07-02 10:10] Popolechien commented on #624
I've signed up for an account and sent you credentials.

[2020-07-03 01:43] ikreymer commented on #595
I've added a quick prototype for replayweb.page to load ZIM files, packaged into the WACZ format I have been working on.
Here are two examples.

Here is a small wiki from (https://download.kiwix.org/zim/wikipedia/wikipedia_en_100_2020-06.zim, 300MB)

[Index](http://zim.replayweb.page/?source=https://dh-preserve.sfo2.cdn.digitaloceanspaces.com/webarchives/zim/zim-wiki-en-small.wacz#view=replay&url=

[2020-07-03 06:17] Jaifroid commented on #595
@ikreymer This is hugely impressive! Congratulations!

I'm not sure how much of Kiwix JS you've used other than xzdec, but you should be aware of #630 which has recently been merged and squashes a Kiwix-wide bug that forced the reader to attempt to load the entire ZIM into memory on recent ZIMs which have moved the URL pointer list to the end of the file.

You should also be aware of an upcoming c

[2020-07-03 07:10] Jaifroid commented on #595
@ikreymer You say download.kiwix.org doesn't support CORS, but we had a specific issue on this and it was fixed some time ago. I just checked again with an online checker and I get the following:

![image](https://user-images.githubusercontent.com/4304337/86441741-983ee900-bd04-11ea-981b-e7b5569ba942.png)

[2020-07-03 07:21] kelson42 commented on #595
@Jaifroid @ikreymer Considering that this SW reads a ZIM file directly, it will probably be read from one of the mirrors... which might not have CORS configured properly. For this demo, I would recommend to use https://mirror.download.kiwix.org/ to secure we use a Web server we control.

[2020-07-03 16:40] ikreymer commented on #595
@Jaifroid Yes, I was referring to the direct download mirror links specifically. It does not appear that any of them support CORS for the ZIM downloads, including https://mirror.download.kiwix.org/ so was justing a proxy for now..

This xzdec is the only component of kiwix-js that this is using at the moment.
What it's doing is pre-computing a separate binary search index:
[code]

The `offset` and

[2020-07-05 08:01] Jaifroid opened #633 "Release version 2.8"
Here are the usual steps with the extras of merging #617 and uploading extension to Edge Store:

* merge #617
* a few tests
* update the changelog file
* move open issues to 2.9
* create a tag on git : it should trigger the generation of unsigned extensions by Travis
* upload the unsigned extensions on Firefox and Chrome stores
* upload the application for ubuntu touch on https://open-store.io
* p

[2020-07-05 08:58] kelson42 commented on #633
@Jaifroid Looks good to me, I'm a happy to make the communication part like usual.

[2020-07-05 13:23] Abhirup-99 commented on #627
Is this issue still up?

[2020-07-05 16:18] Jaifroid commented on #633
I've added a draft changelog in #634, pending merge of #617.

[2020-07-06 11:32] Ubuntu-2020 opened #641 "[REGRESSION?] Black baground at the footer of tiles based welcome page"
The title pages of some ZIM files are not displayed correctly in web browser extensions. Here are some examples:
**wikipedia_ru_history_maxi_2020-05.zim**
![wikipedia_ru_history_maxi_2020-05 zim](https://user-images.githubusercontent.com/65112331/86588591-a9058e00-bf94-11ea-8f49-dc3e9ecb8950.png)

**wikipedia_ru_football_maxi_2020-04.zim**
![wikipedia_ru_football_maxi_2020-04 zim](https://user-ima

[2020-07-06 14:03] Jaifroid commented on #611
Documentation on how to decompress a stream with Zstandard:

[code]
From http://facebook.github.io/zstd/zstd_manual.html#Chapter7 .

[2020-07-06 14:19] Jaifroid commented on #611
How to build emscripten version: https://dev.classmethod.jp/articles/emscripten-zstandard-on-browser/ (Japanese, but use auto translate).

[2020-07-06 15:12] Jaifroid commented on #611
This page mentions a very simple way to compile zstandard, together with good tutorial on WASM and exposing C++ functions: https://marcoselvatici.github.io/WASM_tutorial/

[2020-07-06 17:40] Jaifroid commented on #611
First attempt to compile our own `zstddec.js`  with Emscripten is here:

https://github.com/kiwix/kiwix-js/tree/Add-zstd-decompression-support/emscripten/zstandard

I used this `compile.sh` script:

[code]

These values try to map onto our existing API as far as possible, but using the ZSTD functions mentioned in the documentation above. I compiled it only as asm for now (now wasm). It compiled wi

[2020-07-07 06:20] Jaifroid commented on #627
@Abhirup-99 Yes it is, but you'd need to read #613 carefully before tackling it, because Cookies are now only used in a few rare cases (mostly IE11 and Edge Legacy from file:// protocol). I guess Firefox was showing that warning due to our migration code from Cookies to LocalStorage.

[2020-07-07 06:38] Jaifroid commented on #549
Some of the glitches I had experienced with Electron on Kiwix JS Windows appear to have been ironed out in the latest release I tested (v9.0.5): it is now possible to print from the iframe document (using `window.print()`) without crashing the app and Service Worker mode seems stable (before it would randomly hang, mostly due to CORS issues). It can be tested with the [WikiMed Electron packaged ap

[2020-07-07 19:56] kelson42 commented on #445
@Jaifroid Since 10 months a lot of work has been invested in the support of videos in ZIM files. I believe that this ticket might benefit of a refresh based on a recent ZIM file. Would you be able to confirm that the problem still occurs please? If "yes", we should I believe try to identify where is the problem exactly (maybe we could fix something in the ZIM itself?). I also challenge a bit that

[2020-07-07 19:59] Jaifroid commented on #445
@kelson42 Yes, I'd be happy to test.

[2020-07-08 08:28] rgaudin commented on #445
@Jaifroid please test with newer ZIM files from `youtube` tag or `ted` category at https://farm.openzim.org/recipes

For youtube, we have an `--all-subtitles` option [that is slow](https://github.com/openzim/youtube/issues/38) upon rendering, in-zim or not, because it includes auto-generated subtitles which are usually 100+.

We don't use that option in the ZIM we create though.

For TED, we have

[2020-07-08 16:11] mossroy commented on #627
I suppose we can use `SameSite=Strict` here

[2020-07-09 10:06] Abhirup-99 commented on #627
Yes I guess that would help.

[2020-07-09 16:05] Abhirup-99 commented on #627
@mossroy @Jaifroid I pushed a pr to fix this isue. But the build failed unexpectedly, but I didn't push any breaking changes. Can you guys take a look?Thanks.

[2020-07-09 16:07] Jaifroid commented on #627
@Abhirup-99 Don't worry, the problem is because Travis can't connect to Sauce Labs due to your not having write access to this Repo. I'll push the same commit to a temporary branch to enable the tests to start running on this one. It's just a quirk of how the tests are set up.

[2020-07-09 16:42] Abhirup-99 commented on #627
Thanks for the response. Okay, I was confused how this minor change failed.

[2020-07-09 17:31] Jaifroid commented on #627
It's passed now. Will test on a browser that still uses cookies (most use localStorage).

[2020-07-09 18:50] Jaifroid opened #637 "Optimize title search so that cancelled binary search Promises return at the earliest possible opportunity"
This relates to the optimization of #617. Although searches are successfully cancelled when a user starts a new search or exits the search UI, and extraneous results from a cancelled search do not display in the UI, a certain amount of binary search processing still continues from Promises which had been set up very early on in the search process. It should be possible to return a null result, or

[2020-07-11 09:27] #627 closed

[2020-07-11 13:08] #179 closed

[2020-07-11 13:08] #184 closed

[2020-07-11 13:21] mossroy commented on #633
I moved the issues and milestones, and I'm ready to create the tag, except if you want me to hold it?

[2020-07-11 13:23] Jaifroid commented on #633
Great! That looks like the next step now -- please go ahead.

[2020-07-11 13:24] Jaifroid commented on #633
Once we have the unsigned extension, I'll work on getting it into Edge Store #624.

[2020-07-11 13:27] mossroy opened #639 "Improve our CodeFactor mark"
CodeFactor does not give us a very good mark for now : C-
especially for app.js (F) : https://www.codefactor.io/repository/github/kiwix/kiwix-js/file/master/www/js/app.js

There are many minor issues that could easily be fixed.
And we also might configure it to ignore the external libraries.

[2020-07-11 13:37] Jaifroid commented on #639
I agree. Codefactor even offers to make PRs for simple fixes. Might be worth experimenting with that, if the proposed fixes are sensible.

[2020-07-11 13:37] mossroy commented on #633
The tag is created and the unsigned packages have been generated in https://download.kiwix.org/nightly/2020-07-11/
(I had to manually launch their creation : looks like it is not triggered any more by a tag creation)

[2020-07-11 13:52] mossroy commented on #633
Version 2.8.0 is available for Firefox (where we have around 750 daily users) and Ubuntu Touch (250 users).
@kelson42 : you can upload for Chrome (do you have stats of the daily users?)
@Jaifroid : you can upload for Edge
I'll prepare the code for 2.9

[2020-07-11 14:01] mossroy commented on #633
2.9 prepared, and I also pushed 2.8 to github pages : https://kiwix.github.io/kiwix-js

[2020-07-11 14:10] mossroy commented on #590
Creating a tag on github does not seem to trigger a build on Travis any more.
So I have to manually run `./create_all_packages.sh -t -v 2.8.0` (for example) after each release (in `scripts` directory).

[2020-07-11 18:41] ikreymer commented on #595
Since the new Wikipedia EN maxi ZIM just came out, wanted to make a client-side update for that as well.
This uses a [fast-access index](https://dh-preserve.sfo2.cdn.digitaloceanspaces.com/webarchives/zim/zim-wiki-en-all.wacz) (~400MB) and then loads directly from: https://cors-anywhere.herokuapp.com/https://mirror.download.kiwix.org/zim/wikipedia/wikipedia_en_all_maxi_2020-06.zim
in the browser:

[2020-07-12 06:27] kelson42 commented on #595
@ikreymer This is really great, it seems we are really not far from what https://github.com/ipfs/devgrants/pull/49 wants. Does something stops you to use the ZIM article index in place of https://dh-preserve.sfo2.cdn.digitaloceanspaces.com/webarchives/zim/zim-wiki-en-all.wacz? It seems the is the only thing left to be able to complete https://github.com/ipfs/devgrants/pull/49?

[2020-07-12 18:13] Jaifroid commented on #637
So I don't forget, here is a quick summary of what needs to be done following on from #617:

* Move `globalstate` object from init.js to app.js; possibly rename `appstate`;
* Pass the `appstate.search` object to zimArchive.js;
* When a search is cancelled, set the `appstate.search.status` property to 'cancelled';
* When a new search is undertaken, also set `appstate.search.status` to 'cancelled':

[2020-07-12 18:24] Jaifroid commented on #637
If this works, extend the model to #426, which is a very similar case: we should be able to use the same appstate object to pass an `appstate.article` object, which would have a property `appstate.article.status`. In Service Worker mode, if we are allowed to emit a signal from the message channel that the user has clicked on a new article link, then this solution should be viable.

[2020-07-12 22:19] ikreymer commented on #595
Unfortunately, I don't think the ZIM format alone as is will work, because it would require a binary search over the entire index over HTTP, and too many seeks to get the content. As @Jaifroid points out, this won't really scale to this size. The approach I am using is 'clustering' the sorted index, similar to what ZIM is doing for data, but for the index. The index is grouped into sorted clusters

[2020-07-13 08:15] kelson42 commented on #641
@mossroy @Jaifroid Tested `wikipedia_ru_football_maxi_2020-06.zim` with Kiwix JS for Firefox 2.8 and I can not scroll to the bottom of the welcome page anymore. I'm somehow stuck at the top without any scrollbar. I don't have this problem for example with Kiwix Desktop 2.0.

[2020-07-13 08:17] kelson42 commented on #633
@Jaifroid @mossroy Nice work!!!

I have:
* Publish 2.8.0 to Chrome extension store
* Copies the packages to download.kiwix.org

Discovered that we seem to have a serious regression/problem with #641

[2020-07-13 08:20] Jaifroid commented on #641
Thank you for the report. This is the same issue as #552. The current workaround is to switch to Service Worker mode if that is available (may only be available in extension contexts or app contexts, because it requires https:// in browser context). The problem seems to be caused by late injection of CSS (which is done by jQuery in jQuery mode).

[2020-07-13 08:22] Jaifroid commented on #641
NB this isn't a regression caused by 2.8, it's been there since the new landing pages started appearing.

[2020-07-13 08:22] kelson42 commented on #641
@Jaifroid Sorry, I had totally forgotten about that one.

[2020-07-13 08:22] kelson42 commented on #641
Duplicate #641

[2020-07-13 08:22] #641 closed

[2020-07-13 08:48] kelson42 commented on #595
@ikreymer Thank you for this interesting explanation. My first though was like yours and the one of @Jaifroid. Thinking twice about it during this WE I don't believe anymore that the format is not proper for that.

Let's take it from scratch, the search in the urlPtrList complexity is O(log n). This means that for 1M entries (kind of worse case scenario) you will need ~20 HTTP requests. This might

[2020-07-13 09:03] Jaifroid commented on #595
@kelson42 We have code for a block cache which is particularly effective with binary search (see #619). It was written by peter-x, and has been running on kiwix-js-windows for a few months now. The speedup is most notable in title search which becomes almost instant. The speed of search you see demonstrated at [this video time-point](https://www.youtube.com/watch?v=PoQVFsBDH-8&feature=youtu.be&t=1

[2020-07-13 09:10] Jaifroid commented on #595
@ikreymer I just re-iterate, in case you didn't see it, that the ZIM file compression is changing this summer to zstandard. I have compiled a `zstdec.js` with Emscripten, which is documented here https://github.com/kiwix/kiwix-js/issues/611#issuecomment-654374286 and available on that branch. It may need recompiling with extra functions exposed, but if you are able to help at all with integrating

[2020-07-13 15:54] ikreymer commented on #595
To clarify, the binary search is over the initial index, which is about 1.2M here. The total size of all index clusters is ~400MB, but they would not all be loaded unless viewing thousands of articles across the entire range. The binary search over this 1.2M secondary index could be done in memory too, and probably would be faster still -- IndexedDB is used as service workers as storing global dat

[2020-07-13 16:47] Jaifroid commented on #595
Thanks @ikreymer. We currently have a small test zim in zstd that just contains numbers, I believe, as test data. I have added it to this branch and directory: https://github.com/kiwix/kiwix-js/tree/Add-zstd-decompression-support/tests .

@kelson42 Do we yet have a more complete demo ZIM file with real-world articles? E.g. Ray Charles or something small? What's the ETA on releasing the first zstd

[2020-07-14 08:11] kelson42 commented on #595
@ikreymer @Jaifroid We will release more complete demo ZIM file using zstd within the next two weeks. So we can really start to experiment this.

[2020-07-16 07:17] Jaifroid commented on #624
The Edge extension is now published:

https://microsoftedge.microsoft.com/addons/detail/kiwix-js/jlepddlenlljlnnhjinfaciabanbnjbp

So I'm closing this issue.

[2020-07-16 07:17] #624 closed

[2020-07-16 08:27] kelson42 commented on #624
Here the ticket to update our web site. https://github.com/kiwix/web/issues/122

[2020-07-16 08:58] kelson42 commented on #624
@Jaifroid Can we side load the extension for edge? if yes, where is the file/package to sideload?

[2020-07-16 09:11] Jaifroid commented on #633
@kelson42 It's essentially the same as the Chrome unsigned extension in https://download.kiwix.org/nightly/2020-07-11/ . I did make some slight tweaks to the manifest.json description, since the Edge Store uses the description field in a more significant way than other fields, but it's not relevant for sideloading.

It would be nice to automate the tweaks, so that the package is auto-generated. I'

[2020-07-16 09:36] Jaifroid opened #643 "Create unsigned and signed Edge Extension packages programmatically"
Although the Edge Extension (unsigned) package is essentially the same as the unsigned Chrome package already produced programmatically, there are some minor tweaks to metadata that are needed for the manifest.json, and the package needs to be signed with the Store's public key. I presume this is just a matter of copying and tweaking the code that currently produces the Chrome extension.

[2020-07-16 09:52] kelson42 commented on #633
@Jaifroid Thank you for the explanation. We can not provide an unsigned version to download for obvious reasons. We don't do that FF and Chrome, we should not for Edge. Maybe I should do like for Chrome and Firefox, download it somehow from the app store? Do you know which file extension has this Edge extension (crx like Chrome)? Do you know a way to download it as a file?

[2020-07-16 10:51] Jaifroid commented on #633
Hmm, I don't know! The Store dev centre shows a CRX ID, alongside a Public Key, which is undoubtedly what is needed for us to produce a signed crx file in Nightly. The files seem to be signed and the CRX produced programmatically as soon as we create a tag, rather than by download from Chrome Store (in the Nightly directory). Until I get into the code, I won't know the exact mechanism by which the

[2020-07-16 12:58] kelson42 commented on #633
@Jaifroid Here is a documentation https://www.windowscentral.com/how-install-non-store-extensions-microsoft-edge. Would you be able to provide me the file please (I don't have easil a windows here at hand)?

[2020-07-17 13:46] kelson42 commented on #611
I have a real case example of zim file here: http://tmp.kiwix.org/wikipedia_bm_all_2020-07.zstd.zim

[2020-07-18 09:11] kelson42 opened #644 "warc2zim ZIM files are playable with Kiwix JS"
We are working on warc2zim, a tool able to create ZIM file from a WARC file. These ZIM files integrates a JS player relying on service-worker. You can find an example of file here:
http://tmp.kiwix.org/warc2zim.zim

I don't have achieved - at all - to read this ZIM file with:
* FF extension (jquery)
* Chrome extension (service-worker)
* Online Kiwix JS windows version at https://kiwix.github.io/ki

[2020-07-18 10:20] Jaifroid commented on #644
Using Kiwix JS Windows (because it has more console logging turned on for debugging) running in SW mode, I see the following:

![image](https://user-images.githubusercontent.com/4304337/87850118-8f920980-c8e5-11ea-9938-6d287a33b23e.png)

This tells me that the main HTML loads, and that the HTML is asking for two JS files called `replay/ui.js` and `replay/sw.js`. They are successfully extracted. Ho

[2020-07-18 10:57] kelson42 commented on #644
@Jaifroid Thank you so much for your quick and precise feedback. @ikreymer is the author of warc2zim. @ikreymer it would be great if you collaborate with @jaifroid to identify problems and maybe fix them in an attempt to implement this ticket, or at least better understand the overall challenges.

[2020-07-19 07:30] ikreymer commented on #644
This system is using its own service worker, right? It'll need to use the one provided in the zim for this to work, which I think should work as it registers a more specific path. I've made an even simpler .zim to test service worker loading from zim,
available in this comment: https://github.com/kiwix/kiwix-desktop/issues/487#issuecomment-660602018
Perhaps this will help determine what's going on

[2020-07-19 07:59] kelson42 commented on #644
@ikreymer I have uploaded the new ZIM here as well http://tmp.kiwix.org/basicsw.zim. Considering that AFAIK - and contrary to Kiwix Desktop Linux/Windows - it should theoretically work with Kiwix JS on Chromium. It would be interesting to understand why it does not. So SW of Kiwix JS conflicts here with the one in the ZIM? There is not way to have both?

[2020-07-19 14:04] Jaifroid commented on #644
@ikreymer So long as the Service Workers are registered for a different scope, it should be OK. Kiwix JS runs in two configurations: one is a Service Worker configuration where every https request to a ZIM URL is trapped and retrieved from the decompression engine, and the other is one where we have no Service Worker but instead parse the HTML of the the article page and retrieve and attach the as

[2020-07-19 15:23] Jaifroid commented on #644
@ikreymer One issue (with some readers) may be that this ZIM does not follow the ZIM specification of having JavaScript in the `-/` namespace. This is the HTML of the landing page:

[code]
In a ZIM conforming to the [specification](https://wiki.openzim.org/wiki/ZIM_file_format#Namespaces) I would expect to see the `ui.js` src to appear as `../-/ui.js`. For readers that do any kind of URL checking

[2020-07-19 15:32] Jaifroid commented on #644
@ikreymer Will the reference to `https://twitter.com/netpreserve` cause the reader to fetch something from Twitter, or is it just a string to display the original source of the data? If the former, there would be CORS issues.

[2020-07-19 16:34] Jaifroid commented on #644
So, I patched my branch to read the .js file from the non-conforming location, and these are the error messages logged after attaching and running `ui.js`:

![image](https://user-images.githubusercontent.com/4304337/87879706-6b692200-c9e4-11ea-918a-a7f8a67b2712.png)

As you can see here `ui.js` is not calculating the ZIM URL for `sw.js` correctly. At the very least, the URL should probably be: `ht

[2020-07-19 17:49] kelson42 commented on #644
@ikreymer We should not have any iframe. Would you be able to build an example without iframe please?

[2020-07-19 18:54] ikreymer commented on #644
The replay system uses an iframe, that's not the issue. That's how the replay works. I have made simpler ZIM that just tests a service worker (see: https://github.com/kiwix/kiwix-desktop/issues/487#issuecomment-660602018)
Having thought about this a bit more, I don't think this approach will work.

The replay system installs assumes that it is loaded from ZIM and then installs a own service worker

[2020-07-19 19:17] ikreymer commented on #644
To put it another way, the way this is designed to work is that the service worker will make a fetch request to upstream:
`fetch('./A/https://example.com/'`) and for headers `fetch('./h/https://example.com/')`.
When running in kiwix serve, that will translate to `http://<kiwix-serve:port>/A/https://example.com/`.
For some of the other tools, it would translate to `zim://<zim>/A/https://example.com

[2020-07-19 19:58] Jaifroid commented on #644
OK, that makes a lot of sense. It is possible for Kiwix JS in DOM parsing mode to load a Service Worker from the ZIM and install it. The problem is that the Service Worker installed would need to be aware of the environment it's operating in and use a message channel to the back end to retrieve files. The messages are quite simple. But it would be a custom, not generic, solution.

[2020-07-19 20:31] Jaifroid commented on #644
@ikreymer Are you sure this is quite true? We load all ZIM articles in an iframe, which surely must be able to register its own Service Worker? Our Service Worker is registered for the whole scope of the app, but it only intercepts URLs that match this Regular Expression:

`var regexpZIMUrlWithNamespace = /(?:^|\/)([^\/]+\/)([-ABIJMUVWX])\/(.+)/;`

If, as you say, all your requests are in namespac

[2020-07-22 11:42] Jaifroid commented on #611
I've re-compiled a test build with these options (some previous options have changed format, e.g. `NO_DYNAMIC_EXECUTION=1` has now become `DYNAMIC_EXECUTION=0`, and it seems we need to `cwrap` or `ccall` exported functions if we don't want to handle data typing ourselves. The resulting `zstdec.js` is a lot bigger because it is a test build without optimization `-O3` for now, and therefore the code

[2020-07-23 09:58] Jaifroid commented on #611
The two Emscripten modules `xzdec.js` and `zstdec.js` were conflicting with each other because when compiled with standard options, they both emit a global `Module` object. I have managed to modularize `zstdec.js` using the new compile options below. It can now be loaded with requireJS instead of attaching in `index.html`.

In fact xzdec.js can be loaded the same way, so that has been added to `xz

[2020-07-25 07:48] Ubuntu-2020 opened #645 "Interface translation"
I would like to translate the **Kiwix extension** for web browser into Russian. In particular I want to translate the **four** lowest icons into Russian:
![Kiwix-extension-for-web-browser](https://user-images.githubusercontent.com/65112331/88451893-08074600-ce63-11ea-9108-9220bbc53059.png)

**Home** — **Домашняя страница**
**Back** — **Назад**
**Forward** — **Вперёд**
**Top** — **Наверх**

[2020-07-26 08:03] Jaifroid commented on #645
Thank you, @Ubuntu-2020 . We have #13 for interface translation. It wouldn't be enough just to translate the icons, we would need it to be part of a full UI translation solution. If you are prepared to tackle #13 for Russian, that would be great. Please note we have not fully decided on a translation library, but research a couple of years ago indicated that `jQuery.l18n` might be a good library b

[2020-07-26 08:03] #645 closed

[2020-07-26 08:10] Jaifroid commented on #13
I just had a quick look at the current offerings, and it seems jQuery.l18n has fallen into disrepair, replaced by https://github.com/wikimedia/banana-i18n . This is in line with the general move away from dependency on jQuery, now that babel does the job of providing needed polyfills. Banana-i18n has active and recent updates, and is a more modern version of jQuery.i18n.

[2020-07-26 21:19] Jaifroid commented on #611
A quick note on progress:

* I have set up the [control structures](https://github.com/kiwix/kiwix-js/blob/Add-zstd-decompression-support/www/js/lib/zstdec_wrapper.js#L82)
* I have set these in the HEAP32 w/asm memory and received pointers to the structures
* I have allocated the inBuffer data stream and the outBuffer data stream, receiving pointers to their location in w/asm memory
* I have trans

[2020-07-29 05:57] Jaifroid commented on #633
All steps in this issue have been complete for a while now.

[2020-07-29 05:57] #633 closed

[2020-07-29 06:08] Jaifroid commented on #594
This issue was fixed by #630.

[2020-07-29 06:08] #594 closed

[2020-08-09 07:20] kelson42 commented on #611
@Jaifroid What is the timeline for a release with zstd support? Plan is to start publishing the first ZIM with zstd at the end of the month.

[2020-08-10 05:25] Jaifroid commented on #611
@kelson42 Slowdown caused by my having to learn about writing Emscripten bindings in C++ in order to simplify the passing of memory pointers between JS and C++, which are otherwise really difficult to debug. Also slowed down by a holiday!

However, I'm optimistic that I can push this forward positively over the next couple of weeks, as I now understand a lot better what I'm doing (and in particula

[2020-08-14 13:10] kelson42 opened #646 "Images lazy loading"
Would this help if we would start to use image lazy loading in ZIM files?
https://web.dev/native-lazy-loading/

[2020-08-14 13:20] Jaifroid commented on #646
Indeed it would help in Service Worker mode. I did implement custom lazy loading for both jQuery and SW modes for kiwix-js-windows (where it is merged and working) , and a candidate version for kiwix-js, but in the end it was felt better to await a browser - level solution like this. Only slight issue is it wouldn't work in jQuery mode.

[2020-08-25 08:33] ghost opened #647 "Error displaying content on Kiwix-JS"
*@IPECORE commented on Aug 18, 2020, 12:58 PM UTC:*

navigation is not clear and black background
[![black background](https://user-images.githubusercontent.com/69838934/90515713-51e20400-e163-11ea-8d0e-ae29492eef1f.JPG)](https://user-images.githubusercontent.com/69838934/90515713-51e20400-e163-11ea-8d0e-ae29492eef1f.JPG)
[![navigation is not clear](https://user-images.githubusercontent.com/698389

[2020-08-25 08:34] kelson42 commented on #647
@Jaifroid @mossroy We believe this is a problem with Kiwix JS itself, but it would be good to confirm please.

[2020-08-25 09:36] Jaifroid commented on #647
Ironically, this ZIM works better in jQuery mode than SW mode... In jQuery mode, the sub-pages load correctly and the videos can be played. In Kiwix JS Windows, a prompt allows the user to download each module's video and play with a different app if they wish.

In SW mode, the landing page loads correctly, but any subsequent pages take literally minutes to load during which the app appears comple

[2020-08-25 14:15] rgaudin commented on #647
Interesting, there might be a bug in scraperlib for the namespace assignation. Will check.

[2020-08-26 09:50] rgaudin commented on #647
Downloaded that files and tested all of those unexpected URLs. Those are all in the `I/` namespace.

[code]

[code]

Either your tool is wrong or we're testing a different ZIM file. Can you check again? I used the URL above.

[2020-08-26 10:02] Jaifroid commented on #647
Hmm. Sorry about that, I'll check. Why do they appear in the title pointer index? This should only have article titles, not asset URLs. This is probably what's causing the confusion with the title-reading tool, but I'll check.

[2020-08-26 10:13] rgaudin commented on #647
It seems those articles have titles while they should not. Investigating that.

[2020-08-26 10:21] Jaifroid commented on #647
@rgaudin I've checked, and yes those assets are indeed in `I` namesapace. Apologies, I should have checked more thoroughly before making that assertion. Arguably `woff` font files perhaps don't belong in the `I` namespace, but it's marginal if they are in fact being used to produce images.

But none of this probably impacts on the difficulties with reading the ZIM in Service Worker mode in Kiwix J

[2020-08-26 10:26] Jaifroid commented on #647
Please don't spend too long on this! I can't remember how the Archive Index is coded in that tool. It shouldn't be showing assets if they don't have a title entry, but it is possible that they creep in. It also certainly isn't the issue with Kiwix JS failing on this ZIM.

[2020-08-26 10:47] Jaifroid commented on #647
There is an issue with extraneous code showing on the bottom of most pages:

![image](https://user-images.githubusercontent.com/4304337/91293943-b23efa00-e790-11ea-83d0-d810f0ec5796.png)

The reason for this seems to be the premature end of commented-out `script` blocks:

![image](https://user-images.githubusercontent.com/4304337/91294555-a30c7c00-e791-11ea-955c-833d9427cc6a.png)

[2020-08-26 11:58] rgaudin commented on #647
FYI, this is not a problem in ZIM, there are no title there. It's the libzim returning URL

See [_dirent.h#L84](https://github.com/openzim/libzim/blob/52040dc751cd50650ea5d2e7720b74d63f76ec60/src/_dirent.h#L84).

[code]

[2020-08-26 12:09] Jaifroid commented on #647
OK, sorry to have sent you on a wild goose chase...

[2020-08-28 16:52] Jaifroid commented on #611
Due to out-of-memory errors, I had to recompile `zstdec.js` with a memory stage of 139919360 bytes (~140 Mb), which seems a rather large memory requirement to me, especially for mobile (given that `xzdec.js` could manage with ~ 90 Mb). However, we're now able, in principle, to decompress a cluster size of 1024 * 5 bytes without an out-of-memory message.

The main issue I'm encountering at the mome

[2020-08-28 17:03] kelson42 commented on #611
@Jaifroid Thank you very much for the update. If you have to write assembly then something else is probably wrong IMO.

[2020-08-28 17:28] Jaifroid commented on #611
@kelson42 It was a slightly exasperated metaphor! I'm not actually writing assembly, I'm just not at all used to dealing with memory pointers and malloc, and such things, but this is necessary to set up the memory structures so that the asm/wasm (= WebAssembly!) version of zstdec.js can communicate with JS...

[2020-08-30 16:30] Jaifroid commented on #611
After a lot of trial and error, and recompiling with slightly larger memory values (140,247,040), I've managed to get `zstdec` to advance the outbuffer position field in response to a larger input. This is good news because it means I've managed to set up all the data structures correctly, and have entered enough valid data to decode a whole frame and get meaningful output.

[2020-08-30 17:40] Jaifroid commented on #611
First decoded result with ZSTD using `wikipedia_bm_all_2020-07.zstd.zim` (screenshot). This isn't as bad as it looks 🙄 because we can clearly see that it's decoded some stylesheet data (these data are usually encoded in the ZIM). It's actually positive because it shows the underlying asm decoder is working fine, but that I've made an error somewhere in setting offsets.

![image](https://user-image

[2020-08-31 11:04] Jaifroid commented on #611
Success decoding `foo-zstd.zim`! I can pick any of the short articles (which are all numeric) and get the result in screenshot below. This is a good proof of concept. I am still getting the strange result above with `wikipedia_bm_all_2020-07.zstd.zim` despite some refining since yesterday, but it is probably still something wrong with my calculation of offsets when I have to provide more data to t

[2020-08-31 21:08] Jaifroid commented on #611
Success!!!  😀

![image](https://user-images.githubusercontent.com/4304337/91768998-72d03d80-ebd6-11ea-9660-cb21f5bc0542.png)

[2020-08-31 21:10] Jaifroid commented on #611
![image](https://user-images.githubusercontent.com/4304337/91769177-c6db2200-ebd6-11ea-8889-2ccfe948a5cc.png)

[2020-08-31 21:10] Jaifroid commented on #611
And it's very fast!!!

[2020-09-03 08:35] Jaifroid commented on #586
This issue can be closed because the [https://github.com/kiwix/kiwix-js-windows/issues/94](Native File System API) is superior and working in Kiwix JS Windows.

[2020-09-03 08:35] #586 closed

[2020-09-03 08:38] Jaifroid commented on #596
I haven't seen this experimental technology being implemented anywhere, and it seems to be superseded by offline PWAs in any case. So close pending further information.

[2020-09-03 08:38] #596 closed

[2020-09-04 15:30] Jaifroid opened #649 "Support new ZIM API for Table of Contents"
See https://github.com/openzim/mwoffliner/pull/1237. It will soon be possible to use a built-in ZIM API to construct a ToC, at least for MediaWiki ZIMs. Testing of this has so far been done downstream in the Kiwix JS Windows [Test ToC API](https://github.com/kiwix/kiwix-js-windows/tree/Test-ToC-API) branch, because Kiwix JS Windows already has a ToC drop-up in its bottom bar. Integrating it here h

[2020-09-08 09:07] Jaifroid opened #650 "Add webp image polyfill"
See https://github.com/openzim/mwoffliner/issues/1254 . This is medium to longer term. Currently planned for Android custom apps to reduce distribution size, but it would be useful to be able to support the same ZIMs. It's effectively another compression format, and the polyfill provides an asm/wasm layer that converts webp to png if the browser does not support webp. The polyfill is claimed to wo

[2020-09-10 07:05] kelson42 commented on #650
We need to be carefuly that this does not conflicts with the polyfill available in the ZIM file itself (which is the plan so far).

[2020-09-10 07:15] Jaifroid commented on #650
OK, noted. In our jQuery mode (which we should probably rename "DOM traversal mode"), we would need to attach the polyfill manually, but it can be extracted from the ZIM. In SW mode, it will attach automatically. So this PR then would only need to cover the former mode (and there would be no conflict).

[2020-09-22 08:53] kelson42 commented on #646
I have created a ticket at MWoffliner level, https://github.com/openzim/mwoffliner/issues/1264. Closing this one. Thank you for the answer.

[2020-09-22 08:53] #646 closed

[2020-09-26 14:32] kelson42 commented on #650
The PR to add `webp` compression to MWoffliner makes good progress https://github.com/openzim/mwoffliner/pull/1265 and I expect sometime next week to be ready.

New version of Youtube based ZIM files have images using Webp.

Both (will) have a polyfill.

[2020-09-27 17:58] Jaifroid opened #651 "Add QUnit tests running against a zstandard version of Ray Charles"
Following implementation of #611 (PR #648) we need to provide QUnit tests using a Ray Charles ZIM compressed with zstandard. These should mirror the current tests on the XZ-compressed Ray Charles ZIM. Kelson has produced a ZIM farm recipe which will provide a Ray Charles zstandard ZIM in October.

[2020-09-27 20:14] Jaifroid opened #652 "Compare performance of asm and wasm versions of zstandard decompressor"
A wasm compile of zstandard is available in https://github.com/kiwix/kiwix-js/tree/Test-wasm-version-of-zstandard.
It should be tested on different platforms supporting wasm, and if performance warrants it, we should find a way for the browser to load the wasm version if it is supported, or the asm version if not.

[2020-09-29 07:51] Jaifroid opened #653 "Update QUnit to latest"
Latest QUnit is [2.22.2](https://github.com/qunitjs/qunit/blob/2.11.2/History.md#2112--2020-09-09 ) from 09/09/2020.

(Maintaining dependencies would be much easier if we could start #554...)

[2020-09-29 10:42] #611 closed

[2020-09-29 10:47] Jaifroid commented on #611
@kelson42 Now this issue has been closed by merging the PR, I think it's safe to start making publishing zstandard ZIM archives. We can make a new release once the first ones start coming out, or earlier if @mossroy has time (though it might be an idea to merge #642 before making a release).

[2020-09-29 11:11] kelson42 commented on #611
@Jaifroid Thank you very much again or the amount and the quality of the work here. I believe it would be good to merge #642 before making a new release. @mossroy Hopefully this is doable this week. How long would be then take to make a new release (do we need a ticket)?

[2020-09-29 11:15] Jaifroid commented on #611
We can make a ticket. @mossroy do you think adding zstandard warrants a major number increment? I don't know if ZSTD qualifies as a major change even if it's only the backend and arguably not an API change.

[2020-09-29 19:55] mossroy commented on #611
I also repeat my congratulations to you @Jaifroid !
In the short term, I'm overwhelmed by too many things to review/test #642
If you agree, let's focus on what is strictly necessary for now : releasing a new version able to handle the latest ZIM files.

Regarding the version number : it's not crucial, we can do what we want.
I think it might be a version 3.0.0 : although it does not change anythin

[2020-09-29 21:39] Jaifroid commented on #611
OK, thank you both!
No problem about #642, it's not that important, and not noticeable to most users.
So, I'll make a ticket to release 3.0.0!

[2020-09-30 20:00] Jaifroid opened #654 "Release version 3.0"
As discussed in another thread, supporting ZSTD warrants a major release version, even though we provide backwards compatibility with XZ of course. Here are the usual steps to prepare a release (boxes can be ticked when complete):

* [x] Update the changelog file
* [x] Further tests
* [x] Move open issues to 3.1
* [x]  Create a tag on git: it should trigger the generation of unsigned extensions by

[2020-09-30 20:06] Jaifroid commented on #654
@ikreymer it may be of interest to you and your replay project that Kiwix JS now supports ZSTD-encoded ZIM files, and it will be in release 3.0 we are preparing for this issue. Support is already merged into the master branch. Given that you used our implementation of XZ for your project, you might now want to add ZSTD decoding.

[2020-09-30 20:08] Jaifroid commented on #654
@ernesst Are you able to test our master branch for support on Ubuntu Touch? We are preparing release 3.0.

[2020-10-01 19:50] ernesst commented on #654
Sure, I'll do it by Monday, if not please do not hesitate to ping me.

Is this version relevant for the test : https://download.kiwix.org/nightly/2020-10-01/kiwix-ubuntu-touch-2.9commit-0c53010.click ?

[2020-10-03 09:03] Jaifroid commented on #654
@ernesst Thank you! Yes, that package corresponds to https://github.com/kiwix/kiwix-js/commit/0c530101573cf95bbbcf938750cc525956cd9193. Monday would be fine to let us know if there are any issues or not. You might like to test it with a ZSTD-encoded ZIM, though don't feel you have to. Two ZIM files are available: https://tmp.kiwix.org/wikipedia_bm_all_2020-07.zstd.zim (~30MB) and https://tmp.kiwix

[2020-10-03 15:32] mossroy commented on #654
I've done a few tests on Firefox 81.0 (through extension or not), Chromium 85.0 (through extension or not), and Firefox OS 2.5
The new zstd ZIM files work on all these platforms, and I did not see any regression.

[2020-10-03 15:45] Jaifroid commented on #654
Thanks @mossroy . I think the CHANGELOG will only have one thing: "Support for reading ZIM archives compressed with the zstandard compression algorithm". I'll do a PR for it nevertheless, so we can add in the release date before merging.

[2020-10-03 15:54] mossroy commented on #654
@kelson42 : if you agree, I could give @Jaifroid the keys and info that would let him be able to do some (or all) of the steps I do on releases.
It is at least :

- a private SSH key to be able to upload to the server behind https://download.kiwix.org/nightly/
- the private key used by Travis to read the secret files
- the Mozilla API key used to validate and sign the Firefox nightly builds

I cou

[2020-10-03 15:57] Jaifroid commented on #654
He he, but it's always a collaboration. (I could not have done zstddec wrapper if I didn't have the xz wrapper model to follow closely...).

Happy to learn how to do those things if it's OK with @kelson42.

[2020-10-03 16:11] mossroy commented on #654
What can already be done together is to rename the github milestones, and move the remaining issues.
Here is the procedure :

- in https://github.com/kiwix/kiwix-js/milestones , rename the milestones. Usually, when it's not a major version, I simply increment the second digit of all milestones (starting for the highest ones to avoid problems). In the current case (major version), 2.9 must be renam

[2020-10-03 16:30] Jaifroid commented on #654
Thanks for explanation. I'll do it this evening.

[2020-10-03 18:21] ernesst commented on #654
Tested on ubuntu touch with ZSTD-encoded ZIM, works fine !
Thanks

On Sat, 3 Oct 2020 02:03:52 -0700, Jaifroid wrote:

--
Sent using Dekko from my Ubuntu device

[2020-10-04 08:00] Jaifroid commented on #654
Thank you @ernesst!

[2020-10-04 08:08] Jaifroid commented on #654
@mossroy I could create the tag now, after adding the date to CHANGELOG and merging. Are you OK for me to do that today?

[2020-10-04 09:01] mossroy commented on #654
I won't be available all the time today, but yes : you can create the tag today.
I suggest to create a release through the github UI : https://github.com/kiwix/kiwix-js/releases (with a changelog), that will also create the tag.
It's highly probable that it won't trigger the relevant build on Travis (because it did not for the last 2 releases, at least).

But you should be able to create the relea

[2020-10-04 09:25] rohitgeddam commented on #653
I would like to work on this

[2020-10-04 09:26] Jaifroid commented on #653
OK, thanks @rohitgeddam .

[2020-10-04 10:10] Jaifroid commented on #654
@mossroy I've created a draft release, but before I publish it and create the tag, should I update the version numbers in `package.json` and `manifest.webapp` or is that something that creating the tags should trigger? Any other file with a version number that you're aware of that might need manually updating?

[2020-10-04 10:18] mossroy commented on #654
Creating the tag does not update the version numbers. create_all_packages.sh updates them on-the-fly before generating the packages (and without commiting anything), and we manually update them after the release for next release.
Try a dry run of create_all_packages.sh. You should be able to check by looking into the generated packages.

[2020-10-04 11:14] Jaifroid commented on #654
I successfully ran the dry run on WSL (Ubuntu flavour) for all packages except for the Ubuntu touch build. All the other packages are packaged and zipped up, but with the .click package I get these messages:
[code]
I tried `sudo apt install click`, but get "Unable to locate package click". I am offered:
[code]

[2020-10-04 13:30] mossroy commented on #654
Try to install the deb package from https://packages.ubuntu.com/xenial-updates/click
As you're probably using x86_64 CPU architecture, it should be from https://packages.ubuntu.com/xenial-updates/amd64/click/download

[2020-10-04 14:44] mossroy commented on #654
In fact, when Canonical dropped Ubuntu Touch, it also dropped the `click` package. So it is not available any more in recent versions of Ubuntu.
But the .deb file of earlier versions of Ubuntu (xenial, here) still works, at least on Ubuntu 18.04. You can download the .deb file somewherer, and try to install it with `sudo dpkg -i click_0.4.43+16.04.20170613-0ubuntu1_amd64.deb`

[2020-10-04 16:38] Jaifroid commented on #654
Thanks for the leads, @mossroy I'll look for it later this evening.

[2020-10-05 19:09] Jaifroid commented on #654
So, I found that package in the Ubuntu archive, and tried to install, but I get:
[code]
I have found an Ubuntu packages page for clic-pakage [here](https://packages.ubuntu.com/xenial/python3-click-package), but I'm afraid I don't know which of the packages to download or how to install.

While solving this, I'll try to go ahead with the other packgages, i.e. I'll try a non-dry-run now.

[2020-10-05 19:18] mossroy commented on #654
Wait, it would be safer to do all of them in one go

[2020-10-05 19:20] Jaifroid commented on #654
OK, I haven't started. Will wait.

[2020-10-05 19:21] mossroy commented on #654
I have found the .deb packages I had put aside for that. There are 5 files. You were on the right track but I'll send them to you by e-mail to simplify

[2020-10-07 11:59] mossroy opened #656 "Use the "File System Access API" to be able to "remember" last ZIM file"
It is a popular demand, and was not technically possible (except on some specific devices that have specific APIs : Firefox OS and Windows Mobile).

This new API should allow to re-open the last ZIM file after closing/reopening kiwix-js.
It's very recent, and not supported by a lot of browsers (currently only Chrome >=86). Firefox is unfortunately not actively working on it for now. See https://ca

[2020-10-07 12:18] Jaifroid commented on #656
It works if the site is part of the Origin Trial (I did sign up for that for kiwix.github.io and have provided some feedback to Google). See the implementation in Kiwix JS Windows here (also some screenshots):

https://github.com/kiwix/kiwix-js-windows/issues/94

I discuss some limitations in that issue, but generally it has a native feel (a few more prompts than native). It works best in a PWA wh

[2020-10-07 16:22] mossroy commented on #656
Excellent!
Sorry, I had forgotten that you already worked on it. That's really cool.
Do you know if it works in a browser extension?

[2020-10-07 17:39] Jaifroid commented on #656
Hmm, I'm not sure (I never implemented an extension version of KJSW because I feel it's properly covered by Kiwix JS, and it would be confusing to have two different extensions built on essentially the same codebase). My understanding is that the API requires `https://` and that the `chrome-extension://` protocol used by Chrome/Edge (since Mozilla doesn't support the API at all yet) does not quali

[2020-10-07 17:44] Jaifroid commented on #388
Just to update this: this sentence is no longer true at least on my Android. It's actually usable with the latest browser updates to Chrome and Edge (Android).

[2020-10-08 06:22] Jaifroid commented on #654
With @mossroy's help, I've now been able to build the unsigned binaries and upload them to download.kiwix.org. 😊

I can take care of uploading/signing in the Edge Store.

[2020-10-08 06:51] Jaifroid commented on #654
3.0.0 now in review in Edge Extension Store. The page for the Edge Extension is:

https://microsoftedge.microsoft.com/addons/detail/jlepddlenlljlnnhjinfaciabanbnjbp
(currently showing 2.8.0 until review is passed).

[2020-10-08 07:38] Jaifroid commented on #650
@mossroy See discussion in https://github.com/openzim/mwoffliner/pull/1265 . As this is another potential moment of "deprecation" for old browsers running Kiwix JS, and as adding a test in jQuery mode for the existence of the webp polyfill in the ZIM, and attaching it if it is found, is not at all hard, I propose to add and test this here soon. The reason is that I don't believe we have any browse

[2020-10-08 19:38] mossroy commented on #654
It's now available on Firefox and Ubuntu Touch

[2020-10-08 19:46] Jaifroid commented on #654
Great, @kelson42 are you able to upload the Chrome version? I've uploaded to the Edge store.

[2020-10-08 20:59] mossroy commented on #650
Great, I agree

[2020-10-09 10:02] mossroy commented on #654
@Jaifroid : to prepare the source code for v3.1, you can do the same as what had been done for the last release. See commit https://github.com/kiwix/kiwix-js/commit/e126ee8c477e5c5dd466972f5f8e07606324ec36

[2020-10-09 12:44] kelson42 commented on #654
I have uploaded the ZIP, but the web admin of chrome extension tells me this is version 2.9. Might that be that the manifest file for chrome extension is wrong?

[2020-10-09 12:49] mossroy commented on #654
Can you check you uploaded https://download.kiwix.org/nightly/2020-10-08/kiwix-chrome-unsigned-extension-3.0.0.zip ? I verified : the right version is in the manifest.
Maybe the web interface is still showing v2.9 until v3.0 is approved?

[2020-10-09 12:49] Jaifroid commented on #654
Hmm, manifest looks OK:
[code]
However, the Edge extension (which is the same file) has been stuck for two days "in review", when it should take a few hours.

[2020-10-09 13:10] kelson42 commented on #654
AFAIK latest version is 2.8.0.

[2020-10-10 07:49] kelson42 commented on #654
Available on chrome store but labeled 2.9, see https://chrome.google.com/webstore/detail/kiwix/donaljnlmapmngakoipdmehbfcioahhk?hl=en

[2020-10-10 07:53] Jaifroid commented on #654
Hmm, I wonder if this is the wrong package. It shows this in the top corner:

![image](https://user-images.githubusercontent.com/4304337/95649602-16feab80-0ad6-11eb-9309-930e430c2655.png)

[2020-10-10 07:54] Jaifroid commented on #654
OK @mossroy will do now.

[2020-10-10 08:06] mossroy commented on #654
@kelson42 : I'm pretty sure you did not upload the file I mentioned above, but the nightly build in the same directory.
It's not a big issue because the version number (2.9) is lower, and the code is the same.
Can you upload https://download.kiwix.org/nightly/2020-10-08/kiwix-chrome-unsigned-extension-3.0.0.zip ?

[2020-10-10 08:51] Jaifroid commented on #656
The Origin Trial token for kiwix.github.io seems to have finished or the token has expired (at least on Edge Chromium, for which it was working fine until very recently). :-(
I'll see if I can renew it for continued testing.

[2020-10-10 12:14] kelson42 commented on #650
Here is WikiMed ZIM file for custom apps, with webp: http://mirror.download.kiwix.org/zim/.hidden/custom_apps/wikipedia_en_medicine-app_maxi_2020-10.zim.

[2020-10-10 12:18] Jaifroid commented on #656
I've now updated KJSW to use the finalized version of the API. Quite a few things had changed from the trial. I can also confirm that  for a completely fresh install of both Chrome and Edge in Windows sandbox, the Native Filesystem API is used out-of-the-box in the PWA without the user having set any flags.

To test, visit: https://kiwix.github.io/kiwix-js-windows/ . If you have ever visited that

[2020-10-10 13:14] Jaifroid commented on #650
Wow, that file saves 800MB over the standard one, a substantial size reduction.

[2020-10-10 13:41] kelson42 commented on #650
@Jaifroid Indeed, but this file does not have the fulltext search index either.

[2020-10-10 13:54] Jaifroid commented on #650
@kelson42 Are you sure the polyfills are included in the ZIM? I can see they are referenced in each article's HTML, but our Service Worker cannot find them at the referenced ZIM URL:

![image](https://user-images.githubusercontent.com/4304337/95656760-652ca280-0b08-11eb-862f-84b84867f8fd.png)

[2020-10-10 14:33] kelson42 commented on #650
@Jaifroid Yes, there is a bug which make the ZIM created within Docker to have this problem. Fixed in https://github.com/openzim/mwoffliner/pull/1274. I have also a super small PR to introduce lazy loading for image at https://github.com/openzim/mwoffliner/pull/1275. As soon as merged, I will redo the WikiMed ZIM file and let you know.

[2020-10-11 06:18] kelson42 commented on #650
@Jaifroid I’m not at the office, but I believe this new version of the ZIM to fix the problem http://mirror.download.kiwix.org/zim/.hidden/custom_apps/wikipedia_en_medicine-app_maxi_2020-10.zim

[2020-10-11 06:20] kelson42 commented on #654
You are right. Problem is now fixed in Chrome extensions store. Will upload the file to download.kiwix.org ASAP.

[2020-10-11 07:20] Jaifroid commented on #152
The [JavaScript Support branch](https://github.com/kiwix/kiwix-js/tree/javaScript-support) has been rebased in order to test #650 (the ZIMs are ZSTD encoded).

[2020-10-11 07:35] Jaifroid commented on #650
@kelson42 That ZIM has the polyfills, thank you!

I have tested the generic solution -- JavaScript Support branch for jQuery mode -- and it has the maybe obvious issue that because images are loaded through a custom process in jQuery mode, the webp polyfill doesn't see them at load time, so does not attempt to convert them.

So, we would either need to add a custom onload event to each image to ru

[2020-10-11 07:57] mossroy commented on #650
The polyfill should be used only when the browser does not support webp.

Maybe a simpler and more generic approach would be to run `webpMachine.polyfillDocument()` after all the images are loaded through javascript. I suppose it would detect if the browser supports webp, and convert all images (only if necessary).
I agree that it might be slower, but maybe it does not make a big difference

[2020-10-11 08:21] Jaifroid commented on #650
Indeed we should only convert images if the browser doesn't decode webp natively (the polyfill has a test). According to the documentation, polyfilling the document only works on elements that have the `.webp` extension, whereas our images would be `blob` URIs, so that approach wouldn't work "out of the box":

[2020-10-11 08:51] mossroy commented on #650
You're right.
And I unfortunately don't see a way to add ".webp" to a blob URI when we generate it...

If we use the polyfill library inside the ZIM file, there is a risk to make use of internal functions of the polyfill, that might change in future versions of the polyfill. We should make as few assumptions as we can on the content of ZIM files.

Maybe another approach would be to override `defau

[2020-10-11 08:51] Jaifroid commented on #650
@kelson42 I've been looking at the issues for that polyfill, and the dev has [posted this](https://github.com/chase-moskal/webp-hero/issues/39):

I know you only add the polyfills on articles which have images, but it looks like even that approach is quite wasteful on the majority of browsers. Effectively, these polyfills add a 1MB load just to support IE11 and Safari. Well, I realize iOS support

[2020-10-11 08:54] Jaifroid commented on #650
Interesting, yes. Do you mean we should write a custom function override for parts of the polyfill, sort of polyfill the polyfill?

[2020-10-11 09:04] mossroy commented on #650
No, there seems to be a `detectWebpImage` option that can be passed when creating the `WebpMachine` instance : https://github.com/chase-moskal/webp-hero/blob/master/source/webp-machine.ts
If we can do that (and provided that the version of this library is >=v0.0.0-dev.23), we could let the library do all the job (and not make more assumptions on how it works internally)

[2020-10-11 10:06] Jaifroid commented on #650
OK, that looks like a possibility. I guess we'll need to avoid killing the image blobs on first load as we currently do, and keep them residing in memory so that the polyfill can retrieve their data. Depending on how fast the polyfill works, the user is quite likely to see broken image icons till the data have been converted and the image reloaded.

We could compare both approaches (run polyfill a

[2020-10-11 10:25] kelson42 commented on #650
Sorry for my dummy question, but does this kind of code (like in the youtube2zim scrapper) would be better? https://github.com/openzim/youtube/blob/master/youtube2zim/templates/assets/webp-trigger.js. Maybe there is even a simplier approach like `new webpHero.WebpMachine({detectWebpImage: true}).polyfillDocument()`

I'm not against considering the idea, but this is in any cased blocked by thing pe

[2020-10-11 11:45] Jaifroid commented on #650
@kelson42 It looks very much like that code still loads the bundle so that it can use its built-in test. If we want to avoid loading the bundle at all if the browser supports webp, then we need to have a simple test script that then loads the other two scripts only if needed.

A very short ES5 script to do this is suggested [here](https://stackoverflow.com/a/10930441/9727685), and copied below:
[c

[2020-10-11 11:49] kelson42 commented on #650
@Jaifroid ok, will try yo make a PR likethis to mwoffiner.

[2020-10-11 11:56] Jaifroid commented on #650
[Experimental branch](https://github.com/kiwix/kiwix-js/compare/JavaScript-support-with-webp) pushed (commit https://github.com/kiwix/kiwix-js/commit/82321684da52a2a5a7506b6c76a51f2812bedbba) which works in Internet Explorer. Strictly for testing, as this branch is built on my JavaScript support brach which generically loads all JS that it can. It's just a proof-of-concept. This version does **not

[2020-10-11 11:58] Jaifroid commented on #650
@kelson42 I could have a go! Are you very pressured to get this out?

[2020-10-11 11:59] Jaifroid commented on #650
@kelson42 Sorry, were you saying you would do it? (I can't test mwoffliner on my machine).

[2020-10-11 12:00] kelson42 commented on #650
Yes, will try to propose something later today.

[2020-10-11 12:47] Jaifroid commented on #650
OK @kelson42 an implementation all inside one external custom script could look something like this (caution: untested!!):
[code]

[2020-10-11 12:52] Jaifroid commented on #650
PS That attaches the polyfills to the body of the doc, not the head -- just in case there is a document without a head (unlikely?).
Also, forgot to have a couple of lines to add dynamically this:
[code]

[2020-10-11 13:24] Jaifroid commented on #650
Maybe this complete version would work (needs careful testing!!!). It creates and attaches an inline script, which could be a problem for some strict frameworks. If so, the inline script could be replaced with a third external script, whcih should be the last one. That script should attach `webpMachine` to `window` , so that the machine can be used outside the script.
[code]

[2020-10-11 13:31] Jaifroid commented on #650
EDIT: added missing end closures!

[2020-10-12 19:40] Jaifroid commented on #654
This has now finally passed to 3.0 in the Edge Store as well, so I think everything is updated. If @kelson42 has uploaded the binaries to download.kiwix.org, then we can complete the last steps here, publicize and close this issue.

[2020-10-13 08:01] kelson42 commented on #654
@Jaifroid new Kiwix JS 3.0.0 packages uploaded to Firefox/Chrome stores and on download.kiwix.org

[2020-10-14 17:38] javgh commented on #595
Hey everyone, I modified Kiwix-JS to access a ZIM file of the English Wikipedia (100 GB) over HTTP and wanted to report on my experience here. You can see the result here:

  https://siasky.net/_BmN2WhKvKAm0CzsfmHyiP81yUnYyQxh5To8JkVbj1RUxg/www/index.html

It's not that fast, but I find it to be reasonably usable.

In a first step I used the work done by sharun-s to simply turn all file access ope

[2020-10-14 18:17] kelson42 commented on #595
@javgh This is really great, and it seems to work good for me. I would love to see a way to merge your effort cleanly in our Kiwix JS code base.

[2020-10-14 23:27] lidel commented on #595
@ikreymer @kelson42
Potentially useful here: IPFS gateways have very liberal CORS set up by default (`access-control-allow-origin: *`) so if `.zim` is published on IPFS, it will be available for fetching via JS from [most of the public gateways](https://ipfs.github.io/public-gateway-checker/) (+ localhost, if user runs [go-ipfs daemon](https://github.com/ipfs/go-ipfs) or [ipfs-desktop](https://git

[2020-10-15 04:18] SakshiSarna commented on #653
I would like to work on this

[2020-10-15 15:29] ikreymer commented on #595
@lidel Good to know, yes, makes it easier to serve archives from IPFS, and will be needed for the replayweb.page access as well.

Nice to see this implementation! I only took a brief look so far, so apologies if this is incorrect, but it seems that this approach is not too different from what I was trying to do above as well (no longer working as the June zim file has been removed), namely that a

[2020-10-15 17:11] Jaifroid commented on #595
@ikreymer Just to say that most ZIM files do contain a precomputed full text index. It is stored in namespace X and libzim (but not Kiwix JS yet) includes the binary that reads the format.

I haven¡t checked out @javgh 's approach yet, but will do this weekend! Looks exciting!

[2020-10-15 17:17] Jaifroid commented on #595
PS @javgh I integrated peter-x 's block-level cache into Kiwix JS Windows. It really does make a difference with slow file access and/or access over network, precisely as you say because it cuts binary search right down. I experimented with this on the PWA vesrion used on Android, because the filesystem is presented to the browser engine in a very very slow way, basically rendering Kiwix JS unsuab

[2020-10-15 18:32] lidel commented on #595
@ikreymer For a PoC having index in a separate file is perfectly fine approach. I suspect that if we create JS reader for "namespace X", we may have luck with leveraging full-text index that is already present in ZIM file. If that is not enough, we could augument ZIM format by adding additional index to benefit lazy-loading over HTTP/IPFS.

Either way, the end goal should be that a `.zim` file has

[2020-10-15 19:27] ikreymer commented on #595
@lidel @Jaifroid I was referring to a secondary index for the title/url ptr list, just the title/url mapping to block/blob offset.
I don't think full-text search has been tackled yet :)

Yes, that my point is just that to make loading over HTTP workable requires changing the ZIM format to include an extra index. This would mean changing the ZIM writer to create such an index, perhaps a binary sear

[2020-10-15 19:45] Jaifroid commented on #595
@ikreymer You could discuss needed changes on https://github.com/openzim/libzim/issues/424 where there is discussion of a new "fanout" search algorithm (would that algorithm help - if you have ideas for a change in format that would speed up access, it might be a good place to see what is possible.

[2020-10-16 06:51] Jaifroid commented on #653
@SakshiSarna OK!

[2020-10-16 10:17] mossroy commented on #595
Congratulations for all this promising work!
I confirm what @Jaifroid says about changes on the OpenZIM format : it should be discussed on the https://github.com/openzim/libzim git repo. Kiwix-js is "only" a ZIM reader.

Regarding the block-level cache, there is one in the libzim C implementation. This library also implements the openZIM features that are currently missing in our Javascript code (

[2020-10-16 10:45] kelson42 commented on #595
Both @ikreymer and @javgh have created workable POC to read ZIM files online in Javascript. To achieve that. they have replaced the online reading of the url/title index by a trivial solution (good for a POC but not for a viable product). The key point now, if we want to make the next step forward, is to create an online index/dirent reader which works efficiently. To me, this seems pretty doable.

[2020-10-16 11:34] Jaifroid commented on #595
@kelson42 I agree that this looks achievable. I also agree with @mossroy that we would hugely welcome help towards achieving #508 etc. (porting of libzim to JS with Emscripten). If any of the devs here could help with that, we'd be very happy!

However, I don't believe the libzim port would help with this issue (reading ZIM files over HTTP) because libzim reads files, not network requests, whereas

[2020-10-16 12:02] mossroy commented on #595
Mmmh, you're certainly right @Jaifroid

It might be complicated to read ZIM files through HTTP with a libzim port. But this API https://emscripten.org/docs/api_reference/fetch.html might do what we need : if it were (optionally) used in libzim, it could replace the file slice reads by XHR range requests (done by the browser).

In any case, you convinced me to consider #619 : it's true that it make

[2020-10-16 14:08] Jaifroid commented on #595
Well spotted @mossroy , yes that API supports byte ranges, which could be interesting depending on whether it directly patches C++ file reads.

[2020-10-17 11:40] Jaifroid commented on #654
@mossroy How do you update https://kiwix.github.io/kiwix-js/www/index.html ? On KJSW, every time I commit to master the kiwix.github.io implementation is automatically updated, but here it seems to be a manual process. I notice it is still on version 2.8.

[2020-10-17 11:53] Jaifroid commented on #654
I have added a [reddit post](https://www.reddit.com/r/Kiwix/) about Kiwix JS version 3.0. @kelson42 can you publicize it where you normally do?

[2020-10-18 12:38] kelson42 commented on #624
@Jaifroid As we have released 3.0.0, I have to reask this question as this is still not clear to me if this is possible and how?

[2020-10-18 12:50] kelson42 commented on #654
@Jaifroid  Done https://twitter.com/KiwixOffline/status/1317810034592669699

[2020-10-18 13:31] Jaifroid commented on #624
@kelson42 I'm very sorry, I didn't see this quesiton from July before now. The answer is that the package format is exactly the same as the unsigned Chrome extension. It's the same package. You sideload it by enabling developer mode on the `edge://extensions/` page, then dragging and dropping the .zip file onto the page.

[2020-10-18 16:48] kelson42 commented on #624
@Jaifroid So weculd create a "edge" directory beside "chrome" with the exact same crxfiles and we whld be good?

[2020-10-18 16:58] Jaifroid commented on #624
@kelson42 I think it would be better to put the unsigned .zip in that "edge" directory, because it is much easier to sideload an unsigned extension package in both Chrome and Edge nowadays. The file you need is https://download.kiwix.org/nightly/2020-10-08/kiwix-chrome-unsigned-extension-3.0.0.zip .

The reason it's hard to install a .crx is given in this article: https://techjourney.net/chrome-ed

[2020-10-18 20:27] kelson42 commented on #595
@mossroy @Jaifroid Now that it looks more or less feasible, I have to ask if you are you interested, whatever the end feature looks like, based on the POCs of @ikreymer and @javgh, to add the capability to read online ZIM files?

[2020-10-18 20:51] ikreymer commented on #595
@kelson42 My conclusion, based on my experiments and looking at @javgh work, is that it is only possible by changing the ZIM format to include an extra cache to optimize XHR lookups over http. If you're not willing to change the ZIM format, it is not really feasible with ZIM alone as it is today. I think the first discussion should be about how/what type of index to add to ZIM, maybe its just what

[2020-10-18 20:55] Jaifroid commented on #595
@kelson42 peter-x's block-cache feature is leveraged by @javgh, and what I have proposed in #658 fixes some issues with that code and incorporates it correctly into Kiwix JS's codebase. I think it is a prerequisite for a full implementation of @javgh's or @ikreymer's ideas for remote file reading. Personally, I think it could be a USP of Kiwix JS if it could read remote ZIM archives, with or witho

[2020-10-19 05:15] kelson42 commented on #595
@Jaifroid My question is if we should, not if someone will or could? If “yes” how this feature would integrate in term of UX with the current software? What is USP?

[2020-10-19 06:00] Jaifroid commented on #595
@kelson42 It's very hard to answer directly. Whether we "should" depends on whether there is a use case and whether there is enough developer time. I personally use Kiwix JS probably like the majority of people, i.e. for offline access to ZIM archives I have downloaded. However, I can imagine a strong use case for accessing a large ZIM or library of ZIMs over an intranet in areas where access to t

[2020-10-19 06:30] kelson42 commented on #595
@Jaifroid @mossroy I think been able to read online ZIM files directly via HTTP might open new interesting perspectives. At least the one allowing to read ZIM files directly from IPFS. It is a bit adventurous, but might be worth the effort. For the project, this is not a priority, but I feel ready to support the idea. I believe as well that this feature could be integrated relatively easily to the

[2020-10-19 06:38] Jaifroid commented on #595
@kelson42 I agree!

[2020-10-19 09:11] kelson42 opened #659 "Online Preview (ZIM reading over HTTP)"
I propose to add a new feature to Kiwix JS, the capacity to ready a ZIM file online via HTTP. It should provide to the user a similar UX than with an offline/local ZIM file.

This feature would allow to:
* Offer a preview to users before download of the full ZIM file
* Is a necessary first step before implementing an IPFS ZIM file reader(see https://github.com/ipfs/devgrants/pull/49)
* Allow to ev

[2020-10-19 12:03] ram690514 commented on #653
I would like to work on this , but currently the latest version is 2.11.3

[2020-10-19 12:16] Jaifroid commented on #653
Yes you're right @ram690514 . I don't know where I got that other number from. I see the previous person who offered has deleted their account, so I'll assign you.

[2020-10-19 12:18] ram690514 commented on #653
thankyou @Jaifroid

[2020-10-19 14:31] javgh commented on #595
I wanted to add some more technical details regarding my POC, as it might be helpful for future design decisions. It's indeed similar to what @ikreymer did before in that it's a ZIM file + precomputed index. The Wikipedia ZIM file has around 20 million dirEntries (around 6 million actual articles). Just all the pointers for the dirEntries are already 160 MB and then a dirEntry itself is around 50

[2020-10-20 03:40] ram690514 commented on #653
@Jaifroid  can you help me to update to the qunit latest version

[2020-10-20 04:11] ram690514 commented on #653
sir can you help me to fix issue @Jaifroid

[2020-10-20 06:52] ram690514 commented on #653
i have created a pull request but it is showing some errors can you help me @Jaifroid

[2020-10-20 08:52] Jaifroid commented on #653
@ram690514 Because you do not have write access to this repo, the tests won't run properly and will appear to fail.
I can fix that -- but I notice you've closed your PR. Any reason for that?

[2020-10-20 08:59] ram690514 commented on #653
@Jaifroid  , i reopened it

[2020-10-20 09:10] Jaifroid commented on #654
I figured out which branch GitHub Pages was running from and have updated it to current master. I did try setting it to the last release, but it then still shows the wrong version number, which is maybe a slight issue with the workflow for releases. It would make sense for the release commit to have the correct version number.

If it should be done differently, we can always commit separately to t

[2020-10-20 09:10] #654 closed

[2020-10-20 13:55] ram690514 commented on #639
@kelson42  i would like to work on this issue

[2020-10-20 14:04] kelson42 commented on #639
@ram690514 You are welcome.

[2020-10-20 14:14] mossroy commented on #639
@ram690514 : I'd prefer that you finalize work on #660 PR first, before starting work on another issue.

[2020-10-20 14:40] Jaifroid commented on #659
Just to add that, as discussed in #595, merging #658 would be a step towards this, given that caching is essential for `dirEntry` binary search to attain an acceptable speed over a network or with slow file access.

[2020-10-20 15:27] ram690514 commented on #639
@mossroy :I am working on it . I will fix it surely as fast as possible.

[2020-10-20 15:28] ram690514 commented on #639
@kelson42 : I have pushed a pull request . please check it

[2020-10-20 15:33] ram690514 commented on #653
@Jaifroid  : I don't know but the latest version of Qunit is not working with this project , maybe it is because of my fault . can you please help me to fix this issue

[2020-10-20 15:34] ram690514 commented on #639
@mossroy : I have pushed a pull request. can you please check it

[2020-10-20 15:35] Jaifroid commented on #653
@ram690514 It would be helpful to know what you've tried. What errors are showing in dev console? You need a bit more informaiton than "it is not working" so that I can meaningfully help you!

[2020-10-20 15:51] Jaifroid commented on #639
@ram690514 Thank you, but it's impossible to see what you have actually fixed from that PR. Could you please close it and re-do it using with only the actual code changes, or perhaps with one commit per change, Please do not change formatting and indenting, only focus on the actual code changes. If the code change isn't clearly shown in the diff, we cannot see what you have done. and so cannot che

[2020-10-20 16:04] ram690514 commented on #639
@Jaifroid  I will surely do it

[2020-10-20 16:43] ram690514 commented on #653
I changed Qunit 2.3.2.js to Qunit2.11.3.js and also CSS file get replaced .
but now when i load the test.html file it get show " 0 out of 4 files
checked ".
actually I updated by using npm command " npm install Qunit". I think may
be there exist some other ways to update the existing Qunit file , may be
you can help me.
But at the same time i also found that there is no package.json file in
this p

[2020-10-20 16:58] Jaifroid commented on #653
@ram690514 This is not an npm-enabled project. We have #554 for that issue. For now you have to update dependencies manually. If I were you I'd start again with master: make sure you know how to run the tests under the master branch and make sure they work. Then manually update just the QUnit files (by downloading and dropping in). You may need to look carefully at what has changed in the QUnit AP

[2020-10-20 17:31] mossroy commented on #653
You were on the right track with #660 : it was the right way to upgrade QUnit, but some APIs have probably changed. Run tests.html to see what's wrong

[2020-10-21 11:18] mossroy commented on #654
To update https://kiwix.github.io/kiwix-js/www/index.html , I usually use scripts/push_to_gh_pages.sh to update gh-pages branch.
I agree it's not great regarding the version number.
There is room for improvements on this release process.

[2020-10-21 12:06] Jaifroid commented on #654
OK, thanks, I wasn't aware of that script!

[2020-10-22 06:21] ram690514 commented on #639
I have created a pull request regarding this issue..please check @kelson42

[2020-10-22 06:30] ram690514 commented on #639
@Jaifroid : I have pushed a pull request.please check it.

[2020-10-22 06:42] Jaifroid commented on #639
I've reviewed it and suggested changes. As a matter of etiquette, when you create a PR, please give it an informative title ("Changes" means nothing and could apply to any PR), and also provide an overview description of what you have done. You don't need to provide a description now, as we know what you have done, but it is good practice for a PR. You should change the PR title, however.

[2020-10-22 06:56] Jaifroid commented on #659
It will be important to ensure that the server accepts the Range header: https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests .

[2020-10-22 07:40] ram690514 commented on #639
Thanks for your your suggestions, I will surely do it

On Thu, Oct 22, 2020 at 12:13 PM Jaifroid <notifications@github.com> wrote:

[2020-10-22 07:54] ram690514 commented on #639
@Jaifroid : I have updated the pull request ,please check it

[2020-10-22 13:02] ram690514 commented on #639
@kelson42 : I have updated the pull request,please check it

[2020-10-23 11:21] ram690514 commented on #639
I had restored the element message channel and updated the pull request

[2020-10-25 11:50] Jaifroid commented on #643
I'm no longer sure tweaks are needed to the metadata. For the update, I just used the Chrome extension package, and the Store signs the app. Since a Chrome extension package can be loaded into Edge Chromium in developer mode, this issue no longer seems necessary and can be closed. I'll re-open if there is a future problem.

[2020-10-25 11:50] #643 closed

[2020-10-25 16:30] kelson42 opened #666 "Improve Chrome/Edge extension distribution for side loading"
Following the recent comment of @Jaifroid https://github.com/kiwix/kiwix-js/issues/624#issuecomment-711290059 I have a few (easy) questions and decisions to be made:
* What is the best sideload package to be provided for Chrome and how to get it.
* What is the best sideload package to be provided for Edge and how to get it.

If we should not provide `crx` files anymore for none of them, I need to

[2020-10-25 17:38] #637 closed

[2020-10-25 17:53] Jaifroid commented on #666
@kelson42 I've now tested these, and despite what it says in the article I linked, it is possible to install the .crx file we provide by going to `edge://extensions`, setting Developer mode, and then dragging the .crx file onto that page. It asks if the user wishes to install and then installs it.

Now, I don't have Chrome installed on my system (no need for two Chromium browsers), but since this

[2020-10-25 18:01] kelson42 commented on #666
Great, then I will from now make the edge extension like the 3.0.0 one.

[2020-10-25 18:01] #666 closed

[2020-11-04 15:34] mossroy commented on #659
This proposal needs more thinking IMHO.

First, we need to keep in mind that we need to replace our custom javascript backend implementation with an emscripten compiled version of libzim/kiwix-lib. In their current forms, these libraries do not support reading ZIM files through HTTP.

If we implement such "over HTTP" feature in kiwix-js, it will become an issue when switching to libzim : either th

[2020-11-04 15:49] kelson42 commented on #659
Pertinent, but without visibility on libkiwix emscripten, I assume this won't happen soon.

Yes, but all of this seems a problem easier to fix than the technical ones. In worse case we can make another project with another name to avoid confusion.

You are right that a preindex needs a discussion at the ZIM level (in repository `openzim/libzim` or `openzim/overview`). This ticket requires it works

[2020-11-04 17:00] Jaifroid commented on #659
I think the thing that interests me most about this ticket is the possibility of enabling easy access to a very large ZIM over an Intranet / LAN, without much overhead. But I've no idea how viable it is really, until the various pieces of the puzzle come together!

[2020-11-05 18:07] #619 closed

[2020-11-05 21:01] Jaifroid opened #667 "Latest ZSTD WikiMed shows our custom "Unable to display active content" warning"
It's very nice to see the first mainstream ZSTD WikiMed (the November English version). It's 230MB smaller than last month's, and noticeably snappier, at least on my PC!

There is a minor issue with the landing page (affecting only Kiwix JS and KJSW in jQuery mode): for some reason, the landing page is throwing up our "Unable to display active content" warning (see screenshot). However, there is n

[2020-11-07 08:54] kelson42 commented on #650
@Jaifroid Thank you, the work has been done on MWoffliner and is part od latest release 1.11.

[2020-11-07 09:08] #667 closed

[2020-11-07 09:20] Jaifroid commented on #650
OK, thanks @kelson42 , I see there is a test ZIM here: https://github.com/openzim/mwoffliner/files/5451044/zimfile_with_webp.zip which we can use to test/enable support in KJS and KJSW.