[2020-11-07 14:18] mossroy commented on #659
Regarding the user experience, another way to handle that would be to hide this feature in the UI, and have a "secret" way to show it. This would allow to keep only one project, one source code, and one deployment.

In this case, I would see that as a "playground" feature for now, that is not ready for end-users, and could be removed in the future (either because it's not viable, or because the sw

[2020-11-07 14:58] Jaifroid commented on #659
Nice! We could have our very own `kiwix://flags` URL to type into the search box, which would allow an advanced user to enable/test this as an experimental option...

[2020-11-07 16:39] #639 closed

[2020-11-07 16:41] Jaifroid commented on #639
Well, I was wrong. Merging this went from a score of C- to a score of B !

[2020-11-12 17:53] kelson42 commented on #650
I would like to introduce webp optimisation for most (if not all) of our MWoffliner generated ZIM files around end of the month (November). But I would like to secure the our Kiwix JS (based) reader support them properly. Does that sounds a reasonable timeline? If not, what would be a better one?

[2020-11-12 17:56] Jaifroid commented on #650
@kelson42 I'll tell you after I've tried to incorporate the polyfill into the WikiMed release I'm doing now. If that goes smoothly, then the timeline you're thinking of should be fine. More soon.

[2020-11-12 22:54] Jaifroid commented on #650
Hmm. I can get the polyfill to run in Internet Explorer, but so far not in Edge Legacy, surprisingly (as the latter is a more modern browser).

[2020-11-12 23:23] Jaifroid commented on #650
Now working in Edge Legacy / Windows Mobile. 😊

[2020-11-13 08:41] Jaifroid commented on #650
@kelson42 I've tested the polyfill on a Windows Mobile physical device and on various VMs. It works fine on any device with 1GB or greater RAM. For the lowest-powered device, with 500MB RAM, the app launches and then crashes as soon as it tries to load this polyfill. While I don't believe there are many/any people with such a low-powered device attempting to run Kiwix, it is indicative that this p

[2020-11-13 08:50] kelson42 commented on #650
@Jaifroid Good, so I need we would need new releases to get this ready for users?

[2020-11-13 09:02] Jaifroid commented on #650
@kelson42 Yes. I'll do a WikiMed release on KJSW as a pilot in the next few days. That can be followed with a PR here *if* my suspicions are correct that we do not need to do anything for the Service Worker mode of this app. If we do need to support SW mode explicitly, then the PR could be more complicated...

[2020-11-13 13:06] mossroy commented on #650
My concern is, as usually, to do as few assumptions as we can on the ZIM content. Else we take a risk that it will not work on future versions of this ZIM file, or on other unknown ZIM files. The more we use high-level APIs of the polyfill, the safer we are.
I agree with you that it would be slower to run `polyfillDocument()` , at least because it would parse the DOM twice. I don't know how much s

[2020-11-13 19:02] Jaifroid commented on #650
@mossroy This is how I've added (so far partial) WebP support in KJSW, i.e. I've included my own copy of the polyfill rather than extracting it from the ZIM, for speed and compatibility, as you say. I say the support is partial because it is currently implemented for Windows Mobile, i.e. I did not include the polyfills needed by IE11 (thought I have tested them and they work).

I agree we'll need

[2020-11-14 14:47] mossroy commented on #650
Cool!
Sorry, I had probably misunderstood you, and did not have a look at your code

[2020-11-15 09:42] Jaifroid commented on #650
I spent some time this morning trying to enable conditional loading of the WebP Polyfills. I just wanted to document my findings here:

* There is a clash between RequireJS `define` and the use of `define` in the main Polyfill (possibly also in the core-js Promise and Array.from polyfills bundled with it for IE11).
* The clash can be worked around by loading the polyfills before loading the main `

[2020-11-20 04:23] Krinkle commented on #653
I'd be happy to help update QUnit and address (some of) https://github.com/kiwix/kiwix-js/issues/554. I don't want to stand in the way if someone else is already working on this, however. Let me know!

Strawman proposal (feel free to suggest otherwise):

* Update to the latest QUnit.
* Address failures.
* Load qunit package from npm.
* Use [Karma Runner](https://karma-runner.github.io/) instead of

[2020-11-20 04:36] Krinkle commented on #554
Which browsers are you looking to support? ES6 support is quite widely available nowadays. For example, from <https://caniuse.com/es6-class> and <https://caniuse.com/arrow-functions>

* Firefox: 45+ (2016)
* Chrome: 45+ (2015)
* Edge: 12+ (all versions)
* Safari: 10+ (2016)
* Android: 5+ (2014)
* iOS: 10+ (2016)
* IE 6-11: (unsupported)

I'm still very new to how Kiwix works, but as I understand i

[2020-11-20 08:07] Jaifroid commented on #554
@Krinkle Thanks for your thoughts. Much appreciated.

I think the attraction of npm-webpack-bable for us is twofold:

* modern dependency management and updating
* ability to use the latest native JS features and not have to worry about writing workarounds for IE11+.

Yes, it adds a compile step, but usually this is a one-liner, and can be integrated into VS Code or similar for testing and develop

[2020-11-20 09:43] Jaifroid commented on #653
@Krinkle This would be very helpful. There was some work in #660 which seems to have stalled (and it was closed). So please do feel free to offer a PR. Note that we don't currently have an npm confif for this project, but starting one might be a good way of easing in to #554 .

[2020-11-20 09:45] Jaifroid commented on #653
PS I have no experience of Karma Runner, maybe @mossroy should comment on that part.

[2020-11-20 21:02] mossroy commented on #653
@Krinkle : this contribution would be very welcome, and goes way further than this issue.
We have no more news from the developer who created #660 since one month, and he removed himself from the assignees of this issue. So I suppose no one will be frustrated if you do it.

Let me give some more general background :
You probably saw that we have 2 types of automatic tests run by the CI : unit test

[2020-11-20 21:44] mossroy commented on #554
What @Krinkle suggests here is to drop compatibility with the oldest browsers that don't support ES6. They could still run an old version of kiwix-js (that we could still provide). It would allow to code with ES6, and run this code directly, without transpiling.
It's true, and would of course simplify our work.
But the ZIM file format also sometimes evolves (zstd and webp support are very recent b

[2020-11-21 10:13] Jaifroid commented on #554
OK, so I think the conclusion is: we want npm-webpack, but are not yet prepared to drop IE11 and other old browsers/webviews that are not compatible with ES6. Therefore, the npm-webpack configuration should ideally include core-js/babel and transpilation, or that can be a separate issue.

[2020-11-21 10:24] Jaifroid opened #671 "Extract images sequentially in jQuery mode"
Following on from #670 , it would be possible to transfer the sequential WebP image extraction logic in `uiUtil.js` to the whole `loadImagesJQuery()` function in `app.js`. This would mean that all images would be extracted one by one starting at the top of the page, hence images above the fold would load first. This would improve the UX for jQuery users (who also often have slow browsers). For use

[2020-11-22 09:33] Jaifroid opened #673 "Possible race condition causing random failure of WebP polyfill loaded from the ZIM (SW mode)"
Following initial investigation in https://github.com/kiwix/kiwix-js/pull/670#issuecomment-731611342, there is probably a race condition causing random failures in the WebP Polyfill loaded from the ZIM in browsers that support Service Worker mode but do not support WebP (e.g. Firefox 64, which can be installed as a portable package for testing this issue).

The main symptom is that images will fai

[2020-11-22 09:40] Jaifroid opened #674 "Add QUnit test for conversion of WebP images"
Following on from https://github.com/kiwix/kiwix-js/pull/670#discussion_r527896572, once #672 is complete, we should add a QUnit test for WebP image reading:

This might probably need to refactor this function a bit : add a callback parameter or make it return a Promise, so that the unit test can know when the image has been decoded.

[2020-11-22 09:50] #650 closed

[2020-11-22 11:15] Jaifroid commented on #554
@Krinkle I read your very helpful [blog post](https://timotijhof.net/posts/2019/protect-yourself-from-npm/) (which you linked in #672) on issues with npm safety, which is important to bear in mind for this issue.

Above you commented:

Just to add that PWA (#388) is another potential future target for Kiwix JS, together with the File System Access API (aka Native File System API)  (#656), which so

[2020-11-22 18:11] Jaifroid commented on #650
@kelson42 Just to say that WebP is now enabled in both Kiwix JS and Kiwix JS Windows. In Kiwix JS it is in master, but not yet released, and there are small issues with the polyfill that need further investigation in #673, but I don't think the issue is a blocker for a release (it affects only a very small number of old browsers that mostly will have autoupdated to the latest, and even those brows

[2020-11-22 22:09] Krinkle commented on #590
From <https://github.com/kiwix/kiwix-js/pull/675>

-------

-------

@kelson42 Could you confirm or elaborate on what the limitation(s) are that you ran into with Travis? Perhaps there's something I could help with. I suspect it might be a misunderstanding, but happy to be wrong!

[2020-11-22 22:18] Jaifroid commented on #590
For the record, this was @kelson42's advice:

https://github.com/kiwix/kiwix-js/issues/573#issuecomment-579733223

However, devs at Kiwix **completely** understand the importance of not putting all our eggs in the MS basket...!

[2020-11-22 22:30] Krinkle commented on #590
Thanks, consistency is also a good reason!

As for more supported platforms, I do note that Travis seems to have the same platforms ([Linux](https://docs.travis-ci.com/user/reference/linux/), [macOS](https://docs.travis-ci.com/user/reference/osx#macos-version), Windows), including at multiple versions of those, and (for Linux) multiple CPU archs. We use all of these over at [qunitjs/.travis.yml](h

[2020-11-23 13:22] kelson42 commented on #656
Here a user feedback about this:
[code]

[2020-11-23 18:16] Jaifroid commented on #656
@kelson42: Yes, as @mossroy said at the head of this issue, it is a popular request. This can be achieved in two ways currently:

1. Add logic to make Kiwix JS into an installable PWA (since the API requires https://) with an offline-first caching strategy, and then the File System Access API can be used relatively easily (with or without installing it); or

2. Package the app in a framework (Elec

[2020-11-23 18:30] Jaifroid commented on #656
However, all that is for future development in Kiwix JS. In the meantime, you can tell this user to try drag-and-drop in Kiwix JS. We enabled it quite a long time ago, and it could well achieve what the user wants right now. You can drag and drop into the app without Configure being open. It is a very fast way to switch between different ZIMs in a folder.

[2020-11-24 07:40] kelson42 opened #678 ""Open in New tab" does not work with local links (in Jquery)"
Nothing is loaded, not even the Kiwix extension.

I'm not sure if this is possible at all.

But if not possible we should probably not open a new tab for local links

[2020-11-24 08:40] Jaifroid commented on #678
@kelson42 We don't have any logic to decode an article and all assets in a shadow DOM and then transfer the HTML to a new tab. I implemented a "breakout link" in KJSW which transfers a copy of the currently loaded article (including images loaded as data URIs) into a new tab (with no Kiwix chrome) for bookmarking an article or side-by-side comparison, or for better printing. But the extracted HTML

[2020-11-24 09:24] kelson42 commented on #678
I primarly report a behaviour which is not really nice for user (actually this is a report from a user).

I suspect that, if we can open a ZIM file without going through the "open file" dialog (which is #656 if I'm right), then we should be in position to open a new Kiwix-JS an open the right ZIM file at the right place. There is as well an obvious "problem" around the URLs to manage.

If that wou

[2020-11-24 09:27] Jaifroid commented on #678
OK, I'll investigate.

[2020-11-24 22:10] Jaifroid commented on #678
@kelson42 I've investigated a bit, and it is technically possible to open a new tab using something like:

[code]

The newWindow can be manipulated from the main window in exactly the same way as we manipulate the iframe. It is possible to navigate in `newWindow` (by clicking on links), and main window will supply the new document, images and CSS, or from main window by using Random button.

I pus

[2020-11-25 07:40] kelson42 opened #679 "Better keep track of vertical position in history (in JQuery mode)"
"Back" and "Forward" buttons should bring the user on the proper article (what it does), but as well at the right vertical position in the article (what it doesn't do).

[2020-11-25 18:51] Jaifroid commented on #679
I guess we could record the vertical scroll percentage of the iframe and jump to it on back button/arrow. Currently, our back button also records typing strokes in a search, and I wonder if that should be removed. I for one find it a bit disconcerting to be thrown back into a search when I use back button rather than to be taken back to a previous article.

[2020-11-26 09:15] kelson42 commented on #679
To me this sounds not natural that this has to be handled by Kiwix. This shoudl just work (like #678 BTW) because the browser knows how to handle that. I feel this is the symptom of an architectural weakkness. The browser remembers the vertical position in a normal page, so why it does not here? Are we sure this is because of the iframe?

[2020-11-26 09:18] kelson42 commented on #678
@Jaifroid Thank you very much for moving so quickly on this. I would like to step-back for a moment and ask: why exactly this just not work out of the box? Is this because #656? Do we have another problem? We should be carefull to use as much as possible the feature of the browser and not mimic them in our own code base.

[2020-11-26 09:33] Jaifroid commented on #679
@kelson42 Actually this *does* work in Service Worker mode. I've just checked.

The issue is that we have two modes of operation, one of them legacy for browsers that don't support Service Worker, and the other one much closer to a "Web View" embedded in an app, where the iframe acts as the Web View. The latter can use all of the native functions of the browser (nearly), while in the former case w

[2020-11-26 09:42] kelson42 commented on #679
@Jaifroid Thank you for clarifying that this is a problem only affecting JQuery mode. This was not something I was aware off, as I'm a FF user. I have tested with Chromium and indeed it works fine. To me, the importance of this ticket is consequently halfed. If we can workaround with saving "manually" the vertical position, then this is good to me :)

Concerning the search, it sounds to work prope

[2020-11-26 09:44] Jaifroid commented on #678
See my comment in #679. Opening in a new tab works fine and "naturally" with no kludge in Service Worker mode. My kludge above applies only to the legacy jQuery mode (and sorry for not explaining that!). But I'm glad I've discovered that it is really easy to do in the legacy mode as well!

[2020-11-26 09:49] kelson42 commented on #678
@Jaifroid Oh! Here as well indeed... which is a good news! I have renamed this ticket as it was confusing. Your demo looks promising if you can properly attach this new primitive to the even of opening in a new tab (it exists many ways to open a link in a new tab).

[2020-11-26 10:30] kelson42 commented on #590
Travis is a good tool but suffers of:
* Relative slowness and instability
* Does not provide (at least it was the case) all the VMs we need in general for the openzim/kiwix orgs
* Has more limitation in terme of resources
* Is less integrated from a UI POV

For all these reasons we have decided to move to Github Actions as an organization. In an attempt to keep things efficient/consistant this wou

[2020-11-26 21:19] Jaifroid commented on #678
Info to myself: it is possible to trap the `contextmenu` event, but not possible to know which option a user clicked. However the alternative of Ctrl-click or Command-click can be trapped more reliably, so it would probably be best to use that method and educate users how to open a new tab in jQuery mode, rather than try to simulate the context menu in JavaScript.

More info here: https://stackove

[2020-11-29 07:36] #505 closed

[2020-11-29 07:36] #671 closed

[2020-11-29 20:29] mossroy commented on #678
I don't think there's a clean and universal way to trap the opening of a link in a new tab.
As far as I know, there's no such javascript event that could be trapped.

There are many ways to open a link in a new tab, and some depend on the browser/version/settings. I personally do it with the middle-click of my mouse.
It can also be done with the right-click menu (and I still believe we should not

[2020-11-29 21:20] Jaifroid commented on #678
I added middle-click support to #680 ;-)   (not tested yet -- my other machine has middle mouse button, not the one I'm on right now).

I think #680 addresses three potential issues with the app in its current state:

* Lack of ability to open a new tab for users of Firefox Extension (or anyone stuck in jQuery mode) - it's not the first time we've been asked for this;
* Lack of any way to print an

[2020-11-29 21:30] mossroy commented on #679
Thanks @Jaifroid for your support and for taking the time to answer in detail all issues, even when they contain hasty criticism.

The lack of ServiceWorker support in Firefox extensions is becoming a big issue, because it forces us to keep maintaining this ugly "jQuery" mode. This original mode has a lot of flaws, but we don't know a better way when Service Workers are not supported.
If Firefox s

[2020-11-30 17:52] mossroy commented on #678
OK you convinced me.
The configuration wording should say that it's only for jQuery mode, and that it natively works in SW mode.
I don't think we should override the right-click BTW, but only ctrl-click and other ones

[2020-12-01 12:07] kelson42 commented on #650
So, I guess we can move on with ZIM generation with webp images?

[2020-12-01 12:10] Jaifroid commented on #650
Yes, we're all ready. We can do a new release as soon as the new ZIMs start to appear.

[2020-12-01 12:20] kelson42 commented on #650
@Jaifroid From now, all new ZIM files using mwoffliner will be done with webp pictures

[2020-12-01 12:53] Jaifroid commented on #650
OK, thanks, we'll schedule a new release in the next couple of weeks.

[2020-12-06 13:59] vishalvikal commented on #679
Hi, @kelson42 I am new here and want to work for the open source. Is there anything? I can tackle with. Thanks

[2020-12-06 14:01] vishalvikal commented on #679
I know D3 library. Please hear if there any work related to D3 or javaScript.

[2020-12-06 14:20] Jaifroid commented on #679
@vishalvikal This project doesn't use D3. Issues marked as "good first issue" are those we think may be possible for new contributors, if you have some reasonable JavaScript experience.

[2020-12-06 14:40] Jaifroid opened #681 "Release version 3.1"
Given the public release of WikiMedia ZIM files with WebP image compression as standard, it is important to get a new release out as soon as practicable. Since Travis tests are currently broken, we can only release code that has already passed tests and has been merged into master for now, so I suggest we do not wait on any of the PRs currently in the pipeline. If that is agreed, then below are th

[2020-12-06 16:33] mossroy commented on #681
I agree.
We'll have to do that without Travis. Never mind : we don't need it to release

[2020-12-06 17:27] Jaifroid commented on #681
I forgot to add a release date to the Changelog before merging, so I'll update that with a separate commit once further tests have been completed and before creating the tag.

[2020-12-06 18:16] Jaifroid commented on #681
@ernesst We are soon going to release v3.1 with WebP image support. We have an issue in that Travis CI is no longer working (due to a change in their policy), so the last auto-generated .click file we have is:

https://download.kiwix.org/nightly/2020-12-03/kiwix-ubuntu-touch-3.1commit-3457998.click

Fortunately this contains all the changes we are planning to release (and we'll generate a new file

[2020-12-08 07:45] Jaifroid commented on #681
@mossroy @ernesst Are there any more manual tests pending, or can I go ahead and create the release tag?

[2020-12-08 08:08] mossroy commented on #681
I'll do some tests on my Firefox OS device today

[2020-12-08 08:51] ernesst commented on #681
All,

I just test this .click with the zim. I didn't find any regression.

Ernesst.

Le Sun, 6 Dec 2020 10:17:04 -0800, Jaifroid a écrit :

--
Sent using Dekko from my Ubuntu device

[2020-12-08 10:21] Jaifroid commented on #681
Great, thanks @ernesst!

[2020-12-08 13:04] mossroy commented on #681
I tested many different ZIM files (including the last webp one you suggested) on my Firefox OS device and found no regression.
The webp polyfill works perfectly : it's really cool to be able to display them on old platforms.
And the recent improvements (in particular the sequential extracting of images) make a big difference on the impression of speed of the app on this kind of device.

I also qui

[2020-12-08 16:28] Jaifroid commented on #681
Thanks @mossroy, that's helpful.

[2020-12-09 14:36] kelson42 opened #684 "Add support of ZIM without namespaces"
First test ZIM files have been created and are available at:
http://tmp.kiwix.org/nons_zims/

Almost all Kiwix ports work with them so far, but not Kiwix-JS unfortunately.

[2020-12-09 14:44] Jaifroid commented on #684
You do like to keep us busy @kelson42 😉
I think I recently noticed at least one hard-coded A/ namespace, and probably specifically around binary search, which would explain the issue here.

[2020-12-09 16:57] Rajat379 commented on #597
I am keen on working on this issue, should I work straight away?

[2020-12-09 16:59] Rajat379 commented on #679
I am keen on working on this as a first timer, should I work on it straight away?

[2020-12-09 18:18] Jaifroid commented on #597
@Rajat379 This is a rather specialized ssue: unless you are very experienced with JS development and with the format of ZIM archives (and the changes happening to that format) I suggest you should choose an easier issue to tackle as a first contribution.

[2020-12-09 18:20] Jaifroid commented on #684
@kelson42 We have #597 for this issue, so I'm closing here but will copy your comment with location of files there.

[2020-12-09 18:20] #684 closed

[2020-12-09 18:21] Jaifroid commented on #597
@kelson42  wrote in #684:

[2020-12-09 18:25] Jaifroid commented on #679
@Rajat379 You can work on this if you are confident with how window.history is manipulated in JavaScript. Please note there is an upcoming PR #680 which affects history manipulation, and it may be a good idea to examine the code there, as a number of things may well change that would affect any PR you work on. One option would be to wait until that PR has been merged or closed.

[2020-12-10 14:04] deadlydud commented on #265
I just went to the https://www.kiwix.org/en/ and downloaded the linux kiwix reader, however my OS is setup for Dark theme, and when I open up the ./kiwix-desktop_x86_64_2.0.5.appimage, the screen looks like this:  (unreadable text)

Is there some export VARIABLE=something trick one can do to make kiwix honor the operating system choice on DARK vs LIGHT them?

![image](https://user-images.githubuse

[2020-12-10 14:10] Jaifroid commented on #265
@deadlydud You are using Kiwix Desktop,. whereas this is the GitHub for Kiwix JS, which is the version for use in browser extensions, and is a very different code base. So you should ask on https://github.com/kiwix/kiwix-desktop .

We do have a dark theme in our browser extension. If you are running Windows, and Windows 10 in particular, then there is also a version in the Microsoft Store (search

[2020-12-10 14:10] Jaifroid commented on #265
Ah, it looks like you might be using a Mac, in which case ask on Kiwix Desktop as mentioned above.

[2020-12-10 14:21] deadlydud commented on #265
Thank you Jaifroid for you comment. I'm trying to make an off-line instance for someone, so they can view some Wikipedia articles, Was un-aware about Kiwix "Desktop mode vs JS version"...   I just followed the normal "dumb-drone-user" mode.. googled for Kixiw after reading about it, got to https://www.kiwix.org/en/ ... and hit Download..   chose GNU/Linux – x86-64 bit binaries (Yes the machine is

[2020-12-10 14:30] deadlydud commented on #265
aargh.. .this is NOT my day .... went through all Jaifroid's advise... and ended up on trying get help only for the
git-hub "submit new issue" button to be totally non-reactive... nothing happens on the button click ...
I'm giving up.. moving onto other things... (grumbles) that was on https://github.com/kiwix/kiwix-desktop/issues/new

I am just wondering how many other internet citizens are stumb

[2020-12-10 14:32] mossroy commented on #265
@deadlydud : could it be because you did not give a title?

[2020-12-10 14:32] Jaifroid commented on #265
@deadlydud Looking at your screenshot, it looks like you didn't add an issue title, which is probalby why you couldn't submit it.

[2020-12-10 17:09] deadlydud commented on #265
Blush. you are correct. In a Noob's defence: button stays green.. doesn't grey out if info is missing..
and human interface design: if click button and can't submit: validate alert with "title needed".
Thanks for pointing it out. Time for me to sleep and get fresh concentration.

[2020-12-13 10:22] Jaifroid commented on #681
So we finally have the released packages for the various stores. They are:

* [kiwix-ubuntu-touch-3.1.0.click](https://download.kiwix.org/nightly/2020-12-12/kiwix-ubuntu-touch-3.1.0.click)
* [kiwix-firefoxos-3.1.0.zip](https://download.kiwix.org/nightly/2020-12-12/kiwix-firefoxos-3.1.0.zip)
* [kiwix-firefox-unsigned-listed-extension-3.1.0.zip](https://download.kiwix.org/nightly/2020-12-12/kiwix-fi

[2020-12-13 12:58] mossroy commented on #681
Version 3.1.0 is deployed on Firefox and Ubuntu Touch

[2020-12-13 13:04] Jaifroid commented on #597
@kelson42 What is the new ZIM format specification we should work with here? I've checked https://wiki.openzim.org/wiki/ZIM_file_format#Namespaces and it doesn't have any updated information. Looking at the Ray Charles sample you provided, it seems the landing page (at least) is in Namespace `-` which is why it is not showing in Kiwix JS: we have code that checks if the landing page is an article,

[2020-12-13 14:08] kelson42 commented on #597
@Jaifroid @mgautierfr Couldyou please talk together on thisad updatethe spec wherever is needed?

[2020-12-13 14:12] kelson42 commented on #597
@Jaifroid The curret roadma looks like this:
* until end of december, polishing last details + doc
* mid of january, release of the new libzim
* mid of february, first scrapers are adapted
* march, first official ZIM releases without namespaces

Hope in the meantime we will be able to fix all related bugs in Kiwix JS and other ports.

[2020-12-13 14:16] Jaifroid commented on #597
Thanks, that's good to know. I don't anticipate big difficulties adapting the code. The main issue, from previous discussions, is likely to be slower binary search if we have to search through one huge namespace instead of one focused on articles. But we now have a block cache merged in 3.1 which should help with that.

[2020-12-13 17:08] kelson42 commented on #590
Any reason why we keep this ticket open?

[2020-12-13 17:16] Jaifroid commented on #590
@kelson42 Because we have only done Continuous Integration, but we have not yet done UI tests and QUnit tests for PRs. So this issue is only partially completed.

[2020-12-15 14:17] mgautierfr commented on #597
@Jaifroid, I have update the spec on the wiki (https://wiki.openzim.org/wiki/ZIM_file_format)

libzim itself (in master) doesn't fully follow the spec yet. It doesn't handle the well know entries (W namespace) and listing (in X namespace). So zim files in http://tmp.kiwix.org/nons_zims doesn't contains those entries. We will not do a release of libzim before it implement correctly the spec.

The m

[2020-12-15 20:49] Jaifroid commented on #597
Thank you, @mgautierfr , I'll study that and get back to you if I have any questions.

[2020-12-15 20:59] Jaifroid commented on #597
@mgautierfr I do have an immediate observation: deprecation of `titlePtrList` would put Kiwix JS (and associated readers) out of business overnight. We cannot read Xapian-encoded databases, as there is no JS implementation of Xapian. Therefore, could I urge you and @kelson42 to think very carefully before making such a breaking change to the specification? We would definitely need help, either to

[2020-12-16 08:20] kelson42 commented on #597
@Jaifroid We are aware about the problem you raised of. The titlePtrList will stay available as long as necessary for backward compatibility purpose. That said, its deprecation does not mean we will expect all readers to have to deal with Xapian index to provide a simple title suggestion system. We are already working on its replacement with a better approach and it should be easy for Kiwix JS to

[2020-12-16 08:45] mgautierfr commented on #597
As @kelson42 said, we will not drop `titlePtrList`.
My modification in the spec is maybe a bit too "aggressive", but as you said it is compatibility break and so we will not remove it (at least not before a long time and a change in the major version).

The `titleList` is still present, what is considered obsolete is how to locate it.
We introduced in `X` namespace two new entries : `listing/title

[2020-12-16 15:35] Jaifroid commented on #597
@mgautierfr Thank you for the reassuring explanation. I'm no expert in the correct terminology, but what you describe sounds like a "deprecated" API, that is still available/supported but that may be removed at some future time. If I've understood correctly, then that may be a better term to use in the spec than "obsolete".

[2020-12-16 15:50] mgautierfr commented on #597
It is a matter of terminology, it is not a exact science :)

I didn't want to use deprecated. Deprecated sound like you should not use (read) it and use other way/method/field. It sound also that the feature may disappear in the future (The last sentence of the paragraph in the spec said that but it's wrong. I already remove it).

But it is not the case for `titlePtrList`. Reader still have to rea

[2020-12-17 00:00] wsteven-son opened #690 "ZIM files not containing home button"
Several ZIM files do not contain a home button, (Usually next to the dice) making the user have to refresh the original address in order to return to home when a back button isn't easy. Is this intentional? Seems the banner should be consistent across all ZIMs. I've listed some examples of ZIMs without home buttons. Thank you!

Wikisource
PhET Interactive
OpenStreetWiki
Computer by Wikipedia
Ted T

[2020-12-17 08:28] kelson42 commented on #690
@wsteven-son None of our ZIM have an HOME button. The HOME button belongs the Kiwix (JS) user interface. It is always here and visible in the top left corner of your browser tab (I have tested with latest Phets ZIM file).

[2020-12-17 08:40] Jaifroid commented on #690
@wsteven-son Could you be more specific about which Home button you are expecting to see, and whether you are using Kiwix JS or another ZIM reader? If you are using Kiwix JS, please confirm if you are accessing files using Service Worker mode (see Configuration)?

[2020-12-19 09:03] kelson42 opened #691 "kiwix-chrome-signed-extension nighlies don't have the right permission"
See:
[code]

[2020-12-19 09:03] kelson42 commented on #691
@Jaifroid Maybe a consequence of moving to Actions?

[2020-12-19 09:06] Jaifroid commented on #691
Ah yes. Clearly we're missing a chmod. I can add that.

[2020-12-19 09:48] Jaifroid commented on #681
@kelson42 Could you kindly deploy the Chrome extension to Chrome store?

[2020-12-19 10:01] Jaifroid commented on #691
So that test seems to have produced rw-rw-r in the server instead of rw-r-r. Is 644 the wrong chmod? Sorry for by basic understanding, but I'm testing on wsl, where 644 seems to produce the right result, but the underlying filesystem is ntfs.

![image](https://user-images.githubusercontent.com/4304337/102686637-da8bb200-41e0-11eb-8e31-c3ae6c34e966.png)

[2020-12-19 10:03] kelson42 commented on #691
`644` is correct. Here it is `664`.

[2020-12-19 10:14] Jaifroid commented on #691
Even stranger that this result comes from running the script on the GitHub Actions VM, which should be a proper Ubuntu VM, but I suppose the underlying FS could be ntfs. Possibly we need to upload then chmod, rather than chmod then upload. But for now I'll leave it as is, and let me know if it causes any issues.

[2020-12-19 10:14] #691 closed

[2020-12-21 10:51] kelson42 commented on #681
@Jaifroid I will, sorry for the delay

[2020-12-22 10:19] kelson42 commented on #681
@Jaifroid I have published 3.1.0 on chrome store and will put the binaries on download.kiwix.org. Would you be able please to remember me how to get the zip for edge please?

[2020-12-22 11:35] Jaifroid commented on #681
@kelson42 Thank you! The zip for Edge is exactly the same one as for Chrome.

[2020-12-22 12:19] kelson42 opened #693 "Chrome Sync seems mandatory to get Kiwix JS working"
I use Chromium `87.0.4280.88 (Official Build) snap (64-bit)` and I fail to get Kiwix JS 3.1.0 icon display properlyws in my toolbar beside the other extensions. The installation from the Chrome store works fine, then it asks about "Sync", I just close the dialog as I don't want to use Sync and then the Kiwix icon disappears for always from the toolbar. The Kiwix JS extension seems properly install

[2020-12-22 12:36] kelson42 commented on #681
Done, will make the usual communication later today.

[2020-12-22 17:47] mossroy commented on #693
I use the exact same Chromium version on Ubuntu 20.04 (the default snap) and do not have this issue.
I already had the plugin installed (from the Chrome store) : it has been upgraded to 3.1.0, the icon is visible and kiwix-js works as expected. It does not ask about Sync

[2020-12-22 20:24] kelson42 commented on #693
@mossroy Thx for the feedback. Pribably a pb on my end then.

[2020-12-22 20:24] #693 closed

[2020-12-23 09:52] #681 closed

[2021-01-03 13:49] #653 closed

[2021-01-03 13:49] #502 closed

[2021-01-04 13:50] Ubuntu-2020 opened #694 "Can't save an image in the Kiwix extension"
You can't save an image from a Wikipedia article in the Kiwix web browser **extension**.
After clicking on the **Save Image line**, absolutely nothing happens:
![Kiwix Save Image](https://user-images.githubusercontent.com/65112331/103541460-20fd3400-4ea4-11eb-8d5c-6225e015c855.gif)

[2021-01-04 14:13] Jaifroid commented on #694
@Ubuntu-2020 I can't reproduce this behaviour for the Chromium extension in Windows 10. Could you confirm which browser extension you are using and which version of the browser? Also, have you tried switching to Service Worker mode in Configuration (if available for your browser)? (Having said that, it works in both jQuery and SW mode in Edge Chromium on Windows 10.)

[2021-01-04 22:14] mossroy commented on #694
I reproduce this issue on both Firefox and Chromium (on Ubuntu 20.04)
On Firefox, it indeed does nothing (and there is no error message)
On Chromium, it asks for a file location, but does not create the file and displays a "network error"
Same behavior in jQuery or ServiceWorker mode

[2021-01-05 13:18] mossroy commented on #694
I also reproduce the issue on latest Firefox and Chrome inside a Windows 10 VM.
@Jaifroid : it's surprising that you don't have the same behavior?

[2021-01-05 13:27] Jaifroid commented on #694
Apologies, I have to confess I didn't get as far as actually making the save, I simply verified that the Save As... dialogue does indeed show and asks me to pick a location. However, it cannot then save after it attempts to download the Blob. I have the same behaviour as you describe above, @mossroy . In jQuery mode, I guess this is because we delete the BLOB URLs as soon as they are loaded in uiU

[2021-01-05 13:50] Jaifroid commented on #694
PS Remember we have code that allows a user to download a PDF (in JQuery mode) from the ZIM -- could be leveraged, though I think dataURIs for images would be the best solution. I'm surprised it doesn't work natively in SW mode, though, and that means there might be somthing else blocking download. Code isolation of extensions?

[2021-01-05 15:13] mossroy commented on #694
It's not related to browser extensions : there is the same issue when running kiwix-js through a local webserver or through https://kiwix.github.io/kiwix-js/

When using Firefox in SW mode from https://kiwix.github.io/kiwix-js/, it manages to download the images, but the result is corrupt : the downloaded file contains a 404 error page from github.
So I suspect the browser tries to download the im

[2021-01-10 17:07] kelson42 commented on #690
Without feedback here, I would propose to close this ticket as INVALID.

[2021-01-11 00:31] Jaifroid commented on #690
@wsteven-son I'm closing this due to lack of feedback, but please re-open if you can explain further what the issue is.

[2021-01-11 00:31] #690 closed

[2021-01-18 11:41] kelson42 opened #696 "Allow to get more suggestions"
If the 25 first suggestions are not enough it would good to be able to continue to surf over the next suggestion batch. First suggested by RMS

[2021-01-18 14:10] Jaifroid commented on #696
@kelson42 In the UI (Configuration) there is a slider by which users can set the number of search results from a minimum of 5 to a maximum of 50, with a default of 25. We could increase the maximum to 100, but I'm not sure how useful 100 results are compared to refining ones search.

[2021-01-18 14:16] kelson42 commented on #696
Ideally this should just expand on demand without any limit.

[2021-01-23 13:36] mossroy commented on #696
RMS = https://en.wikipedia.org/wiki/Richard_Stallman?
I know he refuses to have a github account (which looks logical) : where would be his complete feedback?

[2021-01-23 14:13] Jaifroid commented on #696
Logical that RMS would use Kiwix!

A quick fix could be to change the slider to allow 10-100.

Another fix would be to have a "Next" link at the bottom of the results that would load the next X results. I have something like this in KJSW (see screenshots below) so users can access articles on ZIMs that use a proprietary dynamic UI, where it is important to be able to "browse" the index (e.g. Guten

[2021-01-24 20:12] kelson42 commented on #597
As a reminder, we are just a few PRs away to release libzim 7.0.0.

[2021-01-24 21:59] Jaifroid commented on #597
OK, thanks for the reminder @kelson42. Can I just check whether the ZIM archives in this directory:

http://tmp.kiwix.org/nons_zims/

still correspond to the new spec (at least enough to use as test ZIMs)?

An immediate change we could do would be to change all references to the /A/ namesepace to /C/ (in our code). We then have to check for any code that has /I/ or /J/ namespaces hard-coded. One c

[2021-01-24 22:41] kelson42 commented on #597
@Jaifroid These ZIM file still have the title index at the old/current location. @mgautierfr Would you be able please to refresh them?

[2021-01-25 18:06] Jaifroid commented on #597
@kelson42 But, re-reading the discussion above, it seems that `titlePtrList` will still be accessible the old way for a while yet, so perhaps we can concentrate on removing the assumption that articles are found only in A/, and then we can work separately on referencing the `titlePtrList` from `X/listing/titleOrdered/v0` instead of its binary position.

To summarize, I'm proposing we do two separa

[2021-01-25 21:52] Jaifroid commented on #597
I've added a hacky PR #698 which can read `wikipedia_en_ray_charles_2018-09_nons.zim` in jQuery mode.

But I have a query for @mgautierfr: the landing article of this ZIM is in namespace `-` instead of `W` or `C`. Is this just an older verison of the spec before `W` was settled on for the Well Known page type?

[2021-01-26 09:02] Jaifroid commented on #597
Sorry to bombard you with quesiton, @mgautierfr , but do you have any suggestion from your experience on how to deal with the title search issue shown in the screenshot below? This is from the Ray Charles test ZIM, which is small. Extrapolated to a large ZIM, this would be unmanageable. To elaborate: because namespace `C` contains "everrything", when using case-sensitive binary search on the title

[2021-01-26 10:13] mgautierfr commented on #597
Yes, they are "old" zim file before having a spec for the `W` namespace.
But you should not have to worry about this. The main page is also accessible through the `mainPage` entry in the header.
In any case, you shouldn't try to read the `-/mainPage`
And be aware that previous zim files have the header pointing directly to the main page and new zim files have header pointing to a redirect entry po

[2021-01-26 10:28] Jaifroid commented on #597
But is that a Xappian compressed index, or is it a standard `titlePtrList`? (We have no way to decode Xappian.)
Thanks for the quick reply.

[2021-01-26 11:03] mgautierfr commented on #597
It is the same format than `titlePtrList` but with less entries (https://wiki.openzim.org/wiki/Search_indexes#Title_index_v1)

[2021-01-26 11:14] kelson42 commented on #597
@mgautierfr Things are a bit complex already, could you please refresh quickly the ZIM file http://tmp.kiwix.org/nons_zims?

[2021-01-26 14:13] mgautierfr commented on #597
Done

[2021-01-26 21:08] Jaifroid commented on #597
Thank you @mgautierfr!

I'm running into some inconsistencies in `3dprinting.stackexchange.com_en_all_2018-03_nons.zim`. This ZIM has subdirectories, but on some pages we seem to have refernces to assets with no namespace and on some other pages we have old-style namespaces creeping in.

For an example of the latter, see the page with ZIM URL `C/tag/surface/1.html`. The HTML of this page begins:
[

[2021-01-27 07:28] Jaifroid commented on #696
Optimization suggestions from RMS:

[2021-01-27 16:49] mgautierfr commented on #597
This is a issue with zim-recreate (https://github.com/openzim/zim-tools/blob/master/src/zimrecreate.cpp#L75-L89)
The url rewriting is pretty limited. "Real" new zim files should not have this issue.

[2021-02-06 16:44] Jaifroid opened #701 "Regression: Animate transition between app pages breaks links that jump or scroll to elements on another page"
As per title. One workaround is to wait for the transition to complete (around 500 - 600ms), but this introduces a race and might not work on slow browsers or slow environments. The best solution would be to prevent the transition from interfering, or to make its methods aware of local anchors.

[2021-02-06 17:05] Jaifroid commented on #597
This issue is partially implemented by https://github.com/kiwix/kiwix-js/commit/18c51f1ab9088111b734f5bfca2994fa9d4c2dbe.

What remains is to support the version 1 of `titlePtrList`, accessed from `X/listing/titleOrdered/v1`.

[2021-02-07 21:05] Jaifroid commented on #595
Pinging @cptolemy who is interested in the issues behind this thread.

[2021-02-07 21:16] kelson42 commented on #595
@Jaifroid why reopening this issue?

[2021-02-07 21:23] Jaifroid commented on #595
@kelson42 Only because @cptolemy wrote to me on another Repo about wanting to develop a very similar-sounding solution to those already extensively discussed above (and partially implemented) by lidl and ikreymer and javgh. I promised to ping cptolemy in this issue, and thought it could be re-opened in case he has anything to add. I'll close again in a few days if there is no further discussion or

[2021-02-07 21:27] kelson42 commented on #595
OK. #659 is open and states clearly what should be done IMO, to the contrary to this ticket which is a question which as been answered already. Close tickets can still welcome comments.

[2021-02-07 21:30] Jaifroid commented on #595
Ah, OK. This one has all the research/technical information, but as you say it can still be accessed while closed. So I close this one and if @cptolemy wants to comment it's perhaps best to do so on #659.

[2021-02-07 21:30] #595 closed

[2021-02-13 20:29] b16r05 commented on #265
@Jaifroid I noticed that you mentioned a stylish theme on Jan 5, 2020. I urge you to look at this: https://kinda-static.userstyles.org/styles/154881/wikipedia-clean-dark. It is hands down the best wikipedia theme out there. The font, colors, and the pop up on either side would be excellent in kiwix. Very similar to wikiwand, without the privacy issue!

[2021-02-15 09:43] Jaifroid commented on #265
@b16r05 Thanks for the recommendation. The only issue is that the theme doesn't seem to have been updated since early 2018, which is probably not a problem if it still works fine. We have an inversion-based theme in Kiwix JS which seems to work well and looks good, and in Kiwix JS Windows I have both a simple inversion theme and a more complex one that has rules for most Wikipedia elements, but it

[2021-02-17 20:06] mossroy opened #703 "Add an option to show/hide the bottom bar"
It's a suggestion done via e-mail by RMS.
When the app is used in a standard browser, the bottom buttons are mostly useless (especially back/forward, that are also provided by the browser itself).

It might be useful to have the possibility to remove this bottom bar, to have all the available space for the content.
This should be a user setting like the other ones, kept in the browser storage.

By

[2021-02-17 20:10] mossroy opened #704 "Make the "home" keyboard key focus the search form"
It's a suggestion done via e-mail by RMS.

The "home" key of the keyboard scrolls the current page (or frame) to its top (in most browsers).
RMS would find it useful that it also puts the cursor in the search form, so that the user can immediately type another search (without using the mouse)

[2021-02-18 00:15] Jaifroid commented on #703
I think this one might be superseded by #523 , which has these features: when scrolling down (optionally) all toolbars, top and bottom, slide away, and when scrolling (slightly) up they show again. This works with keyboard or mouse scroll. This is the behaviour in the Android app also. I have a tri-state checkbox in Config which cycles between: all toolbars hide, top toolbar hides, no toolbars hid

[2021-02-18 11:30] aadi2305 commented on #703
Where  do you want the remove button to be? besides the searchbar?

[2021-02-18 11:38] Jaifroid commented on #703
@aadi2305 No, it should be an option in Configuration. However, I seriously think that #523 should be developed instead, as it is the overall direction we want to go in. There have been a number of calls to reduce on-screen chrome/UI because it takes away a lot of space for reading/viewing articles. A scroll-away/scroll-back solution is IMHO a better one than an individual setting (like in the And

[2021-02-18 11:42] mossroy commented on #703
I agree with @Jaifroid that it would be better to do #523 instead of this. Closing this

[2021-02-18 11:42] #703 closed

[2021-02-18 11:46] aadi2305 commented on #679
The verticle position can be stored in session data and on pressing back or forward button, using scrollTop() we can set verticle position of the article. Should I implement it?

[2021-02-20 19:51] b16r05 commented on #265
@jaifroid

Yes, it's true! That theme has not been updated, but it does works well - I have been using it for a long time (years) : )

I finally, finally, tried Kiwix-js 3.1.0 ... and, wow, wow, wow : ) Very nice! Color is nice. Inversion-based theme works well.

Suggestions:

1. I, personally, don't like the spinning circle... but, not a problem. Links are fast enough.

2. SEARCH and RANDOM take

[2021-02-21 09:35] Jaifroid commented on #523
@b16r05 commented in #265:

[2021-02-21 09:36] Jaifroid commented on #265
@b16r05 I re-posted part of your comment relating to UI in #523 and will answer there.

[2021-02-21 09:37] Jaifroid commented on #523
@b16r05 Take a look at the layout of the PWA (Progressive Web App) version of this app:

https://pwa.kiwix.org/

(you can use this with an existing ZIM you have on your machine). Is that a better layout? Also, if you load up a ZIM and navigate to an article, you will see that the top and bottom bars slide away when you scroll down, and slide back in when you scroll up. It's the direction we have p

[2021-02-21 09:43] Jaifroid opened #705 "Upgrade Bootstrap to version 5.0.0"
Bootstrap 5 is now available (albeit in beta, but it is the currently recommended version). A significant advantage IMHO is that it now uses an open-source SVG-based icon library (which can be themed with CSS), and since we are looking to move towards a more icon-driven UI, we should consider this. I haven't yet checked out what is deprecated.

[2021-02-21 10:52] Jaifroid commented on #705
Bootstrap 5 does not officially support IE11 or Edge <79, or Firefox <60. However, accoding to this repo, support for it can be added back for IE11 with some polyfills:

https://coliff.github.io/bootstrap-ie11/

IE11 is not EOL for another three years (surprisingly). We would need to be sure those polyfills also support the other browsers or webviews we currently support: Edge Legacy (although it

[2021-02-21 12:36] b16r05 commented on #523
@jaifroid ... Comments + Feedback

Wow! That is a lot of work... versions to keep track of and keep them updated! Thank you for all the hard work. I was just trying to help, but now, I am trying to follow all that you do :)

PWA version... I had no idea. Yes, the layout is much better and yes, it is slower. Top and bottom bars sliding away works great.

Bootstrap... don't know what that is, but, t

[2021-02-21 12:38] b16r05 commented on #265
@jaifroid ... feature requests (Le me know if this is already decided somewhere)

Since we are talking, I wasn't sure if I should create new issues. So, I will just ask here. You can move and create new issues as you like, or, let me know, and I will create new issues.

Bookmarks: Can we have bookmarks in kiwix-js? Maybe this might be an intensive feature request, but, it would be nice to be able

[2021-02-21 13:31] Jaifroid commented on #523
@b16r05 Thanks for the feedback. If you experience slowness on the PWA version (assuming you're using a PC), it's not related to the UI, it's could be related to slightly less functional caching in that version, which needs working on. Personally I don't see a noticeable difference in speed, on Chrome or Firefox. On Android there is a big difference, though: see #581.

The sliding away is indeed o

[2021-02-21 13:42] Jaifroid commented on #265
@b16r05 Thanks for suggestions:

* Bookmarks: I think you could create a separate issue for this, describing how you envisage this working. Problem would be knowing how to deal with multiple ZIMs.
* Multiple instances: there is already a PR in-progress for this #680 (issue #678). PR is basically complete, pending getting it to pass tests and review. Note that if you are able to use Service Worker

[2021-02-21 16:45] sujit-jaunjal opened #706 "Mobile view of a zim file isn't supported"
The information on the right hand side of the image isn't displayed when switched to the mobile view. Just the image is shown and there's just blank spaces below.

![Screenshot (2)](https://user-images.githubusercontent.com/78826399/108631812-c3dc3280-7491-11eb-852b-10bc984590b8.png)
![Screenshot (1)](https://user-images.githubusercontent.com/78826399/108631816-cc346d80-7491-11eb-8377-1dbc879f165c

[2021-02-21 18:40] Jaifroid commented on #706
Thanks for the report. I think this may be "by design", i.e. a stylesheet rule prunes certain optional information if the sxcreen size is smaller than a certain size. There is a actually a lot of information suppressed in the mobile stylesheet which can't even be seen full-screen, like navboxes and topic overviews and topic Portals. They are in the code, but are suppressed by the mobile stylesheet

[2021-02-22 14:11] KaranKaira commented on #704
hey , @mossroy I am interested in this ,  I am new to open source  and want to contribute . I will be grateful if you guide me.

[2021-02-22 16:03] sujit-jaunjal commented on #706
So should anyone wok on it or not ?

[2021-02-22 18:29] Jaifroid commented on #706
I don't think this is the place to work on it. It is undoubtedly not an issue with our reader, but (if it is a bug at all) it should be reported to mwoffliner here:

https://github.com/openzim/mwoffliner/issues

Have you tested it on other Kiwix clients, to see if the issue is a general one with the ZIM format? I'll close for now, as we can't fix this here, but feel free to re-open if you think it

[2021-02-22 18:29] #706 closed

[2021-02-24 05:51] danielzgtg opened #707 "File selection dialog appears twice"
Sometimes my browser's file selection dialog appears twice before moving to the home tab.

# Procedure

1. Click to open the Kiwix extension (it will open to the configure tab)
2. Click on the "Choose File" button (I am using a touchpad so I might be clicking more than once)
3. Use the dialog to choose a valid file

# Actual behaviour

The dialog appears again.

After choosing the same file in the

[2021-02-25 09:25] Jaifroid commented on #707
@danielzgtg Thanks for the report. I have to say that I've never seen this behaviour on the OS's I test on. This is probably a system or a browser issue, because the dialogue box is not one we have programmed in any way. It is the standard file selection dialogue box for all browsers, and it cannot even be invoked programmatically, only via a user action. The one thing we could do is to disable th

[2021-02-25 09:39] danielzgtg commented on #707
Yes

Never mind. It seems like it's indeed a Chrome issue. Since the problem also occurs on https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_file , this isn't Kiwix's fault

[2021-02-25 09:39] #707 closed

[2021-02-25 11:05] Jaifroid commented on #707
OK, thanks @danielzgtg , it would indeed be better to get it fixed globally by reporting the bug to the Chrome devs for Linux.

[2021-02-27 11:45] Jaifroid opened #708 "Support version 1 of titlePtrList accessed from X/listing/titleOrdered/v1"
Having completed #698 I'm looking into how to support the new `titePtrList`. I note that libzim has implemented a `getTitleAccessor()` function:

https://github.com/openzim/libzim/blob/master/src/fileimpl.cpp#L158

There are two versions of the `titlePtrList`, one of which is `X/listing/titleOrdered/v0`, which is the traditional one that is also accessed via the `titlePtrPos` byte contained in the

[2021-02-27 11:47] Jaifroid commented on #597
I have opened #708 in order to continue work on adding support for no-namespace ZIMs. To summarize, these are now readable in Kiwix JS, but we are not yet using the new versions of the titlePtreList. I'm closing this issue, and discussion should move to #708.

[2021-02-27 11:47] #597 closed

[2021-02-28 08:06] fabcoder547 commented on #704
hey @mossroy  I am using version 2.8 of this extension in firefox . I am not seeing such a scroll on clicking the home key.
can you help me to find out this bug?

[2021-02-28 08:16] fabcoder547 commented on #704
hey, @mossroy I got this. can you elaborate on what we have to do here? Do we have to fix this scrolling bug? and what do we have to do about the cursor on the search bar?

[2021-02-28 08:20] Jaifroid commented on #704
@fabcoder547 The description at the top of this issue is very clear. When pressing the home key (not button) the browser scrolls the page to the top. One user would like the same action to set the focus on the search field.

[2021-02-28 10:01] Jaifroid commented on #708
@mgautierfr Is it safe for our code to make the following assumptions in order to find `X/listing/titleOrdered/v0` and `X/listing/titleOrdered/v1` while loading a new archive, without using the obsolete `titlePtrPos` contained in the archive header? -

* There will never be a namespace below X in a ZIM (in practical terms, assuming ASCII, we will not have a namespace Z)
* Therefore the dirEntries

[2021-02-28 18:31] Jaifroid commented on #708
Sorry for bombarding @mgautierfr, but do any of the ZIM archives in http://tmp.kiwix.org/nons_zims/ have these `v0` and `v1` indices? The only things I can find in the X namespace for the "nons" ZIMs I've tested are:

* `fulltext/xapian`
* `title/xapian`

I tested this by forcibly setting the search namespace to `X` in Kiwix JS Windows. This should only fail to show the listings if the archive's e

[2021-03-01 15:09] mgautierfr commented on #708
Yes.

`X/listing/titleOrdered/v0` (and `.../v1`) are path/url. (They don't have any title)
- You must setup your "code/structure/..." to have to use `urlPtrPos` to have get `urlPtrList` available.
- Then you can "simply" search by path to find the title listing entry.
- Setup the "title searching feature" with the found entry.
- Then you are good.

No. We don't plan to add another namespace for no

[2021-03-01 15:26] Jaifroid commented on #708
Thanks for the reply @mgautierfr. I was indeed using those new versions (I checked the date), and I'm afraid I can only find the two Xapian indices in the X namespace (using `urlPtrList`), unless I'm doing something wrong. As I said, unless the total count of entries in the archive header is wrong (in which case the binary search function will not find any entries after these two), then these ZIMs

[2021-03-01 15:52] mgautierfr commented on #708
I will check.

I'm not sure to understand what you are suggesting.
`titlePtrPos` is still in the header.
We can't make this field points to the new titlelist (`v1`) as there is nothing to tell the reader how many entries are in the list. So this list MUST contains all dirents. (`len(titlePtrList) == entryCount`)
We can of course change the format. But then old implementation will not be able to re

[2021-03-01 16:01] Jaifroid commented on #708
@mgautierfr OK, that makes sense -- I hadn't thought about that issue (`entryCount`) -- so that's the reason I wasn't seeing!
A new entry in the header for the length of titlePtrLstV2 would be a quick way to access this list without having to do a binary search early on in the ZIM loading process. Your call! If we don't have it, I'll write the code for the binary search on X namespace (well, I can

[2021-03-01 18:20] mgautierfr commented on #708
I have check and I was wrong.
I've update new zim files with `X/listing/titleOrdered/v[01]`.

It would go in the opposite direction I want to go :)
I would like to make the "minimal zim file" smaller as possible. title listing, title index, fulltext index, wellknown entries, new features ...  would be optional and discoverable with the existence of the corresponding entry in the zim file.
It is no

[2021-03-01 18:27] Jaifroid commented on #708
Thanks for updating the ZIM archives!

I completely understand about not wanting to extend the header. My concern was only because binary search in JavaScript is much slower than in C++,, though we've done a lot to optimize it. But it's perhaps more the overhead of writing the support for this feature... NB we don't do binary searches on unopened archives (not technically possibly in JS in any cas

[2021-03-02 08:11] Jaifroid commented on #708
Success in locating the new indices 😊 :

![image](https://user-images.githubusercontent.com/4304337/109617848-ca704700-7b2e-11eb-8c7d-4252dc7d3220.png)

[2021-03-02 18:40] Jaifroid commented on #708
@mgautierfr Just to let you know that in two of the `nons` ZIMs I've tested so far, Ray Charles and Basketball, the `X/listing/titleOrdered/v1` exists but appears to be empty. `X/listing/titleOrdered/v0`, when accessed from the path, contains the expected data. I can work with this for now, as all I need to do is to set up our reader to use the latter, and then it will be easy to adapt it to use t

[2021-03-02 23:04] Jaifroid commented on #708
Assumptions -> justifications:

1. A `titleOrdered` listing exists inside a single uncompressed cluster -> [fileimp.cpp#L167](https://github.com/openzim/libzim/blob/master/src/fileimpl.cpp#L167) has comment "this is a ZIMFile format error" if the dirEntry's cluster is compressed;
2. A `titleOrdered` listing exists as a single BLOB contained in the dirEntry's cluster -> [fileimpl.cpp#L172](https://

[2021-03-03 15:42] mgautierfr commented on #708
All your assumption are true. Everything is in the spec : https://wiki.openzim.org/wiki/Search_indexes

`titleOrdered` listing (as xapian indexes) are items (articles) stored in cluster, as any other items.
`titleOrdered` has mimetype `application/octet-stream+zimlisting` which is not compressible.
So they are stored, in a uncompressed cluster, in a single blob. The size of the item is the `offset

[2021-03-03 15:56] Jaifroid commented on #708
Thank you @mgautierfr. We can easily have an array of listings fed to an accessor function that returns the start pointer and the number of entries of each listing.

[2021-03-04 10:57] KaranKaira commented on #704
I tried this . (code is not formatted properly)

    document.addEventListener('keydown', function (event) {
      if (event.key === 'Home') {
        $('#btnHomeBottom').click()
        // console.log('done')
        return false
      }
    })

@mossroy  @Jaifroid

On the 'Configure' page and 'About' page when home button(keyboard) is pressed then it takes us to 'Home' Page and search form is fo

[2021-03-04 14:36] kelson42 commented on #644
From tomorrow, such kind of ZIM files will be officially published at https://download.kiwix.org/zim/zimit

[2021-03-04 18:53] mossroy commented on #704
@KaranKaira
Using `$('#btnHomeBottom').click()` is not a good idea : it indeed does what is needed, but it also switches to the welcome page of the ZIM file (which is not what is expected). You should simply put the focus in the prefix field.
You probably should not `return false` because we want to keep the default browser behavior too (which is usually to scroll to the top)
Please create a Pull

[2021-03-04 21:12] Jaifroid opened #710 "Complete the renaming of 'title' to 'url' or 'path' according to context"
When merged #709 will rename `getDirEntryByTitle` to `getDirEntryByPath` to avoid the confusion mentioned in https://github.com/kiwix/kiwix-js/pull/709#discussion_r587718534. Some of the associated usage of 'title' where url or pathname is meant is cleaned up by that PR where a function directly used the old `getDirEntryByTitle`. However, there is still lots of ambiguous usage of 'title' throughou

[2021-03-05 10:00] KaranKaira commented on #704
@mossroy Sure , Today I am little busy with my college work , I will make these changes in this weekend.
Thanks

[2021-03-05 19:05] KaranKaira commented on #704
@mossroy
Did this. This is should work .
[code]
[Reference](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/select#result)

[2021-03-05 19:40] mossroy commented on #704
We can't know where you have put this code : please create a Pull Request.

You'll have to test and debug by yourself first, to see if the keydown event is triggered or not, if it's recognized as the home key or not, if one of the lines generates an error etc.

[2021-03-07 17:00] Jaifroid commented on #708
@mgautierfr I have basically finished coding support for ZIMs with v1 article-only title pointer lists in #709. Am I right that the test ZIMs you updated on 1st March have empty data in `X/listing/titleOrdered/v1`? At least Ray Charles, Basketball and Wikispecies are all returning a pointer list size of 0 for the v1 listing (the v0 listing is correct).

[2021-03-12 15:35] Hrishi-Raj commented on #704
@mossroy
It seems that clicking in area of iframe removes focus(which is nessecary for key events) from all elements and hence keydown event is not being listened.
I would like to work on it.

[2021-03-13 17:26] mossroy commented on #704
@Hrishi-Raj : you can.
In case you did not notice, a PR has been started in https://github.com/kiwix/kiwix-js/pull/713, but does not seem to work for now.

[2021-03-31 10:49] Jaifroid commented on #708
@mgautierfr Thank you very much for the updated archives. I shall incorporate a test for a listing with no entries and fall back to the next best index in that case.

[2021-04-03 10:53] Jaifroid opened #716 "Support extended cluster offsets for ZIM major version 6"
See the new ZIM file format specification for clusters https://wiki.openzim.org/wiki/ZIM_file_format#Clusters

This would not be a difficult fix I think, but it's not clear to me whether any ZIM files exist with extended cluster offsets. Extended offsets mean that the blob offsets in the cluster are 8 bit rather than 4 bit. This means we would need to multiply the offset number by 8 instead of by

[2021-04-04 15:03] move[bot] opened #717 "Feature request : Search by the containing word in the browser extension"
*@Ubuntu-2020 commented on Apr 4, 2021, 2:57 PM UTC:*

Please add a **search for the containing word** to the browser extension.

Currently, it is not possible to search for the **containing word** in the browser extension:
[![Kiwix-ext](https://user-images.githubusercontent.com/65112331/113512670-5cc09c00-956e-11eb-8ab0-767d6802ef02.png)](https://user-images.githubusercontent.com/65112331/1135126

[2021-04-06 09:34] Jaifroid commented on #717
@Ubuntu-2020, currently we can only search on article titles, and because the titles are ordered alphabetically, we would need to know at least the first three starting letters of the title for a search for titles that also contain a certain string to be feasible. As this does not seem like a very useful or intuitive way of searching, we cannot support your request at this point in time.

I suspec

[2021-04-06 09:34] #717 closed

[2021-04-07 13:32] Jaifroid opened #718 "Add tests on reference version of no-namespace Ray Charles with ZSTD compression"
This issue supersedes #651. As soon as we have a reference no-namespace version of Ray Charles, we should beging to add tests that are specific to both a no-ns version and to ZSTD compression.

[2021-04-07 13:36] Jaifroid commented on #651
Superseded by #718.

[2021-04-07 13:36] #651 closed

[2021-04-07 13:37] kelson42 commented on #718
@Jaifroid This will take a bit, because we need first to (1) release libzim7 (2) Update + release node-libzim (3) Adapt + Release MWoffliner (4) Publish a new ZIM file. All of this might take around 3 months.

[2021-04-10 14:20] Jaifroid opened #719 "Support "page preview" feature of Wikipedia and Wikivoyage"
This is a feature that is default for signed-out users of Wikipedia, though signed-in users may need to switch it on. It consists in showing a small preview of the lede, together with an image (if the article has one) when a user hovers over (or long-presses on mobile) an intenal link. It looks like in the screenshot below (the Île-de-France pop-up). It seems to me that this would be quite easy to

[2021-04-14 09:35] Jaifroid opened #720 "REGRESSION: random button no longer truly random"
Due to the changes implemented to support v1 title indices, the random button appears no longer to be random. This is best observed on a small Wikipedia ZIM such as `wikipedia_en_100_maxi_2021-03`. The random buttom predominantly picks articles towards the end of the alphabet, often repeating the same three articles in succession, as if caught in a loop.

I *believe* this may be caused by picking

[2021-04-20 15:11] mossroy commented on #720
Nice catch!

[2021-05-08 16:17] kelson42 opened #722 "Release 3.2.0"
The 3.2 milestone is huge and has still a lot of work to do. I see work to do for at least 6 months. But the new ZIM support has been implemented and the support of this new type of ZIM files would benefit of an early release. How should we deal with this dilema?

* [x] Update the changelog file
* [x] Further tests
* [x] Rename existing milestones (increment their names), create a new 3.3 mileston

[2021-05-08 16:24] kelson42 commented on #673
I confirm aomething is fishy. A bug has been reported in iOS and I migrated it to MWoffliner because I believe the bug is there.... but I have not really a clue what to do next. See https://github.com/openzim/mwoffliner/issues/1453

[2021-05-08 16:33] Jaifroid commented on #722
@kelson42 I think there are quite a lot of things in that milestone that should be bumped off to a later milestone because not so urgent. I'd support an early release with just a few more bugfixes. Ideally I had wanted my tab-opening PR to be in the next release, as it's pretty much finished and working well, but there's an intractable test failure that appears to be an artefact of the testing sys

[2021-05-08 16:44] Jaifroid commented on #673
@kelson42 From the browsers we support here, there is only one old one (we think) that supports Service Worker mode but does not natively support WebP: Firefox 64. All the others either support WebP natively, so don't load the polyfill, or else don't support SW, in which case they use the polyfill we provide in the Kiwix JS package, which doesn't have this race condition. I'd be interested in the

[2021-05-08 16:47] kelson42 commented on #59
Wow, a ticket from 2013! Not sure about the current validity of the ticket, but I would not recommend to invite users to send emails because it is not as efficient as opening a ticket here. I think this dialog should offer a link to open a ticket here... and maybe you want to create/update the new ticket template? This ticket ahould be easy to dix and actually might help easily to get more and bet

[2021-05-08 17:03] Jaifroid commented on #59
There are no alert-based errors that I'm aware of left in the code... Errors do occur but are mostly swallowed in promises and reported only in console log. We do offer email support and also a link back to the GitHub issues in About, and the traffic is extremely light (one or two messages a year!). So if @mossroy agrees, I think this issue can simply be closed as no longer relevant.

[2021-05-08 18:52] mossroy commented on #722
I agree with @Jaifroid : we usually release a new version when there are significant changes, and move the remaining github issues accordingly.
BUT we were waiting for newer ZIM files to test (AFAIK we could only test with old ZIM files converted to the new format). It was also necessary to implement unit/UI tests on a sample one

[2021-05-09 12:54] kelson42 commented on #722
@mossroy @Jaifroid Thank you  for the quick feedback. Who is going to move the tickets?

[2021-05-09 13:15] Jaifroid commented on #722
Once we've decided on a release, we usually move the tickets just before actual release. @mossroy I guess we could release current master marking the no-namespace support as "preliminary", and say that the implementation could change. If you think it's worth it. We'd have three changes to list: 1. Preliminary support for no-namespace ZIMs; 2. Preliminary support for ZIMs with a version 1 article i

[2021-05-10 06:43] mossroy commented on #59
I agree : closing

[2021-05-10 06:43] #59 closed

[2021-05-11 06:20] Bam92 commented on #705
Hi!

I'm wondering if this issue is going on well or does it need a help.

[2021-05-11 20:12] kelson42 commented on #722
@rgaudin I forward the question to you.

[2021-05-14 08:48] kelson42 commented on #722
@mossroy I believe this is the best you can get, see https://mirror.download.kiwix.org/zim/.hidden/dev/libretexts-engineering_en_2021-04.zim

[2021-05-15 13:16] Jaifroid commented on #722
That engineering ZIM wouldn't be suitable for automated tests becuase it is 3.5GB, and the tests need to load the ZIM into memory in order to access it without the "user" having picked the file.

If it looks like the production of no-namespace ZIMs is going to be delayed considerably, I don't think it need be a blocker on us making new releases here, so long as we test manually on the ZIMs we curr

[2021-05-17 14:55] mossroy commented on #722
Can #720 be fixed before considering a release?

It's true that we should release a new version of kiwix-js _before_ the newer ZIM files are publicly available : do we have an approximate time frame for that?

If we only have one such ZIM file privately available (the engineering one above), maybe it's too early to release kiwix-js. I'm not asking for a coverage of all kinds of ZIM files, but one

[2021-05-17 14:58] Jaifroid commented on #722
Agreed, and yes I can tackle #720 first.

[2021-05-22 14:02] Jaifroid opened #725 "Ideas for future simplification of document processing and API"
In working on #680, I've stumbled across certain possibilities that could reduce the amount of pre-processing of elements that we currently do in jQuery mode. I'm recording these here before I forget them, as possible ideas for future simplification.

* No need to attach event listeners to every ZIM link in the document. Instead, a single click event listener can be added to the document, and when

[2021-05-24 17:09] move[bot] opened #726 "[Enhancement] Signed tab in Kiwix web browser extension"
*@Ubuntu-2020 commented on May 24, 2021, 2:55 PM UTC:*

Now in the extension **Kiwix** for the web browser, the tab displays the icon **Kiwix** and the name **Kiwix**.
It seems to me that it would be better if the title **Kiwix** is replaced by the title of an open article:
[![Signed tab](https://user-images.githubusercontent.com/65112331/119364557-b1071300-bcb7-11eb-9e7f-574e3555e5a9.gif)](https:

[2021-05-24 20:29] mossroy commented on #726
Thanks for your suggestion @Ubuntu-2020
I suppose this is a duplicate of #280 ?

[2021-05-25 04:27] #726 closed

[2021-05-26 16:18] #720 closed

[2021-05-27 10:14] mossroy opened #727 "Deprecate/feature-freeze the jQuery mode"
We currently have 2 modes : jQuery and ServiceWorker
The ServiceWorker mode natively supports all kind of ZIM files and has more features than the historical jQuery mode. The corresponding code is also simpler, as the jQuery mode needs to manually code many things that should be done by the browser itself.

We have to maintain the jQuery mode for the platforms that do not support ServiceWorkers :

[2021-05-27 11:05] Jaifroid commented on #727
I agree SW mode is the way forward. But how do we position Kiwix JS? By default it has come to be the version that serves older and/or minority operating systems and browsers, which is not necessarily a niche that anyone would actively seek, but nevertheless does seem to have a following.

I was looking at statistics for OS usage, which may not be terribly reliable, but as of April 2021, the numbe

[2021-05-28 08:44] Jaifroid commented on #727
I wonder if there is room to be more ambitious than deprecation. I believe, as noted in #725, that it would be possible to unify the API for Service Worker and "jQuery" modes, by channeling all data over the message channel.

This would work by loading a script with article.html that would request and receive data from app.js over the same message channel that the Service Worker currently uses (or

[2021-05-28 12:53] mossroy commented on #725
A generic event listener might be a good idea, and might speed up some page loading.

About the second idea, I'm not sure I understand.
I suppose the controlling script of `article.html` would parse the DOM (like `displayArticleContentInIframe` currently does) but, instead of reading directly the content through `selectedArchive.*` function calls, it would do a `postmessage()` instead, and the mes

[2021-05-28 13:03] Jaifroid commented on #725
Yes, I think the main advantage of this would be universalizing and simplifying the API for requesting data from the app and the backend. A bit like abstracting a pseudo-Fetch interface for the window containing the document and how it requests data. You're right that the practical outcome for us would in effect be code cleanup: the code is currently a bit schizophrenic, with two different and qui

[2021-05-28 13:41] mossroy commented on #727
I agree with you that it somehow raises the question of the position of kiwix-js. The point of view of @kelson42 and maybe @Popolechien would be interesting here.

I don't consider Kiwix as a classical app that can afford to easily drop support of old devices, just because their market share is too low. I think we need to do our best to keep support for old devices, because their users might be th

[2021-05-28 13:49] mossroy commented on #727
Regarding the use of a message Channel in jQuery mode (of #725), it might be interesting to move the jQuery code appart for maintainability (see my comment there).
But, as far as I understood, it would not solve the issues and limitations we have with jQuery mode, and I don't see how if would remove code duplication. We would still have to maintain/tweak the DOM parsing, programmatically do what a

[2021-05-29 07:39] mossroy commented on #727
Regarding Firefox extensions, it's the main pain point in my opinion.
Deprecating the jQuery mode means deprecating kiwix-js as a Firefox extension, unless Mozilla finally allows SW in extensions.
We could see it as a way to pressure Mozilla on this missing support, but I don't think we have much weight...

OTOH, we currently don't really distinguish both modes. Except for unsupported ZIM files (w

[2021-05-29 09:26] Jaifroid commented on #727
I would hesitate to bug Firefox Extension users with banners. Firefox users tend to be loyal and have strongly held reasons why they won't use Google or Microsoft browsers 😉 (which I do respect and understand), even if underlying Chromium is open-source. Maybe a one-time information panel would be fine (and incorporate the same info into the About page). so long as it is sensitively worded.

Just

[2021-05-29 09:58] Jaifroid commented on #549
As promised in #727, some further notes on NWJS vs Electron, from my experience with both.

* NWJS:
    - As I say above, I still prefer how NWJS do things, running the code as a Chromium extension. Things just work. For example, no fiddling is required to get Service Worker mode to work (with the one excpetion that Cache API is not supported in Chromium extensions, but we have workarounds for tha

[2021-05-29 10:31] Jaifroid commented on #388
As promised in #727, some updates on PWA functionality. It could be an interesting alternative for Firefox users, and maybe even could be packaged transparently in a Firefox Extension -- this should work because the code would be drawn from a secure (https:) server, not from locally packaged code. There is a version running at https://pwa.kiwix.org/ .

As mentioned above, a PWA that leverages Serv

[2021-05-30 20:57] Jaifroid commented on #727
@mossroy I think I have a workaround for Firefox Extension users that allows them to access the Service Worker mode. I've done a bit of experimenting today which confirms that:

* Service Worker mode works fine in a Firefox Extension if the extension opens a tab that points to a remote PWA (served over https);
* If the PWA is coded correctly (to cache its own code), the extension works entirely of

[2021-05-31 08:56] mossroy commented on #388
Could you provide the URLs of corresponding bugzilla open issues (if you have them)?

[2021-05-31 09:10] Jaifroid commented on #388
Regarding installation of PWAs, there's extensive discussion here: https://bugzilla.mozilla.org/show_bug.cgi?id=1407202
and DEV discussion here: https://bugzilla.mozilla.org/show_bug.cgi?id=1264819
It seems they've decided it's not a priority on Desktop systems and probably "wontfix".

Egarding File Syste Access API, see https://github.com/mozilla/standards-positions/issues/154 . I can't find a bu

[2021-05-31 09:17] Jaifroid commented on #388
PS Chromium devs provide a polyfill for the File System Access API that uses it where available, and falls back to earlier methods where not. See https://web.dev/file-system-access/#polyfilling. Having said that, the API isn't difficult, and easily substitutes for a standard file picker without really needing a polyfill. But it could simplify code not to have different types of file picker showing

[2021-05-31 09:26] mossroy commented on #727
Thanks @Jaifroid, it's very interesting.
I don't doubt that ServiceWorkers are working in a PWA bundled as a Firefox extension (because files are read from https: scheme, not from moz-extension:) and it might be a kind of workaround.

But the main issue IMHO is that a PWA is not fully offline : the user needs an Internet access on first use (and maybe afterwards if the browser cache happens to be

[2021-05-31 09:47] Popolechien commented on #727
I have no visibility on use cases here. I'd say users in this case are probably somewhat online with a poor connection, but that's just a hunch.

Generally speaking I would advise against broadening your portfolio, because at the end of the day it also extends the amount of maintenance work required. Having one product that really nails it (starting with UX) might encourage others to develop varia

[2021-05-31 10:12] Jaifroid commented on #727
@Popolechien This proposal is not really about broadening the portfolio. It's about adding a missing technology back into the Firefox extension, one which Mozilla has seemingly decided against developing (see https://bugzilla.mozilla.org/show_bug.cgi?id=1344561). This is a proposed workaround that provides the missing technology by leveraging another one (Progressive Web Apps) inside the first.

T

[2021-05-31 11:51] mossroy commented on #727
Thanks a lot for these explanations.

I thought it was not possible to use the PWA for someone that has no Internet access at all, but maybe I was wrong. Here is the scenario : a user has a computer with Firefox but no Internet, and gets a USB stick with the .xpi extension file and some ZIM files. He/she can install the extension and use it to read the ZIM files : it works with our current version

[2021-05-31 12:28] Jaifroid commented on #727
The user with no Internet access at all is catered for by the jQuery mode, with the .xpi extension on USB stick. If they want to use Service Worker (in the scenario I am proposing), then with the same .xpi extension, they **will need to access pwa.kiwix.org at least once** to cache the code (as my warnings to the user in the screenshots above make clear). The user can always cancel. If they do acc

[2021-05-31 20:21] Jaifroid commented on #581
Fun fact I discovered today. On Andoid, the "Samsung Internet" browser (available more widely than Samsung phones, I believe) has significantly faster read speeds with Kiwix JS (Windows) than Chrome for Android. It makes accessing the full English Wikipedia quite usable, at least on a reasonably well-specified phone. Tested on the PWA version: pwa.kiwix.org. It also allows installation of the PWA

[2021-06-01 20:33] Jaifroid commented on #388
Updated PWA install experience in Windows shown below (this is browser-provided -- in this case by Edge Chromium). I have also tested the install experience on Ubuntu using Chromium browser for Linux. It creates a `.desktop` file in the user's Home directory, which can be copied (manually) into the menu shortcut directory. I found I had to edit the `.desktop`  as the path erroneously included the

[2021-06-06 09:57] Jaifroid opened #729 "Support 'auto' dark theme that reflects OS settings"
There are now CSS media queries and corresponding DOM functions in Firefox and Chromium (and Safari) that can detect the system-wide / OS 'dark mode' settings in both Windows and Mac Mojave (I haven't checked for Linux yet). See: https://caniuse.com/?search=prefers-color-scheme.

I've tested this in Kiwix JS Windows, and simple code like this can register to be notified of a change in the system p

[2021-06-06 17:36] kelson42 commented on #229
@mossroy @Jaifroid Seeing #724, I wonder if this ticket is still valid?

[2021-06-06 18:03] Jaifroid commented on #229
I think there was probably a misunderstanding here about what the article counts are used for. The one in M/Counter probably shows the number of unique articles, excluding redirects (I'm guessing here). In a v0 ZIM, the entryCount in the file header will show all the entries, including images, etc., that are in the title pointer list. In a v1 ZIM (forthcoming), we have a different, article-only po

[2021-06-06 18:03] #229 closed

[2021-06-08 13:40] Popolechien opened #730 "Missing image in custom Wikipedia ZIM"
When generating a test zim file from https://farm.openzim.org/recipes/wikipedia_en_for_schools the corresponding zim file seems to have missed an image.
I ran the recipe twice, and the same image (https://en.wikipedia.org/wiki/Wikipedia:Wikipedia_for_Schools/Welcome/Mathematics#/media/File:Fisher_iris_versicolor_sepalwidth.png) is always missing:
![Capture d’écran 2021-06-08 à 14 55 48](https://

[2021-06-08 13:42] kelson42 commented on #730
@Popolechien What is your browser (version)? What is the KiwixJS version?

The ZIM seems OK, served by Kiwix Serve.

[2021-06-08 13:43] kelson42 commented on #730
My bad, the image is not in the ZIM. This is probalem with MWoffliner. Sorry about that.

[2021-06-08 13:43] #730 closed

[2021-06-10 07:31] mossroy commented on #727
To sum up the discussion we had with @Jaifroid and @kelson42 on Tuesday :

- we all agree to implement #196
- we also agree to freeze the jQuery mode (i.e. do not spend more time on jQuery-specific improvements)
- in the case of Firefox extensions, we might implement the PWA workaround suggested by @Jaifroid : I'd suggest to create a separate issue to discuss it. It looks promising (even if it's n

[2021-06-10 07:31] #727 closed

[2021-06-10 07:36] Jaifroid commented on #727
Agreed!

[2021-06-10 08:22] Jaifroid commented on #404
Maybe this has to be fixed before any of the other development on #196? I'm not so convinced that we can use the `openWindow` API here given the restriction that the URL must be of the same origin as the calling script, and I'm not sure how it could trap a link to an external URL anyway (it would be out of the SW's scope).

Another possibility: we could trap the `onbeforeunload` event, which would

[2021-06-11 14:07] mossroy commented on #404
- "1. Preprocessing" looks bad. Because it's not safe outside of known ZIM file origins (as you said), and also because it can not handle cases of dynamically created links (in javascript) or dynamic URL changes (in javascript, too)
- "2. Postprocessing" is much safer than 1. Because it should trap all clicks (even if the link has been created by javascript code) and can not break the HTML. I don'

[2021-06-11 14:08] mossroy commented on #404
@kelson42 : could you tell us how this his handled in other kiwix clients? See https://github.com/kiwix/kiwix-js/issues/404#issuecomment-536318420

[2021-06-12 14:20] Jaifroid commented on #404
OK, thanks for the info on 3. I think that effectively rules it out.

On 2, I don't think there's any danger of contents in the ZIM handling the click (or mousedown/mouseup) events of the `iframe`, because there is no way the contents can (or should) know that it is inside a frame. The issue would be whether we can handle the event first and then release it or not to the content scripts. We can ad

[2021-06-12 20:43] mossroy commented on #404
Let's let @kelson42 some time to answer : maybe there is a better approach that we did not think about.

We have to keep in mind that ZIM contents can be much more "dynamic" than the ones from wikimedia (in the sense of a much heavier use of javascript, and much less static HTML)
PhET is an example : on each exercise, there is a menu on the bottom right of the page (unfortunately blocked behind ou

[2021-06-13 08:04] Jaifroid opened #732 "Use generic event listener for link processing in jQuery mode"
This is point 1 discussed in #725. Rather than a new feature for jQuery, I see it as code cleanup, and it will prevent seeing so many "violations" for adding non-passive event listeners to hundresds of document links that show up in the Chromium console. Instead, we add a single `onclick` event listener on the iframe's contentWindow. Then we use almost exactly the same code as we currently have to

[2021-06-13 13:24] kelson42 commented on #404
AFAIK, Kiwix ports for Linux, Windows, Ios, macOS and Androud use a custom zim:// protocol sheme to access the ZIM cobtent. Therefore, no HTML DOM transformarion is needed. This is anyway only something we do, only a bit, only in Kiwix Serve.

[2021-06-13 13:36] Jaifroid commented on #404
It's still necessary to test the link in some way. We don't have a problem knowing whether the link is from the ZIM or from the Web. The problem is knowing how to trap the request when a user clicks on a Web link. We can do it by inspecting the click target (Option 2 above) but it then potentially leaves dynamic links (created by JS in the ZIM) that don't have an href, but which might load externa

[2021-06-13 13:46] kelson42 commented on #404
@Jaifroid I don't think anything is trapped in previously cited Kiwix ports. Kiwix is simply not able to handle http:// links and then this is forwarded to the OS which has to handle it.

[2021-06-13 13:49] Jaifroid commented on #404
OK, unfortunately for us (!), the browser *can* handle external links and puts them in the iframe... which in some cases causes major CORS issues and the whole application stops. It's a poor experience, hence this issue to try to find a 'clean' way (or as clean as possible) to redirect the external links to a separate brower window.

[2021-06-13 14:13] mossroy commented on #404
It might be a silly idea, but maybe we could add a https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP that blocks opening other domains inside the iframe? It would avoid this poor experience, while letting the user open the links in a new tab/window (even if it might not be easily discovered by the user)

[2021-06-13 14:35] Jaifroid commented on #404
Interesting idea, @mossroy . I actually did define a CSP for Kiwix JS Windows, and I can't remember why... It wasn't this specific issue, but something to do with errors that were being thrown in the UWP app which a CSP fixed. It looks like this (in `index.html`, but also in `article.html`). Ah, yes it's obviously because inline JS in the ZIM was causing issues once I enabled Service Worker mode:

[2021-06-13 15:27] Jaifroid commented on #404
It might be similar (or simpler?) in our case to add the `sandbox` attribute to the iframe, with appropriate permissions defined as we need:

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe#attr-sandbox

It would need to be tested (either an explicit CSP, or the sandbox). If the effect on the end user is that they get an access denied message with no explanation as to how to open

[2021-06-13 19:46] mossroy commented on #404
This `sandbox` attribute looks like a good idea!

But I'm not sure it's technically possible to override the browser behavior in case of a cross-origin violation (enforced either by a CSP or the sandbox attribute). I think the browser will silently ignore the request (and log into the console). But it needs to be checked.

If we don't find a better solution, a compromise might be to :

- implement

[2021-06-13 20:24] Jaifroid commented on #404
@mossroy That sounds like a plan! I may not have time over the next couple of weeks to advance/experiment, but will do after that. Of course in the meantime feel free to investigate further or try out a few things if you like.

[2021-06-15 08:04] Jaifroid commented on #404
Just a bit of research on this. Due to finding a Google Analytics script running in PhET experiments (from a PhET ZIM -- see https://github.com/openzim/phet/issues/127), I tried out the sandbox element in KJSW to see if it can restrict access to this kind of thing. It's not fine-grained enough: you can either allow scripts or disallow them (from any source), and for something like PhET of course w

[2021-06-17 07:07] Jaifroid commented on #163
I've worked out a solution for this, and I think it is important for accessibility.

Enabling zoom of iframe with pinch gestures (but without reflow) has to be programmed manually, but there is code that is quite easy and can more or less be copied and pasted from https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events/Pinch_zoom_gestures. The functions could mostly be placed in `uiUtil.js

[2021-07-01 21:49] Jaifroid commented on #388
This news may be of interest:

https://blog.pwabuilder.com/posts/microsoft-and-google-team-up-to-make-pwas-better-in-the-play-store/

[PWABuilder](https://www.pwabuilder.com/) can make packages for the Microsoft Store and for the Play Store from a simple PWA URL, and allows for a certain amount of customization. I've tested these with pwa.kiwix.org. After a bit of bugfixing at https://github.com/p

[2021-07-11 17:37] Jaifroid commented on #163
I worked on the above solution in Kiwix JS Windows, but could find no way of making it work properly in Firefox, Edge Legacy or IE11. It works very wel in Chrome and Edge.

The issue in the former browsers is that it's not possible to prevent the browser from processing pinch-zoom events in the app without also preventing it from using touch gestures in the iframe's contents. So, while we can prog

[2021-07-11 17:41] Jaifroid commented on #163
@mossroy I'm closing this issue given my investigations above. **Reflowed** "zoom" is perfectly viable by setting global font-size percentages, but is only suitable for buttons, not for finger gestures. Feel free to re-open if I've omitted something.

[2021-07-11 17:41] #163 closed

[2021-07-14 15:36] user0022 opened #734 "Typing a word searches only a title beginning with it?"
Hello!
For my first message, I just would like to say:
-Thanks for your work, because I find it some useful, and even if in fact I don't really like Kiwix for several reasons but I may be wrong.
-Excuse me for: my bad english I'm french, also almost zero technical level, and also ignorance about Kiwix I'm a new user.
-Hope I can help to improve this awful software ;).

I use Firefox addon, and Lub

[2021-07-14 15:55] mossroy commented on #734
It's unfortunately the way kiwix-js works for now, but we're working on improvements.
As you discovered, only titles are searchable and it's a "starts with" search strategy.

If it's important for you and you can't wait, you might switch to another kiwix client, like the desktop one or a mobile one, see https://www.kiwix.org/fr/ . They are able to do full-text search in the content, which should s

[2021-07-14 16:43] Jaifroid commented on #734
@user0022 See this issue: https://github.com/kiwix/kiwix-js-windows/issues/165 .
If you want to test that version, you can do so by visiting https://kiwix.github.io/kiwix-js-windows/ (this is a development version, the next full release of the PWA will be at pwa.kiwix.org ).

It would be useful to know if that version serves your needs with the Super User archive (I tested it on the Stackexchange

[2021-07-14 16:47] Jaifroid commented on #734
PS The wildcard you can use to test that version is `.*`, so for example you would type `.*babbage` in the Computer maxi archive. Result below.

![image](https://user-images.githubusercontent.com/4304337/125660856-0a5bc304-5ffb-4213-b451-c2250e9f5354.png)

[2021-07-14 17:03] Jaifroid commented on #117
@mossroy I think we could close this issue. We dealt with the case-insensitivity issue (we now have pretty good pseudo-case-insensitivity). The only reason to keep this open is if you are interested in adding diacritic insensitivity to Kiwix JS. It would be a bit impractical to do with our current search method because we would need several variants of every vowel and of some consonants, which wou

[2021-07-14 17:18] Jaifroid opened #735 "Only polyfill Promise API if browser needs it"
I realize this is an optimization that would be better served by https://github.com/kiwix/kiwix-js/issues/554, where we would include babel or whatever the latest polyfill solution is, but "in the meantime" we could do "babel-lite", by using the currently recommended Promise polyfill from https://polyfill.io/v3/url-builder/ . This would be a more intelligent version than our current Promise polyfi

[2021-07-14 17:21] Jaifroid commented on #735
PS current recommended Promise polfill source is here:

https://github.com/Financial-Times/polyfill-library/tree/master/polyfills/Promise

(ignore Financial Times -- this is just being used by polyfill.io as a reliable and secure source for the open-source polyfill).

[2021-07-14 17:21] mossroy commented on #117
I agree.
Handling diacritics could have been implemented efficiently if there was a "normalized" title index in ZIM files (i.e. with diacritics removed). But it's not the case.

Supporting the xapian full-text search is the only viable solution. Hopefully it will come with the emscripten kiwix-lib

[2021-07-14 17:21] #117 closed

[2021-07-14 17:30] mossroy commented on #722
@kelson42 : do we now have no-ns ZIM files, suitable for more tests before a release? (both manual and automated tests : see above)

[2021-07-14 17:41] mossroy commented on #735
In #67 you had made a few performance tests, and it appeared that Q was sometimes faster than native promises (and also sometimes slower...).
It was 4 years ago, so it would probably be worth checking that again.
I'm in favor of removing Q, and use a polyfill when needed, if there are not too many drawbacks

[2021-07-14 18:14] Jaifroid commented on #735
You have a very good memory! Yes, it would be quite easy to remove Q and add the polyfills.io version  and then re-run the tests.

[2021-07-14 18:23] kelson42 commented on #722
New sotoki can made new zim files. Will try tomorrow to make a run so you can check.

[2021-07-15 10:30] rgaudin commented on #722
@mossroy here's the smallest sotoki Zim built without NS. Uses Illustration API for the Icon as well

[beer_stackexchange_com_2021-07.zim](https://mirror.download.kiwix.org/zim/.hidden/dev/beer_stackexchange_com_2021-07.zim)

[2021-07-15 11:11] Jaifroid commented on #722
Hmm, the detection of the API is failing badly on this ZIM (with our code. Did something change between the sample ZIMs we tested on and this production ZIM? It seems we can't get the article count or the article pointer position, despite the minor version being 1. Our diagnostic is shown below.

![image](https://user-images.githubusercontent.com/4304337/125778476-fda9af72-c0af-4539-97c0-a803edf56

[2021-07-15 11:14] kelson42 commented on #722
@Jaifroid I guess this is a question for @mgautierfr. I can not help here, AFAIK it should have been the same.

[2021-07-15 11:15] rgaudin commented on #722
Well, we've updated the libzim to a more recent version of the master. I don't know the internals of all this so let me know if you need a specific info. from me.

[2021-07-15 11:18] Jaifroid commented on #722
@rgaudin We don't use libzim, hence we have to reproduce the API in JS. But the previous ZIMs we had to work with were all converted using a script, and they all validated fine. This one fails. I need to trace the logic step-by-step and will feed back to @mgautierfr (unless he knows of a change we need to incorporate -- @mgautierfr , please see my comment above https://github.com/kiwix/kiwix-js/is

[2021-07-15 11:58] Jaifroid commented on #708
Following on from #722, I've determined the issue (I think) that is causing the v1 listing to fail in the beer stackexchange ZIM. Although this ZIM contains a listing `X/listing/titleOrdered/v1`, its metadata indicates that its size is 0 (see screenshot). At this point in the code I have a comment:
[code]
Hence, there appears to be something wrong with the listing. @mgautierfr the relevant comment

[2021-07-15 11:59] Jaifroid commented on #722
I've re-opened #708, where this should be discussed. I think I've determined the issue (an empty v1 directory listing). Please see https://github.com/kiwix/kiwix-js/issues/708#issuecomment-880635035.

[2021-07-15 12:20] Jaifroid commented on #708
Adding some furthe diagnotic info: the Directory Entry for this listing, together with its metadata:

![image](https://user-images.githubusercontent.com/4304337/125786876-55e241ea-7509-4c2f-934f-84f68ca8e9e7.png)

[2021-07-15 12:29] Jaifroid commented on #708
@mossroy I've added diagnostics enabling you to open this `beer_stackexchange` ZIM and see above output in console log (include debug level) in this branch: https://github.com/kiwix/kiwix-js/tree/Diagnostics-for-no-ns-ZIMs . You'll see there are several other errors, including not-found images and stylesheets, but I'm focusing on getting the Listings correct before looking at any of those. It does

[2021-07-15 12:33] rgaudin commented on #708
@Jaifroid saving you some time ; those new sotoki Zims use a `<base />` node so every link and resources are relative to that base. So Should you have a non-base-aware check (like the zimcheck's regex-only one), you would find _invalid_ links.

As it's a close to zero effort to not use `<base />` versus an heavy one to use a DOM+ parser on zimcheck, we'll probably change that in the near future.

[2021-07-15 13:32] Jaifroid commented on #708
Thanks, @rgaudin that's helpful for the style and image issues I notice.  As far as I can tell, the landing page of this ZIM has `<base href(unknown) />` which is odd (see screenshot). Could it be that you populate this dynamically? If so, that's a bad idea as we have to support reading a ZIM without running JavaScript inside the ZIM (in contexts where Service Worker is not supported, we cannot ru

[2021-07-15 17:18] rgaudin commented on #708
Hum, no. here's what I get from the Zim, which corresponds to what to put inside:

[code]

As you can see, the actual HTML code is `<base href="">`.

As mentioned in my previous comment, I understand working with `<base />` can be tricky for other tools so I'll update the scraper not to use it. I'll send you another Zim so you can focus on the other problem.

[2021-07-15 17:26] Jaifroid commented on #708
Thanks! I was showing you the HTML of the rendered page, rather than the input string. But reverting to the standard ZIM hyperlink conventions (i.e. relative to current URL, including when the URL is inside subdirectories which are common in Stackexchange) would be very helpful.

[2021-07-16 15:35] mossroy commented on #708
It's possible that the `<base/>` tag causes issues, at least in jQuery mode. If it's possible to avoid it, it would be better.

In ServiceWorker mode, our UI disappears when opening this ZIM file. There must be a javascript code that detects it is run inside our iframe, and moves itself in the enclosing window (replacing our UI). It's a "protection"  that some websites use

[2021-07-16 15:47] rgaudin commented on #708
OK, we do include some JS from both MathJax (doubt it uses this technique) and StackExchange (so we can use their highlighting feature). Both should be conditional and not enabled for this particular ZIM (we have tickets for that).
Will send you a base-less Zim soon and will look at removing the JS as well for `beer`.

[2021-07-16 15:51] Jaifroid commented on #708
@rgaudin The MathJax module works fine with Kiwix JS in current Stackexchange ZIMs, so it's definitely not that one causing the issue. I doubt highlighting would cause the break out of the iframe (but you never know!)...

[2021-07-16 15:53] rgaudin commented on #708
The thing is we don't use `highlight.js` directly but fire the whole Stack JS toolbox and tell it to enable highlighting so it's automatically configured properly. That JS code dynamically imports a bunch of other stuff.

[2021-07-17 10:23] Jaifroid opened #737 "Issues with Sauce Labs - testing"
With almost every commit on almost any PR I make with Kiwix JS, I have to re-run the cross-browser end-to-end tests, because they fail first time. They will usually pass second time, occasionally third time. When I look, it's usually a socket reset that's the problem.

Is this likely to be an issue with Sauce Labs, or an issue with some race condition in Kiwix JS? In the past, with some PRs there

[2021-07-18 08:47] mossroy commented on #737
I saw that too with my latest push on a PR. Annoying

[2021-07-18 18:00] #696 closed

[2021-07-18 19:25] Jaifroid commented on #734
@user0022 #733 has added some explanation on the 'About' page as to how search operates. This is the best we can do for now. Wildcard search of titles is enabled in https://pwa.kiwix.org, in case that is useful to you.

[2021-07-18 19:25] #734 closed

[2021-07-19 08:26] Jaifroid commented on #737
Seems to have stabilized since https://github.com/kiwix/kiwix-js/commit/5270bcf1550056b66f5e31b7c898f3eeb4e377c3 . I wonder if the "reundant search cycles" were causing instability/timing issues... Or maybe just coincidence: something fixed at Travis. Let's wait and see.

[2021-07-19 08:27] Jaifroid commented on #737
Hmm, of course the PR shouldn't have been failing if the PR itself fixed anything....

[2021-07-19 09:06] Jaifroid commented on #737
I spoke too soon. It just fell over again on the Polyfill PR and I had to re-run.

[2021-07-19 11:57] Jaifroid opened #739 "Add instructions for building Emscripten binaries with docker"
While looking to do some testing of #652, I stumbled upon a new official docker image for the Emscripten stack:

https://hub.docker.com/r/emscripten/emsdk

This ought to be very useful for #508, #511, #652, etc. With docker desktop (for example), you just type

`docker pull emscripten/emsdk`

This image is very new, I gather.

[2021-07-19 12:02] Jaifroid commented on #652
I started to do some work on this. I worked out how to load the asm or the wasm version conditionally (same conditional loading as used at the top of `uiUtil.js`, applied in `zstdec_wrapper.js`) , and that works fine. However the issue with the increased memory requirements mentioned in #736 affects the wasm image as well (I was testing on a version that uses the Polyfill rather than Q), and that

[2021-07-19 19:34] mossroy commented on #739
I had seen. These images exist since one year, and it's probably the way to go for all future emscripten compilation
I had started using one in https://github.com/mossroy/libzim_wasm/tree/update_to_emsdk_2.0.15 but did not have the time to finalize it (I had C compile issues, probably due to our code, not to the docker image)

[2021-07-20 08:06] Jaifroid commented on #739
Ah, OK, glad to know you've tried out this method!

I had a lot of difficulty getting emsdk to run stably on Windows (natively), as it's obviously not the dev's main target and things were always a bit broken with each update. So I switched to using WSL, which required me to install an older node verstion to run (at that point in time the emsdk was broken with latest node), but now that WSL instan

[2021-07-21 18:27] rgaudin commented on #708
@mossroy @Jaifroid here are a couple new Zims without the base:

- 2.5M http://tmp.kiwix.org/beer_meta_stackexchange_com_2021-07__nobase.zim
- 15M http://tmp.kiwix.org/beer_stackexchange_com_2021-07__nobase.zim

Let me know if you need anything else

[2021-07-22 07:41] Jaifroid opened #741 "Re-enable Unit Tests on IE11"
This arises from #736. Having polyfilled Promises, it should now be possible to re-enable (online) Unit Tests on IE11. #736 fixes local (browser-run) tests for IE11, so there is no reason, on the face of it, why they should not be able to run automatically as well, assuming Sauce Labs provides an IE11 instance.

[2021-07-22 08:27] Jaifroid commented on #708
@rgaudin Thank you very much. The removal of the base tag definitely helps. However, there are two issues remaining:

* Both of these ZIMs have invalid metadata in the ZIM header: the header indicates the archive's `minorVersion` property is 1, and that they therefore should use the new v1 title pointer lists, but `X/listing/titleOrdered/v1` has a size of 0 (or at least its size is declared as zer

[2021-07-22 08:30] rgaudin commented on #708
Will look into the JS issue but the version one is probably at (py?)libzim level and for @mgautierfr. He'a away this week though.

[2021-07-22 08:32] Jaifroid commented on #708
Yes, it's definitely a libzim issue. There's discussion of handling this very error [above](https://github.com/kiwix/kiwix-js/issues/708#issuecomment-810370175), even though it shouldn't happen!

[2021-07-22 08:34] Jaifroid commented on #708
If I can help in identifying which included script is causing the issue, let me know.

[2021-07-22 09:29] kelson42 commented on #708
@rgaudin @Jaifroid Please open ticket at libzim level.

[2021-07-22 09:39] Jaifroid commented on #708
I opened https://github.com/openzim/libzim/issues/590.

[2021-07-22 10:01] Jaifroid commented on #590
I think this issue is completed now.

[2021-07-22 10:01] #590 closed

[2021-07-22 16:20] mossroy commented on #741
SauceLabs does provide an IE11 instance (and even older versions : https://saucelabs.com/resources/articles/testing-on-internet-explorer). And we already run the UI tests on IE11.

It should only be a matter of uncommenting line 63 in tests/karma.conf.saucelabs.js (and pray for a good result)

[2021-07-22 17:40] Jaifroid commented on #741
When running the tests locally on IE11 (on the Promise Polyfill PR), only 16 out of the 22 tests run (it is as if the other 6 tests don't exist: there is no failure). I could not see anything in tests.js that prevents tests from running. Perhaps there is a configuration somewhere?

[2021-07-22 17:56] #735 closed

[2021-07-23 14:51] Jaifroid opened #743 "Upgrade Nightwatch"
This follows on from #742. Nightwatch 1.5.1 depends on packages with severe vulnerabilities, but upgrading to 1.7.7 causes tests to fail due to connection to the wrong port (80 instead of 8080 see https://github.com/kiwix/kiwix-js/pull/742#issuecomment-885425167).

![image](https://user-images.githubusercontent.com/4304337/126797680-12e1e38d-6f67-40f4-b9d4-d4c40bf17693.png)

[2021-07-23 15:51] Krinkle commented on #743
I don't know Nightwatch very well, but searching upstream I found this issue which might be related:

* https://github.com/nightwatchjs/nightwatch/issues/2803

[2021-07-24 16:28] Jaifroid opened #744 "Only load the zstd or xz decoders when needed"
We currently load both zstd and xz decoders into memory when the app starts up. This increases the memory footprint of the app and is unnecessary (both have to be compiled by the asm or wasm engines, and memory has to be allocated to the Emscripten instance), whereas in practice no one ZIM ever has both types of compression.

There is no way to know the compression type of a specific ZIM until the

[2021-07-27 10:18] Jaifroid commented on #554
Just stumbled across a more modern (and lghtening fast) module / build solution appropriately called Vite:

https://vitejs.dev/

It has IE11 support via an official plugin (that harnesses babel, I believe).

It also supports TypeScript or vanilla JS. Comes bundled with a node-based dev server and production of course.

Interesting video about it here: https://www.youtube.com/watch?v=LQQ3CR2JTX8

[2021-07-30 18:41] rgaudin commented on #708
@Jaifroid sorry for the long delay. Here's [a zim](http://tmp.kiwix.org/alcohol_meta_stackexchange_com_2021-07.zim) without the extraneous JS. All the JS included in this one are so on purpose. If there's still a problem, let me know.

Still nothing in the titlelist though

[2021-07-31 16:46] Jaifroid opened #745 "Test compiling zstddec or xzdec (wasm and asm versions) with MINIMAL_RUNTIME"
This would be to eliminate the warning shown in console about a streaming WASM compilation error. Although the current implementaiton provides a fallback to ArrayBuffer instnatiation, it would be good to avoid the warning if we can, by setting the appropriate Emscripten flags at compile time.

For further details, see discussion here:

https://github.com/kiwix/kiwix-js/pull/740#issuecomment-885163

[2021-08-03 18:05] rgaudin commented on #708
@Jaifroid [this new zim](http://tmp.kiwix.org/alcohol_meta_stackexchange_com_2021-08.zim) should now have the title list filled as it is now using FRONT_ARTICLE Hints.

[2021-08-05 04:34] Jaifroid commented on #708
@rgaudin I confirm that this latest ZIM now has 221 title entries in the v1 title index (out of 557 total dirEntries). I also confirm that the landing page no longer attempts to break out of the iframe, so this ZIM can be used perfectly in Kiwix JS 😊. Diagnostic screenshot below.

![image](https://user-images.githubusercontent.com/4304337/128291188-516a04a5-e364-4951-a25b-85b0f7298630.png)

[2021-08-05 06:14] kelson42 commented on #708
@Jaifroid We ca close this ticket then I guess?

[2021-08-05 13:53] Jaifroid commented on #708
@kelson42 Yes, I think our support for this is now complete.

[2021-08-05 13:53] #708 closed

[2021-08-16 04:07] Jaifroid commented on #722
@mossroy Since we have a production ZIM that works with our implementation, might we be in a position to think abou thte steps necessary for releasing 3.2.0 with no-namespace support? As production no-namespace ZIMs are close to public release, if not already released publicly, I think we should do this sooner rather than later. It would be good to include #740.

[2021-08-20 10:42] mossroy commented on #722
Yes, it's a good step being done.
@kelson42 : Do we have a small ZIM file to implement unit/UI tests on, like the Ray Charles one? It would at the same time allow to test a mediawiki-based ZIM file (which is the most common use-case).
When do you plan to publicly release the no-namespace ZIM files?

And yes, we should include #740 in 3.2.0 : I'll have a look at it.

[2021-08-20 11:01] kelson42 commented on #722
@mossroy We have started a repository to manage a reference test suite of ZIM file here https://github.com/openzim/zim-testing-suite. If you have not what you need there. I would recommend to request/put it there.

[2021-08-20 12:26] mossroy commented on #722
@kelson42 , I opened https://github.com/openzim/zim-testing-suite/issues/5 to ask for a small sample ZIM file suitable for our tests (the existing ones are not)
It's sad that this schedule does not give us enough time to implement these automated tests. It would be better to involve us earlier next time a major change is considered and planned.

Anyway, the wikipedia ZIM files from https://github.

[2021-08-20 12:49] mossroy commented on #708
@rgaudin : I see some issues specifically with http://tmp.kiwix.org/alcohol_meta_stackexchange_com_2021-08.zim : I suppose they should be reported on https://github.com/openzim/sotoki ?

[2021-08-20 13:06] Jaifroid commented on #722
@mossroy Plan looks good to me.

[2021-08-20 13:12] rgaudin commented on #708
that's right

[2021-08-20 17:18] mossroy opened #746 "Kiwix-js detects "active content" on some new ZIM files, in jQuery mode"
If you open http://tmp.kiwix.org/alcohol_meta_stackexchange_com_2021-08.zim in jQuery mode, it displays the "active content" warning popup.
Maybe we should consider white-listing this kind of ZIM files, as they mostly work properly, even in jQuery mode?

It should be decided when they're finalized (it seems they're not yet)

[2021-08-20 17:27] mossroy opened #747 "Some images are not displayed properly in jQuery mode with latest sotoki-based ZIM files"
With http://tmp.kiwix.org/alcohol_meta_stackexchange_com_2021-08.zim , if you open the "About" page of its content, you have this content in ServiceWorker mode :
![image](https://user-images.githubusercontent.com/890923/130270860-5df7e8fb-e34c-46fa-910d-14cacf7d76cb.png)

but you have this in jQuery mode :
![image](https://user-images.githubusercontent.com/890923/130270926-33fa03f1-2577-4981-83be-

[2021-08-20 17:45] Jaifroid commented on #746
Yes, I noticed that. If that's a common js file being detected that is of no consequence, we can add it to the exclusion regex.

[2021-08-21 07:53] mossroy commented on #722
I should have some time to test and do the release tomorrow

[2021-08-21 08:12] mossroy opened #748 "Add unit and UI tests on a recent sample ZIM file"
Our current unit and UI tests use an old ZIM file : wikipedia_en_ray_charles_2015-06.zim

Since then, the format and contents have evolved : at least zstd compression format, no-namespace ZIM flavor, and webp. These are implemented in kiwix-js, but not covered by our current automatic tests.

While keeping the current tests on the old ZIM file (for non-regression), we should add some on a more rec

[2021-08-21 08:13] mossroy commented on #722
I created #748 to add automatic tests on a newer ZIM file

[2021-08-22 05:47] kelson42 commented on #694
From a user perspective, this is a serious bug IMO.

[2021-08-22 05:49] kelson42 commented on #747
This is a CSS applied picture.

[2021-08-22 05:53] kelson42 commented on #747
This ticket might be related to #338?

[2021-08-22 05:55] kelson42 commented on #513
@mossroy @Jaifroid Would that be a good time now to check and update this ticket?

[2021-08-22 05:57] kelson42 commented on #673
@Jaifroid The MWoffliner has been fixed and released, I wonder therefore about the pertinence of keeping this ticket open?

[2021-08-22 06:00] kelson42 commented on #489
The OPDS stream has been strongly developed and as soon as libkiwix10 is release (in a few days) shoukd be considered ready to use.

[2021-08-22 06:02] kelson42 commented on #515
Do we have more answers on this meanwhile?

[2021-08-22 06:04] kelson42 commented on #287
@mossroy @Jaifroid Shoukd we keep this ticket open? It seems that Jaifroid has followed, with success, the same goal but with other frameworks.

[2021-08-22 06:08] Jaifroid commented on #694
I can now confirm that the reason it doesn't work in both jQuery and SW mode is simply because we revoke the BLOB as soon as it is displayed. I have an option in Kiwix JS Windows that allows the user to export the entire page, including images, to a self-contained html file. This option inserts all images as dataURIs. When this option is enabled, images can be downloaded even in jQuery mode. We ca

[2021-08-22 06:21] Jaifroid commented on #747
Normally CSS images just work in Kiwix JS in jQuery mode, because the content of CSS files is extracted and inserted as `<style>...</style>` tags. These images look like they extracted from the ZIM. The fact that we cand find them in SW mode, but not in jQuery mode suggests an issue with our image-extraction routine in jQuery mode when dealing with no-ns ZIMs, as @mossroy suggested. I'll check now

[2021-08-22 06:31] Jaifroid commented on #287
I agree. Apache Cordova is now superseded by more modern frameworks. It's still alive, but there are so many options now such as React JS, Ionic, the growning OS support for PWAs (a more elegant solution than using a framework IMHO), and of course the ubiquitous Electron for all desktop OSs. I don't see us ever advancing this issue. I'm closing, but of course re-open if I've closed prematurely.

[2021-08-22 06:31] #287 closed

[2021-08-22 06:39] kelson42 commented on #674
The value of auch a unit test decreases rapidly with time because les and less people uses a Browser without native webp support.

[2021-08-22 06:49] Jaifroid commented on #747
@kelson42 You were right. What happens is that normally CSS images work because they are embedded images (dataURIs for example). In this case, they are images that need to be extracted from the ZIM. See screenshot of one of these in CSS code below.

@mossroy We don't currently apply the image parsing to CSS in jQuery mode. It could be a bit tricky, as I'm not sure if the browser would re-parse it'

[2021-08-22 06:51] kelson42 commented on #747
FYI, I believe I have a piece of JS in MWoffliner, based on a regex, which does such a rewritting.

[2021-08-22 07:20] kelson42 commented on #456
I still believe this ticket is hardly actionable. First checking splitted zim files seems not necessary anymore to me. Then « yes » the tests will probably have to be adapted each time a new version of the test zim file is used… but this is a pretty easy and straight forward operation.

[2021-08-22 07:24] kelson42 commented on #301
Maybe this ticket needs a refresh. Kiwix-JS being meanwhile to 99% a browser extension solution, I challenge the pertinence of this ticket. Or maybe it should be rephrased, or just moved to kiwix/kiwix-js-windows?

[2021-08-22 07:27] Jaifroid commented on #673
@kelson42 I've just tested this in Firefox 64 (portable) using `wikipedia_en_endless_maxi_2021-07.zim`. On article pages (in SW mode, which is where we see the issue) it seems to load all images correctly at first, but after browsing several articles, the engine seems to give up and no images are loading. On the landing page I'm getting no images at all loaded, even after starting the app fresh wi

[2021-08-22 07:31] Jaifroid commented on #489
@kelson42 Is the pure OPDS reader implemented in JS, do you know?

[2021-08-22 07:35] kelson42 commented on #173
I wonder about the status and the pertinence of this ticket:
* There is a lot of comments, but the primary problem to fix seems to be performance. But the usage landscape has changed a lot since 5 years. Is performance problem around image loading still a real problem? And a problem we seriously want to fix?
* Lazy image loading via html attribute should be done everywhere meanwhile, so only visib

[2021-08-22 07:42] kelson42 commented on #673
This zim file has been created only a week after the PR has been merged. I strongly suspect it was the older version of MWoffliner which made it. Would you be able please to rerun the very same test with the most recent version od this ZIM file http://download.kiwix.org/zim/.hidden/endless/wikipedia_en_endless_maxi_2021-08.zim ?

[2021-08-22 07:45] kelson42 commented on #489
@Jaifroid yes, you can try it by downloading a nightly build of kiwix-serve. The js code is in the libkiwix for the moment. I'm perfectly aware that such a piece of software/js library would benefit to many of our solutions and therefore if your are happy with it we could/should consider to isolate it to simplify maintenance/integration.

[2021-08-22 07:47] Jaifroid commented on #173
@kelson42 I implemented a version of this that also included lazy loading in jQuery mode (not required as you say in SW mode). However, it was deemed to complicate the codebase too much for little practical gain, precisely because the performance landscape has changed a lot in this app with various types of caching. Some ideas from that PR were incorporated in other PRs. I would say that loading e

[2021-08-22 07:47] #173 closed

[2021-08-22 07:54] #511 closed

[2021-08-22 07:54] #652 closed

[2021-08-22 07:54] #739 closed

[2021-08-22 07:57] Jaifroid commented on #673
OK, will do, but it will take some time to download on the wifi I'm currently using!

[2021-08-22 08:07] mossroy commented on #722
I've added the usual task list on this ticket.
I might handle the milestones & move the issues right now
@Jaifroid : if you're available, you might update the changelog? Else I'll do it myself

[2021-08-22 08:07] Jaifroid commented on #456
I think this is superseded by #718 and #748. I close, but feel free to re-open if it's not covered by those issues.

[2021-08-22 08:07] #456 closed

[2021-08-22 08:08] Jaifroid commented on #748
We already had #718 for this, but I think this issue is more generic, so I'll close that one.

[2021-08-22 08:08] #718 closed

[2021-08-22 08:10] Jaifroid commented on #748
I think this issue has superseded #456 because it makes sense to continue testing on the old split ZIM for non-regression (as you say, @mossroy) while adding a modern ZIM for no-namespace, zstandard and webp. This gives better coverage than simply updating Ray Charles,

[2021-08-22 08:13] Jaifroid commented on #301
The issue is fully implemented in Kiwix JS Windows. I'm not convinced Kiwix JS will always only be a browser extension solution. For example, if it converges a bit more with Kiwix JS Windows, then Kiwix JS could also be a PWA which, on mobile, could still have this issue. However, it's perfectly fine to close this issue given that there is an implementation in KJSW, and re-open should the need ari

[2021-08-22 08:13] #301 closed

[2021-08-22 08:32] Jaifroid commented on #722
I'm happy to do the changelog.

[2021-08-22 08:35] mossroy commented on #722
I moved to a new v3.3 the v3.2 issues we plan to work on at the hackathon.
I moved the other ones to v3.4
I also moved to "backlog" all the jQuery-specific enhancements

[2021-08-22 09:44] mossroy commented on #722
I tested many different ZIM files on my Firefox OS device and in a Firefox extension (both in jQuery mode) and found no issue.
I did not see any issue either on Chromium in SW mode.
But there is a blocking issue in a Chromium extension : the decompressor API says "Error loading ZSTD decompressor!" :

and nothing works afterwards.

I seems to come from a CSP constraint

[2021-08-22 09:54] mossroy commented on #722
There is a workaround for this issue that I tested successfully by adding a line in manifest.json : https://stackoverflow.com/questions/48523118/wasm-module-compile-error-in-chrome-extension (works with unsafe-eval or wasm-eval)
Maybe we should open a separate issue for that, to consider compatibility with different versions of Chromium-based browsers (is wasm-eval supported by all of them?), comp

[2021-08-22 10:09] mossroy opened #751 "WASM compilation is disabled by default in Chromium extensions"
The decompressor API is red and its status is "Error loading ZSTD decompressor!".
In the browser console :

And nothing works afterwards.

It comes from a CSP applied on Chromium extensions (not on Firefox extensions), for security reasons.
It can be overridden by adding a line in manifest.json, see https://stackoverflow.com/questions/48523118/wasm-module-compile-error-in-chrome-extension . It see

[2021-08-22 10:09] mossroy commented on #722
Just created #751 for this issue

[2021-08-22 10:11] mossroy commented on #751
Maybe we could use `wasm-eval` and trap this exception (that could occur is `wasm-eval` is unsupported), and fallback to ASM in this case?

[2021-08-22 10:16] mossroy commented on #751
The CSP has been added at the beginning of 2017 : https://codereview.chromium.org/2646713002/
And `wasm-eval` has been implemented at the end of 2017 : https://bugs.chromium.org/p/v8/issues/detail?id=7041

[2021-08-22 10:35] Jaifroid commented on #722
Good catch. IMHO it's safe to add unsafe-eval because we only execute offline code. We also have a separate CSP for the iframe, which is where ZIM content is executed.

[2021-08-22 10:36] Jaifroid commented on #722
JFYI, I'm on my phone only for much of the rest of today.

[2021-08-22 13:00] mossroy commented on #751
_Originally posted by @Jaifroid in https://github.com/kiwix/kiwix-js/issues/722#issuecomment-903247599_

I did not find the iframe CSP in kiwix-js. There is one in kiwix-js-windows : https://github.com/kiwix/kiwix-js-windows/blob/56160448e04484525d5692471ed9a9c47d370192/www/js/app.js#L3669 (only for jQuery mode?), and we discussed about another one in https://github.com/kiwix/kiwix-js/issues/404 (

[2021-08-22 13:07] mossroy commented on #722
@Jaifroid : if I implement #751 with the `unsafe-eval` , can I do the release of 3.2.0?
i.e do you think you made enough tests on Windows platforms (including IE11) for the release?

[2021-08-22 13:15] mossroy opened #752 "Allow wasm-eval instead of unsafe-eval in the browser extension manifest"
This is a follow-up of #751 : `unsafe-eval` was needed to allow WASM in chromium extensions.
The goal of this issue to allow only what is necessary.

Problem is that the CSP that forced us to do that has been introduced at the beginning of 2017 (https://codereview.chromium.org/2646713002/), and the `wasm-eval` has been implemented at the end of 2017 (https://bugs.chromium.org/p/v8/issues/detail?id

[2021-08-22 13:24] mossroy opened #753 "Restrict what an iframe can do, for security reasons"
This is a follow-up of #751

In case of a ZIM file with bad content in it, or a ZIM file that fetches bad content from the Internet, it could raise security issues.
Our browser extension does not ask for any permission in its manifest, but some nasty javascript could alter the content, send the articles read to an external server, break/alter our UI etc.

We should try to enforce that we only can

[2021-08-22 13:45] mossroy commented on #752
Maybe another way would be to sandbox the page that loads the wasm : https://developer.chrome.com/docs/extensions/mv2/sandboxingEval/
But this page is currently www/index.html so it's probably complicated to sandbox it

[2021-08-22 14:16] mossroy commented on #722
Let's not rush, and take the time to review #754, including testing it as an Edge extension.
Hopefully the CI instability will be fixed in the following days (it might have blocked our release anyway)

[2021-08-22 14:59] mossroy opened #755 "Migrate to manifest v3 for browser extensions"
Chrome introduced a version 3 of the extensions manifest format : https://developer.chrome.com/docs/extensions/mv3/intro/
Edge is following, as it's now based on Chromium : https://blogs.windows.com/msedgedev/2020/10/14/extension-manifest-chromium-edge/
Firefox will implement it too, with some differences (because some features of v3 are controversial), see https://blog.mozilla.org/addons/2021/05/

[2021-08-22 15:29] mossroy commented on #694
It might be possible to workaround that in jQuery mode with dataURIs, but probably at the cost of a much higher memory (and CPU?) consumption : the images (and videos?) content would be serialized in the HTML!

In ServiceWorker mode, I don't see how to handle this for now. Browsers seem to not go through the ServiceWorker when downloading images or videos.

[2021-08-22 15:38] mossroy commented on #747
It looks like a jQuery-specific enhancement to catch-up what is natively done by the browser in ServiceWorker mode.
Unless it's critical, I wouldn't bother and label this as "wontfix".
Here, these icons are not visible in "About", but are visible in the Questions/Answers

[2021-08-22 15:43] mossroy commented on #513
I tested again a few weeks ago and did not manage to compile with latest emscripten. So I still can not conclude if this is fixed or not with recent versions of emscripten.
I'll need @mgautierfr help on that, probably at the hackathon.

[2021-08-22 15:46] mossroy commented on #515
No, we have other issues with emscripten/kiwix-lib before tackling this

[2021-08-22 15:52] mossroy commented on #674
This should be superseded by #748 that should have a UI test that checks that an image is displayed (and check its dimensions).
If we keep running this scenario on browsers that do not support webp (IE11, Firefox 45), it will check that conversion of webp images work.
I agree with you that it would be enough.

[2021-08-22 15:52] #674 closed

[2021-08-22 15:54] mossroy commented on #748
It would be important to keep the step that checks some images dimensions in the UI scenario, on this newer ZIM file.
Because, when run on browsers that do not support webp (IE11, Firefox 45), it would check that the webp polyfill works properly (instead of implementing #674)

[2021-08-22 15:58] mossroy commented on #173
I agree that the enhancements implemented in between make this issue less important. OK to close it

[2021-08-22 17:00] mossroy opened #756 "Recent stackexchange ZIM files have broken responsive design in jQuery mode"
https://mirror.download.kiwix.org/zim/.hidden/dev/alcohol_meta_stackexchange_com_2021-08.zim has a responsive design : the Questions/Tags/Users/About items that appear on the left side on large screens should be moved at the top on smaller screens :

  * With a large window/screen, the header looks like this :
![image](https://user-images.githubusercontent.com/890923/130267182-978f7cce-7d55-4628-b

[2021-08-22 17:25] Jaifroid commented on #722
Sorry it turned out I was in a no signal area all day. I've tested the release a lot via the last PR, so happy for you to release when you wish. I'm also happy to wait until we're sure we don't have a blocker with WASM.

[2021-08-22 18:47] mossroy commented on #722
No problem!
You must be overwhelmed by github notifications today : take your time

[2021-08-23 04:55] Jaifroid commented on #747
It might be worth doing a quick experiment to see whether changing the link to a blob after the CSS has been applied causes browsers to insert the images. If so, the fix would be very simple. If not, the fix would be more complicated.

[2021-08-23 05:00] Jaifroid commented on #756
I wonder if this has anything to do with the order in which CSS is loaded and applied. Very wild guess.

[2021-08-23 07:43] mossroy commented on #747
If you want, but let's take care this would be straightforward

[2021-08-23 10:54] Jaifroid commented on #673
@kelson42 I've now downloaded the latest English-language endless (August), and it appears to be working well on Firefox 64 in SW mode. In this mode, the supplied webp decoder (from the ZIM) is used, and I have been browsing around several articles with many images, and have switched several times from SW mode to jQuery mode (which uses our custom solution) and back again, and I am not seeing any

[2021-08-23 10:56] Jaifroid commented on #673
PS Does sotoki have a similar solution, or do they use jpeg still?

[2021-08-23 12:31] #751 closed

[2021-08-23 13:03] mossroy commented on #722
The unsigned packages have been nicely generated by GitHub Actions, and uploaded in https://download.kiwix.org/nightly/2021-08-23/
I uploaded the Firefox package in their store : there's a new warning about our `unsafe-eval` policy : https://addons.mozilla.org/fr/developers/upload/f8bcf19b4fdb45698be20b3a04232e60 , but it has been accepted.
I've also uploaded the package for Ubuntu Touch

[2021-08-23 13:13] mossroy commented on #722
@kelson42 and @Jaifroid  : please upload the package https://download.kiwix.org/nightly/2021-08-23/kiwix-chrome-unsigned-extension-3.2.0.zip for the Chrome and Edge stores

Regarding the Firefox store, it would be safer that both of you also could also manage the addon : uploading a new release, or any other need.
I can easily give you rights on this addon, but you first need to create an account

[2021-08-23 13:19] mossroy commented on #722
@ernesst : Could you please test this new version on your device? It's already uploaded on https://open-store.io/app/kiwix
Could you also give us the "API status" you get at the end of your "Configuration" section? (snapshot or copy/paste)
Last but not least, could you try to activate the ServiceWorker mode in this section, and tell us if there is an error in the API status, and if you can browse

[2021-08-23 16:43] kelson42 commented on #673
@Jaifroid To be confirmed by @rgaudin but AFAIK the answer is "yes".

[2021-08-23 16:47] rgaudin commented on #673
@Jaifroid yes, sotoki has a similar solution. If I recall properly I backported the glue I made to manipulate the polyfill from sotoki to mwoffliner (the one bundled with the polyfill was just rejecting requests on race conditions)

[2021-08-24 09:20] Jaifroid commented on #722
I've uploaded the extension to the Edge Store. Annoyingly, since the last submission the Store has come out of Beta, and it forced me to rebuild the page from scratch. I took the opportunity to update the screenshots. It says it might take 7 business days to review.

![image](https://user-images.githubusercontent.com/4304337/130591650-6a822d15-74a6-4106-af20-64db487e074f.png)

[2021-08-24 10:45] ernesst commented on #722
Hello,
I don't have currently an headset under ubuntu touch to try the changes. Sorry.

Aug 23, 2021 3:19:31 PM Mossroy ***@***.***>:

[2021-08-24 10:48] Jaifroid commented on #753
This specific post summarizes my research on this: https://github.com/kiwix/kiwix-js/issues/404#issuecomment-861280543.

To summarize the summary: we can block external resources from running by injecting a `<meta>` tag defining a CSP into the article before loading it into the iframe. To be clear, this alters the article. It's not a practical problem, but it could be a "philosophical" problem: sh

[2021-08-24 10:52] Jaifroid commented on #755
We should probably test v3, but stick with v2 for as long as it is allowed, in order to support older versions of browsers for as long as possible.

[2021-08-24 11:51] mossroy commented on #722
Thanks for your answer @ernesst : is it temporary or permanent?
If it's permanent, do you know someone else who could test our releases?
According to the stats of open-store.io, the previous version (3.1.0) has been downloaded 415 times (surprisingly twice as much as the 207 times of version 3.0.0), which is not negligible.

If it's temporary, we have no rush on our side : the tests can be done la

[2021-08-24 16:34] Jaifroid commented on #694
I used to think dataURIs would consume lots of memory, but my experience in both mobile context and browser context is that it's not an issue in practice. This can be tested by visiting pwa.kiwix.org, and turning on the Configruation option **Add breakout link to open _current_ article in new (non-browsable) window**. This inserts all images as dataURIs (in jQuery mode, not working in SW mode). In

[2021-08-25 07:08] kelson42 commented on #722
Release is waiting validation on Chrome Extension Store. But I have already upload the CRX to download.kiwix.org.

[2021-08-25 07:43] Jaifroid opened #757 "Provide a bookmarking system like in Kiwix Desktop"
As suggested by @knowledge-is-power [here](https://github.com/openzim/mwoffliner/issues/1474#issuecomment-905228503), it would be good to have a bookmark system in Kiwix JS and Kiwix JS PWA/Windows. It would require #280 or similar, and probably also depends on #656 to allow seamless switching between bookmarks in different ZIM archives in a folder (to which the user has given read permission).

[2021-08-25 07:48] kelson42 commented on #757
This should simply work through the Web Browser bookmarking system. Would be a bad idea IMO to redo something special here.

[2021-08-25 07:55] Jaifroid commented on #757
Agreed in principle, but unfortunately it doesn't work even in Service Worker mode. So we need to make it work, probably with #280. Even so, that would only work in Service Worker mode, which Firefox browser-extension users can't access. Plus there are other contexts where the browser's native bookmarking system is not available: PWA, mobile. Another solution is needed for these. That solution sho

[2021-08-25 08:02] kelson42 commented on #757
I would recommend to really try to secure we have proper URLs - which is I guess the main problem to get this working with the browser bookmark system. Then re-evaluate how important is that to provide a bookmark system for other use cases. Developing a simple bookmarking system is easy, but having a compeeting feature here will need a lot of work...

[2021-08-25 08:54] ernesst commented on #722
I don't know when I could reinstall Utouch.
I'll try to ask some persons.

Aug 24, 2021 1:51:41 PM Mossroy ***@***.***>:

[2021-08-28 16:12] kelson42 commented on #722
Kiwix JS 3.2.0 has finally been published on the Chrome Store

[2021-08-29 06:03] Jaifroid commented on #722
It's also in Edge store here: https://microsoftedge.microsoft.com/addons/detail/kiwix/fbbdjelfpndiajmbaocbfcjdgomfbjgm .

[2021-08-29 06:17] Jaifroid commented on #722
Actually, there now appear to be two Kiwix extensions in the Microsoft Addons Store. Remember I mentioned I had to rebuild the previous version because the previous one had been in the Beta Store? Well it doesn't appear to have taken the place of the old one, so we now have two versions, 3.1 and 3.2. I think I'm going to have to sort this out with Microsoft, because I don't seem to have access to

[2021-08-29 08:18] Jaifroid commented on #722
OK, I've sorted out the issue and have managed to submit the package to the correct place now. I'll delete the rogue version.

[2021-08-29 09:31] kelson42 commented on #722
Let me know when everything is ready for the annoucement.

[2021-08-29 09:34] Jaifroid commented on #722
@kelson42 From my perspective it's fine for you to announce. The Edge Addon will update in due course (in a few days), but there's no reason to delay the general announcement.

[2021-08-29 20:26] mossroy commented on #722
OK for me to announce too

[2021-08-30 15:09] mossroy commented on #694
I might be wrong about memory consumption, I did not check.

A workaround for this issue could be to use "Copy image" after a right-click on the image you want to download, then paste it in another software (image editor, word processor, or whatever you like). It seems to work well, at least on my computer, on latest Firefox and Chromium.
Could you test on your sides?
It's clearly not ideal, but w

[2021-08-31 06:53] Jaifroid commented on #694
Yes, that workaround works in Edge. I agree it would be good to document.
As I mention in the linked issue on Kiwix JS Windows, I already have a system for inserting all images as dataURIs downstream, so I'd like to expose that as an option there. I agree here that we can document the workaround, perhaps via a tooltip.

[2021-09-03 17:07] mossroy commented on #722
The last remaining task is to announce this version, for @kelson42
I'll close this issue, to be able to close the milestone.

[2021-09-03 17:07] #722 closed

[2021-09-08 09:40] #694 closed

[2021-09-11 18:15] Jaifroid opened #760 "Khan Academy videos do not play in jQuery mode"
I tested with `khan-academy-videos_en_special-relativity-physics-khan-academy_2021-03.zim`. The video pages look very similar to TED Talks (which do work), so it's probably something small that we can fix without extra coding. Videos play in SW mode.

[2021-09-12 07:02] Jaifroid commented on #760
I've determined that the codec of both TED Talks and Khan Academy videos is VP80 with Vorbis audio. Identical format (in WebM shell), yet the former can be loaded in jQuery mode, and the latter can't, in both Kiwix JS and KJSW. In KJSW a media download is offered, and doing so succeeds (the resulting webm can be played in the system media player as well as in VLC). So there is no issue with extrac

[2021-09-12 07:57] Jaifroid commented on #760
OK, I can copy the blob URI for the video, e.g. `blob:http://localhost/0147b46f-622b-4cad-9ebf-aa031ba654da`, and paste it into a new tab, and it will play fine in Edge (Chromium). Therefore the blob URI is fully accessible (and not revoked), but the browser doesn't seem to be able to read it when it is injected as the src of a `<source ... >` tag, even though it can do so for a TED talk equivalen

[2021-09-12 08:30] Jaifroid commented on #760
I've found the issue. There is a missing `controls="true"` property in the `<video ... >` container in the Khan Academy ZIM. In fact, at least in Chromium, you can right-click the video and select "Show controls...", and it is then possible to play it. So, no problem with our code, but a problem with the ZIM, which assumes that every ZIM reader will use JavaScript.

It is very easy to patch this,

[2021-09-12 08:31] Jaifroid commented on #760
@kelson42 Where do I report this issue with Khan Academy ZIMs? To summarize, the issue is that the ZIM assumes that the ZIM reader can run JS, and has removed basic HTML controls. I guess it also affects any recent ZIM created with the same video setup code, possibly recent TED talks as well (I need to check that, but the page design looks identical).

[2021-09-12 08:49] kelson42 commented on #760
@Jaifroid Kind of surprising problem to me.... but this ZIM file is done with the Youtube scraper... therefore if you believe there is a problem with this scraper please open a ticket at https://github.com/openzim/youtube.

[2021-09-12 08:50] kelson42 commented on #760
@Jaifroid If you visit http://library.kiwix.org/khan-academy-videos_en_special-relativity-physics-khan-academy_2021-03 (online demo) with Chrome, everything seems to work fine to me.

[2021-09-12 09:08] Jaifroid commented on #760
Yes, but that's not using Kiwix JS, and it runs JS from the ZIM. As usual, our issue is that for a large number of users (notably those using the Firefox Extension, but also our mobile users), it is not possible to run JS from the ZIM. Therefore the `video.js` doesn't run. If the controls are are only shown by the JS, then users who don't run JS are unable to access the ZIM's content. But the solu

[2021-09-13 04:37] #760 closed

[2021-09-15 13:40] Jaifroid opened #762 "Automate publishing the Edge extension in the Microsoft Store"
Microsoft is introducing a REST API to automate publishing Edge browser extensions. See https://techcommunity.microsoft.com/t5/articles/introducing-api-to-automate-publishing-and-updating-microsoft/m-p/2654592 . The estimated date for availability is December.

[2021-09-16 23:43] cjohnsto-nz opened #763 "PDFs are downloaded (creating duplicates) rather than opening in the browser inline"
Tested on Edge. When opening an attached PDF, it downloads a copy (1), (2), etc. The wiki I am accessing contains large technical documentation that users will be opening many times a day. These duplicates will quickly fill the entire computer.

Would it be possible to have the browser extensions attempt to open PDF files inline.
https://stackoverflow.com/questions/6293893/how-do-i-force-files-to-

[2021-09-17 05:43] Jaifroid commented on #763
@cjohnsto-nz In Kiwix JS we simply use the standard file download API, or else use the code for downloading files that is defined int he ZIM. As you know from https://github.com/kiwix/kiwix-js-windows/issues/194, it's a bit more complicated there because we have to use UWP APIs and we could (potentially) use the File System Access API in the PWA version (currently that is no different than it is i

[2021-09-17 05:58] cjohnsto-nz commented on #763
I think I understand, but I am still a bit confused.

If the mime type gets picked up correctly as a PDF (or any other file type the browser can open inline) for displayFileDownloadAlert(), could you handle the file differently. I'm trying to piece together where you would add the Content-Disposition: inline; header, in order to open PDFs natively in the browser. This would avoid "downloading" the

[2021-09-17 06:21] Jaifroid commented on #763
OK, here I have to explain that the Chromium (Edge/Chrome) browser extension (and the UWP/PWA versions) operate in two modes:

The frist mode is the one you're currently using, called "jQuery" mode. This mode manipulates the DOM, and in this particular case it intervenes when a user clicks on a downloadable file type (PDF/EPUB), and adds some code to make it possible for the extension to trigger a

[2021-09-17 06:30] cjohnsto-nz commented on #763
Gotcha. I'm not particularly familiar with the ZIM format. Would it be possible to add response headers, or something that would achieve the desired results, through post processing of the ZIM? I'm generating the ZIM, and would happily customize it to make it more convenient for our users, especially if it can be automated.

You are an absolute legend by the way :)

[2021-09-17 06:32] cjohnsto-nz commented on #763
Mate, it works natively in service worker mode. I didn't even think to try.

[2021-09-17 06:49] Jaifroid commented on #763
That's good to know! But I imagine it still creates duplicate version, right?

[2021-09-17 06:53] cjohnsto-nz commented on #763
I don't think so. I used voidtools Everything just to monitor the filesystem while I accessed the file. It looks like, if the browser opens inline, it creates a .tmp file in C:\Users\*\AppData\Local\Temp, and destroys it when the Window is closed. Perfect for my usecase.

[2021-09-17 07:49] Jaifroid opened #764 "Provide a workaround to enable ServiceWorker mode in Firefox Extension"
This is an explanation form #727 of what this would look like:

@mossroy I think I have a workaround for Firefox Extension users that allows them to access the Service Worker mode. I've done a bit of experimenting today which confirms that:

* Service Worker mode works fine in a Firefox Extension if the extension opens a tab that points to a remote PWA (served over https);
* If the PWA is coded co

[2021-09-17 07:51] Jaifroid commented on #763
So I think we can close the issue here. @mossroy I think this demonstrates quite well why we need to implement #196, which also probably requires implementing #388 and #764, if we're not going to leave Firefox Extension users out in the cold!

[2021-09-17 07:51] #763 closed

[2021-09-17 08:02] Jaifroid commented on #764
A prerequisite for this is to decide where to serve the https: version from. The obvious place would be https://kiwix.github.io/kiwix-js , because we already keep that synchronized with our releases, so there would be no scope for the codebases to desynchronize. However, do all Mozilla users (I'm thinking of one in particular!) trust GitHub enough to use this? Would we be better off leveraging a d

[2021-09-17 13:46] mossroy commented on #763
I agree with you : we need #196 and #764 is certainly a way to allow (most) Firefox extension users to use SW mode

[2021-09-17 14:23] mossroy commented on #764
We have to think about which lifecycle we want to have for this PWA version
If we have only one URL, upgraded each time we have a new release, like https://kiwix.github.io/kiwix-js, it means that people using any version of the extension will get the latest kiwix-js (which can be different from the version displayed by the extension, and used in jQuery mode)
It would seem better to me to have a di

[2021-09-17 14:42] Jaifroid commented on #764
@mossroy That's an interesting idea, to have frozen versions. It would certainly be possible to do that with kiwix.github.io/kiwix-js/ (we simply create the appropriate directories and copy the files in).

https://pwa.kiwix.org isn't hard-coded in development code, but it is hard coded in prior versions of the software. I have a parameter in `init.js`, with which I can switch my dev code to use th

[2021-09-17 14:45] Jaifroid commented on #764
Another possible name, a bit cryptic, is https://js.kiwix.org . But it's also an interesting point that https://kiwix.github.io is a bit harder to block.

[2021-09-18 06:35] Jaifroid commented on #764
Other possibilities: https://app.kiwix.org or https://webapp.kiwix.org.

[2021-09-22 10:53] Jaifroid commented on #764
@kelson42 Any views on this issue? To summarize, to enable Service Worker mode in the Firefox Extension, we need to serve the app from a secure server (https://) at least one time, so that the Service Worker can cache the app's own code securely. Thereafter the app will work offline in SW mode, but will auto-update (from the same server) if the code is changed and it is online. In practice we migh

[2021-10-02 14:30] Jaifroid commented on #764
@kelson42 Did you have any advice for us, or do you want us to decide? See my summary in the comment above this one. There are pros and cons which you will know more about than we do.

[2021-10-02 14:55] kelson42 commented on #764
Thank you for your patience and sorry for the lack on feedback on my side here.

What I miss is a description of the following things available at:
* https://pwa.kiwix.org
* https://kiwix.github.io/kiwix-js
* The new stuff you want to put online to allow this workaround

Does all of this comes from the same repo?

For my (little) level of understanding, all of this should be basically the same!

[2021-10-03 10:08] Jaifroid commented on #764
@kelson42 Here are the descriptions:

* https://pwa.kiwix.org - this comes from the Kiwix JS Windows repo, so I don't think it can be utilized for this purpose. The codebase has diverged too much, and it is updated regularly based on tags released at the KJSW repo
* https://kiwix.gihub.io/kiwix-js - this is the existing gh-pages implementation of this Repo (Kiwix JS). It is updated (manually) afte

[2021-10-03 10:12] kelson42 commented on #764
IMO publishing on Github.io might be the best solution... but not sure how you could elegantly slove the versioning issue.

[2021-10-03 10:17] Jaifroid commented on #764
Thank you @kelson42. We have full control over subdirectories of https://kiwix.github.io/kiwix-js/, so versioning shouldn't be problematic I think. We just replicate the code on master into a subdirectory during the release and testing phase, and everything should run relative to that subdirectory. We would end up with (eventually) a number of old versions, but perhaps they could be deleted after

[2021-10-03 10:33] Jaifroid commented on #764
@mossroy Maybe we can weigh up, when we next meet, the pros and cons of freezing the code version vs allowing the Service Worker to update the cached code when there is a new release (and the client is online). Since the Firefox extension auto-updates anyway (like a PWA) maybe the added complexity of versioning is unnecessary: we will never update the gh-pages version without releasing a new exten

[2021-10-06 11:12] mossroy commented on #764
@Jaifroid : sure, we can discuss this when we meet.

[2021-10-29 16:20] mossroy opened #767 "Improve performance of the libzim version"
Currently, the performance of the libzim version of kiwix-js is worse than the plain javascript version, although the ZIM accesses are much faster with libzim (compiled in wasm).

After adding some timers in the code, we found that it comes from the fact that the WebWorker requested by the emscripten build is mono-threaded : all calls are enqueued and handled one after the other one.

There is alm

[2021-10-29 16:36] mossroy opened #768 "Compile the libzim js bindings in a separate module"
Like it is done for python : https://github.com/openzim/python-libzim/
It should be run by kiwix-build, too : see https://github.com/kiwix/kiwix-build/issues/503

It might allow this wasm version of libzim to be used in other javascript projects, like mwoffliner

[2021-10-29 16:53] mossroy opened #769 "Use libzim for search"
The prototype shows that it's possible, using xapian full-text search.
This would be a great feature, that kiwix-js is missing today.

We should probably remove the algorithm that handles the progressive display of search results, if it's fast enough.

The libzim API provides pagination, that should be useful for us.
Ideally, the WebWorker would keep the Search instance (see https://libzim.readthe

[2021-10-29 17:00] mossroy opened #770 "Use libzim for all remaining ZIM access"
At least to :

- read the metadata when opening the ZIM files the first time
- find the main entry
- find a random entry
- handle the jQuery mode

[2021-10-30 07:15] mossroy opened #772 "Add a step in our CI to check the list of pre-cached files for the PWA-ServiceWorker"
It should be possible to compare the list of files that exist in www directory, and the list of pre-cached files in service-worker.js file.

If one file is missing, it should break the CI

[2021-10-30 14:14] mossroy commented on #513
I just opened https://github.com/emscripten-core/emscripten/issues/15394 with a dedicated test-case
The limit is still at 2 GB for reading bytes.

@mgautierfr : please subscribe to it if they have any questions/remarks on the C code.

[2021-11-10 13:05] mossroy commented on #112
This might be superseded by #769 (use libzim for that), but there are still blockers like #513

[2021-11-10 13:38] kelson42 commented on #112
@Jaifroid The ft/suggestion indexes are not part of the openZIM spec. Our Actually, libzim as ref. implementation can be built withput any dependence to Xapian. But, if it is, then the whole conplexity of using Xapian or locating the indexes is abstracted by the libzim. Therefore, you should now about the libzim API only IMO. More info about the libzim API at https://libzim.readthedocs.io/en/lates

[2021-11-10 13:39] kelson42 commented on #112
Should we close this ticket as duplicate of #769?

[2021-11-12 07:46] mossroy commented on #112
Yes, I think so : closing

[2021-11-12 07:46] #112 closed

[2021-11-12 09:07] kelson42 commented on #112
@Jaifroid Crazy... somehow this notification came in my inbox. Sorry for the slight delay in my answer ;)

[2021-11-14 18:30] ShubhashishMaiti commented on #729
Hello Sir, I am interested in working on this issue. Could you please assign this issue to me?

[2021-11-14 21:35] Jaifroid commented on #729
@ShubhashishMaiti That would be helpful. Please note that the sample code I gave above was for a related app, Kiwix JS Windows, where this is implemented. It would need to be adapted to the parameters used in Kiwix JS, but the principle is the same.

[2021-11-19 09:06] Jaifroid commented on #772
I'm wondering how this would work. Wouldn't we need to provide a list of files needed by the app for the testing engine. In which case, how is that different from providing the list of files in `service-worker.js`? We would then have to maintain two lists of files instead of one?

I did think maybe we could use Node APIs to read the contents of the `www` directory, because we probably (though not

[2021-11-21 10:24] mossroy commented on #772
My idea was to read the list of files in the www directory, apply some additions/exclusions if necessary, then compare this list with the hard-coded list of cached files.
In the CI, we are free to use the technology we want to do that (not necessarily javascript). It might be a bash script for example

[2021-11-21 10:48] Jaifroid commented on #764
After #771 we'll need to implement the following:

* #404 (possibly via #732)
* #772

Once the above are complete, we may be able to implement #196, though I think we should probably have a bedding-in period with the SW mode available as an option in the extension before considering how and whether to make it the default (it is somewhat complicated for the Mozilla extension, because it involves th

[2021-11-21 10:52] Jaifroid commented on #732
As discussed at the Hackathon, we may be forced to apply some link processing in SW mode to enable opening external links in a new tab or window. The method outlined above (minimalized for the single requirement of opening external links) could be used for this purpose.

[2021-11-29 20:32] Jaifroid commented on #388
This issue would be closed by #771.

[2021-12-03 06:49] Jaifroid opened #775 "Add tooltips to icons and settings"
As suggested by RMS, this could be a useful way of explaining our UI to new users. It is very easy to add these to icons and to settings in Configuration. where an additional explanation of what a setting does can be helpful. Of course we need to be mindful that the more text that is added, the more translation will be required of the UI when we implement #13.

[2021-12-03 06:56] Jaifroid commented on #772
#774 is implemented and working. However, it can't be merged until #771 is merged (and then it may need to be rebased on master).

[2021-12-04 09:21] Jaifroid commented on #337
There are two approaches I've seen at work in different apps:

1. Like in Kiwix Android, the bars can disappear when scrolling down, and can be made to re-appear when scrolling up slightly.
2. In other apps, you sometimes see the bars appear when scrolling down or up, and disappear after a defined interval (1-2 seconds) on scroll stop.

Personally I think I prefer 1. It is what Kiwix Android uses,

[2021-12-04 20:04] ankur12-1610 commented on #775
I would like to work on this issue, but I'm not sure how to start. Could you please explain:sweat_smile:?

[2021-12-05 12:36] Jaifroid commented on #775
@ankur12-1610 Thanks for the offer.

You'll need a local web server (I recommend npm's http-server), and a code editor like Visual Studio Code set up to work with HTML and JavaScript. Clone the repository. Then you'll need to study the code in the app's main index.html file, to look for the places where tooltips can be inserted. When you have a working version that you can serve from http://localh

[2021-12-06 07:51] ankur12-1610 commented on #775
Thanks @Jaifroid :), got the issue, I'll work on it!

[2021-12-07 09:07] VaibhavPaliwal0007 commented on #770
I would like to work on this issue. Can you please elaborate exactly what you want. It would be very helpful.

[2021-12-07 12:02] ankur12-1610 opened #776 "Insufficient form height of the text in input checkbox of `Display Settings`."
![kiwix](https://user-images.githubusercontent.com/76884959/145025407-1837f3e7-3420-4c3b-8a7f-02437f3dbbb9.png)

![darkki](https://user-images.githubusercontent.com/76884959/145025669-2d464238-cd79-44db-a92a-2bfae8a78c18.png)

Some parts of the text are not fully visible.

[2021-12-07 12:02] ankur12-1610 commented on #776
I would like to work on this issue.

[2021-12-07 22:15] Jaifroid commented on #775
Well, this is how I did it in Kiwix JS Windows (see green underlining). Basically add a `title="[Tooltip text goes here]"` to the icons and labels. For some it will be really simple. For example, for the Random button, add the attribute `title="Random"` to the element that displays the button. For the configuration options, you probably want a bit more text, but it doesn't have to be as long as my

[2021-12-08 06:03] ankur12-1610 commented on #775
Oh! got it, thanks a lot for resolving the doubt:)

[2021-12-08 06:38] Jaifroid commented on #776
OK, thanks.

[2021-12-08 08:26] mossroy commented on #770
Well, it's a bit too early to work on this issue.
We first need to implement #767 and #769

And these 3 issues can be difficult for newcomers : we're trying to replace some javascript code by an emscripten-compiled C library, with all the technical issues that can be raised, like #513 (which is an issue in emscripten itself)

[2021-12-08 10:46] ankur12-1610 commented on #776
I have created a PR which solves this issue, can you please review :sweat_smile: ?

[2021-12-08 16:39] Maneet-k commented on #729
Sir, I wanna work on this issue. Can I help you in this ?

[2021-12-08 16:53] Maneet-k commented on #705
Jaifroid, I wanna solve this issue. Could you assign this to me

[2021-12-08 17:02] Maneet-k commented on #719
Jaifroid, I want to work on this issue. Can you please assign this issue to me

[2021-12-09 08:01] Jaifroid commented on #719
@Maneet-k Thank you for the offer. However, this issue is a tentative suggestion, and has not been agreed by the active developers on this app. No work should be undertaken until a discussion has been had about the usefulness of the feature and the balance of utility vs the risk of complicating the codebase. This feature, if agreed, is not at all straightforward, and if you are not highly experien

[2021-12-09 08:08] Maneet-k commented on #719
Ohkayy...... not a problem at all :)
But that would be little better if you could give me some suggestion on other issues, if they're open

[2021-12-09 08:17] Jaifroid commented on #719
Well I don't know your level of experience. If you're prepared to study the source code and look for ways of putting repeated code into a separate function, then #78 might be suitable. But it depends on your interests, knowledge and experience.

[2021-12-09 09:16] mossroy commented on #719
#729 might also be easier than #78 ?

[2021-12-09 09:25] Jaifroid commented on #719
That's true. I had assigned that to someone else, but that person has not come back to us and doesn't appear to be working on it.

[2021-12-09 09:31] Maneet-k commented on #719
Thanks alot @jaifroid and @mossroy for your help. I'll be working on that issue^^

[2021-12-09 09:46] kelson42 commented on #719
Same as https://github.com/kiwix/kiwix-desktop/issues/611 on kiwix-desktop. Really hard ticket, if the "preview" is not already pre-computed.

[2021-12-09 17:17] Maneet-k commented on #729
@mossroy are nightwatch.js and nightwatch_runner.js  ,the files I should look into?

[2021-12-09 18:19] kaveinthran opened #778 "making kiwix search result screenreader accessible"
Using nvda from https://www.nvaccess.org/download/
1. with the screen reader loaded, load the kiwix extension and any zim file
2. press tab until you find the search edit box, and input any query
 3. expected result: screen reader should announce results and arrowing up and down should read each result and pressing enter on each result should activate them.
4. actual result: screen reader stay sil

[2021-12-09 18:23] mossroy commented on #729
No, these files are used for automated testing, and have nothing to do with a night theme

[2021-12-09 18:38] ankur12-1610 commented on #775
@Jaifroid I've raised a PR, can you please verify?

[2021-12-09 18:41] Jaifroid commented on #778
@kaveinthran Do you know how to fix this?

[2021-12-09 18:52] ankur12-1610 opened #780 "Search-bar not properly aligned with the search button."
The search-bar on `Home` is not properly aligned with the search button.
![search-bar](https://user-images.githubusercontent.com/76884959/145457840-a8fdefc7-2e77-4fc7-a1b2-d1a2725e920e.png)

[2021-12-09 18:53] ankur12-1610 commented on #780
I'll like to work on this issue, it is a minor frontend bug fix :)

[2021-12-09 18:59] ankur12-1610 commented on #780
@Jaifroid added a PR which solves this issue, it is just a small change and might not bother much :sweat_smile:

Kindly review!

[2021-12-09 20:11] Jaifroid commented on #780
OK, thanks. I'll take a look.

[2021-12-09 20:13] Jaifroid commented on #775
@ankur12-1610 Thanks!

[2021-12-09 20:32] #776 closed

[2021-12-10 03:32] Maneet-k commented on #729
@mossroy ohh my bad....... would you please mind me telling the files i should look into. That'll be really helpful🤧

[2021-12-10 06:11] Jaifroid commented on #729
@Maneet-k  The app themes are instantiated with the parameter `appTheme`. If you search for `params.appTheme` in `app.js`, you should be able to figure out how it works.. Also look at the utility function `applyAppTheme` in  `uiUtil.js`. You don't need to change any CSS or add any other JS files. You just need to add a function in `app.js`, that listens on a system theme change and applies it usin

[2021-12-10 06:15] Jaifroid commented on #729
You'll also need to add an 'auto' option to the existing theme UI, and decide which of the dark themes will be applied with the auto option. The most useful one for users would probably be the Wikimedia dark theme, but that might need some debate amongst the devs.

[2021-12-10 11:47] Maneet-k commented on #729
@Jaifroid I added the function in the app.js as guided by you. But I'm not able to understand the later one change. Is it if the user wants to override their system preferences theme. Then we need a button right? So they could toggle b/w the themes?
Is that what you meant in the issue?

[2021-12-10 16:48] Jaifroid commented on #729
@Maneet-k You don't need an extra button. You just need to add an option "Auto (uses system theme)" to the drop-down list of available themes. I suggest adding "Auto (uses system theme)" as the top option, but that "Light" should still be the default.

When the user selects "Auto", the system should choose between "Light" and "Dark + Invert Wikimedia" according to whether the system theme is Light

[2021-12-11 13:43] mossroy commented on #729
I agree there are pros and cons.
Maybe we should offer both options :

- auto (generic)
- auto (Wikimiedia)*

(with the same * that displays the same warning)

If necessary, this can be done afterwards

[2021-12-11 14:58] Jaifroid commented on #729
OK, then I'd suggest starting with "Auto (generic)" precisely because it is generic!

[2021-12-12 11:19] Maneet-k commented on #729
@Jaifroid is should I make a prompt for two these two dark theme for user if his system preference is dark. Or I should just go with the generic one.

[2021-12-12 11:21] Jaifroid commented on #729
I don't think a "prompt" is needed (if you mean something like a dialogue box asking which one the user wants). I suggest you just code the generic dark theme for now. Once it is done, it would be easy to add the second one if necessary.

[2021-12-12 11:25] Maneet-k commented on #729
also Also, what exact5ly is "auto".   is it a value  you've given to appTheme or this is just for the reference to implement the things? @Jaifroid

[2021-12-12 11:28] Jaifroid commented on #729
There is no existing "auto" value. It is just what we are calling the mode. You will need to have an entry in the dropdown menu that allows the user to select the theme. It should read "Auto (generic)", and be at the top, but the default should still be "Light".

[2021-12-12 15:59] Maneet-k commented on #729
<img width="668" alt="2021-12-12 (2)" src="https://user-images.githubusercontent.com/81208462/145719526-7d03a5c8-1ea4-43fc-9ac8-785be235eeae.png">
@Jaifroid Could please check if this will work?

[2021-12-12 16:03] Maneet-k commented on #729
option1 : Auto(Generic) [value: dark_invert]
option2 : Auto(Wikimedia) [value: dark_winvert]
option3 : Light [value: light]
option4 : dark [value: dark]
are as values in the the dropdown

[2021-12-12 18:36] mossroy commented on #138
I close this issue as "won't fix" because #764 needs the ServiceWorker to catch all the requests (including the ones from the UI)

[2021-12-12 18:36] #138 closed

[2021-12-12 19:29] Jaifroid commented on #729
There are currently two manual Dark options (generic and wikimedia). You should keep those.

[2021-12-12 19:30] Jaifroid commented on #729
You should try it out and see what works. It's hard to tell in the abstract...

[2021-12-13 06:53] Maneet-k commented on #729
@Jaifroid sorry, I'm really bothering you. But don't you think if user wants to override it's preference for this particular app from dark to light or vice versa. We should provide them those options too. Instead of "auto" only. wouldn't that be better. Like if we just provide the light and dark(generic or wikimedia) .
Flow of the execution:
first it will automatically decide the system theme as a

[2021-12-13 07:37] Jaifroid commented on #729
@Maneet-k Of course, we need to keep the manual options. When the user sets the 'Auto' option, you should set a global parameter like `params.autoDarkMode = true;`. This would then enable the event listener which would control the setting or unsetting of the dark mode. When the user sets one of the manual options, this event listener should either be disabled or simply blocked (with a test on `par

[2021-12-13 07:39] Jaifroid commented on #729
It may be possible to do it without a global parameter, if the Auto setting enables the event listener, and a manual setting disables the event listener.

[2021-12-13 09:40] Maneet-k commented on #729
@Jaifroid Thanks a lot sir for your assistance and precious time💖, I really appreciate. But I'm still not able to understand the code. I'll do check the solution when posted by you or someone else. Please unassign me from this task. My apologize.
Have a Merry Christmas ✨🦄

[2021-12-13 09:42] Jaifroid commented on #729
OK, no problem. Thanks for trying.

[2021-12-14 16:29] try-catch-stack opened #782 "Dragging of elements may cause unexpected behavior"
Few elements like the navigation bar on the bottom and Kiwix logo are draggable which can cause unexpected behavior and can also interfere with the drag and drop feature of ZIM files.

https://user-images.githubusercontent.com/77742477/146038674-c36be025-992f-4531-8186-acaa385548d9.mp4

[2021-12-14 18:20] Jaifroid commented on #782
Thank you, I can reproduce this issue on Edge (Chromium).

[2021-12-15 07:23] #780 closed

[2021-12-17 07:52] kelson42 commented on #337
Complementary to other comments, this seems a pretty legitim request for user on none mobile devices. Default value could be set based on screen resolution.

[2021-12-17 08:02] Jaifroid commented on #337
Agreed. I think the only question is if we rework this as part of the larger UI change in #523, or whether we add an option to hide the bottom bar in the current design. I'd favour having the bottom bar on by default, because I think for a new user opening the app for the first time it is reassuring to see controls. After the new user has used the app for a while, they may wish to hide the bottom

[2021-12-17 16:33] mossroy opened #784 "Mention the Kiwix REPORT_BUG as the guideline for kiwix-js"
Maybe by creating a file with the same name, that would point to this URL :

https://github.com/kiwix/overview/blob/master/REPORT_BUG.md

and/or mentioning that in the README.md and/or the "About" section of the app

[2021-12-17 17:01] try-catch-stack commented on #784
Hey @mossroy , I would like to work on it. But can you tell me what exactly is the desired output. I mean do you want a section like usage,feedback,credits on the About page?

[2021-12-18 08:53] mossroy commented on #784
Thanks @try-catch-stack but I'd prefer to discuss and do that ourself with @Jaifroid

[2021-12-18 15:48] mossroy commented on #784
If https://github.com/kiwix/overview/issues/61 is accepted and done, we should also mention it here

[2021-12-19 16:15] Jaifroid commented on #784
@mossroy Where do you think we should mention this? It looks very sensible. In the README on the front page? Do you have something specific in mind that you'd like me to review, or shall I propose some text to add to README?

I think we could say that we are very happy to receive feedback and reports of issues encountered by users, but that, whether reporting issues by email or directly on GitHub,

[2021-12-20 16:23] mossroy commented on #784
I've created a PR with a code of conduct : https://github.com/kiwix/overview/pull/62

[2021-12-20 16:52] mossroy commented on #778
It's true that we did not work on accessibility of our app for blind people or partially-sighted users.
First step is probably to make tab key browse the search results. Maybe playing with `tabIndex` attribute would do what we need. So that, when test results are displayed, using tab in the search bar does not put the focus on the next button

[2021-12-21 12:09] #782 closed

[2021-12-28 09:25] Harshsharma-dev commented on #775
Hey! I would like to work on this but can you please guide me, that do i have to add tooltips only to the display settings?

[2021-12-28 09:29] Jaifroid commented on #775
@Harshsharma-dev Thanks for the offer, but this issue is already being worked on by @ankur12-1610 , and there is an active PR in progress.

[2021-12-28 09:30] Harshsharma-dev commented on #775
okay :D

[2021-12-28 09:31] ankur12-1610 commented on #775
Yeah:sweat_smile:, btw I've updated the PR with the changes. Can you please review the PR? :')

[2021-12-28 10:40] Jaifroid commented on #775
@ankur12-1610 I'll get to it as soon as I get some time!

[2021-12-28 14:57] bellaryyash23 commented on #729
Hello @Jaifroid Sir,
I have read the above discussions and issue and I would like to provide my inputs. So I request you to please assign me this issue.
Thank you

[2021-12-29 02:40] Maneet-k commented on #729
Things where i got confused when the two auto dark themes came into the convo. I wasn't able to figure out if i need to make a drop-down box /toggle for them or not.

[2021-12-29 05:48] Jaifroid commented on #729
@bellaryyash23 Thanks for the offer. I'm assigning you. Please experiment and test your ideas/code carefully. You will need to serve your code to your local browser with something like `http-server` (node/npm), and access the code from http://localhost:8080/ . We test on Chromium (Chrome/Edge) and Firefox as a minimum, ideally also IE11 or IE mode in Edge.

[2021-12-29 06:54] Maneet-k commented on #729
Hi @bellaryyash23 , How you doin?
Actually ,I resolved this issue. Can I raise PR? If you don't mind.

[2021-12-29 09:30] Jaifroid commented on #729
Yes, anyone can make a PR, but please be sure you've tested it thoroughly.

[2021-12-29 10:43] Popolechien opened #785 "Kiwix-JS not reading Nautilus-based zim files"
[Nautilus](https://github.com/openzim/nautilus) is a scraper that allows us to package a bunch of documents (PDF, Word, videos) together in a zim file.
I recently tried to open https://mirror.download.kiwix.org/zim/other/zimgit-post-disaster_en_2021-12.zim in my chrome browser (Kiwix-JS 3.2.0) and to my surprise (and dismay) the file could not be read.

This is a small but growing segment of conte

[2021-12-29 11:24] mossroy commented on #785
Did you try with ServiceWorker mode instead of the jQuery mode?
You can switch to it in "Configuration" section, "Expert settings".

[2021-12-29 11:48] mossroy commented on #785
I could test your ZIM file, inside a Chromium extension.
The ZIM file uses javascript, so it can't work in jQuery mode.
But it also doesn't work in ServiceWorker mode because there is some inline javascript in home.html (line 82), which is rejected by the CSP of browser extensions :

The solution is to update Nautilus to remove inline javascript, and move it in separate javascript files.
For this

[2021-12-29 11:49] Popolechien commented on #785
@mossroy yes, to no avail

[2021-12-29 12:02] mossroy commented on #785
I just created https://github.com/openzim/nautilus/issues/34 to consider fixing that in Nautilus

[2021-12-29 12:10] Popolechien commented on #785
Thanks a lot.

[2021-12-29 12:10] #785 closed

[2021-12-29 14:51] bellaryyash23 commented on #729
ok @Maneet-k . @Jaifroid can you please check the PR. If any updates or tweaks are there then I would be ready to help.

[2021-12-30 15:54] bellaryyash23 commented on #729
Sorry I was unable to solve the issue. But it was a great experience. Thank you @Jaifroid. You can now unassigned me.

[2021-12-30 16:01] Jaifroid commented on #729
@Maneet-k Do you still want to work on this?

[2021-12-30 16:10] Maneet-k commented on #729
@Jaifroid , I got issues while testing on different cases.
Ok I added the auto option with auto value
But this auto value is not getting changed to dark_invert or light if accessed via dom. or simply applying the dark or light using uiUtil.applyAppTheme("dark_invert") if darkPreferences.matches.
But I still want to work on this

[2021-12-30 16:14] Maneet-k commented on #729
could you tell me where i am doin' wrong

[2021-12-30 16:16] Jaifroid commented on #729
@Maneet-k If you make a pull request with your current code, I can comment on it and point out any obvious issues. Without seeing actual code, it's hard to know where you might be going wrong.

[2021-12-30 16:29] Maneet-k commented on #729
in index.html:
<option value = "auto"> Auto<option>

[2022-01-03 08:05] Jaifroid opened #787 "Mitigate against excessive flashing between light and dark themes on startup"
This issue exists in our current code, but it will be exacerbated by #764 / #771 and will particularly affect the Firefox extension. It is also an accessibility issue (flashing can be dangerous for users with certain conditions).

The issue is that if the user has started the app with the default light theme, and then switches to SW mode and turns on dark theme, then (in the Firefox extension) the

[2022-01-03 08:19] Jaifroid commented on #787
This is called Flash Of Incorrect Theme (FOIT), and is a common problem. Some resources:

* https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/
* https://hangindev.com/blog/avoid-flash-of-default-theme-an-implementation-of-dark-mode-in-react-app

[2022-01-03 09:27] Jaifroid opened #788 "Significantly worse performance in Chromium extension due to lack of Cache API"
Because Cache API is not supported in Chromium extension (only secure requests and responses can be cached, i.e. https:), the app has to re-load all assets from the ZIM every time it is re-launched. This adds a really noticeable performance penalty to using the Chromium extension.

Possible solutions:

* Move to Manifest V3 (see also #755), which uses a Service Worker as its background service, th

[2022-01-03 13:12] n1thun commented on #787
Hey @Jaifroid do you need need help fixing this or will you be taking it on yourself?

[2022-01-03 18:12] Jaifroid commented on #787
@n1thun Thank you for the offer. Is this something you have experience with (UI in HTML/JS/CSS)? Looking at the resources I've linked above, it looks fairly complicated to optimize properly. If you are comfortable with the techniques outlined especially in https://webcloud.se/blog/2020-04-06-flash-of-unstyled-dark-theme/ then help would be appreciated.

You should note that working on this issue w

[2022-01-04 12:19] Jaifroid opened #789 "Allow inline scripts in extensions or provide workaround"
At least in the Chromium extension, our declared CSP currently restricts inline script execution. Due to the increasing (and unfortunate) use of inline scripts in ZIMs, this is causing a large number of exceptions to appear in console. ~~So far, they don't significantly affect usability~~ at least in Wikimedia ZIMs. **EDIT: Usability is affected in non-Wikimedia ZIMs: see next comment.** However,

[2022-01-04 12:33] Jaifroid commented on #789
Investigating this a little further, unfortunately the CSP prevents loading the proprietary UI of Gutenberg ZIMs in the Chromium extension. Compare the PWA from Kiwix JS Windows on left, and the Chromium extension on the right in screenshot below. This makes this issue rather more urgent than I thought.

![image](https://user-images.githubusercontent.com/4304337/148059704-204e7ed1-7436-4a97-bb73-6

[2022-01-04 12:41] mossroy commented on #789
It also breaks Phet, which I reported here : https://github.com/openzim/phet/issues/134

[2022-01-04 12:58] Jaifroid commented on #789
I guess this will break any ZIM UI that relies on ReactJS too, given extensive use of script as markup in React. See https://javascript.plainenglish.io/creating-a-chrome-extension-with-react-d92db20550cb#481f about creating SHA keys in order to run React, with precisely our problem.

As creating SHA keys for every inline script in every ZIM will be impossible for us, we will have to try the `unsaf

[2022-01-04 13:05] mossroy commented on #789
The issue on Gutenberg should be reported on https://github.com/openzim/gutenberg/issues : from what I saw, it should be easy to fix for future ZIMs.

I don't think it breaks all ZIM files that use React, but it does break many existing ZIM files (because the scrapers add inline javascript)

I agree with you that, if it's technically possible, we should allow inline javascript in our extension. At

[2022-01-04 13:09] mossroy commented on #789
From what I read, the default CSP can not be overridden regarding inline javascript. Look for `unsafe-inline` in the following :

- for Firefox : https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/content_security_policy
- for Chrome : https://newbedev.com/chrome-extension-content-security-policy-executing-inline-code or https://stackoverflow.com/questions/2562541

[2022-01-04 13:13] n1thun commented on #787
Hey jaiford, I have worked with the preferred color scheme css query before, so think I should be able to handle it. Thanks for the heads up on #771, is there an eta on when that would be merged.

Wr,
Nithun
________________________________
From: Jaifroid ***@***.***>
Sent: Monday, January 3, 2022 12:12:57 PM
To: kiwix/kiwix-js ***@***.***>
Cc: Nithun Harikrishnan ***@***.***>; Mention ***@***.***

[2022-01-04 13:27] Jaifroid commented on #787
OK, thanks! I'm hoping to merge in the next day or two. I'll post here when it's done.

[2022-01-04 14:09] Jaifroid commented on #789
Ah, OK. That's a shame. Neither the SHA nor the nonce- fixes seem applicable to us (because unfeasible). Which leaves us with no solution within an extension.

I'll create an issue on the Gutenberg scraper.

I guess we need to evaluate the extent of the problem. I can only see it getting worse. A workaround would be to apply the same solution we have for using Firefox in SW mode to Chromium... Tho

[2022-01-04 14:41] Jaifroid commented on #789
Another solution might be feasible by sandboxing the iframe:

https://developer.chrome.com/docs/extensions/mv2/manifest/sandbox/

However, it does suggest that each file that will be loaded into the sandbox must be specified in the manifest. Whether it would be enough to specify `article.html` is a bit doubtful, as we load ZIM URLs into the iframe. It depends on how the sandbox is applied and moni

[2022-01-04 21:37] Jaifroid opened #790 "Add downloadable fonts (from ZIM) to files processed in jQuery mode"
While we said we would not optimize jQuery mode any further, this looks like a bugfix. Recent Gutenberg ZIMs seem to rely on font files donwloaded form the ZIM to produce the PDF / EPUB / HTML icons. Since we don't process these as we do images, there are now empty placeholders where the icons should be. See screenshot and note the corresponding "donwloadable font" errors in the console. This shou

[2022-01-05 10:21] mossroy commented on #789
Google makes it hard to find resources on their CSP because they redirect page http://developer.chrome.com/extensions/contentSecurityPolicy.html to https://developer.chrome.com/docs/apps/contentSecurityPolicy/ (which is about deprecated Google Apps, not extensions).
But there is an archived version of the original page here : https://web.archive.org/web/20201201040815/https://developer.chrome.com/

[2022-01-05 10:28] mossroy commented on #789
In any case, the `sandbox` manifest option is worth testing.
It seems to me that inline javascript is mostly used in welcome pages of ZIM files : if we're lucky we might whitelist them in the manifest

[2022-01-05 10:47] Jaifroid commented on #789
From what I understand, we'd only have to list the SHA of the script block, not give a URL in the CSP. If we're (really) lucky, the script blocks are all identical since they're produced from a universal template, and there's a small chance they might produce the same SHA. However, we do really need a more generic solution! I'll check out `sandbox`.

Either the use of inline JS is relatively recen

[2022-01-05 12:56] mossroy commented on #789
dirtybiology ZIM files are also affected (tested with both an old one and https://download.kiwix.org/zim/other/dirtybiology_fr_all_2021-10.zim), but it's not a blocker. It seems to "only" affect the drop-down list of the home page, and loading of the webp polyfill

[2022-01-05 13:52] kelson42 commented on #789
@mossroy I would recommend to open a ticket for openzim/youtube2zim... and each other scraper creating broken ZIM files for Kiwix JS.

[2022-01-05 15:05] mossroy commented on #789
Let's maintain a list of affected ZIM files, with corresponding tickets :

- [ ] https://github.com/openzim/nautilus/issues/34 : main mage unusable, other pages seem to work well
- [ ] https://github.com/openzim/phet/issues/134 : main page unusable, other pages seem to work well
- [ ] https://github.com/openzim/gutenberg/issues/145 : main page unusable, other pages seem to work well
- [ ] dirtybio

[2022-01-05 16:16] mossroy commented on #789
OK I've tested a few different ZIM files, and opened many tickets in corresponding github projects (see previous comment, that I'll try to keep updated). There are certainly a few more to create.
All recent ZIM files I tested are affected. Some much older ones are not.
In most of affected files, the impact does not seem major, in the sense that the content can be browsed, and the main usage looks

[2022-01-06 19:52] #775 closed

[2022-01-09 06:06] Maneet-k commented on #729
@Jaifroid  Could you please test the changes that I've commited

[2022-01-09 09:19] #388 closed

[2022-01-09 10:12] Jaifroid commented on #787
@n1thun Just to let you know, as promised, that #771 has been merged to master now. Please pull latest code. Would you like me to assign this issue to you, if you're still interested?

[2022-01-10 05:46] ankur12-1610 commented on #790
@Jaifroid I would like to work on this issue, but I'm not sure how to proceed :sweat_smile:

[2022-01-10 05:52] kelson42 commented on #790
I don't think anything has changed recently on this. We always have used font-awesome for these icons.

[2022-01-10 06:00] Jaifroid commented on #790
Well it's possible we've only just noticed an issue that has existed for a while, but I'm 99% sure that old Gutenberg ZIMs were able to show icons (they are quite prominent, and I have worked a lot on Gutenberg ZIMs supporting downloadable books before, so I would have noticed such a glaring issue). Now they can't display the icons (in Kiwix JS), And in any case, we don't have any code to extract

[2022-01-10 06:02] Jaifroid commented on #790
@ankur12-1610 I've assigned you -- thanks.

[2022-01-10 06:11] mossroy commented on #790
Forgot to approve to work on this if you wish

[2022-01-10 08:14] Maneet-k commented on #729
@Jaifroid sir, How can I make this work across cross browsers. It's working well on edge, Chrome and firefox. But still github pages throwing err while testing for Cross-browser.

[2022-01-10 08:48] ankur12-1610 commented on #790
Thanks, I'll start working on it :smile:

[2022-01-10 08:50] ankur12-1610 commented on #790
Yeah sure :+1:

[2022-01-10 08:56] Jaifroid opened #794 "Add checkbox or button to empty appCache in Cache API panel"
This would mostly be a utility for development, but could also be useful for a user who needs to reset their app to the latest code for troubleshooting.

With the new code as a result of #771, in SW mode (and also in jQuery mode when being run from a secure server) the app will only update its own code if the appVersion number has changed. This complicates development because it is necessary to em

[2022-01-10 09:09] Jaifroid commented on #790
@ankur12-1610 For information, since #771 was merged, the app caches its own code in appCache. This means that if you test code using an http-server, you will need to empty the cache after you've changed some code and before you reload the app, in order to see your new code. In Dev Tools, you can do this from the Application tab in Chromium, or from the Storage tab in Firefox. Under "Cache Storage

[2022-01-10 09:32] Jaifroid commented on #729
@Maneet-k I'm not sure how you're testing. Which GitHub pages implementation are you accessing?

I'm not seeing specific test failures. It's OK to test manually only. It might be easiest for you to serve from your own localhost, using something like 'http-server' from node/npm.

Please also see [this comment](https://github.com/kiwix/kiwix-js/issues/790#issuecomment-1008669638) about needing to em

[2022-01-10 10:55] ankur12-1610 commented on #790
Got it! will keep it in mind whenever I'll test the code.

[2022-01-10 12:45] Maneet-k commented on #729
@Jaifroid I don't know why but this http-server method has stopped working for me. Whenever I try to serve the app using this method , terminal gets crashed. But I got the other way to serve the app. Do I still need to follow the process of deleting cache?

[2022-01-11 06:57] Jaifroid opened #795 "Issues accessing the PWA offline with nightly extension package (Firefox)"
Now that we have nightly extensions packages, which can be installed in Developer Edition and which will remain installed across browser re-launches, an issue I expected might happen has emerged.

The issue is that, after closing the browser, putting the machine into offline mode, re-opening the browser and re-opening the extension, the app believes it cannot access the https://moz-extension.kiwix

[2022-01-11 07:50] Maneet-k commented on #729
It's working today. That must be a problem in my system other day

[2022-01-11 09:18] Jaifroid commented on #729
You will need to do this if you find that the code doesn't update in your browser after you make changes. Personally I delete the cache before reloading routinely at the moment, to be sure.

[2022-01-11 09:20] Maneet-k commented on #729
Ohkayy, @Jaifroid

[2022-01-11 09:31] Jaifroid commented on #795
To be clear, the commit that needs to be reverted (partially) is this one:

https://github.com/kiwix/kiwix-js/pull/771/commits/60cff9d899ae367ccb594125ea27f23f3e061c62

The edit to line 853 needs to be reverted. A one-line PR...

[2022-01-11 09:34] #772 closed

[2022-01-11 12:52] #795 closed

[2022-01-11 17:07] n1thun commented on #787
@Jaifroid hey can you provide me the directions to reproduce the issue. From what I see the Firefox plugin does seem to switch to/work in SW mode but the issue seems to  say that this occurs when we are in SW mode.

[2022-01-11 17:18] Jaifroid commented on #787
@n1thun The extension you download from the Store (or any released version) doesn't have the workaround that allows booting to SW mode. This is in master (it's only just been merged, not released). You could work with one of the nightly builds of the Extension, but this would require using Firefox Developer Edition. What I would suggest is simply working on the Flash Of Incorrect Style in a simple

[2022-01-11 18:29] n1thun commented on #787
Cool, thanks for the details. You can assign this to me.

Wr,
Nithun
________________________________
From: Jaifroid ***@***.***>
Sent: Tuesday, January 11, 2022 11:18:16 AM
To: kiwix/kiwix-js ***@***.***>
Cc: Nithun Harikrishnan ***@***.***>; Mention ***@***.***>
Subject: Re: [kiwix/kiwix-js] Mitigate against excessive flashing between light and dark themes on startup (Issue #787)

@Jaifroid<http

[2022-01-11 18:30] Jaifroid commented on #787
Thanks, done!

[2022-01-13 08:28] Jaifroid opened #798 "Use Bootstrap modal dialogue box instead of alert() and confirm()"
Although using JS `alert()` and `confirm()` is simple to code for, they have some issues:

* They block the main thread
* They do not show up in frameworks that disallow thread blocking (notable example I'm aware of is UWP)
* The user can block the page from showing further dialogue boxes

We should instead have a re-usable Bootstrap alert modal and a function to call it easily in `uiUtil.js`. The

[2022-01-13 08:47] Jaifroid commented on #764
This issue is complete. For next steps see #196.

[2022-01-13 08:47] #764 closed

[2022-01-13 08:49] Jaifroid commented on #196
Steps remaining to complete this issue (add to this as necessary):

- [ ] #772
- [ ] #404
- [ ] #732

[2022-01-13 08:57] Jaifroid commented on #419
I think we solved this issue. We don't show assets caching, but we do show the spinner when a user clicks on a link in SW mode. Closing.

[2022-01-13 08:57] #419 closed

[2022-01-13 09:39] ankur12-1610 commented on #798
@Jaifroid I don't know if this is okay, but I have an already assigned issue. But this is a quick fix and I do have a lot of prior experience using bootstrap. I'm I allowed working on this issue? :sweat_smile:

[2022-01-13 09:48] ankur12-1610 commented on #798
Sure :) np!

[2022-01-13 16:09] gaurav7019 commented on #798
@Jaifroid @ankur12-1610  I too have a lot of experience in bootstrap and am relatively new to open source so it would be really helpful for me I can work on this. I have a solution in mind which I can share if this issue is approved.

[2022-01-13 17:44] ankur12-1610 commented on #798
@Jaifroid since I'm already working on an issue and @gaurav7019 is new to oss I'll like @gaurav7019 to claim this issue :)

[2022-01-13 17:45] gaurav7019 commented on #798
Thanks!

[2022-01-13 17:46] ankur12-1610 commented on #798
Anytime :)

[2022-01-13 19:34] gaurav7019 opened #799 "Add CONTRIBUTING.md to the repo"
With reference to #792, the repo should have a CONTRIBUTING.md file to help out the newcomers to the repo.

[2022-01-13 19:35] gaurav7019 commented on #799
@Jaifroid Please assign this issue to me, I can't self-assign it seems. Also, please add the appropriate labels.

[2022-01-13 19:42] Jaifroid commented on #799
@gaurav7019 Done.

[2022-01-13 19:42] gaurav7019 commented on #799
Yeah, thanks :)

[2022-01-13 19:48] gaurav7019 commented on #799
@Jaifroid Should I also the contributions instructions to fork the repo before contributing. It's not there in your [text](https://github.com/kiwix/kiwix-js/tree/Update-documentation-to-include-new-implementation#contributing), is it because it's obvious and hence unnecessary to mention or developers can directly clone the original remote.

[2022-01-13 19:53] Jaifroid commented on #799
@gaurav7019 We do expect familiarity with GitHub as a precondition of contributing, but if you'd like to explain how to fork and clone a repo (very briefly), that would be fine.

[2022-01-14 06:38] Jaifroid opened #801 "App doesn't cache its own code if opened only in jQuery mode from a secure server"
This may only be for information, though a tweak or two could be made if it's considered an issue.

If a user visits https://moz-extension.kiwix.org/ independently in a browser, but never switches to Service Worker mode, then the app never caches its own code, so will not work offline. Once the user switches to SW mode, then the app will continue to work offline even if they switch back to jQuery

[2022-01-14 08:04] mossroy commented on #798
Good idea.
I approve

[2022-01-14 08:22] Jaifroid commented on #798
@gaurav7019 I've assigned this to you now, as requested.

Because I suggest this is implemented as a function in `uiUtil.js`, you will need to define `uiUtil` in the modules where `alert()` and `confirm()` are currently used. Just add `uiUtil` to the `define()` statement at the very top of each relevant file, unless it's already there (you can follow the example at the top of `app.js`). You have t

[2022-01-14 08:26] gaurav7019 commented on #798
Thanks @Jaifroid. Will do that and raise a PR for review.

[2022-01-14 08:38] Jaifroid commented on #798
One more thing. Avoid using Bootsrap's jQuery way of closing a modal. It destroys the whole modal and you have to rebuild it in code from scratch each time you want to use it. Instead, simply hide the modal so you can re-use it, when the user clicks on one of the dismiss options. Just do something like `document.getElementById('modalAlert').style.display = 'none';`. Then you can re-use the html wi

[2022-01-14 10:26] gaurav7019 commented on #798
Thanks, @Jaifroid for the heads up. So, I'll be making the following changes.

- [ ] Declare a function `systemAlert()` in `uiUtli.js` and add it to the return object of `uiUtil.js` so other modules can call it
- [ ] The function will have options to call simply an alert pop up(`alert()`) or one which asks for confirmation(`confirm()`)
- [ ] I can see that alert and confirm are currently used in `

[2022-01-15 11:14] kelson42 opened #802 "Release 3.3.0"
The 3.3 milestone is already quite interesting and has still a lot of work to do. I see work to do for at least 4 months. Last release is already almost 6 months ago. Release early, release often is good. I want to encourage you to reassess the milestone to 3.3.0.

- [x] Merge at least #792, #797, #800
- [x] Fix critical bug #806
- [ ] ~~Possibly merge #804~~
- [x] Update the changelog file
- [x]

[2022-01-15 12:31] Jaifroid commented on #802
@kelson42 - [I fixed tick boxes above]

I agree we are quite close. We don't need to do everything marked as v3.3, we can push those not complete and those that are not essential to v3.4. I'll add the current PRs we should merge to this.